<div class="wizard-wrapper d-flex flex-column w-100 p-4" *ngIf="!isSchemaFree">
    <div class="font-20 fw-600 mb-3">Personalize</div>
    <!-- <div class="d-flex flex-column w-50 steps-div bg-light h-auto align-items-center justify-content-center">
        <ng-container *ngIf="steps.length>0">
            <div class="d-flex align-items-center steps-count bg-gray border-bottom w-100">
                <div class="steps-wrapper d-flex align-items-center mr-auto">
                    <div class="d-flex align-items-center"
                        *ngFor="let step of steps ;let stepIndex = index;let l = last">
                        <div class="border-bottom fixed-width-line"></div>
                        <div [attr.id]="'step-'+stepIndex"
                            class="circle d-inline-block  border-secondary text-center float-left hover"
                            (click)="selectStep(stepIndex)"
                            [ngClass]="{'text-white bg-accent':stepIndex==form.get('wizard.selectedStep').value,'text-secondary bg-white border':stepIndex!=form.get('wizard.selectedStep').value}">
                            {{stepIndex + 1}}
                        </div>
                    </div>
                    <div class="border-bottom w-100"></div>
                </div>
                <div class=" d-flex align-items-center w-100 position-relative">
                    <div class="border-bottom fixed-width-line"></div>
                    <div class="circle d-inline-block bg-light border border-secondary text-center more-steps"
                        (click)="showAllStepsDropdown($event);showStepsDropdown=true">
                        <span class="fa fa-ellipsis-h text-capiot"></span>
                    </div>
                    <div class="list-group all-steps-dropdown " [ngClass]="{'right':edit.status}" tabindex="0"
                        #allStepsDropdown (blur)="hideAllStepsDropdown($event)">
                        <div class="list-group-item" *ngFor="let step of steps; let i=index;let last=last;"
                            (click)="selectStep(i);hideAllStepsDropdown($event)">
                            <span>Step {{i + 1}}:</span>
                            <span class="ml-2">{{step.value.name}}</span>
                        </div>
                    </div>
                    <div class="border-bottom fixed-width-line" *ngIf="!edit.status"></div>
                    <div class="border-bottom fixed-width-line"></div>
                    <div id="addStep" (click)="addStep()" *ngIf="edit.status"
                        class="circle d-inline-block bg-primary border border-secondary text-center hover">
                        <span class="dsi dsi-plus text-white"></span>
                    </div>
                    <div class="border-bottom fixed-width-line"></div>
                </div>
            </div>
            <div class="action d-flex align-items-center justify-content-between w-100 p-3 bg-white" *ngIf="edit">
                <div class="d-flex align-items-center position-relative">
                    <input *ngIf="edit.status" type="text" class="form-control pr-4" id="stepName" name="sbName"
                        placeholder="Enter a step name" odpAutoFocus required maxlength="40" [(ngModel)]="stepName"
                        #sbName="ngModel" #tabName (blur)="setTouched()" [ngClass]="{'is-invalid': sbNameErr}">
                    <span *ngIf="!edit.status" class="text-dark">{{stepName}}</span>
                    <span class="dsi dsi-danger-circle text-danger position-absolute field-error-symbol"
                        *ngIf="stepNameAsFormCtrl && (stepNameAsFormCtrl.dirty || stepNameAsFormCtrl.touched) && stepNameAsFormCtrl.hasError('required')"
                        ngbTooltip="You cannot leave this blank" placement="right"></span>
                    <span class="dsi dsi-danger-circle text-danger position-absolute field-error-symbol"
                        *ngIf="sameNameErr" ngbTooltip="Duplicate Step name" placement="right"></span>
                </div>
                <div *ngIf="edit.status">
                    <div (click)="removeStep()" id="sbButtonCancel" class="hover">
                        <span class="fas fa-trash-alt text-muted"></span>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-column h-100 w-100 bg-white">
                <div class="steps-div d-flex flex-column"
                    [ngClass]="{'empty-steps-div': !selectedStepFields.length, 'content-steps-div': selectedStepFields.length}"
                    *ngIf="selectedStepFields.length">
                    <div class="empty-div d-flex align-items-center justify-content-between w-100 px-3 border-bottom">
                        <strong>Attributes</strong>
                    </div>
                    <ng-container *ngFor="let field of selectedStepFields;let fieldIndex = index">
                        <div class="field-wrapper d-flex align-items-center justify-content-between w-100 px-3 border-bottom row+{{fieldIndex}}"
                            *ngIf="!field.get('_id')">
                            <div class="d-flex align-items-center">
                                <span class="spacer border-right border-secondary" [ngStyle]="getSpacing()"></span>
                                <span class="up p-2 float-left text-dark hover"
                                    *ngIf="!getIdField(field) && edit.status" (click)="moveUp(fieldIndex)"
                                    ngbTooltip="Move Up">
                                    <span class="fa fa-chevron-circle-up text-accent"></span>
                                </span>
                                <span class="down p-2 float-left text-dark hover"
                                    *ngIf="!getIdField(field) && edit.status" (click)="moveDown(fieldIndex)"
                                    ngbTooltip="Move Down">
                                    <span class="fa fa-chevron-circle-down text-accent"></span>
                                </span>
                                <span class="icon odp-pin text-muted mr-2 fa-xs mt-1" *ngIf="getIdField(field)"></span>
                                <span class="icon d-flex align-items-center mr-2" *ngIf="!getIdField(field)">
                                    <span class="fa fa-asterisk text-danger"
                                        *ngIf="field.value.properties.required"></span>
                                </span>
                                <div class="input-control position-relative mr-3">
                                    <span
                                        class="field form-control-plaintext ellipsis-span">{{field.value.properties.name}}</span>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span
                                        class="type-icon-holder d-flex flex-column align-items-center justify-content-center text-accent rounded bg-white border mr-2 {{getSelectedTypeClass(field)}}"></span>
                                    <span class="text-secondary ">{{getSelectedType(field)}}</span>
                                </div>
                                <ng-container *ngIf="field.value.type == 'Array'">
                                    <span class="text-secondary mx-2">of</span>
                                    <div class="d-flex align-items-center">
                                        <span
                                            class="type-icon-holder d-flex flex-column align-items-center justify-content-center text-accent rounded bg-white border mr-2 {{getCollectionTypeClass(field)}}"></span>
                                        <span class="text-secondary">{{getCollectionType(field)}}</span>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="d-flex field-options">
                                <span class="fa hover fa-minus-circle text-danger fa-lg mr-2  " *ngIf="edit.status"
                                    (click)="removeFromStep(fieldIndex)"></span>
                            </div>
                        </div>
                    </ng-container>
                </div>
                <ng-container *ngIf="!selectedStepFields.length">
                    <ng-container *ngIf="edit.status">
                        <div class="d-flex flex-column p-4">
                            <div class="d-flex flex-column">
                                <strong>Attributes</strong>
                                <small class='text-danger mt-1'>* Please select atleast one attribute</small>
                                <div
                                    class="text-secondary mt-5 d-flex flex-column justify-content-center align-items-center h-100">
                                    <span>Tip: Clicking on <span
                                            class="fa hover fa-plus-circle text-success fa-lg pl-1 pr-1"></span>
                                        in the attributes pane on your right</span>
                                    <span>will add the attribute to the currently selected step.</span>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="!edit.status">
                        <div class=" d-flex justify-content-center align-items-center steps-div">
                            <div class="d-flex flex-column  w-50 " align="Center">
                                <div class="text-muted">
                                    No attributes added to this step.
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
                <div class="steps-div d-flex flex-column mt-4" id="action-content" *ngIf="selectedStepActions.length">
                    <div
                        class="d-flex align-items-center justify-content-between action-header px-3 border-bottom bg-light w-100">
                        <strong>Actions</strong>
                        <button class="btn btn-link" type="button" id="addAction1" (click)="addHook()"
                            *ngIf="edit.status">+
                            Add Actions
                        </button>
                    </div>
                    <div class="steps-content">
                        <ng-container *ngFor="let field of selectedStepActions;let actionIndex = index">
                            <div
                                class="field-wrapper d-flex align-items-center justify-content-between w-100 row+{{actionIndex}} position-relative mt-2 p-3">
                                <div class="hook-detail">{{ field.label }}</div>
                                <div class="d-flex hook-action">
                                    <div class="mr-1 action-type d-inline" [ngClass]="{'bg-success': field.type === 'success',
                                    'bg-warning': field.type === 'warning',
                                    'bg-danger': field.type === 'danger'}"></div>
                                    <span>{{ field.type === 'success' ? 'Type 1' : field.type === 'warning' ? 'Type 2' :
                                        'Type 3'}}</span>
                                </div>
                                <div class="hook-detail">{{ field.name }}</div>
                                <div *ngIf="edit.status" class="fas fa-times-circle text-secondary hover "
                                    (click)="removeHook(field.name, actionIndex)"></div>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <ng-container *ngIf="!selectedStepActions.length">
                    <ng-container *ngIf="edit.status">
                        <div class="d-flex flex-column p-4 steps-div mt-2" id="action-content">
                            <div class="d-flex justify-content-between mb-4">
                                <strong>Actions</strong>
                                <button class="btn btn-link" type="button" id="addAction2" (click)="addHook()"
                                    *ngIf="edit.status">+
                                    Add Actions
                                </button>
                            </div>
                            <div class="text-secondary d-flex flex-column justify-content-center align-items-center">
                                <span>No Actions are created for this step. Get</span>
                                <span>started by clicking <span class="btn btn-link py-0 px-1" (click)="addHook()">+Add
                                        Action</span>to
                                    add.</span>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </ng-container>
        <ng-container *ngIf="!steps.length">
            <div class="bg-light d-flex justify-content-center align-items-center steps-div">
                <div class="d-flex flex-column w-50" align="Center" *ngIf="edit.status">
                    <div class="d-flex flex-row justify-content-center">
                        <div class="d-flex  align-items-center"
                            *ngFor="let step of [1,2,3] ;let stepIndex = index;let l = last">
                            <span *ngIf="stepIndex!=0" class="fa fa-arrow-right text-muted ml-1 mr-1"></span>
                            <div class="circle d-inline-block  border border-secondary text-center float-left hover bg-light"
                                (click)="selectStep(stepIndex)">
                            </div>
                        </div>
                    </div>
                    <div class="heading1 mt-2">
                        Customize Data Experience
                    </div>
                    <div class="d-flex  align-items-center text-muted mt-1">
                        Click 'Customize' to start building a step by step user experience for capturing data in the
                        App
                        Center.
                    </div>
                    <div class="mt-4">
                        <button class="btn btn-success btn-min-width" (click)="addStep()" id="customizeSteps">
                            Customize
                        </button>
                    </div>
                </div>
                <div class="d-flex flex-column " *ngIf="!edit.status">
                    <div class="text-muted">
                        There is no custom user experience configured for this data service.
                    </div>
                </div>
            </div>
        </ng-container>
    </div> -->
    <ng-container *ngIf="steps.length==0">
        <div class="bg-light d-flex justify-content-center align-items-center p-4 rounded">
            <div class="d-flex flex-column align-items-center  w-50" *ngIf="edit.status">
                <div class="font-14 fw-500 my-3">Customize Data Experience</div>
                <div class="d-flex align-items-center text-muted font-14 fw-400">
                    Click 'Customize' to start building a step by step user experience for capturing data in the
                    AppCenter.
                </div>
                <div class="mt-4">
                    <button class="btn btn-success btn-min-width" (click)="addStep()" id="customizeSteps">
                        Customize
                    </button>
                </div>
            </div>
            <div class="d-flex flex-column " *ngIf="!edit.status">
                <div class="text-muted font-14 fw-400">
                    There is no custom user experience configured for this data service.
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="steps.length>0">
        <div class="d-flex align-items-center justify-content-between rounded bg-light mb-3 p-2">
            <div class="steps-container d-flex align-items-center">
                <div class="step-block d-flex flex-column px-2 py-1 rounded hover"
                    *ngFor="let step of steps;let i=index;let l=last;" [ngClass]="{'bg-white':selectedStepIndex==i}"
                    (click)="selectedStepIndex=i">
                    <span class="text-muted text-uppercase fw-500 font-11">STEP {{i+1}}</span>
                    <span class="fw-400 font-14 sub-heading text-truncate"
                        [ngClass]="{'text-dark':selectedStepIndex==i}"
                        [ngbTooltip]="step.value.name">{{step.value.name}}</span>
                </div>
            </div>
            <div *ngIf="edit.status" class="d-flex align-items-center">
                <span class="dsi dsi-edit mr-3 sub-heading" (click)="showStepsWindow=true"></span>
                <button type="button" class="btn btn-outline-primary" (click)="showStepsWindow=true">
                    <span class="dsi dsi-plus"></span>
                </button>
            </div>
        </div>
        <div class="d-flex flex-column w-100">
            <div class="tabs-wrapper d-flex align-items-end justify-content-between w-100 mb-3">
                <div class="d-flex align-items-end">
                    <div class="font-14 tab px-0 mr-3 py-1 hover position-relative" (click)="activeTab = 1"
                        [ngClass]="{'active-tab fw-500 text-dark': activeTab == 1,'fw-400 text-muted': activeTab != 1}">
                        Attributes
                    </div>
                    <div class="font-14 tab px-0 mr-3 py-1 hover position-relative" (click)="activeTab = 2"
                        [ngClass]="{'active-tab fw-500 text-dark': activeTab == 2,'fw-400 text-muted': activeTab != 2}">
                        Actions
                    </div>
                </div>
                <button *ngIf="edit.status" type="button" class="btn btn-white fw-400 font-12 d-flex align-items-center"
                    (click)="removeStep()">
                    <span class="dsi dsi-trash mr-2 sub-heading"></span>
                    <span>Delete Step</span>
                </button>
            </div>
            <div class="wizard-content border rounded">
                <ng-container *ngIf="activeTab === 1">
                    <odp-step-fields class="w-100" [form]="form" [edit]="edit"></odp-step-fields>
                </ng-container>
                <ng-container *ngIf="activeTab === 2">
                    <odp-step-actions class="w-100" [form]="form" [edit]="edit"></odp-step-actions>
                </ng-container>
            </div>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="isSchemaFree">
    <div class="font-20 fw-600 mb-3">Personalize</div>
    <div class="d-flex align-items-center justify-content-center schema-free-message">
        <div class="text-secondary">
            Schema Free is enabled, it restricts you from customizing the data experience
        </div>
    </div>
</ng-container>

<ng-template #deleteModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <span class="font-20 fw-500">{{deleteModal.title}}</span>
            <span class="dsi dsi-close hover" (click)="deleteModalTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center" [ngClass]="{'text-truncate': deleteModal.message.length > 65}">
            {{deleteModal.message}}
        </p>
        <div class="d-flex align-items-center justify-content-end mt-4">
            <button type="button" class="btn btn-min-width btn-outline-primary mr-3"
                (click)="deleteModalTemplateRef.close(false)" id="sbDeleteModalNo">No
            </button>
            <button type="button" class="btn btn-min-width btn-primary" (click)="deleteModalTemplateRef.close(true)"
                id="sbDeleteModalYes">
                Yes
            </button>
        </div>
    </div>
</ng-template>


<div *ngIf="showStepsWindow" (click)="showStepsWindow=false" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showStepsWindow}" class="new-wizard-window position-fixed bg-white border-left page-padding">
    <div *ngIf="showStepsWindow" class="" [formGroup]="form">
        <div class="d-flex align-items-center justify-content-between">
            <div class="font-20 fw-500">Add Step</div>
            <span class="dsi dsi-close text-dark" (click)="showStepsWindow=false"></span>
        </div>
        <div class="form-wrapper my-4" formGroupName="wizard">
            <div class="form-group" *ngFor="let step of steps;let i=index;" formGroupName="steps">
                <label [for]="i+1" class="font-14 fw-400">Step {{i+1}}</label>
                <div class="position-relative" [formArrayName]="i">
                    <input type="text" class="form-control" formControlName="name" (keyup.enter)="addStep()"
                        odpAutoFocus
                        [ngClass]="{'is-invalid':form.get(['wizard','steps',i,'name']).hasError('required') || form.get(['wizard','steps',i,'name']).hasError('length')}">
                    <span class="delete-icon dsi dsi-trash text-dark position-absolute hover"
                        (click)="removeStepAt(i)"></span>
                    <ng-container *ngIf="form.get(['wizard','steps',i,'name']).errors">
                        <span *ngIf="form.get(['wizard','steps',i,'name']).hasError('required')"
                            class="error-symbol dsi dsi-danger-circle text-danger position-absolute"
                            ngbTooltip="Name is Required"></span>
                        <span *ngIf="form.get(['wizard','steps',i,'name']).hasError('length')"
                            class="error-symbol dsi dsi-danger-circle text-danger position-absolute"
                            ngbTooltip="Max. 40 Characters is Allowed"></span>
                    </ng-container>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-link px-0 d-flex align-items-center" (click)="addStep()">
            <span class="dsi dsi-plus-circle text-primary mr-2"></span>
            <span class="text-dark">Add New</span>
        </button>
    </div>
</div>