<div class="d-flex flex-column groups-content w-100 p-4">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="w-100">
      <h5 class="font-weight-bold font-20">Bots</h5>
    </div>
    <select name="permissions" id="permissions" class="all-permissions-selector custom-select"
      [ngModel]="globalPermission" (ngModelChange)="changeAllPermissions($event)">
      <option value="custom">Custom</option>
      <option value="blocked">None</option>
      <option value="view">View</option>
      <option value="manage">Manage</option>
    </select>
  </div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Access Level</div>
          <span class="text-muted font-13">
            Permission to manage Bots.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryBlocked" name="library" size="20" [checked]="basicPermission=='blocked'"
            (checkedChange)="basicPermission='PNBB'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryView" name="library" size="20" [checked]="basicPermission=='view'"
            (checkedChange)="basicPermission='PVBB'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryManage" name="library" size="20" [checked]="basicPermission=='manage'"
            (checkedChange)="basicPermission=['PMBBC','PMBBU','PMBBD']"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Session & Login</div>
          <span class="text-muted font-13">
            Permission to manage Bot's session and Create/Enable/Disable keys.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryBlocked" name="library" size="20" [checked]="sessionPermission=='blocked'"
            (checkedChange)="sessionPermission='PNBA'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryManage" name="library" size="20" [checked]="sessionPermission=='manage'"
            (checkedChange)="sessionPermission='PMBA'"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Bot's Groups</div>
          <span class="text-muted font-13">
            Permission to assign/unassign groups to Bots.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryBlocked" name="library" size="20" [checked]="groupPermission=='blocked'"
            (checkedChange)="groupPermission='PNBG'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="libraryManage" name="library" size="20" [checked]="groupPermission=='manage'"
            (checkedChange)="groupPermission='PMBG'"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
  </div>
</div>