@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.wrapper {
  min-height: calc(100vh - 260px);
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.sub-menu {
  width: 200px;
}

.permissions-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 260px);
}