<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="flow-page d-flex flex-column w-100 bg-light-gray page-padding">
    <div class="d-flex justify-content-between align-items-center w-100 pt-2 pb-4">
        <div class="font-22">
            <span class="fw-600 mr-2">Data Pipes</span>
            <span></span>
        </div>
        <div class="d-flex align-items-center">
            <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"></odp-search-box>
            <button type="button" id="data-management" class="btn btn-white d-flex align-items-center border ml-3"
            [routerLink]="['settings']" >
            <span class="dsi dsi-settings text-secondary"></span>
          </button>
            <button id="createFlow" type="button" class="add-new btn btn-primary ml-3 d-flex align-items-center"
                (click)="newFlow()" [disabled]="!hasWritePermission('FLOW')">
                <span class="dsi dsi-plus mr-2"></span>
                <span class="text">New</span>
            </button>
        </div>
    </div>
    <div class="card-container d-flex flex-column w-100 mb-3">
        <div *ngIf="records.length==0" class="rounded-lg border bg-white p-4">
            <p class="m-0">No Records Found, <button type="button" class="btn btn-link px-1 py-0"
                    (click)="newFlow()">Click
                    Here</button> to create a new Data Pipe
                <span *ngIf="searchTerm">:&nbsp;<span class="fw-500">{{searchTerm}}</span></span>
            </p>
        </div>
        <div *ngIf="records.length>0" class="list-group mb-3">
            <div
                class="list-group-item header d-flex align-items-center justify-content-start py-0 bg-light text-uppercase font-11 fw-500">
                <div (click)="applySort('name')" class="hover d-flex align-items-center item-name">
                    <span class="mr-2">Name</span>
                    <span *ngIf="sortModel['name']==1" class="dsi dsi-drop-down"></span>
                    <span *ngIf="sortModel['name']==-1" class="dsi dsi-drop-up"></span>
                </div>
                <div (click)="applySort('inputNode.type')" class="hover d-flex align-items-center item-status">
                    <span class="mr-2">Input Type</span>
                    <span *ngIf="sortModel['inputNode.type']==1" class="dsi dsi-drop-down"></span>
                    <span *ngIf="sortModel['inputNode.type']==-1" class="dsi dsi-drop-up"></span>
                </div>
                <div class="d-flex align-items-center">
                    <div (click)="applySort('url')" class="hover d-flex align-items-center item-url">
                        <span class="mr-2">URL</span>
                        <span *ngIf="sortModel['url']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['url']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('status')" class="hover d-flex align-items-center item-status">
                        <span class="mr-2">Status</span>
                        <span *ngIf="sortModel['status']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['status']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('lastInvoked')" class="hover d-flex align-items-center item-last-invoked">
                        <span class="mr-2">Last Invoked</span>
                        <span *ngIf="sortModel['lastInvoked']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['lastInvoked']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <div class="item-actions"></div>
                </div>
            </div>
            <div class="list-group-item d-flex align-items-center justify-content-start hover"
                *ngFor="let item of records;let i=index" (dblclick)="viewFlow(item)">
                <div class="item-name fw-500 d-flex align-items-center">
                    <span class="ml-2 pl-1 text-dark text-truncate" [ngbTooltip]="item.name"
                        placement="right">{{item.name}}</span>
                    <span class="ml-2 version sub-heading font-11 text-uppercase">(v{{(item.version||1)}})</span>
                    <span *ngIf="item.draftVersion" class="ml-2 draft sub-heading font-11 text-uppercase">(Draft)</span>
                </div>
                <div class="d-flex align-items-center" (dblclick)="viewFlow(item)">
                    <div class="sub-heading item-status d-flex align-items-center">
                        <span class="text font-12 fw-400">{{item?.inputNode?.type}}</span>
                    </div>
                    <div class="sub-heading item-url pr-3 d-flex align-items-center">
                        <span *ngIf="copied[item._id]" class="text-accent mr-2">Copied!</span>
                        <span *ngIf="!copied[item._id]" class="dsi dsi-copy text-accent mr-2 hover"
                            (click)="copyUrl(item)"></span>
                        <span class="text-truncate" [ngbTooltip]="item.url" container="body">{{item.url}}</span>
                    </div>
                    <div class="sub-heading item-status d-flex align-items-center">
                        <span class="fa fa-circle mr-2" [ngClass]="getStatusClass(item)"></span>
                        <span class="text font-12 fw-400">{{getStatusLabel(item)}}</span>
                    </div>
                    <div class="sub-heading item-last-invoked">
                        <span *ngIf="item.lastInvoked">{{item.lastInvoked | date:'medium'}}</span>
                        <span *ngIf="!item.lastInvoked" class="text-muted">-</span>
                    </div>
                </div>
                <div class="d-flex w-100 align-items-center justify-content-end">
                    <div class="item-actions d-flex align-items-center justify-content-end">
                        <div class="actions d-flex justify-content-end hover align-items-center">
                            <ng-container *ngIf="item.status != 'Pending' && item.status != 'Maintenance' ">
                                <span *ngIf="canDeployFlow(item)" id='deploy_{{i}}' class="text-primary mr-3"
                                    (click)="deployFlow(item)">Deploy</span>
                                <!-- <span class="fw-600 font-13 hover mr-3"
                                    *ngIf="item.status !== 'Active' && canStartStopFlow(i)"
                                    (click)="toggleFlowStatus(i)">Start</span> -->
                                <span class="fw-600 font-13 hover mr-3" *ngIf="canStartStopFlow(i)"
                                    (click)="toggleFlowStatus(item)">{{item.status === 'Active' ? 'Stop' : 'Start'}}</span>
                                <span class="dsi dsi-more-vertical hover mr-3 ignore-outside"
                                    (click)="showDropDown($event,i)"></span>
                            </ng-container>
                            <div *ngIf="showOptionsDropdown[i]"
                                class="more-options bg-white rounded list-group position-fixed border"
                                (mouseleave)="showOptionsDropdown[i]=false" [ngStyle]="dropDownStyle" odpClickOutside
                                (outside)="showOptionsDropdown[i]=false">
                                <div class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="canManageFlow(item._id)" (click)="editFlow(item)">
                                    Edit
                                </div>
                                <div class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="canViewFlow(item._id)" (click)="viewFlow(item)">
                                    View
                                </div>
                                <div class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="canManageFlow(item._id)" (click)="cloneFlow(item)">
                                    Clone
                                </div>
                                <button class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="item.draftVersion || item.status=='Draft' && canManageFlow(item._id)" (click)="discardDraft(item._id)">Discard
                                    Draft</button>
                                <div class="list-group-item list-group-item-action py-2 border-0 text-danger"
                                    *ngIf="canManageFlow(item._id)" (click)="deleteFlow(i)">
                                    Delete
                                </div>
                                <div class="list-group-item list-group-item-action py-2 text-accent"
                                    *ngIf="canManageFlow(item._id)" (click)="getYamls(item)">
                                    Yamls
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showNewFlowWindow" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showNewFlowWindow}"
    class="new-flow-window p-4 position-fixed border-left bg-white d-flex flex-column" [formGroup]="form">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <span class="font-22 fw-500">New Data Pipe</span>
        <span class="dsi dsi-close hover" (click)="showNewFlowWindow=false;"></span>
    </div>
    <div *ngIf="showNewFlowWindow" class="d-flex flex-column w-100">
        <div class="d-flex flex-column w-100">
            <label for="name" class="font-13 text-secondary">
                <span class="text">Name</span>
                <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
            </label>
            <div class="name-wrapper position-relative mb-3">
                <input newFlowName autocomplete="off" type="text" class="form-control" id="name"
                    placeholder="Untitled Data Pipe" formControlName="name" odpAutoFocus
                    (keyup.enter)="isClone ? triggerFlowClone() : triggerFlowCreate()"
                    [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').dirty}">
                <ng-container *ngIf="form.get('name').dirty">
                    <span *ngIf="form.get('name').hasError('required')"
                        class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                        ngbTooltip="Name is required"></span>
                    <span *ngIf="form.get('name').hasError('maxlength')"
                        class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                        ngbTooltip="Name should be within 30 characters"></span>
                    <span *ngIf="form.get('name').hasError('pattern')"
                        class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                        ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
                </ng-container>
            </div>
            <label for="name" class="font-13 text-secondary">
                <span class="text">Input Node</span>
                <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
            </label>
            <div class="d-flex flex-column">
                <label>
                    <input class="mr-3" type="radio" value="API" formControlName="type"
                        [checked]="form.get('type').value === 'API'">
                    <span>API</span>
                </label>
                <label>
                    <input class="mr-3" type="radio" value="FILE" formControlName="type"
                        [checked]="form.get('type').value === 'FILE'">
                    <span>FILE</span>
                </label>
                <label>
                    <input class="mr-3" type="radio" value="TIMER" formControlName="type"
                        [checked]="form.get('type').value === 'TIMER'">
                    <span>TIMER</span>
                </label>
            </div>

            <!-- <select class="form-control" id="name" formControlName="type">
                <option value="API" selected>API</option>
                <option value="FILE">FILE</option>
                <option value="TIMER">TIMER</option>
            </select> -->

        </div>
    </div>
    <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
        <button type="button" class="btn btn-min-width btn-primary w-100" id="newFlowModalYes" [disabled]="form.invalid"
            (click)="isClone ? triggerFlowClone() : triggerFlowCreate()">Create</button>
    </div>
</div>


<div [ngClass]="{'show':showYamlWindow}" class="yaml-window position-fixed p-4 border-left bg-white">
    <div class="d-flex align-items-center justify-content-between w-100 mb-5">
        <span class="font-20 fw-600">Yamls</span>
        <span class="dsi dsi-close hover" (click)="closeYamlWindow()"></span>
    </div>
    <button type="button" class="btn btn-link p-0 mb-4" (click)="downloadYamls()">Download Yamls</button>
    <ng-container *ngIf="showYamlWindow">
        <div class="form-group">
            <label for="service">Service</label>
            <div class="position-relative d-flex">
                <pre class="form-control">{{selectedFlow.serviceYaml}}</pre>
                <small class="form-text position-absolute r-10">
                    <span class="text-secondary hover" *ngIf="!copied['service']"
                        (click)="copyText(selectedFlow.serviceYaml,'service')">Copy</span>
                    <span class="text-accent" *ngIf="copied['service']">Copied!</span>
                </small>
            </div>
        </div>
        <div class="form-group">
            <label for="deployment">Deployment</label>
            <div class="position-relative d-flex">
                <pre class="form-control">{{selectedFlow.deploymentYaml}}</pre>
                <small class="form-text position-absolute r-10">
                    <span class="text-secondary hover" *ngIf="!copied['deployment']"
                        (click)="copyText(selectedFlow.deploymentYaml,'deployment')">Copy</span>
                    <span class="text-accent" *ngIf="copied['deployment']">Copied!</span>
                </small>
            </div>
        </div>
    </ng-container>
</div>


<div *ngIf="showYamlWindow" class="overlay">
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>

<ng-template #alertModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between w-100">
            <span class="font-20 fw-600">{{ alertModal.title }}</span>
            <span class="fa fa-times text-secondary hover" (click)="alertModalTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center my-5">{{ alertModal.message }}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-primary" (click)="alertModalTemplateRef.close(true)">
                Yes
            </button>
        </div>
    </div>
</ng-template>