<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="node-page d-flex flex-column w-100 bg-light-gray page-padding">
    <div class="d-flex justify-content-between align-items-center w-100 pt-2 pb-4">
        <div class="font-22">
            <span class="fw-600 mr-2">Process Nodes</span>
            <span></span>
        </div>
        <div class="d-flex align-items-center">
            <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"></odp-search-box>
            <button type="button" id="data-management" class="btn btn-white d-flex align-items-center border ml-3"
                [routerLink]="['settings']">
                <span class="dsi dsi-settings text-secondary"></span>
            </button>
            <button id="createNode" type="button" class="add-new btn btn-primary ml-3 d-flex align-items-center"
                (click)="newNode()" [disabled]="!hasWritePermission('NODE')">
                <span class="dsi dsi-plus mr-2"></span>
                <span class="text">New</span>
            </button>
        </div>
    </div>
    <div class="card-container d-flex flex-column w-100 mb-3">
        <div *ngIf="records.length==0" class="rounded-lg border bg-white p-4">
            <p class="m-0">No Records Found, <button type="button" class="btn btn-link px-1 py-0"
                    (click)="newNode()">Click
                    Here</button> to create a new Node
                <span *ngIf="searchTerm">:&nbsp;<span class="fw-500">{{searchTerm}}</span></span>
            </p>
        </div>
        <div *ngIf="records.length>0" class="list-group mb-3">
            <div
                class="list-group-item header d-flex align-items-center justify-content-start py-0 bg-light text-uppercase font-11 fw-500">
                <div (click)="applySort('name')" class="hover d-flex align-items-center item-name">
                    <span class="mr-2">Name</span>
                    <span *ngIf="sortModel['name']==1" class="dsi dsi-drop-down"></span>
                    <span *ngIf="sortModel['name']==-1" class="dsi dsi-drop-up"></span>
                </div>
                <div (click)="applySort('type')" class="hover d-flex align-items-center item-status">
                    <span class="mr-2">Type</span>
                    <span *ngIf="sortModel['type']==1" class="dsi dsi-drop-down"></span>
                    <span *ngIf="sortModel['type']==-1" class="dsi dsi-drop-up"></span>
                </div>
                <div (click)="applySort('category')" class="hover d-flex align-items-center item-status">
                    <span class="mr-2">Category</span>
                    <span *ngIf="sortModel['category']==1" class="dsi dsi-drop-down"></span>
                    <span *ngIf="sortModel['category']==-1" class="dsi dsi-drop-up"></span>
                </div>
                <div class="d-flex w-100 justify-content-end">
                    <div class="item-actions"></div>
                </div>
            </div>
            <div class="list-group-item d-flex align-items-center justify-content-start hover"
                *ngFor="let item of records;let i=index" (dblclick)="viewNode(item)">
                <div class="item-name fw-500 d-flex align-items-center">
                    <span class="ml-2 pl-1 text-dark text-truncate" [ngbTooltip]="item.name"
                        placement="right">{{item.name}}</span>
                    <span class="ml-2 version sub-heading font-11 text-uppercase">(v{{(item.version||1)}})</span>
                    <span *ngIf="item.draftVersion" class="ml-2 draft sub-heading font-11 text-uppercase">(Draft)</span>
                </div>
                <div class="d-flex w-100 align-items-center justify-content-end">
                    <div class="item-actions d-flex align-items-center justify-content-end">
                        <div class="actions d-flex justify-content-end hover align-items-center">
                            <ng-container *ngIf="item.status != 'Pending' && item.status != 'Maintenance' ">
                                <span class="dsi dsi-more-vertical hover mr-3 ignore-outside"
                                    (click)="showDropDown($event,i)"></span>
                            </ng-container>
                            <div *ngIf="showOptionsDropdown[i]"
                                class="more-options bg-white rounded list-group position-fixed border"
                                (mouseleave)="showOptionsDropdown[i]=false" [ngStyle]="dropDownStyle" odpClickOutside
                                (outside)="showOptionsDropdown[i]=false">
                                <div class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="canManageNode(item._id)" (click)="editNode(item)">
                                    Edit
                                </div>
                                <div class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="canViewNode(item._id)" (click)="viewNode(item)">
                                    View
                                </div>
                                <div class="list-group-item list-group-item-action py-2 border-0"
                                    *ngIf="canManageNode(item._id)" (click)="cloneNode(item)">
                                    Clone
                                </div>
                                <div class="list-group-item list-group-item-action py-2 border-0 text-danger"
                                    *ngIf="canManageNode(item._id)" (click)="deleteNode(i)">
                                    Delete
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showNewNodeWindow || showEditNodeWindow" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showNewNodeWindow}"
    class="new-node-window p-4 position-fixed border-left bg-white d-flex flex-column" [formGroup]="form">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <span class="font-22 fw-500">New Process Node</span>
        <span class="dsi dsi-close hover" (click)="showNewNodeWindow=false;"></span>
    </div>
    <div *ngIf="showNewNodeWindow" class="d-flex flex-column w-100">
        <div class="d-flex flex-column w-100">
            <label for="name" class="font-13 text-secondary">
                <span class="text">Name</span>
                <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
            </label>
            <div class="name-wrapper position-relative mb-3">
                <input newNodeName autocomplete="off" type="text" class="form-control" id="name"
                    placeholder="Untitled Process Node" formControlName="name" odpAutoFocus
                    (keyup.enter)="isClone ? triggerNodeClone() : triggerNodeCreate()"
                    [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').dirty}">
                <ng-container *ngIf="form.get('name').dirty">
                    <span *ngIf="form.get('name').hasError('required')"
                        class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                        ngbTooltip="Name is required"></span>
                    <span *ngIf="form.get('name').hasError('maxlength')"
                        class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                        ngbTooltip="Name should be within 30 characters"></span>
                    <span *ngIf="form.get('name').hasError('pattern')"
                        class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                        ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
        <button type="button" class="btn btn-min-width btn-primary w-100" id="newNodeModalYes" [disabled]="form.invalid"
            (click)="isClone ? triggerNodeClone() : triggerNodeCreate()">Create</button>
    </div>
</div>

<div [ngClass]="{'show':showEditNodeWindow}"
    class="edit-node-window p-4 position-fixed border-left bg-white d-flex flex-column" [formGroup]="form">
    <div class="d-flex align-items-center justify-content-between mb-3">
        <span class="font-22 fw-500">Edit Process Node</span>
        <span class="dsi dsi-close hover" (click)="showEditNodeWindow=false;"></span>
    </div>
    <div *ngIf="showEditNodeWindow" class="d-flex flex-column align-items-start w-100">
        <div class="d-flex align-items-center w-100">
            <div class="d-flex flex-column w-100 mr-3">
                <label for="name" class="font-13 text-secondary">
                    <span class="text">Name</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="name-wrapper position-relative mb-3">
                    <input newNodeName autocomplete="off" type="text" class="form-control" id="name"
                        placeholder="Untitled Process Node" formControlName="name" odpAutoFocus
                        (keyup.enter)="isClone ? triggerNodeClone() : triggerNodeCreate()"
                        [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').dirty}">
                    <ng-container *ngIf="form.get('name').dirty">
                        <span *ngIf="form.get('name').hasError('required')"
                            class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                            ngbTooltip="Name is required"></span>
                        <span *ngIf="form.get('name').hasError('maxlength')"
                            class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                            ngbTooltip="Name should be within 30 characters"></span>
                        <span *ngIf="form.get('name').hasError('pattern')"
                            class="text-danger position-absolute dsi dsi-danger-circle" container="body"
                            ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
                    </ng-container>
                </div>
            </div>
            <div class="d-flex flex-column w-100 mr-3">
                <label for="type" class="font-13 text-secondary">
                    <span class="text">Type</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="type-wrapper position-relative mb-3">
                    <input newNodeName autocomplete="off" type="text" class="form-control" id="type"
                        placeholder="Untitled Process Node" formControlName="type">
                </div>
            </div>
            <div class="d-flex flex-column w-100">
                <label for="category" class="font-13 text-secondary">
                    <span class="text">Category</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="category-wrapper position-relative mb-3">
                    <input newNodeName autocomplete="off" type="text" class="form-control" id="category"
                        placeholder="Untitled Process Node" formControlName="category">
                </div>
            </div>
        </div>
        <pre class="bg-light border rounded p-2 d-flex flex-column w-100">
            <div class="d-flex align-items-center justify-content-start">
                <span class="text-info fw-500 mr-2 d-flex">
                    <strong>var</strong>
                </span>
                <strong>node;</strong>
                <span class="text-success ml-3">//Contains state data of all the nodes.</span>
            </div>
            <div class="d-flex align-items-center justify-content-start">
                <span class="text-info fw-500 mr-2 d-flex">
                    <strong>var</strong>
                </span>
                <strong>state;</strong>
                <span class="text-success ml-3">//Contains the state of this node. Write code and update this state object an return it.</span>
            </div>
            <div class="d-flex align-items-center justify-content-start text-secondary mt-2">
                <strong>Note:</strong>
                <span class="ml-2">Outer function is <span class="text-info fw-600">async</span> so using <span class="text-info fw-600">await</span> keyword is allowed.</span>
            </div>
        </pre>
        <odp-code-editor class="code-editor border rounded py-3" [edit]="{status:isEdit}"
            [(code)]="code"></odp-code-editor>
    </div>
    <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
        <button type="button" class="btn btn-min-width btn-primary w-100" id="newNodeModalYes" [disabled]="form.invalid"
            (click)="saveNode()">Save</button>
    </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>