<div class="mt-2">
    <div class="d-flex flex-column">
        <div class="d-flex flex-column">
            <div class="d-flex align-items-center">
                <odp-round-radio [edit]="edit" [checked]="dataType=='single'"
                    (checkedChange)="toggleDataType($event,'single')">
                </odp-round-radio>
                <span class="ml-3 mr-4">Payload from another Node</span>
            </div>
            <div class="d-flex align-items-center">
                <odp-round-radio [edit]="edit" [checked]="dataType=='multiple'"
                    (checkedChange)="toggleDataType($event,'multiple')">
                </odp-round-radio>
                <span class="ml-3">Custom Payload</span>
            </div>
        </div>
    </div>
</div>

<div *ngIf="showCustomWindow" class="overlay"></div>
<div [class.show]="showCustomWindow" class="custom-window position-fixed bg-white border-left">
    <div class="d-flex flex-column p-3" *ngIf="showCustomWindow">
        <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
                <span class="font-22 fw-600">Custom Request Body</span>
            </div>
            <button type="button" class="btn btn-link p-0">
                <span class="dsi dsi-close text-dark ignore-outside" (click)="cancel()"></span>
            </button>
        </div>
        <div *ngIf="dataType=='single'" class="d-flex align-items-center justify-content-start mt-3">
            <span class="font-16 fw-500 mr-3">Select Body of a Different Node</span>
            <span class="dsi dsi-settings text-primary hover mr-3"></span>
            <span class="fw-500 rounded bg-light p-2 border font-12 d-flex align-items-center"
                [innerHTML]="data"></span>
            <odp-node-data-selector [(toggle)]="toggle['single']" [edit]="edit" [nodeList]="nodeList"
                (valueChange)="onDataChange($event)">
            </odp-node-data-selector>
        </div>
        <div *ngIf="dataType=='multiple'" class="d-flex flex-column mt-3">
            <span class="font-16 fw-500 mb-3 d-flex align-items-center justify-content-between w-100">
                <span>Create Payload</span>
                <div class="d-flex align-items-center hover" (click)="toggle['pasteJSON']=!toggle['pasteJSON']">
                    <span class="dsi dsi-object text-primary"></span>
                    <span class="ml-2 font-12 fw-400">Paste JSON</span>
                </div>
            </span>
            <!-- <odp-node-data-selector *ngIf="toggle['variable']" [(toggle)]="toggle['variable']" [edit]="edit"
                [nodeList]="nodeList" (valueChange)="onVariableSelect($event)">
            </odp-node-data-selector> -->
            <!-- <odp-code-editor [edit]="edit" type="json" [insertText]="insertText" [(code)]="data"
                (codeChange)="onDataChange($event)"></odp-code-editor> -->
            <odp-payload-creator *ngIf="toggle['payloadCreator']" [data]="sampleJSON"
                (dataChange)="onDataChange($event)"></odp-payload-creator>
        </div>
    </div>
</div>

<div *ngIf="toggle['pasteJSON']" class="overflow position-fixed"></div>
<div [class.show]="toggle['pasteJSON']" class="paste-window position-fixed bg-white border-left p-3">
    <div *ngIf="toggle['pasteJSON']">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <span class="font-18 fw-500">Paste JSON</span>
            <span class="dsi dsi-close hover"></span>
        </div>
        <textarea class="form-control" name="pasteJSON" id="pasteJSON" cols="30" rows="10"
            (paste)="onPaste($event)"></textarea>
    </div>
</div>