@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

$danger-light: #f5caca;

.text-color {
  stroke: $danger;
  fill: $danger;
}

.customize-error {
  rect,
  text {
    transition: 0.25s;
  }
  rect {
    fill: $danger-light;
  }
  text {
    fill: $danger;
    font-size: 13px;
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
    rect {
      fill: $danger;
    }
    text {
      fill: $white;
    }
  }
}

.svg-dropdown {
  rect {
    fill: $white;
    stroke: $border;
  }
  text {
    fill: $black;
    font-size: 13px;
    font-weight: bold;
  }
  &:hover {
    cursor: pointer;
    rect {
      fill: $light;
    }
  }
}
