.input-wrapper{
    .fa{
        right: 6px;
        top: 9px;
    }
}
.error-icon {
    top: 8px;
    left: 86% !important;
}
.input-eye{
    width: 92% !important;
    border-radius: .25em 0 0 .25em;
}

.eye-icon{
    top: 0px;
    padding: 6px;
    border-radius: 0.25rem;
    right: 0px;
    border-bottom: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
}