<ng-template #changePasswordModal>
  <div class="modal-body p-4" [formGroup]="changePasswordForm">
    <div class="d-flex align-items-center align-self-start mb-3">
      <span class="font-20 fw-600">Change Password</span>
    </div>
    <div class="input-wrapper position-relative">
      <input [type]="showPassword['old'] ? 'text' : 'password'" placeholder="Old password"
        class="form-control mb-3 input-eye" [ngClass]="{'is-invalid':oldPasswordRequired || oldPasswordLength}"
        formControlName="oldpassword" odpAutoFocus>
      <span *ngIf="oldPasswordRequired" class="dsi dsi-danger-circle position-absolute text-danger error-icon"
        ngbTooltip="Old Password is required" container="body" placement="right"></span>
      <span *ngIf="oldPasswordLength" class="dsi dsi-danger-circle position-absolute text-danger error-icon"
        ngbTooltip="Password should be of at least 8 characters" container="body" placement="right"></span>

      <span class="dsi eye-icon position-absolute hover"
        [ngClass]="{'dsi-view': !showPassword['old'],'dsi-hide': showPassword['old'] }"
        (click)="showPassword['old']= !showPassword['old']"></span>
    </div>
    <div class="input-wrapper position-relative mb-3">
      <input [type]="showPassword['new'] ? 'text' : 'password'" placeholder="New password"
        class="form-control input-eye" [ngClass]="{'is-invalid':newPasswordRequired || newPasswordLength}"
        formControlName="newpassword">
      <span *ngIf="newPasswordRequired" class="dsi dsi-danger-circle position-absolute text-danger error-icon"
        ngbTooltip="New Password is required" container="body" placement="right"></span>
      <span *ngIf="newPasswordLength" class="dsi dsi-danger-circle position-absolute text-danger error-icon"
        ngbTooltip="Password should be of at least 8 characters" container="body" placement="right"></span>
      <span class="dsi eye-icon position-absolute hover"
        [ngClass]="{'dsi-view': !showPassword['new'],'dsi-hide': showPassword['new'] }"
        (click)="showPassword['new']= !showPassword['new']"></span>
    </div>
    <div class="input-wrapper position-relative">
      <input [type]="showPassword['confirm'] ? 'text' : 'password'" placeholder="Re-enter new password"
        class="form-control input-eye" [ngClass]="{'is-invalid':cnfrmPasswordRequired || matchPwd}"
        formControlName="confirmpassword">
      <span *ngIf="cnfrmPasswordRequired" class="dsi dsi-danger-circle position-absolute text-danger error-icon"
        ngbTooltip="Confirm Password is required" container="body" placement="right"></span>
      <span *ngIf="matchPwd" class="dsi dsi-danger-circle position-absolute text-danger error-icon"
        ngbTooltip="Passwords are not matching" container="body" placement="right"></span>
      <span class="dsi eye-icon position-absolute hover"
        [ngClass]="{'dsi-view': !showPassword['confirm'],'dsi-hide': showPassword['confirm'] }"
        (click)="showPassword['confirm']= !showPassword['confirm']"></span>
    </div>
    <p class="text-danger my-2 text-center">{{message}}&nbsp;</p>
    <div class="d-flex align-items-center justify-content-end mt-4">
      <button type="button" class="btn btn-link text-dark" id="cancelPwdChng"
        (click)="changePasswordModalRef.close(false)">Cancel</button>
      <button type="button" class="btn btn-min-width btn-dark" (click)="changePassword()" id="confirmChangePssword"
        [disabled]="changePasswordForm.invalid || matchPwd">Confirm</button>
    </div>
  </div>
</ng-template>