.overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba($color: #000000, $alpha: 0.6);
}

.upload-window {
    height: 100vh;
    width: 300px;
    top: 0;
    right: -300px;
    z-index: 2;
    transition: 0.2s;

    &.show {
        right: 0px !important;
    }
}