<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Processing...</span>
    </div>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="d-flex flex-column w-100 h-100 app-list container">
  <!-- <div class="d-flex flex-column align-items-center justify-content-center">
    <odp-search-box (enteredText)="searchTerm = $event" (reset)="searchTerm = '';"></odp-search-box>
  </div> -->
  <div class="d-flex justify-content-between align-items-center border-bottom py-4">
    <div class="font-weight-bold font-16 text-accent">
      {{ isHome ? 'Select an app to proceed' : 'Apps' }}
    </div>
    <odp-search-box (enteredText)="searchTerm = $event" (reset)="searchTerm = ''" [selectOnEnter]="true" open="true"
      (enteredPressed)="enterToSelect($event)"></odp-search-box>
    <button class="add-new btn-min-width btn btn-primary d-flex align-items-center justify-content-center" (click)="newApp()" *ngIf="isSuperadmin">
      <span class="dsi dsi-plus mr-2"></span>
      <span class="text">New</span>
    </button>
  </div>
  <div class="apps-container d-flex flex-wrap">
    <!-- <div class="app-card add d-flex flex-column m-3 px-4 py-3">
      <div class="app-thumbnail d-flex align-items-center justify-content-center border hover ml-2" (click)="newApp()">
        <div class="rounded-circle d-flex align-items-center justify-content-center bg-light">
          <span class="dsi dsi-plus fa-lg text-secondary"></span>
        </div>
      </div>
      <div class="app-name text-center mt-2 text-primary hover" (click)="newApp()">New app</div>
    </div> -->
    <ng-container *ngIf="!appList || appList.length == 0">
      <odp-loading-placeholder width="48" height="48" *ngFor="let app of dummyRows" class="mt-5 mx-5">
      </odp-loading-placeholder>
    </ng-container>
    <ng-container *ngFor="let app of appList | filterApp: searchTerm; let appIndex = index">
      <div class="app-card d-flex flex-column mt-4 mx-3 rounded position-relative"
        (click)="appOptions[appIndex] = true">
        <!-- <div
          class="d-flex justify-content-end mt-2 mr-2 delete-option"
          *ngIf="isSuperadmin"
        >
          <div class="ml-3 hover ignore-outside">
            <span
              class="fas fa-trash text-primary ignore-outside"
              (click)="deleteApp(app, appIndex)"
            ></span>
          </div>
        </div> -->
        <!-- <div
          class="position-absolute hover app-options p-2 bg-white"
          (outside)="appOptions[appIndex] = false"
          [ngClass]="{
            'd-none': !appOptions[appIndex],
            'd-flex': appOptions[appIndex]
          }"
          id="moreOptions"
          odpClickOutside
          [ignore]="['.ignore-outside']"
        >
          <div class="text-primary" (click)="deleteApp(app, appIndex)">
            Delete App
          </div>
        </div> -->
        <div class="settings-wrapper d-flex flex-column align-items-center px-4 pt-2 position-relative">
          <div class="app-thumbnail d-flex align-items-center justify-content-center bg-light hover"
            (click)="useApp(app._id)">
            <img *ngIf="app.logo && app.logo.thumbnail" [src]="app.logo.thumbnail" alt="Logo" />
            <!-- <odp-app-icon
              *ngIf="!app.logo || !app.logo.thumbnail"
              color="aaa"
            ></odp-app-icon> -->
            <div *ngIf="!app.logo" class="profileImage" [ngStyle]="{ 'background-color': app.bg }">
              {{ app.firstLetter }}
            </div>
            <div
              class="delete-option border-right bg-danger d-flex align-items-center justify-content-center hover ignore-outside"
              (click)="$event.stopPropagation();deleteApp(app, appIndex)">
              <span class="fas fa-trash text-white fa-xs"></span>
            </div>
          </div>
          <!-- <div class="app-settings rounded-circle position-absolute bg-primary d-flex align-items-center justify-content-center align-self-end hover"
          ngbTooltip="App settings" routerLink="{{app._id}}">
          <span class="dsi dsi-settings text-white"></span>
        </div> -->
          <div class="app-name text-center text-truncate mt-2" [ngbTooltip]="app._id">
            {{ app._id }}
          </div>
        </div>

        <!-- <div class="app-status text-center mt-2 d-flex justify-content-between bg-white px-4 pb-3">
      <div class="d-flex align-items-center symbol">
        <small class="fa fa-circle text-success"></small>
        <small class="fa fa-angle-right ml-2 text-secondary"></small>
        <small class="text text-secondary ml-2">Services</small>
      </div>
      <div class="d-flex align-items-center action mr-2">
        <small class="fa fa-play text-success hover" ngbTooltip="Start all services"></small>
        <small class="fa fa-stop ml-2 text-danger hover" ngbTooltip="Stop all services"></small>
      </div>
    </div> -->
      </div>
    </ng-container>
  </div>
</div>

<div *ngIf="showNewAppWindow" class="new-app-window overlay position-fixed"></div>
<div [ngClass]="{'show':showNewAppWindow}"
  class="new-app-window position-fixed p-4 d-flex flex-column bg-white border-left">
  <div class="d-flex flex-column w-100">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <span class="font-20 fw-600">New App</span>
      <span class="fa fa-times text-muted hover" (click)="!createAppLoader && showNewAppWindow=false"></span>
    </div>
    <div class="d-flex flex-column w-100" [formGroup]="form">
      <div *ngIf="showNewAppWindow" class="form-group">
        <label for="name" class="">
          <span class="text">Name</span>
          <sup class="text-danger fa fa-asterik" ngbTooltip="Mandatory field"></sup>
        </label>
        <div class="name-wrapper position-relative">
          <input type="text" class="form-control" id="name" formControlName="_id" placeholder="Give a name" odpAutoFocus
            [ngClass]="{
              'is-invalid':
                form.get('_id').invalid &&
                (form.get('_id').dirty || form.get('_id').touched)
            }" />
          <ng-container *ngIf="
              form.get('_id').invalid &&
              (form.get('_id').dirty || form.get('_id').touched)
            ">
            <span *ngIf="form.get('_id').hasError('required')"
              class="text-danger position-absolute dsi dsi-danger-circle" container="body"
              ngbTooltip="Name is required"></span>
            <span *ngIf="form.get('_id').hasError('pattern')"
              class="text-danger position-absolute dsi dsi-danger-circle" container="body"
              ngbTooltip="Name can be only be alphanumeric and can contain dash(-)"></span>
            <span *ngIf="form.get('_id').hasError('maxlength')"
              class="text-danger position-absolute dsi dsi-danger-circle" container="body"
              ngbTooltip="Name should be within 40 characters"></span>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="description" class="">Description</label>
        <textarea #newAppDesc class="form-control" id="description" rows="5" placeholder="A brief description. Optional"
          formControlName="description"></textarea>
      </div>
      <div class="form-group">
        <label for="timezone" class="">Timezone</label>
        <odp-timezone-picker [edit]="{ status: true }" formControlName="defaultTimezone"></odp-timezone-picker>
      </div>
      <!-- <select id="timezone" class="form-control" formControlName="defaultTimezone">
          <option *ngFor="let tz of timezones" [value]="tz">{{tz}}</option>
        </select> -->
      <!-- <textarea #newAppDesc class="form-control" id="description" rows="5" placeholder="A brief description. Optional"
        formControlName="description"></textarea> -->
    </div>
    <div class="text-danger mt-3">{{ errorMessage }} &nbsp;</div>
  </div>
  <div class="d-flex flex-column mt-auto">
    <button #createNewAppBtn type="button" class="btn btn-primary w-100" [disabled]="form.invalid || createAppLoader"
      (click)="createApp()">
      <span class="fa fa-spinner fa-pulse mr-1" *ngIf="createAppLoader"></span>
      Create
    </button>
  </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>