<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Processing...</span>
    </div>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="data-format-page d-flex flex-column w-100 page-padding bg-light-gray">
  <div class="options d-flex justify-content-between align-items-center w-100 pt-2 mb-4">
    <div class="fw-600 font-22">Data Formats</div>
    <div class="d-flex align-items-center">
      <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"></odp-search-box>
      <button class="add-new btn btn-primary ml-3 d-flex align-items-center" *ngIf="hasManagePermission('DF')"
        (click)="newDataFormat()">
        <span class="dsi dsi-plus mr-2"></span>
        <span class="text">New</span>
      </button>
    </div>
  </div>
  <div class="card-container">
    <div class="list-group">
      <div class="list-group-item header py-0 bg-light text-uppercase font-11 fw-500">
        <div class="d-flex align-items-center justify-content-start h-100">
          <div (click)="applySort('name')" class="item-name">
            <span class="mr-2">Name</span>
            <span *ngIf="sortModel['name']==1" class="dsi dsi-drop-down"></span>
            <span *ngIf="sortModel['name']==-1" class="dsi dsi-drop-up"></span>
          </div>
          <div class="d-flex align-items-center">
            <div (click)="applySort('_attributes')" class="item-attribute-count text-center">
              <span class="mr-2">Attributes</span>
              <span *ngIf="sortModel['_attributes']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['_attributes']==-1" class="dsi dsi-drop-up"></span>
            </div>
            <div (click)="applySort('_references')" class="item-reference-count text-center">
              <span class="mr-2">References</span>
              <span *ngIf="sortModel['_references']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['_references']==-1" class="dsi dsi-drop-up"></span>
            </div>
          </div>
          <div (click)="applySort('formatType')" class="item-format-type text-left ml-4">
            <span class="mr-2">Format</span>
            <span *ngIf="sortModel['formatType']==1" class="dsi dsi-drop-down"></span>
            <span *ngIf="sortModel['formatType']==-1" class="dsi dsi-drop-up"></span>
          </div>
          <div class="item-actions">&nbsp;</div>
        </div>
      </div>
      <div *ngIf="!records || records.length==0" class="list-group-item">No Records Found</div>
      <ng-container *ngFor="let dataFormat of records;let i=index">
        <div *ngIf="hasPermissionForDataFormat(dataFormat._id)" class="list-group-item">
          <div class="d-flex align-items-center justify-content-start h-100" [attr.title]="dataFormat.name">
            <div class="item-name text-dark fw-500">{{dataFormat.name}}</div>
            <div class="d-flex align-items-center sub-heading">
              <div class="item-attribute-count text-center">{{dataFormat._attributes}}</div>
              <div class="item-reference-count text-center">{{dataFormat._references}}</div>
            </div>
            <div class="item-format-type text-left ml-4">
              <odp-format-type-badge [data]="dataFormat"></odp-format-type-badge>
            </div>
            <div class="item-actions d-flex align-items-center justify-content-end">
              <span id="lib-view" class="fw-600 font-13 hover mr-3"
                [routerLink]="['/app/',app,'dfm',dataFormat._id]">View</span>
              <span id="lib-more" class="dsi dsi-more-vertical hover mr-3 ignore-outside"
                (click)="showDropDown($event,i)"></span>
              <div *ngIf="showOptionsDropdown[i]" class="more-options bg-white rounded list-group position-fixed"
                (mouseleave)="showOptionsDropdown[i]=false" [ngStyle]="dropDownStyle" odpClickOutside
                (outside)="showOptionsDropdown[i]=false">
                <div id="lib-edit" class="list-group-item list-group-item-action py-2"
                  *ngIf="canEditDataFormat(dataFormat._id)" (click)="editDataFormat(i)">
                  Edit
                </div>
                <div id="lib-clone" class="list-group-item list-group-item-action py-2"
                  *ngIf="canEditDataFormat(dataFormat._id) && hasManagePermission('DF')" (click)="cloneDataFormat(i)">
                  Clone
                </div>
                <div id="lib-delete" class="list-group-item list-group-item-action py-2"
                  *ngIf="canEditDataFormat(dataFormat._id)" (click)="deleteDataFormat(i);">
                  Delete
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>


<div *ngIf="showNewDataFormatWindow" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showNewDataFormatWindow}"
  class="new-data-format-window position-fixed p-4 d-flex flex-column align-items-center bg-white border-left"
  [formGroup]="form">
  <div class="d-flex flex-column w-100">
    <div class="d-flex align-items-center justify-content-between mb-3">
      <span class="font-20 fw-600">New Data Format</span>
      <span class="dsi dsi-close hover" (click)="showNewDataFormatWindow=false"></span>
    </div>
    <div *ngIf="showNewDataFormatWindow" class="form-group">
      <label for="name" class="font-13 text-secondary">
        <span class="text">Name</span>
        <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
      </label>
      <div class="name-wrapper position-relative">
        <input newDataFormatName type="text" class="form-control" id="name" placeholder="Untitled DataFormat"
          formControlName="name" odpAutoFocus (keyup.enter)="triggerDataFormatCreate()"
          [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').dirty}">
        <ng-container *ngIf="form.get('name').dirty">
          <span *ngIf="form.get('name').hasError('required')"
            class="text-danger position-absolute fa fa-exclamation-circle" container="body"
            ngbTooltip="Name is required"></span>
          <span *ngIf="form.get('name').hasError('maxlength')"
            class="text-danger position-absolute fa fa-exclamation-circle" container="body"
            ngbTooltip="Name should be within 40 characters"></span>
          <span *ngIf="form.get('name').hasError('pattern')"
            class="text-danger position-absolute fa fa-exclamation-circle" container="body"
            ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
    <button type="button" class="btn btn-primary w-100" id="newDataFormatModalYes" [disabled]="form.invalid"
      (click)="triggerDataFormatCreate()">Create</button>
  </div>
</div>