<div>
  <div class="input-container" [ngClass]="{'disabled-input': !editEnabled}">
    <input #styledInputText [(ngModel)]="value" (ngModelChange)="onValueChange()" (input)="onValueChange($event)"
      [ngbTypeahead]="ngbTypeahead" (scroll)="handleScroll($event)" [resultFormatter]="resultFormatter"
      [inputFormatter]="inputFormatter" (selectItem)="selectItem($event)" [disabled]="!editEnabled"
      (paste)="onPaste.emit($event)" (keyup.enter)="onEnter.emit($event)" [pattern]="pattern.source"
      [placeholder]="placeholder">
    <span *ngIf="editEnabled && !errorMessage" class="position-absolute hover dsi dsi-check text-success"
      (click)="save()"></span>
    <span *ngIf="editEnabled" class="position-absolute hover dsi dsi-close text-danger" (click)="cancel()"></span>
    <span *ngIf="!editEnabled" class="position-absolute hover dsi dsi-edit text-info"
      (click)="editEnabled=!editEnabled"></span>

    <div class="input-renderer" #renderer>
      <div *ngFor="let word of valueArray">
        <span [ngClass]="{'text-primary': regexMatch(word)}">{{word}}</span>
      </div>
    </div>

  </div>

</div>