@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.faas-manage-page {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.editor-theme-selection {
  min-width: 200px;
}

.monaco-editor {
  height: 32px;

  .view-line {
    font-size: 14px !important;
  }
}

.code-editor {
  height: calc(100vh - 310px);
}

.editor-wrapper {
  width: calc(100% - 360px);
  height: calc(100vh - 196px);
}

.helper-panel {
  width: 360px;
  // height: calc(100vh - 292px);
  height: calc(100vh - 196px);
  overflow: auto;
}

.env-vars {
  font-size: 10px;
  overflow: auto;
}

.console {
  left: 0;
  height: 360px !important;
  width: 100% !important;
  bottom: -360px;
  z-index: 2;
  transition: 0.2s;

  &.show {
    bottom: 0;
  }

  .logs-wrapper {
    overflow: auto;
    height: 306px !important;

    pre {
      overflow: hidden;
      word-wrap: break-word;
      white-space: break-spaces;
    }
  }
}

.custom-select {
  min-width: 100px;
}