<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="apiCallsPending">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
          </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex flex-column w-100 h-100 px-4 bg-light-gray position-relative">
    <div class="py-5">
        <odp-basic-info hideLogo="true" [(name)]="faasData.name" [(description)]="faasData.description" [edit]="edit">
            <div class="d-flex justify-content-end align-items-center">
                <button (click)="cancel()" type="button"
                    class="edit-button btn btn-min-width btn-light border mr-3"
                    id="cancelNanoServiceBtn">
                    <span class="text">Cancel</span>
                </button>
                <button *ngIf="edit.id && !edit.status && hasManagePermission" (click)="enableEditing()" type="button"
                    class="edit-button btn btn-min-width btn-primary mr-3" id="editNanoServiceBtn">
                    <span *ngIf="!faasData?.draftVersion" class="text">Edit</span>
                    <span *ngIf="faasData?.draftVersion" class="text">Edit Draft</span>
                </button>
                <div class="btn-group mr-3" *ngIf="edit.status">
                    <button class="btn btn-outline-primary btn-min-width" (click)="saveDummyCode();"
                        type="button">Save</button>
                    <div *ngIf="faasData?.draftVersion || faasData.status=='Draft'" ngbDropdown class="btn-group">
                        <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle
                            type="button"></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="faasData?.draftVersion || faasData.status=='Draft'" ngbDropdownItem
                                (click)="discardDraft()" type="button">
                                Discard Draft
                            </button>
                        </div>
                    </div>
                </div>
                <button *ngIf="edit.status && hasDeployPermission" class="btn btn-primary btn-min-width"
                    [disabled]="!isValidSchema" (click)="save(true);edit.status=false" type="button">Save &amp;
                    Deploy</button>
            </div>
        </odp-basic-info>
        <pre class="text-secondary m-0">https://{{fqdn}}{{faasData.url}}</pre>
    </div>
    <div class="rounded-lg border bg-white">
        <div class="d-flex align-items-center justify-content-between border-bottom p-3">
            <div class="d-flex align-items-center">
                <span class="text-uppercase font-weight-bold text-accent">Function Code</span>
            </div>
            <div class="editor-theme-selection d-flex align-items-center">
                <button type="button" class="btn btn-light border mr-3 d-flex align-items-center"
                    (click)="showConsole=!showConsole;toggleConsole()">
                    <span class="dsi dsi-console mr-2"></span>
                    <span class="text">Console</span>
                </button>
                <!-- <span class="label font-weight-bold mr-2">Font&nbsp;Size&nbsp;:</span> -->
                <select class="custom-select mr-3" name="fontSize" id="fontSize"
                    [(ngModel)]="selectedFontSize">
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="16">16</option>
                    <option value="18">18</option>
                    <option value="20">20</option>
                </select>
                <!-- <span class="label font-weight-bold mr-2">Theme&nbsp;:</span> -->
                <select class="custom-select" name="theme" id="theme" [(ngModel)]="selectedEditorTheme">
                    <option value="vs-dark">Dark</option>
                    <option value="vs-light">Light</option>
                </select>
            </div>
        </div>
        <div class="d-flex align-items-stretch h-100 w-100">
            <div class="editor-wrapper h-100 p-3">
                <odp-code-editor *ngIf="showCodeEditor" class="code-editor" [edit]="edit" [theme]="selectedEditorTheme"
                    [fontSize]="selectedFontSize" [(code)]="faasData.code"></odp-code-editor>
            </div>
            <div class="helper-panel border-left">
                <div class="accordian-block border-bottom">
                    <div class="accordian-header border-bottom p-4 d-flex align-items-center justify-content-between">
                        <span>Libraries</span>
                        <span class="dsi dsi-drop-down"></span>
                    </div>
                    <div class="accordian-body p-4">
                        <table class="table table-bordered env-vars">
                            <thead>
                                <tr class="thead-light">
                                    <th>Library Name</th>
                                    <th>Version</th>
                                    <th>Variable Name</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Lodash</td>
                                <td class="text-center">4.17.21</td>
                                <td>lodash</td>
                            </tr>
                            <tr>
                                <td>Faker.js</td>
                                <td class="text-center">5.5.2</td>
                                <td>faker</td>
                            </tr>
                            <tr>
                                <td>Log4js</td>
                                <td class="text-center">6.3.0</td>
                                <td>logger</td>
                            </tr>
                            <tr>
                                <td>UUID</td>
                                <td class="text-center">8.3.2</td>
                                <td>uuid</td>
                            </tr>
                            <tr>
                                <td>Validator.js</td>
                                <td class="text-center">13.5.2</td>
                                <td>validator</td>
                            </tr>
                            <tr>
                                <td>Moment.js</td>
                                <td class="text-center">2.29.1</td>
                                <td>moment</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="accordian-block border-bottom">
                    <div class="accordian-header border-bottom p-4 d-flex align-items-center justify-content-between">
                        <span>ENV Variables</span>
                        <span class="dsi dsi-drop-down"></span>
                    </div>
                    <div class="accordian-body p-4">
                        <table class="table table-bordered env-vars">
                            <thead>
                                <tr class="thead-light">
                                    <th>ENV Variable</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>DATA_STACK_NAMESPACE</td>
                                <td class="text-center">{{namespace}}</td>
                            </tr>
                            <tr>
                                <td>FQDN</td>
                                <td class="text-center">{{fqdn}}</td>
                            </tr>
                            <tr>
                                <td>DATA_STACK_APP_NAMESPACE</td>
                                <td class="text-center">{{faasData.namespace}}</td>
                            </tr>
                            <tr>
                                <td>LOG_LEVEL</td>
                                <td class="text-center">info</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div [ngClass]="{'show':showConsole}" class="console position-absolute bg-dark text-white">
        <div class="border-bottom d-flex align-items-center justify-content-between p-3">
            <div class="d-flex align-items-center">
                <span class="dsi dsi-console mr-2"></span>
                <span class="text">Console</span>
            </div>
            <button type="button" class="close" (click)="showConsole=false">
                <span class="text-white">&times;</span>
            </button>
        </div>
        <p class="p-3" *ngIf="logs.length==0">No Logs</p>
        <pre class="p-3" *ngFor="let log of logs"
            class="text-white"><span [ngStyle]="{color:log.level.colour}">[{{log.startTime}}] [{{log.level.levelStr}}] </span> {{log.data.join(' ')}}</pre>
    </div>
</div>