<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="apiCallsPending">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex flex-column w-100 h-100">
    <odp-breadcrumb [paths]="breadcrumbPaths"></odp-breadcrumb>
    <odp-basic-info hideLogo="true" [(name)]="faasData.name" [(description)]="faasData.description" [edit]="edit">
        <div class="d-flex justify-content-end align-items-center">
            <button (click)="cancel()" type="button" class="edit-button btn btn-min-width btn-link"
                id="cancelNanoServiceBtn">
                <span class="fa fa-close mr-2"></span>
                <span class="text">Cancel</span>
            </button>
            <button *ngIf="edit.id && !edit.status" (click)="enableEditing()" type="button"
                class="edit-button btn btn-min-width btn-primary ml-3" id="editNanoServiceBtn">
                <span class="odp-edit mr-2"></span>
                <span *ngIf="!faasData?.draftVersion" class="text">Edit</span>
                <span *ngIf="faasData?.draftVersion" class="text">Edit Draft</span>
            </button>
            <div class="btn-group mr-3" *ngIf="edit.status">
                <button class="btn btn-primary btn-min-width" (click)="saveDummyCode();" type="button">Save</button>
                <div ngbDropdown class="btn-group">
                    <button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle type="button"></button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem [disabled]="!isValidSchema" (click)="save(true);edit.status=false"
                            type="button">Save &amp; Deploy</button>
                        <button *ngIf="faasData?.draftVersion || faasData.status=='Draft'" ngbDropdownItem (click)="discardDraft()" type="button">Discard
                            Draft</button>
                    </div>
                </div>
            </div>
            <!-- <button *ngIf="edit.status" (click)="saveDummyCode();" type="button"
                class="edit-button btn btn-min-width btn-primary" id="saveBtn">
                <span class="fa fa-save mr-2"></span>
                <span class="text">Save</span>
            </button>
            <button *ngIf="edit.status" [disabled]="!isValidSchema" (click)="save(true);edit.status=false"
                type="button" class="edit-button btn btn-min-width btn-dark" id="sbButtonSaveAndDeploy">
                <span class="fa fa-save mr-2"></span>
                <span class="text">Save &amp; Deploy</span>
            </button> -->
        </div>
    </odp-basic-info>
    <div class="border-top border-bottom px-3 py-2 d-flex align-items-center justify-content-between bg-light">
        <div class="url-info d-flex align-items-center">
            <button type="button" class="btn btn-dark btn-sm mr-3" (click)="testRun()">
                <span class="fa fa-flask mr-2"></span>
                <span>Test</span>
            </button>
            <span class="label text-dark font-weight-bold mr-2">API Endpoint&nbsp;:</span>
            <span class="url text-accent">{{faasData.url || 'N.A.'}}</span>
        </div>
        <div class="editor-theme-selection d-flex align-items-center col-4">
            <span class="label text-dark font-weight-bold mr-2">Font&nbsp;Size&nbsp;:</span>
            <select class="custom-select mr-3" name="fontSize" id="fontSize" [(ngModel)]="selectedFontSize">
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="16">16</option>
                <option value="18">18</option>
                <option value="20">20</option>
            </select>
            <span class="label text-dark font-weight-bold mr-2">Theme&nbsp;:</span>
            <select class="custom-select" name="theme" id="theme" [(ngModel)]="selectedEditorTheme">
                <option value="vs-dark">Dark</option>
                <option value="vs-light">Light</option>
            </select>
        </div>
    </div>
    <div class="d-flex align-items-stretch h-100 w-100">
        <div class="editor-wrapper h-100">
            <!-- <div class="monaco-editor no-user-select {{selectedEditorTheme}} p-3">
                <div class="view-lines monaco-mouse-cursor-text"
                    style="font-family: Menlo, Monaco, 'Courier New', monospace; font-weight: normal; font-size: 12px; font-feature-settings: 'liga' 0, 'calt' 0; line-height: 18px; letter-spacing: 0px; width: 1078px; height: 336px;">
                    <div style="height:18px;" class="view-line"><span><span class="mtk8">function</span><span
                                class="mtk1">&nbsp;process</span><span class="mtk9">(</span><span
                                class="mtk1 squiggly-inline-unnecessary">req</span><span class="mtk9">,</span><span
                                class="mtk1">&nbsp;</span><span class="mtk1 squiggly-inline-unnecessary">res</span><span
                                class="mtk9">)</span><span class="mtk1">&nbsp;</span><span
                                class="mtk9">{{'{'}}</span></span>
                    </div>
                </div>
            </div> -->
            <odp-code-editor *ngIf="showCodeEditor" class="code-editor" [edit]="edit" [theme]="selectedEditorTheme"
                [fontSize]="selectedFontSize" [(code)]="faasData.code"></odp-code-editor>
            <!-- <div class="monaco-editor no-user-select {{selectedEditorTheme}} p-3">
                <div class="view-lines monaco-mouse-cursor-text"
                    style="font-family: Menlo, Monaco, 'Courier New', monospace; font-weight: normal; font-size: 12px; font-feature-settings: 'liga' 0, 'calt' 0; line-height: 18px; letter-spacing: 0px; width: 1078px; height: 336px;">
                    <div style="height:18px;" class="view-line"><span><span class="mtk9">{{'}'}}</span></span></div>
                </div>
            </div> -->
        </div>
        <div class="helper-panel bg-light">
            <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" closeOthers="true">
                <!-- <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Documentation</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                        3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                        anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus
                        labore sustainable VHS.
                    </ng-template>
                </ngb-panel> -->
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Libraries</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="thead-light">
                                    <th>Library Name</th>
                                    <th>Version</th>
                                    <th>Variable Name</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>Lodash</td>
                                <td class="text-center">4.17.21</td>
                                <td>lodash</td>
                            </tr>
                            <tr>
                                <td>Faker.js</td>
                                <td class="text-center">5.5.2</td>
                                <td>faker</td>
                            </tr>
                            <tr>
                                <td>Log4js</td>
                                <td class="text-center">6.3.0</td>
                                <td>logger</td>
                            </tr>
                            <tr>
                                <td>UUID</td>
                                <td class="text-center">8.3.2</td>
                                <td>uuid</td>
                            </tr>
                            <tr>
                                <td>Validator.js</td>
                                <td class="text-center">13.5.2</td>
                                <td>validator</td>
                            </tr>
                            <tr>
                                <td>Moment.js</td>
                                <td class="text-center">2.29.1</td>
                                <td>moment</td>
                            </tr>
                        </table>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>ENV Variables</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        <table class="table table-bordered">
                            <thead>
                                <tr class="thead-light">
                                    <th>ENV Variable</th>
                                    <th>Default Value</th>
                                    <!-- <th>Description</th> -->
                                </tr>
                            </thead>
                            <tr>
                                <td>DATA_STACK_NAMESPACE</td>
                                <td class="text-center">-</td>
                                <!-- <td>The Namespace of Data Stack</td> -->
                            </tr>
                            <tr>
                                <td>FQDN</td>
                                <td class="text-center">-</td>
                                <!-- <td>FQDN</td> -->
                            </tr>
                            <tr>
                                <td>DATA_STACK_APP_NAMESPACE</td>
                                <td class="text-center">-</td>
                                <!-- <td>The Namespace of Current App</td> -->
                            </tr>
                            <tr>
                                <td>LOG_LEVEL</td>
                                <td class="text-center">info</td>
                                <!-- <td>Log Level for logging</td> -->
                            </tr>
                            <tr>
                                <td>DATA_STACK_ALLOWED_FILE_TYPE</td>
                                <td class="text-center">-</td>
                                <!-- <td>The Allowed file types in Data Stack</td> -->
                            </tr>
                        </table>
                    </ng-template>
                </ngb-panel>
                <ngb-panel>
                    <ng-template ngbPanelTitle>
                        <span>Examples</span>
                    </ng-template>
                    <ng-template ngbPanelContent>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia
                        aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                        3 wolf moon tempor,
                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                        anim keffiyeh helvetica,
                        craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                        vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus
                        labore sustainable VHS.
                    </ng-template>
                </ngb-panel>
            </ngb-accordion>
        </div>
    </div>
</div>