<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <span class="fa fa-spinner fa-pulse fa-3x"></span>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="d-flex flex-column schemaProperties h-100">
  <div class="schemaProperties-header border-bottom bg-dark d-flex align-items-center">
    <span class="text-dark font-weight-bold w-100 d-flex align-items-center justify-content-between">
      <div class="pl-3 d-flex w-50">
        <span *ngIf="name" class="text-truncate text-white">{{name}}&nbsp;</span>
        <span *ngIf="!name" class="text-truncate text-muted">Unnamed&nbsp;</span>
      </div>
      <span class="d-flex justify-content-end w-50" *ngIf="canEdit">
        <button type="button" class="btn btn-link text-primary" (click)="cloneField()"
          [disabled]="idField">Clone</button>
        <button type="button" class="btn btn-link text-primary" (click)="deleteField()"
          [disabled]="!canDelete">Remove</button>
      </span>
    </span>
  </div>
  <div class="schemaProperties-wrapper" *ngIf="!idField">
    <ng-container
      *ngFor="let formItem of formList;let formIndex = index; let isLastFormItem = last; let isFirstFormItem = first"
      [formGroup]="formItem">
      <div class="px-3 schemaProperties-body" [ngClass]="{'pt-4': isFirstFormItem}" formGroupName="properties">
        <div class="d-flex flex-row mb-4 justify-content-center" *ngIf="!isDataFormat">
          <div class=" d-flex align-items-center font-13 checkbox mr-3 p-2"
            [ngClass]="{'selected-checkbox':formItem.get('properties.required').value,'hover':canEdit}"
            *ngIf="formItem.get('properties.required') && formItem.get('key').value !== '_self'"
            (click)="toggleCheck(formItem.get('properties.required'))">
            <div class="text-dark">Required</div>
            <label for="reqAttr" class="checkbox-container ml-auto" [ngClass]="{'default-cur': !canEdit}">
              <input type="checkbox" id="reqAttr" [checked]="formItem.get('properties.required').value" class="d-none"
                formControlName="required" *ngIf="canEdit"
                (click)="toggleCheck(formItem.get('properties.required'))">
              <input type="checkbox" class="d-none" formControlName="required" *ngIf="!canEdit">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class=" d-flex align-items-center font-13 checkbox mr-3 p-2 "
            [ngClass]="{'selected-checkbox':formItem.get('properties.createOnly').value,'hover':canEdit}"
            *ngIf="formItem.get('properties.createOnly') && formItem.get('key').value !=='_self'"
            (click)="toggleCheck(formItem.get('properties.createOnly'))">
            <div class="text-dark mr-2">Create Only</div>
            <label for="createAttr" class="checkbox-container ml-auto" [ngClass]="{'default-cur': !canEdit}">
              <input type="checkbox" id="createAttr" class="d-none"
                [checked]="formItem.get('properties.createOnly').value"
                (click)="toggleCheck(formItem.get('properties.createOnly'))" formControlName="createOnly"
                *ngIf="canEdit">
              <input type="checkbox" class="d-none" formControlName="createOnly" *ngIf="!canEdit">
              <span class="checkmark"></span>
            </label>
          </div>
          <div class=" d-flex align-items-center font-13 checkbox p-2 "
            [ngClass]="{'selected-checkbox':formItem.get('properties.unique').value,'hover':canEdit}"
            *ngIf="formItem.get('properties.unique') && formItem.get('key').value !== '_self' && !formItem.get('properties.password')?.value"
            (click)="toggleCheckUnique(formItem.get('properties.unique'))">
            <div class="text-dark">Unique</div>
            <label for="UniqAttr" class="checkbox-container ml-auto" [ngClass]="{'default-cur': !canEdit}">
              <input type="checkbox" id="UniqAttr" class="d-none" [checked]="formItem.get('properties.unique').value"
                (click)="toggleCheckUnique(formItem.get('properties.unique'))" formControlName="unique" *ngIf="canEdit">
              <input type="checkbox" class="d-none" formControlName="unique" *ngIf="!canEdit">
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="d-flex w-100 mb-4">
          <div class="label-width text-secondary">
            <ng-container *ngIf="formItem.get('key').value !== '_self'">Type</ng-container>
            <ng-container *ngIf="formItem.get('key').value === '_self'">Collection of</ng-container>
          </div>
          <div class="value-width bg-white position-relative">
            <button type="button"
              class="d-flex w-100 align-items-center justify-content-between bg-white px-2 py-1 border rounded ignore-click"
              (click)="showDataTypes[formIndex]=true" [disabled]="!canEdit">
              <odp-field-type [field]="{type:formItem.value.type,properties:formItem.value.properties}" [label]="true">
              </odp-field-type>
              <span *ngIf="canEdit" class="fas fa-angle-down text-accent"></span>
            </button>
            <odp-field-type-selector *ngIf="showDataTypes[formIndex]" [(toggle)]="showDataTypes[formIndex]"
              [form]="formItem" [edit]="edit" [isLibrary]="isLibrary" [isDataFormat]="isDataFormat"
              [formatType]="formatType">
            </odp-field-type-selector>
          </div>
        </div>
        <div class="sub-heading text-secondary bg-light mb-3 p-2" *ngIf="formItem.get('key').value !== '_self' && !isLibrary &&  
        formItem.get('type').value!='Relation' && formItem.get('type').value!='User'">Advanced
          Properties</div>
        <div class="d-flex w-100 mb-4" *ngIf="isDataFormat && formatType=='FLATFILE'">
          <div class="label-width text-secondary">Field Length</div>
          <div class="value-width">
            <input *ngIf="canEdit" class="form-control" type="number" formControlName="fieldLength"
              id="fieldLength">
            <span *ngIf="!canEdit">{{formItem.get('properties.fieldLength').value}}</span>
          </div>
        </div>
        <ng-container *ngIf="showCommonFields && formItem.get('key').value !== '_self'">
          <div *ngIf="!idField" class="d-flex w-100 ">
            <div class="label-width text-secondary">Custom Label</div>
            <div class="value-width">
              <input *ngIf="edit.status" class="form-control" type="text" formControlName="label" id="label">
              <span *ngIf="!edit.status">{{formItem.get('properties.label').value}}</span>
            </div>
          </div>
          <div class="d-flex">
            <div class="label-width"></div>
            <span class="text-danger" *ngIf="labelError"><span class="fa fa-times mr-1"></span>
              <span>Label should not be more than 40 characters</span>
            </span>
          </div>
          <div *ngIf="!idField" class="d-flex w-100 my-4">
            <div class="label-width text-secondary">Custom Error</div>
            <div class="value-width">
              <input *ngIf="canEdit" class="form-control" type="text" formControlName="errorMessage"
                id="errorMessage">
              <span *ngIf="!canEdit">{{formItem.get('properties.errorMessage').value}}</span>
            </div>
          </div>
        </ng-container>
        <odp-relation-property *ngIf="formItem.get('type').value=='Relation'" [form]="formItem" [edit]="edit"
          [isLibrary]="isLibrary" [isDataFormat]="isDataFormat" [type]='type'>
        </odp-relation-property>
        <odp-text-property *ngIf="formItem.get('type').value=='String'" [form]="formItem" [edit]="edit"
          [isLibrary]="isLibrary" [isDataFormat]="isDataFormat" [type]='type'>
        </odp-text-property>
        <odp-number-property *ngIf="formItem.get('type').value=='Number'" [form]="formItem" [edit]="edit"
          [isLibrary]="isLibrary" [isDataFormat]="isDataFormat" [type]='type'>
        </odp-number-property>
        <odp-library-property *ngIf="formItem.get('type').value=='Global'" [form]="formItem" [edit]="edit"
          [isLibrary]="isLibrary" [isDataFormat]="isDataFormat">
        </odp-library-property>

        <odp-user-property *ngIf="formItem.get('type').value=='User'" [form]="formItem" [edit]="edit"
          [isLibrary]="isLibrary" [isDataFormat]="isDataFormat">

        </odp-user-property>
        <div class="d-flex mb-4" *ngIf="formItem.get('type').value=='Boolean' && !isDataFormat && !isLibrary ">
          <div class="label-width text-secondary">Default Value
          </div>
          <div class="value-width position-relative">
            <ng-container *ngIf="canEdit">
              <label *ngIf="canEdit" class="switch accent">
                <input type="checkbox" formControlName="default">
                <span class="slider"></span>
                <span class="toggler"></span>
                <span class="ml-3">{{form.get('properties.default')?.value ? 'Yes' : 'No'}}</span>
              </label>
            </ng-container>
            <ng-container *ngIf="!canEdit">
              <span class="text d-flex" *ngIf=" form.get('properties.default').value === true">
                <span
                  class="d-flex align-items-center justify-content-center rounded-circle bg-accent check-circle mr-1">
                  <span class="fa fa-check text-white"></span>
                </span>
                <span class="text">Yes</span>
              </span>
              <span class="text d-flex" *ngIf="form.get('properties.default').value === false">
                <span
                  class="d-flex align-items-center justify-content-center rounded-circle bg-secondary check-circle mr-1">
                </span>
                <span class="text">No</span>
              </span>
            </ng-container>
          </div>
        </div>

        <div class="d-flex mb-4" *ngIf="formItem.get('type').value=='Date' && !isDataFormat && !isLibrary ">
          <div class="label-width text-secondary">Default Value</div>
          <div class="value-width position-relative">
            <ng-container *ngIf="canEdit">
              <button type="button" class="btn btn-link" *ngIf="form.get('properties.default').value"
                (click)="showDatePicker=true">{{form.get('properties.default').value
                | date:'dd-MMM-yyyy' }}</button>
              <button type="button" class="btn btn-link" *ngIf="!form.get('properties.default').value"
                (click)="showDatePicker=true">Select
                Date</button>
              <odp-date-picker [(togglePicker)]="showDatePicker" [options]="{floating:true,buttons:true}"
                *ngIf="showDatePicker" [(from)]="dateFrom"></odp-date-picker>
            </ng-container>
            <ng-container *ngIf="!canEdit">
              <span>{{form.get('properties.default').value | date:'dd-MMM-yyyy'}}</span>
            </ng-container>
          </div>
        </div>
        <ng-container *ngIf="showCommonFields">
          <div class="d-flex w-100" [ngClass]="{'mb-4': isLastFormItem && !descriptionError}"
            *ngIf="formList.length == 1 || formIndex > 0">
            <div class="label-width text-secondary">Description</div>
            <div class="value-width">
              <textarea *ngIf="canEdit" class="form-control" formControlName="_description"
                placeholder="What is this attribute for?"></textarea>
              <span
                *ngIf="!canEdit && formItem.get('properties._description') && formItem.get('properties._description').value">{{formItem.get('properties._description').value}}</span>
              <span *ngIf="!canEdit && !formItem.get('properties._description').value" class="text-muted">-</span>
            </div>
          </div>
          <div class="d-flex" [class.mb-4]="descriptionError">
            <div class="label-width"></div>
            <span class="text-danger" *ngIf="descriptionError">
              <span class="fa fa-times mr-1"></span>
              <span>
                {{ descriptionError }}
              </span>
            </span>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="p-4 schemaProperties-wrapper" *ngIf="idField">
    <odp-id-property [form]="form" [edit]="edit" [type]='type'></odp-id-property>
  </div>
</div>