@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.delete-modal-body {

    .info-msg {
        min-height: 50px;
        max-height: 120px;
    }

    word-break: break-word;
}