<ng-template #deleteModalTemplate>
  <div class="delete-modal-body modal-body p-4 d-flex flex-column align-items-center ignore-outside">
    <div class="d-flex align-items-center justify-content-between mb-3 w-100">
      <div class="d-flex align-items-center">
        <!-- <span class="icon-wrapper delete rounded-circle d-flex align-items-center justify-content-center mr-2">
          <ng-content></ng-content>
        </span> -->
        <span class="font-weight-bold mb-1">{{data?.title}}</span>
      </div>
      <span class="fa fa-times text-muted hover ignore-click" (click)="deleteModalTemplateRef.close(false)"></span>
    </div>
    <div class="info d-flex flex-column align-self-center justify-content-center w-100">
      <div class="d-flex align-items-center info-msg">
        <span class="text-secondary text-center" [innerHTML]="data?.message"></span>
      </div>
      <div class="d-flex flex-column align-items-end w-100 ">
        <button type="button" class="btn btn-delete btn-min-width ignore-click" id="deleteModalYes" (click)="$event.stopPropagation();deleteModalTemplateRef.close(true)">
          <span *ngIf="!data?.btnText" class="text">Delete</span>
          <span *ngIf="data?.btnText" class="text">{{data.btnText}}</span>
        </button>
      </div>
    </div>
  </div>
</ng-template>
