<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
          </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex flex-column position-relative page-padding bg-light-gray">
    <div class="options d-flex justify-content-between align-items-center w-100 pb-5">
        <div class="fw-600 font-22">Report</div>
        <div class="sub-heading">Showing {{loadedCount}} of {{totalCount}}</div>
    </div>
    <div class="user-list w-100 px-3 pt-3">
        <div class="grid-container">
            <ag-grid-angular #agGrid *ngIf="dataSource" class="card-container ag-theme-balham ag-grid-container"
                [gridOptions]="gridOptions" [columnDefs]="columnDefs" [datasource]="dataSource" rowModelType="infinite"
                [rowHeight]="32" cacheBlockSize="30">
            </ag-grid-angular>
        </div>
    </div>
</div>