<div class="d-flex flex-column groups-content w-100 p-4">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="w-100">
      <h5 class="font-weight-bold">Function</h5>
    </div>
    <!-- <select name="permissions" id="permissions" class="all-permissions-selector custom-select"
      [ngModel]="globalPermission" (ngModelChange)="changeAllPermissions($event)">
      <option value="custom">Custom</option>
      <option value="blocked">None</option>
      <option value="view">View</option>
      <option value="manage">Manage</option>
    </select> -->
  </div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Access Level</div>
          <span class="text-muted font-13">
            Permission to manage Function.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryBlocked" name="library" size="20" [checked]="permissionType=='blocked'"
            (checkedChange)="commonPermission={id:'PNF',type:''}"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryView" name="library" size="20" [checked]="permissionType=='view'"
            (checkedChange)="commonPermission={id:'PVF',type:''}"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryManage" name="library" size="20" [checked]="permissionType=='manage'"
            (checkedChange)="commonPermission={id:'PMF',type:''}"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Deploy</div>
          <span class="text-muted font-13">
            Permission to deploy Function.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryBlocked" name="library" size="20" [checked]="powerPermissionDeploy=='blocked'"
            (checkedChange)="commonPermission={id:'PNFPD',type:'PD'}"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryManage" name="library" size="20" [checked]="powerPermissionDeploy=='manage'"
            (checkedChange)="commonPermission={id:'PMFPD',type:'PD'}"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Start/Stop</div>
          <span class="text-muted font-13">
            Permission to start and stop Function.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryBlocked" name="library" size="20" [checked]="powerPermissionsStartStop=='blocked'"
            (checkedChange)="commonPermission={id:'PNFPS',type:'PS'}"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="libraryManage" name="library" size="20" [checked]="powerPermissionsStartStop=='manage'"
            (checkedChange)="commonPermission={id:'PMFPS',type:'PS'}"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
  </div>
</div>