<div class="d-flex align-items-center text-dark">
    <span class="dsi dsi-sm {{getClass()}} d-flex align-items-center justify-content-center text-accent"
        [ngClass]="{'field-type-badge': !onMapper}"></span>
    <span *ngIf="label" class="text-dark ml-2">{{getLabel()}}</span>
    <!-- <ng-container *ngIf="collectionType">
        <span class="text-dark mx-2">of</span>
        <span
            class="dsi dsi-sm rounded-circle {{collectionClass}} rounded-circle d-flex align-items-center justify-content-center"
            [ngClass]="{'field-type-badge': !onMapper}" [ngStyle]="{'background-color':collectionStyle}"></span>
        <span *ngIf="label" class="text-dark ml-4">{{collectionType}}</span>
    </ng-container> -->
</div>