@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1072;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.6);
  opacity: 0;
}

.app-thumbnail {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 6px;
  overflow: hidden;
  transition: 0.25s;
  border: 3px solid transparent;
  outline: 0;

  img {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
  }
}

.app-switcher-window {
  //transform: scale(0);
  min-width: 260px;
  max-width: 260px;
  min-height: 376px;
  max-height: 376px;
  z-index: 10;
  top: 48px;
  right: 66px;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px rgba($color: #000, $alpha: 0.4);
  border-radius: 8px;

  .active-app {
    top: -40px;
    left: 27%;
    width: 220px;

    img {
      min-width: 20px;
      max-width: 20px;
      min-height: 20px;
      max-height: 20px;
      border-radius: 6px;
    }
  }

  .search-label {
    min-width: 100px;
    max-width: 100px;
  }

  .search-box {
    height: 28px;
    font-size: 12px;
  }

  .d-flex.flex-wrap {
    overflow-y: auto;
  }

  .app-card {
    &.active {
      .app-thumbnail {
        border-color: rgba($dark, 0.5);
      }
    }

    &:hover {
      background: #f7f7f7;
    }

    .app-name {
      max-width: 160px;
      word-break: break-all;
    }
  }

  .app-card:last-child {
    margin-bottom: 1.5rem;
  }

  // &::before {
  //   content: "";
  //   display: inline-block;
  //   height: 46px;
  //   width: 236px;
  //   background-color: $white;
  //   position: absolute;
  //   top: -46px;
  //   right: 0;
  //   border-top-left-radius: 4px;
  //   border-top-right-radius: 4px;
  // }
}

::-webkit-input-placeholder {
  text-align: center;
  color: $gray-500;
}

:-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
  color: $gray-500;
}

::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
  color: $gray-500;
}

:-ms-input-placeholder {
  text-align: center;
  color: $gray-500;
}

.srch-pos {
  left: 24px;
  pointer-events: none;
}