@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1072;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.6);
  opacity: 0;
}
.app-switcher-window {
  //transform: scale(0);
  min-width: 382px;
  max-width: 382px;
  min-height: 465px;
  max-height: 465px;
  position: fixed;
  z-index: 1073;
  bottom: calc(100vh - 525px);
  right: 65px;
  background: #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-sizing: border-box;
  box-shadow: 4px 4px 10px rgba($color: #000, $alpha: 0.4);
  .active-app {
    top: -40px;
    left: 35%;
    width: 217px;
  }
  .search-label {
    min-width: 100px;
    max-width: 100px;
  }
  .search-box {
    min-width: 220px;
    max-width: 220px;
    border-radius: 50px;
    padding-left: 35px;
  }
  .d-flex.flex-wrap {
    overflow-y: auto;
  }
  .app-card {
    &.active {
      .app-thumbnail {
        border-color: rgba($primary, 0.5);
      }
    }
    &:hover {
      .app-thumbnail {
        box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.2);
      }
    }
    .app-thumbnail {
      min-width: 48px;
      max-width: 48px;
      min-height: 48px;
      max-height: 48px;
      border-radius: 8px;
      overflow: hidden;
      transition: 0.25s;
      border: 3px solid transparent;
      outline: 0;
      img {
        min-width: 50px;
        max-width: 50px;
        min-height: 50px;
        max-height: 50px;
      }
    }
    .app-name {
        max-width: 50px;
        word-break: break-all;
    }
  }
  &::before {
    content: '';
    display: inline-block;
    height: 46px;
    width: 236px;
    background-color: $white;
    position: absolute;
    top: -46px;
    right: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
}

::-webkit-input-placeholder {
  text-align: center;
  color: $gray-500;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;
  color: $gray-500;
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;
  color: $gray-500;
}

:-ms-input-placeholder {
  text-align: center;
  color: $gray-500;
}

.srch-pos {
  left: 38%;
  pointer-events: none;
}
