<div class="">
    <div class="field-wrapper d-flex border rounded w-100 negative-margin">
        <input *ngIf="!parentArray" type="text" class="key-holder flex-fill px-2" [(ngModel)]="field.key"
            (ngModelChange)="onKeyChange($event)" (keyup.enter)="addField()" odpAutoFocus>
        <input *ngIf="parentArray" type="text" class="key-holder flex-fill px-2" [ngModel]="'Index '+index"
            disabled="true">
        <select id="" class="type-holder px-2" [(ngModel)]="field.type" (ngModelChange)="onTypeChange($event)">
            <option value="string">String</option>
            <option value="number">Number</option>
            <option value="boolean">Boolean</option>
            <option value="object">Object</option>
            <option value="array">Array</option>
        </select>
        <div>
            <!-- <input *ngIf="field.type!='boolean'" [type]="getInputType()" class="value-holder px-2"
                [(ngModel)]="field.value" [disabled]="field.type=='object' || field.type=='array'"
                (ngModelChange)="onValueChange($event)" (paste)="onPaste($event)" (keyup.enter)="addField()"
                (dblclick)="toggleDropdown()" odpClickOutside (outside)="openDropdown = false" odpEditableBadge> -->

            <odp-styled-text (onDblClick)="openDropdown = !openDropdown"></odp-styled-text>
            <odp-multi-dropdown [isOpen]="openDropdown" [data]="rcData"
                (onSelect)="onSelect($event)"></odp-multi-dropdown>
        </div>
        <div *ngIf="field.type=='boolean'" class="value-holder px-2 d-flex align-items-center">
            <input #checkbox [type]="getInputType()" class="" [checked]="field.value"
                (change)="onValueChange(checkbox.checked)">
            <span class="text ml-2">{{checkbox.checked}}</span>
        </div>
        <div class="d-flex align-items-center justify-content-end action-holder bg-white">
            <span class="d-flex align-items-center justify-content-center icon hover dsi dsi-minus-circle"
                (click)="removeField()"></span>
            <span class="d-flex align-items-center justify-content-center icon hover dsi dsi-plus-circle"
                (click)="addField()"></span>
        </div>
    </div>
    <div class="object-array">
        <odp-payload-object *ngIf="field.type=='object'" [data]="data" (dataChange)="onDataChange($event)"
            [addChild]="triggerAddChild"></odp-payload-object>
        <odp-payload-array *ngIf="field.type=='array'" [data]="data" (dataChange)="onDataChange($event)"
            [addChild]="triggerAddChild"></odp-payload-array>
    </div>

</div>