@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.icon-set {
  border-radius: 100%;
  background: $light;
  .icon-holder {
    min-width: 24px;
    min-height: 24px;
    bottom: 0;
    right: 0;
    border: 2px solid #fff;
    border-radius: 100%;
    font-size: 10px;
  }
}
