@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

@keyframes pending {
  from {
    background: rgba($warning, 1);
  }

  to {
    background: darken($warning, 20);
  }
}

.pending {
  background: $warning;
  color: $black;
  animation: pending 0.5s alternate infinite;
}

.options {
  .btn {
    &:hover {
      color: $secondary !important;
    }
  }
}