<ng-container *ngIf="value">
    <span *ngIf="field == 'name'" class="d-flex align-items-center">
        <a [routerLink]="data?._id" class="text-accent font-weight-bold ml-3">{{value}}</a>
    </span>
    <code *ngIf="field == 'url'">{{value}}</code>
    <span *ngIf="field == 'status'">
        <span *ngIf="data?.status=='RUNNING'" class="badge badge-success">{{data?.status}}</span>
        <span *ngIf="data?.status=='DISABLED'" class="badge badge-dark">{{data?.status}}</span>
        <span *ngIf="data?.status!=='RUNNING' &&  data?.status!=='DISABLED'" class="badge badge-danger">STOPPED</span>
    </span>
    <span *ngIf="field == 'lastInvokedAt'">{{value | dateFormat:'YYYY MMM DD, HH:mm:ss, z':'Etc/Zulu'}}</span>
</ng-container>
<ng-container *ngIf="!value && field != '_options'">
    <span class="text-muted">N.A.</span>
</ng-container>
<span *ngIf="field == '_options'">
    <a *ngIf="data?.status === 'STOPPED'" href="#" class="text-accent mr-2" (click)="$event.preventDefault();">
        Start
    </a>
    <a *ngIf="data?.status === 'RUNNING'" href="#" class="text-accent mr-2" (click)="$event.preventDefault();">
        Stop
    </a>
    <a href="#" class="text-accent mr-2" (click)="$event.preventDefault();">
        View
    </a>
    <a href="#" class="text-accent mr-2" (click)="$event.preventDefault();">
        Edit
    </a>
    <a href="#" class="text-accent mr-2" (click)="$event.preventDefault();">
        Delete
    </a>
</span>