<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<ng-container *ngIf="value">
    <span *ngIf="field == 'name'" class="d-flex align-items-center">
        <!-- <a [routerLink]="data?._id" class="text-dark font-weight-bold ml-3">{{value}}</a> -->
        <span class="text-dark font-weight-bold ml-3">{{value}}</span>
        <span *ngIf="data?.draftVersion" class="badge badge-dark ml-2" ngbTooltip="Draft Version"
            container="body">v{{data.draftVersion}}</span>
    </span>
    <div *ngIf="field == 'url'" class="url-block d-flex position-relative">
        <span class="text-dark">https://{{fqdn}}{{value}}</span>
        <button type="button" class="btn btn-link text-accent bg-white btn-sm position-absolute" (click)="copyUrl()">
            <span class="dsi dsi-copy"></span>
        </button>
    </div>
    <code *ngIf="field == 'description'">{{value}}</code>
    <span *ngIf="field == 'status'">
        <span [ngClass]="getStatusClass" class="badge">{{data?.status}}</span>
        <span [ngClass]="getStatusClass" class="badge ml-1">v{{data?.version || 1}}</span>
    </span>
    <span *ngIf="field == 'lastInvoked'">{{value | dateFormat:'YYYY MMM DD, HH:mm:ss'}}</span>
</ng-container>
<ng-container *ngIf="!value && field != '_options'">
    <span class="text-muted">N.A.</span>
</ng-container>
<div *ngIf="field == '_options' && data?._id" class="options float-right">
    <button type="button" *ngIf="data?.status === 'Undeployed' && hasStartStopPermission"
        class="btn btn-link text-muted p-1 mr-2" (click)="$event.preventDefault();startFaas(data)">
        <span class="fa fa-start"></span>
    </button>
    <button type="button" *ngIf="data?.status === 'Active' && hasStartStopPermission"
        class="btn btn-link text-muted p-1 mr-2" (click)="$event.preventDefault();stopFaas(data)">
        <span class="fa fa-stop"></span>
    </button>
    <button type="button" class="btn btn-link text-muted p-1 mr-2" (click)="$event.preventDefault();redirectToManage()">
        <span class="dsi dsi-view"></span>
    </button>
    <button type="button" class="btn btn-link text-muted p-1 mr-2" *ngIf="hasManagePermission"
        (click)="$event.preventDefault();redirectToManage(true)">
        <span class="dsi dsi-edit"></span>
    </button>
    <button type="button" class="btn btn-link text-muted p-1 mr-2" *ngIf="hasManagePermission"
        (click)="$event.preventDefault();deleteFaas()">
        <span class="dsi dsi-trash"></span>
    </button>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)">
    <odp-function-icon [size]="18" color="DD5151" class="mt-1"></odp-function-icon>
</odp-delete-modal>