@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.type-dropdown {
  top: 2rem;
  z-index: 2;
  box-shadow: 0 0 15px $gray-400;
}

.type-div {
  max-width: 250px;
  border-top: 0 !important;
  .type-width {
    width: 40px;
    height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    text-decoration: none;
  }
  .type-width:hover {
    background: $light;
    border-radius: 4px;
  }
}
