@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.type-dropdown {
  top: 36px;
  z-index: 2;
  box-shadow: 0 0 15px $gray-400;
}

.type-div-item {
  &:hover {
    background: $light;
  }

  &.disabled {
    opacity: 0.4;
    color: $secondary;
  }
}

.type-div {
  width: 300px;
  border-top: 0 !important;

  .type-width {
    width: 24px;
    height: 24px;
    font-size: 1.125rem;
    display: inline-block;
    text-decoration: none;
  }

  .type-width,
  .background-hover {
    &:hover {
      background: $light;
      border-radius: 4px;
    }
  }

}