<div class="d-flex flex-column position-absolute type-dropdown type-div bg-white border rounded" odpClickOutside
  (outside)="close()" [ignore]="['.ignore-click']">
  <div *ngIf="!selectedType" class="p-2 d-flex flex-column">
    <div class="type-div-item hover rounded p-2 d-flex align-items-center position-relative ignore-outside"
      *ngFor="let type of types; let i = index;" [ngClass]="{'disbaled':!selectAllowed(i)}"
      (click)="selectAllowed(i)?checkSubType(type):selectedType=null">
      <div
        class="dsi dsi-sm {{type.class}} rounded-circle mr-2 text-dark type-width d-flex justify-content-center align-items-center ignore-outside"
        [ngStyle]="{'background-color':type.bgColor}">
      </div>
      <span class="ignore-outside">{{type.label}}</span>
    </div>
  </div>
  <div *ngIf="selectedType" class="p-2 d-flex flex-column">
    <div class="d-flex align-items-center justify-content-start p-2 mb-2">
      <span class="dsi dsi-arrow-left mr-2 hover ignore-outside" (click)="selectedType=null"></span>
      <span
        class="dsi dsi-sm {{selectedType.class}} rounded-circle mr-2 text-dark type-width d-flex justify-content-center align-items-center ignore-outside"
        [ngStyle]="{'background-color':selectedType.bgColor}">
      </span>
      <span class="ignore-outside">{{selectedType.label}}</span>
    </div>
    <div *ngIf="type == 'String'" class="type-div">
      <div class="d-flex flex-column">
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'');">
          <label class="radio-container">Text
            <input type="radio" class="mr-2" name="Text" id="Text" value="" [checked]="detailedType == ''" id="_text">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'long');">
          <label class="radio-container">Long Text
            <input type="radio" class="mr-2" name="Text" value="long" [checked]="detailedType == 'long'" id="_longtext">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'rich');">
          <label class="radio-container">Rich Text
            <input type="radio" class="mr-2" name="Text" id="rich" value="rich" [checked]="detailedType == 'rich'"
              id="_richText">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'email');">
          <label class="radio-container">Email
            <input type="radio" class="mr-2" name="Text" id="email" value="email" [checked]="detailedType == 'email'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <!-- <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'password');">
          <label class="radio-container">Secure Text 
            <input type="radio" class="mr-2" name="Text" id="password" value="password"
              [checked]="detailedType == 'password'">
            <span class="radio-checkmark"></span>
          </label>
        </div> -->
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'enum');">
          <label class="radio-container">List of values
            <input type="radio" class="mr-2" name="Text" id="enumvl" value="enum" [checked]="detailedType == 'enum'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="type == 'Number'" class="type-div">
      <div class="d-flex flex-column">
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'');">
          <label class="radio-container">Number
            <input type="radio" class="mr-2" name="Num" id="Num" value="" [checked]="detailedType === ''">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'enum');">
          <label class="radio-container">List of values
            <input type="radio" class="mr-2" name="Num" id="enum" value="enum" [checked]="detailedType === 'enum'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'currency');">
          <label class="radio-container">Currency
            <input type="radio" class="mr-2" name="Num" id="currency" value="currency"
              [checked]="detailedType === 'currency'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="type == 'Date'" class="type-div">
      <div class="d-flex flex-column">
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'date');">
          <label class="radio-container" id="dateType">Date
            <input type="radio" class="mr-2" name="date" id="date" value="date" [checked]="dateType === 'date'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'datetime-local');">
          <label class="radio-container" id="dateTimeType">Date &amp; Time
            <input type="radio" class="mr-2" name="date" id="dateTime" value="datetime-local"
              [checked]="dateType === 'datetime-local'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="type == 'Geojson'" class="type-div">
      <div class="d-flex flex-column">
        <div class="d-flex background-hover pl-2 pt-2" (click)="switchType(selectedType,'point');">
          <label class="radio-container">Point on a map
            <input type="radio" class="mr-2" name="map" id="point" value="point" [checked]="geoType === 'point'">
            <span class="radio-checkmark"></span>
          </label>
        </div>
        <!-- <div class="d-flex background-hover pl-2 pt-2" for="area" (click)="hideAllSubDivs(propIndex);">
          <label class="radio-container">Area using a polygon marker
            <input type="radio" class="mr-2" name="map" id="area" value="area"
              [checked]="geoType === 'area'">
            <span class="radio-checkmark"></span>
          </label>
        </div> -->
      </div>
    </div>
  </div>
</div>


<ng-template #typeChangeModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-start">
      <span class="font-20 fw-600">Change data type?</span>
    </div>
    <p class="text-dark text-center my-5">This may lead to data inconsistency. Are you sure you want to continue?</p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-dark mr-3"
        (click)="typeChangeModalTemplateRef.close(false)">No</button>
      <button type="button" class="btn btn-min-width btn-dark"
        (click)="typeChangeModalTemplateRef.close(true)">Yes</button>
    </div>
  </div>
</ng-template>