<div class="actions" [ngStyle]="showAction()">
    <button *ngIf="isStartStop()" id='stop{{params.rowIndex}}' type="button" class="btn btn-link text-dark fw-600 hover"
        (click)="toggleServiceStatus()">
        <span *ngIf="params.value == 'Stopped'">Start</span>
        <span *ngIf="params.value == 'Active'">Stop</span>
    </button>
    <button *ngIf="isDeploy()" id='deploy{{params.rowIndex}}' type="button" class="btn btn-link text-dark fw-600"
        (click)="deployService()">Deploy</button>
    <i class="fa fas fa-ellipsis-v ml-2" (click)="selectContextMenu($event)"></i>
</div>