<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="apiCallsPending">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="flow-manage-page d-flex flex-column w-100 bg-light-gray">
    <div class="p-3">
        <odp-basic-info hideLogo="true" [(name)]="flowData.name" [(description)]="flowData.description" [edit]="edit">
            <div class="d-flex justify-content-end align-items-center">
                <button (click)="cancel()" type="button"
                    class="edit-button btn btn-min-width btn-white border d-flex align-items-center justify-content-center"
                    id="cancelNanoServiceBtn">
                    <span class="text">Cancel</span>
                </button>
                <button *ngIf="edit.id && !edit.status && hasManagePermission" (click)="enableEditing()" type="button"
                    class="edit-button btn btn-min-width btn-primary ml-3 d-flex align-items-center justify-content-center"
                    id="editNanoServiceBtn">
                    <span *ngIf="!flowData?.draftVersion" class="text">Edit</span>
                    <span *ngIf="flowData?.draftVersion" class="text">Edit Draft</span>
                </button>
                <div class="btn-group mx-3" *ngIf="edit.status">
                    <button
                        class="btn btn-outline-primary btn-min-width d-flex align-items-center justify-content-center"
                        (click)="saveDummyCode();" type="button">Save</button>
                    <div *ngIf="flowData?.draftVersion || flowData.status=='Draft'" ngbDropdown class="btn-group">
                        <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle
                            type="button"></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="flowData?.draftVersion || flowData.status=='Draft'" ngbDropdownItem
                                (click)="discardDraft()" type="button">
                                Discard Draft
                            </button>
                        </div>
                    </div>
                </div>
                <button *ngIf="edit.status && hasDeployPermission"
                    class="btn btn-primary btn-min-width d-flex align-items-center justify-content-center"
                    [disabled]="!isValidSchema" (click)="save(true);edit.status=false" type="button">
                    Save &amp; Deploy
                </button>
            </div>
        </odp-basic-info>
    </div>
    <div class="border rounded bg-white">
        <div class="url-info d-flex align-items-center p-3 border-bottom">
            <span class="label text-dark font-weight-bold mr-2">API Endpoint&nbsp;:</span>
            <span class="url text-accent">{{flowData?.inputNode?.options?.path || 'N.A.'}}</span>
        </div>
        <div class="flow-designer d-flex">
            <div class="available-nodes border-right h-100">
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-file mr-2"></span>
                        <span class="font-13 fw-400">File Agent</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('FILE')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-invoke-api mr-2"></span>
                        <span class="font-13 fw-400">Invoke API</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('API')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-connector mr-2"></span>
                        <span class="font-13 fw-400">Connector</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('CONNECTOR')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-data-service mr-2"></span>
                        <span class="font-13 fw-400">Data Service</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('DATASERVICE')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-function mr-2"></span>
                        <span class="font-13 fw-400">Function</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('FUNCTION')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-mapping mr-2"></span>
                        <span class="font-13 fw-400">Mapping</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('MAPPING')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-object mr-2 text-muted"></span>
                        <span class="font-13 fw-400">Code Block</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('CODEBLOCK')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-expand mr-2"></span>
                        <span class="font-13 fw-400">Change Root</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('UNWIND')"></span>
                </div>
                <div class="node-item border-bottom py-2 d-flex align-items-center justify-content-between pr-2">
                    <div class="d-flex align-items-center">
                        <span class="node-icon font-16 fw-400 dsi dsi-response mr-2"></span>
                        <span class="font-13 fw-400">Response</span>
                    </div>
                    <span class="font-16 fw-400 dsi dsi-plus-circle text-primary hover"
                        (click)="addNodeToCanvas('RESPONSE')"></span>
                </div>
            </div>
            <div class="flow-designer-svg-wrapper">
                <svg class="flow-designer-svg bg-light" odpViewBox (contextmenu)="onRightClick($event)">
                    <g *ngFor="let node of nodeList;let i=index">
                        <g odp-flow-node [currNode]="node" [index]="i" [nodeList]="nodeList"></g>
                    </g>
                </svg>
            </div>

            <div [ngClass]="{'show':showNodeProperties || showPathProperties}"
                class="node-properties border-left border-top position-fixed bg-white">
                <odp-node-properties *ngIf="showNodeProperties" [edit]="edit" [flowData]="flowData"
                    [nodeList]="nodeList" [currNode]="selectedNode.currNode" (close)="showNodeProperties=false"
                    (changesDone)="changesDone = true">
                </odp-node-properties>
                <odp-path-properties *ngIf="showPathProperties" [edit]="edit" [flowData]="flowData"
                    [nodeList]="nodeList" [path]="selectedPath" (close)="showPathProperties=false"
                    (changesDone)="changesDone = true">
                </odp-path-properties>
            </div>
        </div>
    </div>
</div>


<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteNodeModal($event)"></odp-delete-modal>

<!-- <ng-template #deleteModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between w-100">
            <span class="font-20 fw-600">{{deleteModal.title}}</span>
            <span class="fa fa-times text-secondary hover" (click)="deleteModalTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center my-5">{{deleteModal.message}}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-danger" (click)="deleteModalTemplateRef.close(true)"
                id="sbDeleteModalYes">Yes</button>
        </div>
    </div>
</ng-template> -->

<ng-template #pageChangeModalTemplate>
    <div class="modal-body p-4">
        <div class="circle bg-dark">
            <span class="fa fa-exclamation-triangle text-white"></span>
        </div>
        <p class="text-dark font-weight-bold text-center">Unsaved changes</p>
        <p class="text-secondary text-center">You have unsaved changes, are you sure you want to leave?</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-outline-primary mx-3"
                (click)="pageChangeModalTemplateRef.close(false)">No</button>
            <button type="button" class="btn btn-min-width btn-primary mx-3"
                (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
        </div>
    </div>
</ng-template>


<div *ngIf="contextMenuStyle" class="available-nodes-dropdown bg-white position-fixed border rounded"
    [ngStyle]="contextMenuStyle" odpClickOutside (outside)="contextMenuStyle=null">
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover" (click)="addNode($event,'FILE')">
        <span class="node-icon font-16 fw-400 dsi dsi-file mr-2"></span>
        <span class="font-13 fw-400">File Agent</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover" (click)="addNode($event,'API')">
        <span class="node-icon font-16 fw-400 dsi dsi-invoke-api mr-2"></span>
        <span class="font-13 fw-400">Invoke API</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover"
        (click)="addNode($event,'CONNECTOR')">
        <span class="node-icon font-16 fw-400 dsi dsi-connector mr-2"></span>
        <span class="font-13 fw-400">Connector</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover"
        (click)="addNode($event,'DATASERVICE')">
        <span class="node-icon font-16 fw-400 dsi dsi-data-service mr-2"></span>
        <span class="font-13 fw-400">Data Service</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover" (click)="addNode($event,'FUNCTION')">
        <span class="node-icon font-16 fw-400 dsi dsi-function mr-2"></span>
        <span class="font-13 fw-400">Function</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover" (click)="addNode($event,'MAPPING')">
        <span class="node-icon font-16 fw-400 dsi dsi-mapping mr-2"></span>
        <span class="font-13 fw-400">Mapping</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover"
        (click)="addNode($event,'CODEBLOCK')">
        <span class="node-icon font-16 fw-400 dsi dsi-object mr-2 text-muted"></span>
        <span class="font-13 fw-400">Code Block</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover" (click)="addNode($event,'UNWIND')">
        <span class="node-icon font-16 fw-400 dsi dsi-expand mr-2"></span>
        <span class="font-13 fw-400">Change Root</span>
    </div>
    <div class="node-item border-bottom px-3 py-2 d-flex align-items-center hover" (click)="addNode($event,'RESPONSE')">
        <span class="node-icon font-16 fw-400 dsi dsi-response mr-2"></span>
        <span class="font-13 fw-400">Response</span>
    </div>
</div>