<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="apiCallsPending">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="flow-manage-page d-flex flex-column w-100 bg-light-gray page-padding">
    <div class="mb-3">
        <odp-basic-info hideLogo="true" [(name)]="flowData.name" [(description)]="flowData.description" [edit]="edit">
            <div class="d-flex justify-content-end align-items-center">
                <button (click)="cancel()" type="button"
                    class="edit-button btn btn-min-width btn-white border d-flex align-items-center justify-content-center"
                    id="cancelNanoServiceBtn">
                    <span class="text">Cancel</span>
                </button>
                <button *ngIf="edit.id && !edit.status && hasManagePermission" (click)="enableEditing()" type="button"
                    class="edit-button btn btn-min-width btn-primary ml-3 d-flex align-items-center justify-content-center"
                    id="editNanoServiceBtn">
                    <span *ngIf="!flowData?.draftVersion" class="text">Edit</span>
                    <span *ngIf="flowData?.draftVersion" class="text">Edit Draft</span>
                </button>
                <div class="btn-group mx-3" *ngIf="edit.status">
                    <button
                        class="btn btn-outline-primary btn-min-width d-flex align-items-center justify-content-center"
                        (click)="saveDummyCode();" type="button">Save</button>
                    <div *ngIf="flowData?.draftVersion || flowData.status=='Draft'" ngbDropdown class="btn-group">
                        <button class="btn btn-outline-primary dropdown-toggle-split" ngbDropdownToggle
                            type="button"></button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                            <button *ngIf="flowData?.draftVersion || flowData.status=='Draft'" ngbDropdownItem
                                (click)="discardDraft()" type="button">
                                Discard Draft
                            </button>
                        </div>
                    </div>
                </div>
                <button *ngIf="edit.status && hasDeployPermission"
                    class="btn btn-primary btn-min-width d-flex align-items-center justify-content-center"
                    [disabled]="!isValidSchema" (click)="save(true);edit.status=false" type="button">
                    Save &amp; Deploy
                </button>
            </div>
        </odp-basic-info>
    </div>
    <div class="border rounded bg-white">
        <div class="url-info d-flex align-items-center p-3 border-bottom">
            <span class="label text-dark font-weight-bold mr-2">API Endpoint&nbsp;:</span>
            <span class="url text-accent">{{flowData?.inputNode?.options?.path || 'N.A.'}}</span>
        </div>
        <div class="flow-designer p-4">
            <div class="flow-designer-canvas" *ngIf="flowData?.inputNode" odp-flow-node [currNode]="flowData.inputNode" [(nodeList)]="nodeList"
                (nodeListChange)="changesDone = true">
            </div>
            <div [ngClass]="{'show':showNodeProperties}" class="node-properties border-left position-fixed bg-white">
                <odp-node-properties *ngIf="showNodeProperties" [nodeList]="nodeList" [currNode]="selectedNode.currNode"
                    [prevNode]="selectedNode.prevNode" (close)="showNodeProperties=false"
                    (changesDone)="changesDone = true">
                </odp-node-properties>
            </div>
        </div>
    </div>
</div>


<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteNodeModal($event)"></odp-delete-modal>

<!-- <ng-template #deleteModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between w-100">
            <span class="font-20 fw-600">{{deleteModal.title}}</span>
            <span class="fa fa-times text-secondary hover" (click)="deleteModalTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center my-5">{{deleteModal.message}}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-danger" (click)="deleteModalTemplateRef.close(true)"
                id="sbDeleteModalYes">Yes</button>
        </div>
    </div>
</ng-template> -->

<ng-template #pageChangeModalTemplate>
    <div class="modal-body p-4">
        <div class="circle bg-dark">
            <span class="fa fa-exclamation-triangle text-white"></span>
        </div>
        <p class="text-dark font-weight-bold text-center">Unsaved changes</p>
        <p class="text-secondary text-center">You have unsaved changes, are you sure you want to leave?</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-outline-primary mx-3"
                (click)="pageChangeModalTemplateRef.close(false)">No</button>
            <button type="button" class="btn btn-min-width btn-primary mx-3"
                (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
        </div>
    </div>
</ng-template>