.audit-object-log{
    height: calc(100vh - 244px);
    overflow: auto;
}
.table-wrapper{
    min-height: calc(100vh - 158px);
    height: calc(100vh - 158px);
    max-height: calc(100vh - 158px);
     overflow: auto;
}
.text-gray-medium {
    color: #747e8d!important;
}
.grid-container{
    overflow: auto;
    height: calc(100vh - 244px);
  }