<div class="">
    <button type="button" class="btn btn-light rounded-0 w-100" (click)="configureWindow=!configureWindow">
        <span *ngIf="!data">Set Value</span>
        <span *ngIf="data">{{data}}</span>
    </button>
</div>

<div [ngClass]="{'show':configureWindow}" class="configure-window border-left position-fixed bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <span class="fw-600 font-20">Configure Data</span>
        <span class="dsi dsi-close hover" (click)="cancel()"></span>
    </div>
    <div *ngIf="configureWindow" class="d-flex align-items-start">
        <div class="content-creator mr-3 w-100">
            <div class="methods-list-wrapper">
                <div class="mb-3">
                    <span class="text-muted form-text mt-2">Available Methods</span>
                </div>
                <div class="methods-list rounded border mb-3">
                    <div class="list-group list-group-flush">
                        <div *ngFor="let item of availableMethods"
                            class="list-group-item font-12 d-flex align-items-center justify-content-start">
                            <span class="dsi dsi-plus-circle hover text-dark mr-2" (click)="placeMethod(item)"></span>
                            <div class="d-flex align-items-center">
                                <span class="name text-accent fw-500">{{item.name}}</span>(
                                <ng-container *ngFor="let p of item.params;let lp=last">
                                    <span class="text-success" *ngIf="p.type == 'String'">"{{p.name}}"</span>
                                    <span class="text-warning" *ngIf="p.type == 'Number'">{{p.name}}</span>
                                    <span class="text-info" *ngIf="p.type == 'Boolean'">{{p.name}}</span>
                                    <span class="text-grey" *ngIf="p.type == 'Object'">{{'{ '+p.name+' }'}}</span>
                                    <span class="text-grey" *ngIf="p.type == 'Array'">{{'[ '+p.name+' ]'}}</span>
                                    <span *ngIf="!lp">,&nbsp;</span>
                                </ng-container>
                                )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <textarea class="input-height form-control" [disabled]="disabled" cols="30" rows="15" [(ngModel)]="tempData"
                odpAutoFocus></textarea>
            <button type="button" class="btn btn-primary mt-3 w-100" (click)="done()">Done</button>
        </div>
        <div class="suggestion-list-wrapper">
            <div class="mb-3">
                <odp-search-box [open]="true" [selectOnEnter]="true" (enteredText)="searchTerm=$event"
                    (reset)="searchTerm=null"></odp-search-box>
                <span class="text-muted form-text mt-2">Available Variables</span>
            </div>
            <div class="suggestion-list rounded border">
                <div class="list-group list-group-flush">
                    <div *ngFor="let item of variableSuggestions|commonFilter:'label':searchTerm"
                        class="list-group-item d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center">
                            <span class="dsi dsi-plus-circle hover text-accent mr-2" (click)="placeValue(item)"></span>
                            <span class="bg-light text-grey mr-1 font-10 p-1 rounded">{{item.nodeId}}</span>
                            <ng-container *ngFor="let l of getLableAsArray(item.label);let lf=first;let ll=last">
                                <span class="text" [ngClass]="{'text-success':lf}">{{l}}</span>
                                <span *ngIf="!ll">/</span>
                            </ng-container>
                        </div>

                    </div>
                    <div *ngIf="(variableSuggestions|commonFilter:'label':searchTerm).length==0"
                        class="list-group-item d-flex align-items-center justify-content-between">
                        <span class="text-muted">No Match Found</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>