@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.top-bar {
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
  .help {
    cursor: pointer;
    min-width: 56px;
    max-width: 56px;
    min-height: 20px;
    max-height: 20px;
    border-radius: 10px;
    margin-left: 8px;
    margin-right: 8px;
    background: #01a7c2;
    color: $white;
    font-size: 12px;
    .text {
      font-size: 11px;
      letter-spacing: 0.25px;
    }
  }
}
.basic-settings,
.access-settings,
.groups-settings {
  .label {
    min-width: 138px;
    max-width: 138px;
  }
}
.normal-heading {
  color: $heading-highlight;
  font-size: 13px;
}
.sub-heading {
  min-width: 460px;
}
