<div class="d-flex flex-column groups-content w-100 p-4">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="w-100">
      <h5 class="font-weight-bold">Insights</h5>
    </div>
    <!-- <select name="permissions" id="permissions" class="all-permissions-selector custom-select"
      [ngModel]="globalPermission" (ngModelChange)="changeAllPermissions($event)">
      <option value="custom">Custom</option>
      <option value="blocked">None</option>
      <option value="view">View</option>
      <option value="manage">Manage</option>
    </select> -->
  </div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Data Services</div>
          <span class="text-muted font-13">
            Permission to view Data Service Logs.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="insightDataServicesBlocked" name="insightDataServices" size="20"
            [checked]="dataserviceTabPermission=='blocked'" (checkedChange)="dataserviceTabPermission='PNISDS'">
          </odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="insightDataServicesView" name="insightDataServices" size="20"
            [checked]="dataserviceTabPermission=='view'" (checkedChange)="dataserviceTabPermission='PVISDS'">
          </odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Users</div>
          <span class="text-muted font-13">
            Permission to view Users Logs.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="insightUsersBlocked" name="insightUsers" size="20"
            [checked]="userTabPermission=='blocked'" (checkedChange)="userTabPermission='PNISU'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="insightUsersView" name="insightUsers" size="20" [checked]="userTabPermission=='view'"
            (checkedChange)="userTabPermission='PVISU'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Groups</div>
          <span class="text-muted font-13">
            Permission to view Groups Logs.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="insightGroupsBlocked" name="insightGroups" size="20"
            [checked]="groupTabPermission=='blocked'" (checkedChange)="groupTabPermission='PNISG'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="insightGroupsView" name="insightGroups" size="20" [checked]="groupTabPermission=='view'"
            (checkedChange)="groupTabPermission='PVISG'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end"></div>
      </div>
    </div>
  </div>
</div>