@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.meme {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  img {
    width: 40%;
  }

  h4 {
    color: #a3a3a3;
    font-size: 24px;
    line-height: 54px;
  }
}

.state-model-desc {
  max-width: 500px;
  min-width: 500px;
  max-height: 34px;
  min-height: 34px;
}

.create-state-model {
  #select-state-model {
    width: 30%;
    input {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
    ngb-typeahead-window {
      width: 100%;
      button {
        justify-content: space-between;
        display: flex;
        &:hover,
        &.active {
          .border-circle {
            border: 1px solid white;
          }
        }
      }
    }
  }

  .border-circle {
    width: 16px;
    height: 16px;
    line-height: 13px;
    text-align: center;
    border: 1px solid black;
    border-radius: 100%;
    margin-top: 1px;
  }

  #configureStateModel {
    background: #525252;
    border-radius: 0px 2px 2px 0px;
    color: #f9f9f9;
    border: none;
    font-size: 12px;
    outline: none;
  }

  #stateModelInfo {
    margin-top: 8px;
    span {
      background: #dedede;
      border-radius: 2px;
      padding: 1.1px 3.1px;
      font-size: 10px;
    }
  }
}

#add-state {
  border: 1px solid #ccc;
  padding: 4px 6px;
}

.new-state-section {
  min-height: 300px;
}

#new-state-input {
  border-right: none !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

#delete-state-model {
  font-size: 12px;
  text-decoration: underline;
  cursor: pointer;
  color: red;
}

.state-model-label {
  font-size: 0.77rem;
}

.mat-standard-chip {
  min-height: 24px !important;
  padding: 3px 6px 3px 9px !important;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 0.01em;
  background: #e1e1e1 !important;
  color: #4e4e4e !important;
  opacity: 1 !important;

  .mat-chip-remove {
    background: #555555 !important;
    border-radius: 50%;
    height: 13px;
    width: 13px;
    border: 1px solid #555555;
    opacity: 1 !important;
    color: #fff !important;
    text-align: center;
  }
}

.state-model-config {
  hr {
    border: 1px solid #bababa;
  }

  .state-name {
    max-width: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block !important;
  }

  input[type="checkbox"] {
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid #2d2d2d;
    margin-right: 7px;
    margin-bottom: 15px;
  }

  input[type="checkbox"] + span {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
  }

  input[type="checkbox"] ~ span.fa {
    color: #8c8c8c;
    font-size: 15px;
  }
}

.mat-form-field-flex {
  background-color: transparent !important;
  padding: 0px !important;
}

.mat-form-field {
  background-color: transparent !important;
  padding: 0 !important;

  &:hover {
    .mat-form-field-wrapper {
      .mat-form-field-underline {
        .mat-form-field-ripple {
          background-color: #bababa !important;
        }
      }
    }
  }

  .mat-form-field-wrapper {
    padding-bottom: 1rem !important;
    .mat-form-field-underline {
      .mat-form-field-ripple {
        background-color: #bababa !important;
      }
    }
  }

  &.mat-form-field-disabled {
    .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }
  }
}

.fs-16 {
  font-size: 16px;
}

.schema-free-message{
  min-height: 55vh;
}