<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex flex-column w-100 h-100 position-relative bg-light-gray">
    <div class="wrapper">
        <div class="w-100 position-relative px-4 py-5">
            <odp-basic-info hideLogo="true" [(name)]="node.name" [(description)]="node.description"
                [hideLogo]="true" [edit]="edit">
                <div class="d-flex align-items-end align-self-start">
                    <button *ngIf="hasPermission('PMPN') && edit.status" type="button"
                        class="btn btn-white border mr-3" (click)="deleteNode()">
                        <span class="dsi dsi-trash"></span>
                    </button>
                   
                    <button class="btn btn-white border btn-min-width mr-3" routerLink="../">
                        <span>Cancel</span>
                    </button>
                    <ng-container *ngIf="hasPermissionStartsWith('PMPN')">
                        <button *ngIf="!edit.status" class="btn btn-primary btn-min-width" (click)="edit.status=true"
                            [disabled]="node.name === 'Default DB Node' || node.name === 'Default File Node'">
                            <span>Edit</span>
                        </button>
                        <button *ngIf="edit.status" [disabled]="!node.name" class="btn btn-primary btn-min-width" (click)="saveNode()">
                            <span>Save</span>
                        </button>
                    </ng-container>
                </div>
            </odp-basic-info>
        </div>
        <div class="d-flex flex-column px-4 pb-4" >
            <div class="d-flex flex-column w-100 h-100 bg-white rounded border p-4" >
                <odp-user-node [edit]="edit" [options]="api" [dataStructure]="dataStructure" *ngIf="nodeType === 'USER'"></odp-user-node>

                <odp-event-node [edit]="edit" [nodeDetails]="node" *ngIf="nodeType === 'EVENT  && node.name'" (onChangeData)="onChangeData($event)"></odp-event-node>

              <odp-system-node [edit]="edit" [nodeDetails]="node" *ngIf="nodeType === 'SYSTEM' && node.name" (onChangeData)="onChangeData($event)"></odp-system-node>
            </div>
           
        </div>
    </div>

    <odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>

    <ng-template #pageChangeModalTemplate>
        <div class="modal-body p-4">
            <div class="circle bg-dark">
                <span class="fa fa-exclamation-triangle text-white"></span>
            </div>
            <p class="text-dark font-weight-bold text-center">Unsaved changes</p>
            <p class="text-secondary text-center">You have unsaved changes, are you sure you want to leave?</p>
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-min-width btn-outline-primary mx-3"
                    (click)="pageChangeModalTemplateRef.close(false)">No</button>
                <button type="button" class="btn btn-min-width btn-primary mx-3"
                    (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
            </div>
        </div>
    </ng-template>