@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.builder-body {
  min-height: calc(100vh - 204px);
  max-height: calc(100vh - 204px);
  overflow-y: auto;

  .hooks-dashboard {
    min-width: 250px;
  }

  .hooks-content {
    .preHook-desc {
      max-width: 500px;
      min-width: 500px;
      min-height: 34px;
    }

    .hook-table {
      .hHook-table__row {
        max-height: 56px;
        min-height: 56px;

        &:hover {
          background: $light;
        }
      }

      .hook-table__header {
        background: $light;
        color: $sub-headings;
        font-size: 12px;
        max-height: 38px;
        min-height: 38px;
      }

      .hook-name {
        min-width: 180px;
        max-width: 180px;
      }

      .hook-url {
        min-width: 550px;
        max-width: 550px;
      }

      .hook-header-name {
        min-width: 202px;

      }

      .hook-header-url {
        min-width: 562px;
        max-width: 562px;
      }


    }
  }
}

.field-error-symbol {
  top: 7px;
  left: 90%;
}

sup {
  top: auto !important;
}