<div class="d-flex flex-column w-100 h-100 builder-body">
    <div class="d-flex w-100 p-3">
        <div class="d-flex flex-column hooks-dashboard">
            <div class="mb-3"><strong>Data Hooks</strong></div>
            <div class="d-flex flex-column pl-2">
                <div class="d-flex mb-3 w-100" *ngIf="canView('DPR')">
                    <span class="hover w-50" (click)="selectHook('preHook')"
                        [ngClass]="{'text-accent': hooks.preHook, 'text-bold': hooks.preHook}">
                        Pre hooks
                    </span>
                    <span class="text-muted w-25 d-flex justify-content-end">
                        {{ preHook.length }}
                    </span>
                </div>
                <div class="d-flex mb-3 w-100" *ngIf="canView('DPO')">
                    <span class="hover w-50" (click)="selectHook('postHook')"
                        [ngClass]="{'text-accent': hooks.postHook, 'text-bold': hooks.postHook}" id="postHooks">Post
                        hooks</span>
                    <span class="text-muted w-25 d-flex justify-content-end">
                        {{ webHooks.length }}
                    </span>
                </div>
            </div>
            <div class="mb-3"><strong>Review Hooks</strong></div>
            <div class="d-flex flex-column pl-2">
                <div class="d-flex mb-3 w-100" *ngIf="canView('RSU')">
                    <span class="hover w-50" (click)="selectHook('submitHook')"
                        [ngClass]="{'text-accent': hooks.submitHook, 'text-bold': hooks.submitHook}">Submit</span>
                    <span class="text-muted d-flex w-25 justify-content-end">
                        {{ submitHooks.length }}
                    </span>
                </div>
                <div class="d-flex mb-3 w-100" *ngIf="canView('RAP')">
                    <span class="hover w-50" (click)="selectHook('approveHook')"
                        [ngClass]="{'text-accent': hooks.approveHook, 'text-bold': hooks.approveHook}">Approve</span>
                    <span class="text-muted d-flex w-25 justify-content-end">
                        {{ approveHooks.length }}
                    </span>
                </div>
                <div class="d-flex mb-3 w-100" *ngIf="canView('RRJ')">
                    <span class="hover w-50" (click)="selectHook('rejectHook')"
                        [ngClass]="{'text-accent': hooks.rejectHook, 'text-bold': hooks.rejectHook}">Reject</span>
                    <span class="text-muted d-flex w-25 justify-content-end">
                        {{ rejectHooks.length }}
                    </span>
                </div>
                <div class="d-flex mb-3 w-100" *ngIf="canView('RRW')">
                    <span class="hover w-50" (click)="selectHook('sendForReviewHook')"
                        [ngClass]="{'text-accent': hooks.sendForReviewHook, 'text-bold': hooks.sendForReviewHook}">
                        Rework
                    </span>
                    <span class="text-muted d-flex w-25 justify-content-end">
                        {{ sendForReviewHooks.length }}
                    </span>
                </div>
                <div class="d-flex mb-3 w-100" *ngIf="canView('RDI')">
                    <span class="hover w-50" (click)="selectHook('discardHook')"
                        [ngClass]="{'text-accent': hooks.discardHook, 'text-bold': hooks.discardHook}">Discard</span>
                    <span class="text-muted d-flex w-25 justify-content-end">
                        {{ discardHooks.length }}
                    </span>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.preHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Pre hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview pre hook
                    </button>
                    <button class=" btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="newHook()" id="addPrehook">+
                        Add pre hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a pre hook to externalize actions on data before it gets
                saved.
                Pre hooks are invoked when data is created and edited, to enrich and/or validate data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Pre hook Name</p>
                    <p class="hook-header-url ml-2">Pre hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hook-table__body d-flex pt-2 px-4" *ngIf="preHook.length === 0">
                    <span class="text-muted">No pre hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="preHook.length > 0">
                    <div [sortablejs]="preHook" [sortablejsOptions]="{ disabled: !edit.status }">
                        <div *ngFor="let hook of preHook; let hookIndex = index"
                            class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                            <span class="fa fa-bars text-muted hover mt-1"></span>
                            <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                                {{ hook.name }}</p>
                            <div class="ml-2 d-flex justify-content-start">
                                <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                    ngbTooltip="{{hook.url}}">
                                    {{ hook.url }}
                                </p>
                            </div>
                            <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                                <p class="text-accent hook-url hover text-truncate" placement="top"
                                    ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                    {{ hook.url }}</p>
                            </div>
                            <div *ngIf="edit.status">
                                <button type="button" class="btn btn-link"
                                    (click)="removeHook(hookIndex)">Delete</button>
                                <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.postHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Post hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview post hook
                    </button>
                    <button class="ml-auto btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('DPO')"
                        (click)="newHook()">+ Add
                        Post hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a post hook to perform an action when data is successfully
                updated. Post hooks are triggerred for all create, update and delete actions on data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Post hook Name</p>
                    <p class="hook-header-url">Post hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hHook-table__body d-flex pt-2 px-4" *ngIf="webHooks.length === 0">
                    <span class="text-muted">No post hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="webHooks.length > 0">
                    <div *ngFor="let hook of webHooks; let hookIndex = index"
                        class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                        <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                            {{ hook.name }}</p>
                        <div class="ml-2 d-flex justify-content-start">
                            <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                ngbTooltip="{{hook.url}}">
                                {{ hook.url }}
                            </p>
                        </div>
                        <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                            <p class="text-accent hook-url hover text-truncate" placement="top"
                                ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                {{ hook.url }}</p>
                        </div>
                        <div *ngIf="edit.status">
                            <button type="button" class="btn btn-link" (click)="removeHook(hookIndex)">Delete</button>
                            <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.approveHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Approve hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview approve hook
                    </button>
                    <button class="ml-auto btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('RAP')"
                        (click)="newHook()">+ Add
                        Approve
                        hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a approve hook to perform an action when data is
                successfully
                updated. Approve hooks are triggerred for all create, update and delete actions on data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Approve hook Name</p>
                    <p class="hook-header-url">Approve hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hHook-table__body d-flex pt-2 px-4" *ngIf="approveHooks.length === 0">
                    <span class="text-muted">No approve hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="approveHooks.length > 0">
                    <div *ngFor="let hook of approveHooks; let hookIndex = index"
                        class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                        <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                            {{ hook.name }}</p>
                        <div class="ml-2 d-flex justify-content-start">
                            <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                ngbTooltip="{{hook.url}}">
                                {{ hook.url }}
                            </p>
                        </div>
                        <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                            <p class="text-accent hook-url hover text-truncate" placement="top"
                                ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                {{ hook.url }}</p>
                        </div>
                        <div *ngIf="edit.status">
                            <button type="button" class="btn btn-link" (click)="removeHook(hookIndex)">Delete</button>
                            <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.rejectHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Reject hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview reject hook
                    </button>
                    <button class="ml-auto btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('RRJ')"
                        (click)="newHook()">+ Add
                        Reject
                        hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a reject hook to perform an action when data is
                successfully
                updated. Reject hooks are triggered for all create, update and delete actions on data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Reject hook Name</p>
                    <p class="hook-header-url">Reject hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hHook-table__body d-flex pt-2 px-4" *ngIf="rejectHooks.length === 0">
                    <span class="text-muted">No reject hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="rejectHooks.length > 0">
                    <div *ngFor="let hook of rejectHooks; let hookIndex = index"
                        class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                        <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                            {{ hook.name }}</p>
                        <div class="ml-2 d-flex justify-content-start">
                            <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                ngbTooltip="{{hook.url}}">
                                {{ hook.url }}
                            </p>
                        </div>
                        <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                            <p class="text-accent hook-url hover text-truncate" placement="top"
                                ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                {{ hook.url }}</p>
                        </div>
                        <div *ngIf="edit.status">
                            <button type="button" class="btn btn-link" (click)="removeHook(hookIndex)">Delete</button>
                            <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.sendForReviewHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Rework hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview Rework hook
                    </button>
                    <button class="ml-auto btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('RRW')"
                        (click)="newHook()">+ Add
                        Rework
                        hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a rework hook to perform an action when data is
                successfully
                updated. Rework hooks are triggered for all create, update and delete actions on data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Rework hook Name</p>
                    <p class="hook-header-url">Rework hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hHook-table__body d-flex pt-2 px-4" *ngIf="sendForReviewHooks.length === 0">
                    <span class="text-muted">No Rework hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="sendForReviewHooks.length > 0">
                    <div *ngFor="let hook of sendForReviewHooks; let hookIndex = index"
                        class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                        <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                            {{ hook.name }}</p>
                        <div class="ml-2 d-flex justify-content-start">
                            <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                ngbTooltip="{{hook.url}}">
                                {{ hook.url }}
                            </p>
                        </div>
                        <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                            <p class="text-accent hook-url hover text-truncate" placement="top"
                                ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                {{ hook.url }}</p>
                        </div>
                        <div *ngIf="edit.status">
                            <button type="button" class="btn btn-link" (click)="removeHook(hookIndex)">Delete</button>
                            <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.discardHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Discard hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview discard hook
                    </button>
                    <button class="ml-auto btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('RDI')"
                        (click)="newHook()">+ Add
                        Discard
                        hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a discard hook to perform an action when data is
                successfully
                updated. Discard hooks are triggerred for all create, update and delete actions on data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Discard hook Name</p>
                    <p class="hook-header-url">Discard hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hHook-table__body d-flex pt-2 px-4" *ngIf="discardHooks.length === 0">
                    <span class="text-muted">No discard hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="discardHooks.length > 0">
                    <div *ngFor="let hook of discardHooks; let hookIndex = index"
                        class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                        <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                            {{ hook.name }}</p>
                        <div class="ml-2 d-flex justify-content-start">
                            <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                ngbTooltip="{{hook.url}}">
                                {{ hook.url }}
                            </p>
                        </div>
                        <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                            <p class="text-accent hook-url hover text-truncate" placement="top"
                                ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                {{ hook.url }}</p>
                        </div>
                        <div *ngIf="edit.status">
                            <button type="button" class="btn btn-link" (click)="removeHook(hookIndex)">Delete</button>
                            <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column hooks-content w-100" *ngIf="hooks.submitHook">
            <div class="mb-2 d-flex align-items-center">
                <strong class="mr-auto">Submit hooks</strong>
                <div class="ml-auto">
                    <button class=" btn btn-link p-0 mr-3" type="button" *ngIf="edit.status && canEdit('DPR')"
                        (click)="previewHook()">
                        Preview submit hook
                    </button>
                    <button class="ml-auto btn btn-link p-0" type="button" *ngIf="edit.status && canEdit('RSU')"
                        (click)="newHook()">+ Add
                        Submit
                        hook
                    </button>
                </div>
            </div>
            <div class="text-secondary preHook-desc mb-4">Use a submit hook to perform an action when data is
                successfully
                updated. Submit hooks are triggered for all create, update and delete actions on data.
            </div>
            <div class="hook-table">
                <div class="hook-table__header d-flex pt-2 px-4">
                    <p class="hook-header-name">Submit hook Name</p>
                    <p class="hook-header-url">Submit hook URL</p>
                    <p *ngIf="edit.status">Action</p>
                </div>
                <div class="hHook-table__body d-flex pt-2 px-4" *ngIf="submitHooks.length === 0">
                    <span class="text-muted">No submit hooks </span>
                </div>
                <div class="hHook-table__body d-flex flex-column pt-2" *ngIf="submitHooks.length > 0">
                    <div *ngFor="let hook of submitHooks; let hookIndex = index"
                        class="d-flex pt-2 px-4 border-bottom w-100 hHook-table__row">
                        <p class="hook-name text-truncate ml-2" placement="top" ngbTooltip="{{hook.name}}">
                            {{ hook.name }}</p>
                        <div class="ml-2 d-flex justify-content-start">
                            <p class="text-accent hook-url text-truncate" *ngIf="!edit.status" placement="top"
                                ngbTooltip="{{hook.url}}">
                                {{ hook.url }}
                            </p>
                        </div>
                        <div class="ml-2 d-flex justify-content-start" id="preHookUrlEdit">
                            <p class="text-accent hook-url hover text-truncate" placement="top"
                                ngbTooltip="{{hook.url}}" *ngIf="edit.status" (click)="newHook(hookIndex)">
                                {{ hook.url }}</p>
                        </div>
                        <div *ngIf="edit.status">
                            <button type="button" class="btn btn-link" (click)="removeHook(hookIndex)">Delete</button>
                            <button type="button" class="btn btn-link" (click)="newHook(hookIndex)">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteModalTemplate>
    <div class="modal-body p-4">
        <div class="circle bg-dark">
            <span class="fa fa-trash text-white"></span>
        </div>
        <p class="text-dark font-weight-bold text-center" [ngClass]="{'text-truncate': deleteModal.title.length > 65}">
            {{deleteModal.title}}</p>
        <p class="text-secondary text-center" [ngClass]="{'text-truncate': deleteModal.message.length > 65}">
            {{deleteModal.message}}</p>
    </div>
    <div class="modal-footer p-3 bg-light">
        <button type="button" class="btn btn-min-width btn-link w-50 mx-3" (click)="deleteModalTemplateRef.close(false)"
            id="sbDeleteModalNo">No</button>
        <button type="button" class="btn btn-min-width btn-primary w-50 mx-3"
            (click)="deleteModalTemplateRef.close(true)" id="sbDeleteModalYes">Yes</button>
    </div>
</ng-template>

<ng-template #hookModalTemplate>
    <div class="preHook-modal">
        <div class="modal-header bg-white">
            <div *ngIf="!previewHookFormat" class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <span class="odp-flows mr-2"></span>
                    <span class="font-weight-bold">Add {{hooks.hookTitle}}</span>
                </div>
            </div>
        </div>
        <div class="modal-body p-4">
            <div class="d-flex flex-column mt-4" [formGroup]="hookForm">
                <div class="d-flex w-100 mb-4">
                    <div class="label-width mt-1 text-secondary">Name
                        <sup class="text-danger font-lg " ngbTooltip="Mandatory field">*</sup>
                    </div>
                    <div class="value-width position-relative">
                        <input *ngIf="edit.status" #preHookElts class="form-control" type="text"
                            placeholder="Enter a name for the hook" [ngClass]="{'is-invalid': hookErr}"
                            formControlName="name" [value]="hookForm.get('name').value" (keyup)="uniqueHook()"
                            id="prehookName">
                        <span class="fas fa-question-circle text-danger position-absolute field-error-symbol"
                            *ngIf="hookForm.get('name').dirty && hookForm.get('name') && hookForm.hasError('duplicateName')"
                            ngbTooltip="{{ 'This ' + hooks.hookshortName + 'hook name has already been used'}}"
                            placement="right"></span>
                    </div>
                </div>
                <div class="d-flex w-100 mb-4">
                    <div class="label-width mt-1 text-secondary">Endpoint
                        <sup class="text-danger font-lg " ngbTooltip="Mandatory field">*</sup>
                    </div>
                    <div class="value-width position-relative">
                        <textarea *ngIf=" edit.status" class="form-control " type="text" rows="5" maxlength="2080"
                            placeholder="http://<hostname>:<port>/<path>" [ngClass]="{'is-invalid': hookUrlErr}"
                            formControlName="url" [value]="hookForm.get('url').value" (keyup)="uniqueHook()"
                            id="prehookEndpoint"></textarea>
                        <span class="fas fa-question-circle  text-danger position-absolute field-error-symbol"
                            *ngIf="hookForm.get('url').dirty  && hookForm.get('url') && hookForm.get('url').hasError('pattern')"
                            ngbTooltip="{{ 'please enter a valid ' + hooks.hookshortName + ' hook'}}"
                            placement="right"></span>
                    </div>
                </div>
                <div class="d-flex w-100 mb-4">
                    <div class="label-width mt-1 text-secondary"></div>
                    <div class="value-width d-flex">
                        <button class="btn" *ngIf="!verifyUrl.status"
                            [ngClass]="{'btn-primary': !verifyUrl.loading && !verifyUrl.status,'btn-default': verifyUrl.loading}"
                            type="button" (click)="activeUrl(hookForm.get('url').value)">{{ verifyUrl.loading ? 'Connecting...' :
                            'Test Connection'}}</button>
                        <button class="btn" *ngIf="verifyUrl.status"
                            [ngClass]="{'btn-default': verifyUrl.loading, 'btn-primary': !verifyUrl.loading && verifyUrl.status}"
                            (click)="activeUrl(hookForm.get('url').value)">{{ verifyUrl.loading ? 'Connecting...' : 'Test Connection'}}</button>
                        <span class="text-success ml-2 p-1" *ngIf="verifyUrl.status">Success</span>
                        <span class="text-danger ml-2 p-1" *ngIf="triggeredHookValidation">Failed</span>
                    </div>
                </div>
                <div class="d-flex w-00 mb-4">
                    <div class="label-width mt-1 text-secondary">Failure message</div>
                    <div class="value-width position-relative">
                        <input *ngIf="edit.status" class="form-control" type="text"
                            placeholder="Message to display when the hook fails" formControlName="failMessage">
                        <div class="fas fa-info-circle text-secondary position-absolute info-icon"
                            ngbTooltip="{{'This message will be displayed only if the added' +'    '+hooks.hookshortName + 'hooks'+'   '+'is down'}}"
                            placement="top">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-3 d-flex w-100 mt-auto justify-content-end align-items-end">
            <div class="w-50 d-flex">
                <button type="button" class="btn btn-link ml-auto" (click)="hookModalTemplateRef.close(false)"
                    id="sbDeleteModalNo">Cancel</button>
                <button type="button" class="btn btn-success btn-min-width ml-auto"
                    (click)="hookModalTemplateRef.close(true)" id="sbDeleteModalYes"
                    [disabled]="hookForm.invalid">Add</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #hookPreviewTemplate>
    <div class="preHook-preview-modal">
        <div class="modal-header bg-white">
            <div class="d-flex justify-content-between align-items-center w-100">
                <div class="d-flex align-items-center">
                    <strong class="mr-2">Preview of {{hooks.hookTitle}}</strong>
                </div>
            </div>
        </div>
        <div class="modal-body p-4" id="hookFormat">
            <pre [innerHTML]="htmlContent" class="pre"></pre>
        </div>
        <div class="modal-footer p-3 d-flex w-100 mt-auto justify-content-end align-items-end">
            <div class="w-50 d-flex">
                <button class="btn btn-link" type="button" (click)="copyFormat();tooltip.open()">Copy</button>
                <div id="tooltip" placement="top" ngbTooltip="Copied" #tooltip="ngbTooltip" triggers="manual">
                </div>
            </div>
            <div class="w-50 d-flex">
                <button type="button" class="btn btn-link ml-auto" (click)="hookPreviewTemplateRef.close(false)"
                    id="sbDeleteModalNo">Close</button>
            </div>
        </div>
    </div>
</ng-template>