<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>



<div class="d-flex mb-4">
    <div>
        <odp-search-box (enteredText)="enterToSelect($event)" (reset)="enterToSelect(null)" [selectOnEnter]="true"
            [open]="true" [edit]="{status:true}">
        </odp-search-box>
    </div>
    <div class="d-flex ml-auto mr-2">
        <div class="add-attribute hover d-flex" (click)="add()">
            <i class="dsi dsi-plus-circle font-20 icon-primary mr-2"></i>
            <label class="fw-500 font-normal heading">Add Keys</label>

        </div>
    </div>
</div>

<div style="height: 42vh">
    <!-- <ag-grid-angular #agGrid class="ag-theme-balham table" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular> -->
    <div class="scroll-pane">
        <div class="list-group mb-3">
            <div class="list-group-item header py-0 bg-light text-muted text-uppercase font-11">
                <div class="d-flex align-items-center justify-content-between h-100">
                    <div class="" style="flex-basis: 25%;">Key Name</div>
                    <div class="" style="flex-basis: 15%;">Expires (In Days)</div>
                    <div class="" style="flex-basis: 35%;">Key</div>
                    <div class="" style="flex-basis: 15%;">Last Login At</div>
                    <div class="group-actions" style="flex-basis: 15%;"></div>
                </div>
            </div>
            <div class="list-group-item" *ngFor="let key of data">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="truncate" style="flex-basis: 25%;">{{key.label}}</div>
                    <div class="" style="flex-basis: 15%;">
                        <span *ngIf="!key.isActive" style="color: #FF9052">Deactivated</span>
                        <span *ngIf="key.isActive">{{key.expires/ (24 * 60)}}</span>
                    </div>
                    <div [ngStyle]="" style="flex-basis: 35%;">
                        <span *ngIf="!key.isNew">****************</span>
                        <span *ngIf="key.isNew" (click)="copyKey(key)">
                            <span>{{ key.keyValue }}</span>
                            <span class="dsi dsi-copy ml-2 hover"></span>
                        </span>
                    </div>
                    <div class="" style="flex-basis: 15%;">{{key.lastLogin ? formatLastLogin(key.lastLogin) :
                        '-'}}
                    </div>

                    <div class="group-actions" style="flex-basis: 15%;">
                        <button type="button" class="btn btn-link text-muted p-1" (click)="confirmEndSession(key)"
                            ngbTooltip="End Session" *ngIf="hasPermission('PMBA')">
                            <span class="dsi dsi-ban"></span>
                        </button>
                        <button type="button" class="btn btn-link text-muted p-1" (click)="confirmDeactivate(key)"
                            ngbTooltip="Deactivate" *ngIf="key.isActive && hasPermission('PMBA')">
                            <span class="dsi dsi dsi-minus-circle"></span>
                        </button>
                        <button type="button" class="btn btn-link text-muted p-1" (click)="confirmReactivate(key)"
                            ngbTooltip="Reactivate" *ngIf="!key.isActive && hasPermission('PMBA')">
                            <span class="dsi dsi dsi-plus-circle"></span>
                        </button>
                        <button type="button" class="btn btn-link text-muted p-1" (click)="editBotKey(key)"
                            ngbTooltip="Edit" *ngIf="hasPermission('PMBU')">
                            <span class="dsi dsi-edit"></span>
                        </button>
                        <button type="button" class="btn btn-link text-muted p-1" (click)="deleteBotKey(key)" *ngIf="
                            hasPermission('PMBU')" ngbTooltip="Delete">
                            <span class="dsi dsi-trash"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="hasNewKey()" class="d-flex selected">
        <span class="text-danger">*</span>
        <span>Please Copy the key. The key cannot be retrived once you navigate away from the screen</span>
    </div>
</div>


<odp-delete-modal [open]="openDeleteBotKeyModal" (close)="closeDeleteBotKeyModal($event)">
    <span class="odp-bots  font-20 text-success"></span>
</odp-delete-modal>