<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<table>
    <tbody>
        <ng-container *ngFor="let key of selectedBot.botKeys;let i=index">
            <tr class="key-row border-bottom position-relative">
                <td class="label-width">
                    <span class="odp-key font-lg"
                        [ngClass]="{'text-accent':key.isActive,'text-muted':!key.isActive}"></span>
                    <span class="key-name">{{key.label}}</span>
                </td>
                <td class="date-width">{{getDate(key) |date: 'dd-MM-yyyy' }}</td>
                <td *ngIf="!key.isNew">key****************</td>
                <td *ngIf="key.isNew" >
                    <span class="odp-copy text-muted" (click)="copyKey(key)"></span>
                    <span > {{key.keyValue}}</span>
                </td>

                <td class="options-cell position-relative" *ngIf="hasPermission('PMBBU')">
                    <div class="d-flex align-items-center justify-content-end w-100">
                        <span class="fa fa-ellipsis-h text-secondary hover mr-3"></span>
                    </div>
                </td>
                <td>
                    <!-- <button class="add-new  float-right btn-min-width btn btn-link" (click)="deleteBotKey(i)"
                        *ngIf="hasPermission('PMBBU')">
                        <span class="fa fa-trash"></span>
                    </button> -->
                    <span class="fa fa-trash text-primary hover" (click)="deleteBotKey(i)"></span>

                </td>
                <div *ngIf="key.isLatest" class="toolTip-msg position-absolute  ">
                    <div class="text-white font-lg p-2">This key is available to copy until you navigate away from this
                        page. Make a copy of the key and store it somewhere safe.
                    </div>
                    <span class="fa fa-triangle"></span>
                </div>
                <div class="options bg-white position-absolute  align-items-center justify-content-end text-accent">
                    <!-- <button type="button" class="btn btn-link text-accent" *ngIf="key.isNew" (click)="copyKey(key)">
                        Copy Key
                    </button> -->
                    <button type="button" class="btn btn-link text-accent" (click)="editBotKey(i)"
                        *ngIf="hasPermission('PMBBU')">
                        Edit
                    </button>
                    <ng-container *ngIf="hasPermission('PMBA')">
                        <button type="button" class="btn btn-link text-accent" (click)="endSession(i)">
                            End Session
                        </button>
                        <button type="button" class="btn btn-link text-accent" *ngIf="key.isActive"
                            (click)="deactivateKey(i)">
                            Deactivate
                        </button>
                        <button type="button" class="btn btn-link text-accent" *ngIf="!key.isActive"
                            (click)="deactivateKey(i)">
                            Activate
                        </button>
                    </ng-container>
                </div>
            </tr>

        </ng-container>
    </tbody>
</table>
<ng-template #newKeyModal>
    <div class="new-Bot-modal modal-body p-4 d-flex flex-column align-items-center" [formGroup]="keyForm">
        <div class="d-flex flex-column w-100">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="d-flex align-items-center">
                    <!-- <span class="icon-wrapper rounded-circle d-flex align-items-center justify-content-center mr-2">
                        <odp-user-icon size="16" color="1CAD49" class="mt-1"></odp-user-icon>
                    </span> -->
                    <span class="icon-wrapper rounded-circle d-flex align-items-center justify-content-center mr-2">
                        <span class="odp-bots mt-2 font-xl text-success"></span>
                    </span>
                    <span class="font-weight-bold mt-2">Edit key</span>
                </div>
                <span class="fa fa-times text-muted hover" (click)="editKeyModalRef.close(false)"></span>
            </div>
            <div class="d-flex flex-column w-100">
                <label for="name" class="font-sm text-secondary">
                    <span class="text">Label for the key</span>
                    <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
                </label>
                <div class="name-wrapper position-relative">
                    <input newlabel type="text" class="form-control" id="name" placeholder="Give a label to identify"
                        formControlName="label" (keyup.enter)="newBotexpiry.focus()" odpAutoFocus
                        [ngClass]="{'is-invalid':keyForm.get('label').invalid && keyForm.get('label').dirty}">
                    <ng-container *ngIf="keyForm.get('label').dirty">
                        <span *ngIf="keyForm.get('label').hasError('required')"
                            class="text-danger position-absolute fa fa-exclamation-circle" container="body"
                            ngbTooltip="Name is required"></span>
                        <span *ngIf="keyForm.get('label').hasError('maxlength')"
                            class="text-danger position-absolute fa fa-exclamation-circle" container="body"
                            ngbTooltip="Name should be within 30 characters"></span>
                        <span *ngIf="keyForm.get('label').hasError('pattern')"
                            class="text-danger position-absolute fa fa-exclamation-circle" container="body"
                            ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
                    </ng-container>
                </div>
                <span class="text-muted font-sm mt-1">Key will be generated automatically on finish creating</span>
                <label for="description" class="font-sm text-secondary mt-3">Expiry(In days)</label>
                <div class="name-wrapper position-relative">
                    <input #newBotexpiry type="number" class="form-control" id="name" placeholder=""
                        formControlName="expires" (keyup.enter)="editKeyModalRef.close(true)"
                        [ngClass]="{'is-invalid':keyForm.get('label').invalid && keyForm.get('label').dirty}">
                    <!-- <textarea #newBotTextarea class="form-control" id="description" rows="5"
                                placeholder="No description" formControlName="desc" (keydown.enter)="$event.preventDefault()"
                                (keyup.enter)="newKeyModalRef.close(true)"></textarea> -->
                    <ng-container *ngIf="keyForm.get('label').dirty">
                        <span *ngIf="keyForm.get('label').hasError('min')"
                            class="text-danger position-absolute fa fa-exclamation-circle" container="body"></span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="d-flex align-self-end justify-content-end w-100 mt-3">
            <!-- <button type="button" class="btn btn-link mr-3" id="newKeyModalNo" (click)="c(false)">Cancel</button> -->

            <button type="button" class="btn btn-min-width btn-link" id="newKeyModalYes" [disabled]="keyForm.invalid"
                (click)="editKeyModalRef.close(true)">save</button>
        </div>
    </div>
</ng-template>

<odp-delete-modal [open]="openDeleteBotKeyModal" (close)="closeDeleteBotKeyModal($event)">
        <span class="odp-bots  font-xl text-success"></span>
    
    </odp-delete-modal>