@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.faas-page {
  height: calc(100vh - 60px);

  .card-container {
    height: calc(100vh - 170px);
    overflow: auto;

    .list-group-item {
      overflow: hidden;

      &.header {
        min-height: 38px;
        max-height: 38px;
        color: #6C7584;
      }

      .item-name {
        min-width: 245px;
        max-width: 245px;
      }

      .item-url {
        min-width: 325px;
        max-width: 325px;
      }

      .item-status {
        min-width: 95px;
        max-width: 95px;

        .text-warning {
          animation: blink 0.5s alternate infinite;
        }

        .fa-circle {
          font-size: 8px;
        }
      }

      .item-last-invoked {
        min-width: 140px;
        max-width: 140px;
      }

      .item-actions {
        min-width: 200px;
        max-width: 200px;
        position: absolute;
        right: -500px;
        top: 12px;
        transition: 0.2s;

        .actions {

          .dsi {
            min-width: 24px;
            max-width: 24px;
            display: inline-block;
            color: $sub-headings;
          }

          .dsi,
          .api-icon {
            &:hover {
              color: $dark;
            }
          }
        }
      }

      &:hover {
        .item-actions {
          right: 0px;
        }
      }

      .scroll-pane {
        height: 100%;
        overflow: auto;
      }
    }
  }
}

.name-wrapper {
  .dsi {
    top: 9px;
    right: 9px;
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.6);
}

.new-faas-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: -360px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;

  &.show {
    right: 0px !important;
  }
}


.more-options {
  z-index: 2;
  top: 10px;
  right: 10px;
  min-width: 140px;

  .list-group-item {
    height: 36px;
  }
}