@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.background-table {
  height: 100vh;
  background: #f2f2f2;
}

.card-container {
  max-height: calc(100vh - 214px);
  overflow: auto;
}

.platform {
  min-width: 90px;
  min-height: 90px;
}

.filter-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 259px;
  max-height: 310px;
  border-radius: 4px;
  z-index: 15;
}

.streak {
  min-width: 4px;
  max-width: 4px;
  min-height: 10px;
  max-height: 10px;
  display: inline-block;
  border-radius: 2px;
}

.strength-tower {

  .strength-high,
  .strength-medium,
  .strength-low {
    min-height: 4px;
    max-height: 4px;
    border-radius: 4px;
    background: $border;
    margin-top: 2px;
  }

  .strength-high {
    min-width: 12px;
    max-width: 12px;
  }

  .strength-medium {
    min-width: 8px;
    max-width: 8px;
  }

  .strength-low {
    min-width: 4px;
    max-width: 4px;
  }

  &.high {

    .strength-high,
    .strength-medium,
    .strength-low {
      background: $success;
    }
  }

  &.medium {

    .strength-medium,
    .strength-low {
      background: $primary;
    }
  }

  &.low {
    .strength-low {
      background: $danger;
    }
  }
}

.grid-container {
  max-height: calc(100vh - 214px);
  overflow: auto;

  .ag-grid-options {
    height: 32px;
  }

  .ag-grid-container {
    height: calc(100vh - 246px);
  }
}

.agent-name-wrapper {
  .dsi-danger-circle {
    top: 9px;
    right: 6px;
  }
}

.list-group-item {
  overflow: hidden;

  &.header {
    min-height: 38px;
    max-height: 38px;
    color: #6C7584;
  }

  .item-timestamp {
    min-width: 200px;
    max-width: 200px;
  }

  .item-level {
    min-width: 200px;
    max-width: 200px;
  }

  .item-content {
    min-width: 240px;
    max-width: 240px;
  }

}

.item-actions {
  min-width: 200px;
  max-width: 200px;
  position: absolute;
  right: 24px;
  top: 204px;
  z-index: 1;
  transition: 0.2s;

  .actions {

    .dsi {
      min-width: 24px;
      max-width: 24px;
      display: inline-block;
      color: $sub-headings;
    }

    .dsi,
    .api-icon {
      &:hover {
        color: $dark;
      }
    }
  }
}

.settings-btn {
  width: 150px;
}

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.6);
}

.new-data-format-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: -360px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;

  &.show {
    right: 0px !important;
  }
}

.eye-icon {
  right: 10px;
  top: 10px
}

.error-icon-password {
  right: 30px;
  top: 10px
}

.password {
  padding-right: 48px;
}

.status {
  border: 1px solid;
  border-radius: 16px;
  padding: 2px 12px
}

.no-logs {
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  background-repeat: no-repeat;
  background-size: 150px;
  background-position: center;
  display: flex;
  margin: 150px auto 20px auto;
}