@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.background-table {
  height: 100vh;
  background: #f2f2f2;
}
.card-container {
  height: calc(100vh - 214px);
  // overflow: auto;
}
.platform {
  min-width: 90px;
  min-height: 90px;
}
.filter-container {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 259px;
  max-height: 310px;
  border-radius: 4px;
  z-index: 15;
}
.streak {
  min-width: 4px;
  max-width: 4px;
  min-height: 10px;
  max-height: 10px;
  display: inline-block;
  border-radius: 2px;
}
.strength-tower {
  .strength-high,
  .strength-medium,
  .strength-low {
    min-height: 4px;
    max-height: 4px;
    border-radius: 4px;
    background: $border;
    margin-top: 2px;
  }
  .strength-high {
    min-width: 12px;
    max-width: 12px;
  }
  .strength-medium {
    min-width: 8px;
    max-width: 8px;
  }
  .strength-low {
    min-width: 4px;
    max-width: 4px;
  }
  &.high {
    .strength-high,
    .strength-medium,
    .strength-low {
      background: $success;
    }
  }
  &.medium {
    .strength-medium,
    .strength-low {
      background: $primary;
    }
  }
  &.low {
    .strength-low {
      background: $danger;
    }
  }
}

.ag-grid-container {
  width: 100%;
  height: calc(100vh - 138px);
}
