<div class="d-flex">
  <!-- <div class="d-flex flex-column w-50">
    <div class="sub-heading text-dark font-weight-bold d-flex align-items-center mb-4">
      <span class="fa fa-exchange-alt mr-2"></span>
      <span class="text">Basic Information</span>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex mb-3">
        <label for="partnerLogo" class="mb-0 font-weight-bold text-secondary">Partner Logo</label>
        <div class="logo-holder">

        </div>
      </div>
      <div class="d-flex mb-3">
        <label for="name" class="mb-0 font-weight-bold text-secondary">Name</label>
        <div class="input-wrapper">
          <input id="name" type="text" class="form-control">
        </div>
      </div>
      <div class="d-flex mb-3">
        <label for="description" class="mb-0 font-weight-bold text-secondary">Description</label>
        <div class="input-wrapper">
          <textarea id="description" type="text" class="form-control" rows="4"></textarea>
        </div>
      </div>
    </div>
  </div> -->
  <div class="d-flex flex-column w-50">
    <div class="sub-heading text-dark font-weight-bold d-flex align-items-center mb-4">
      <span class="fa fa-exchange-alt mr-2"></span>
      <span class="text">Data Retention</span>
    </div>
    <div class="d-flex flex-column">
      <div class="d-flex mb-3">
        <label for="partnerLogo" class="mb-0 font-weight-bold text-secondary">Transaction History</label>
        <div class="switch"></div>
      </div>
      <div class="d-flex flex-column pl-3">
        <div class="d-flex mb-3">
          <label for="retainBy" class="mb-0 font-weight-bold text-secondary border-left pl-2">Retain data by</label>

        </div>
        <div class="d-flex mb-3">
          <label for="noOfVersions" class="mb-0 font-weight-bold text-secondary border-left pl-2">
            Maximum versions since
          </label>
          <div class="input-wrapper position-relative">
            <input id="noOfVersions" type="text" class="form-control">
            <select id="noOfVersionsTime" class="border-0 bg-white position-absolute">
              <option value="Days">Days</option>
            </select>
          </div>
        </div>
      </div>
      <div class="d-flex mb-3">
        <label for="description" class="mb-0 font-weight-bold text-secondary">Log history</label>
        <div class="input-wrapper">
          <div class="switch"></div>
        </div>
      </div>
    </div>
  </div>
</div>
