<ng-container *ngIf="!toggleFormulaBuilder">
    <div class="overlay d-flex w-100 h-100 position-fixed" (click)="done(false)"></div>
    <div class="modal d-block rounded m-5">
        <div class="modal-header bg-dark text-white">
            <h5 class="modal-title">Format Mapper</h5>
            <button type="button" class="close" aria-label="Close" (click)="done(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body bg-white d-flex flex-column p-0">
            <div class="mapping-block d-flex w-100 h-100 border-bottom">
                <div class="fields d-flex flex-column h-100 bg-light border-right w-25">
                    <div class="field-list mt-3">
                        <div class="field-list-item d-flex flex-column">
                            <div class="field-item d-flex align-items-center px-4 no-action">
                                <div class="p-2 font-weight-bold text-secondary">Headers</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let srcDef of sourceDefinition;let i=index;">
                            <ng-container *ngIf="srcDef.key == '$headers'">
                                <ng-container *ngTemplateOutlet="fieldsTemplate;context:{def:srcDef}"></ng-container>
                            </ng-container>
                        </ng-container>
                        <div class="field-list-item d-flex flex-column">
                            <div class="field-item d-flex align-items-center px-4 no-action">
                                <div class="p-2 font-weight-bold text-secondary">Body</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let srcDef of sourceDefinition;let i=index;">
                            <ng-container *ngIf="srcDef.key != '$headers'">
                                <ng-container *ngTemplateOutlet="fieldsTemplate;context:{def:srcDef}"></ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </div>
                <div class="mapper-wrapper h-100 w-100">
                    <div class="mapper d-flex flex-column p-3" (dragover)="dragOverEvent($event)">
                        <div class="mapper-field-block d-flex border-left border-right border-top bg-white">
                            <div class="mapper-field-header">
                                <div class="p-3 m-0 font-weight-bold text-secondary">Headers</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of destMappings;let mappingIndex=index;let mappingLast=last;">
                            <div *ngIf="item.target.isHeader"
                                class="mapper-field-block d-flex border-left border-right border-top"
                                [ngClass]="{'border-bottom':mappingLast}">
                                <ng-container *ngIf="item.target.key != '$headers'">
                                    <ng-container *ngTemplateOutlet="mappingsTemplate;context:{mappingData:item}">
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                        <div class="mapper-field-block d-flex border-left border-right border-top bg-white">
                            <div class="mapper-field-header">
                                <div class="p-3 m-0 font-weight-bold text-secondary">Body</div>
                            </div>
                        </div>
                        <ng-container *ngFor="let item of destMappings;let mappingIndex=index;let mappingLast=last;">
                            <div *ngIf="!item.target.isHeader"
                                class="mapper-field-block d-flex border-left border-right border-top"
                                [ngClass]="{'border-bottom':mappingLast}">
                                <ng-container *ngIf="item.target.key != '$headers'">
                                    <ng-container
                                        *ngTemplateOutlet="mappingsTemplate;context:{mappingData:item,mappingIndex:mappingIndex}">
                                    </ng-container>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer bg-light">
            <button type="button" class="btn btn-primary" (click)="done(true)">Done</button>
        </div>
    </div>
</ng-container>
<odp-formula-builder *ngIf="toggleFormulaBuilder" [(toggle)]="toggleFormulaBuilder" [(mapping)]="clickedMapping">
</odp-formula-builder>


<ng-template #fieldsTemplate let-def="def" let-linkTop="linkTop" let-linkBottom="linkBottom">
    <div class="field-list-item d-flex flex-column">
        <div class="field-item d-flex align-items-center px-4"
            [ngClass]="{'no-action':def.canToggle||!def.properties.name}" [draggable]="!def.canToggle && edit.status"
            (drag)="dragEvent($event,def)">
            <ng-container *ngIf="def.key!='$headers'">
                <div class="field-toggle-state d-flex mr-2">
                    <div class="toggle-state-icon d-flex h-100 w-100 align-items-center justify-content-center rounded bg-accent px-1"
                        *ngIf="def.canToggle">
                        <span class="fa fa-minus text-white"></span>
                    </div>
                </div>
                <ng-container *ngIf="!def.isHeader">
                    <ng-container *ngFor="let depth of def.depth;let df=first;let dl=last;">
                        <div class="lines d-flex align-items-center">
                            <div
                                class="vertical-line border-right align-self-start {{verticalLineClass(def,depth,df,dl)}}">
                            </div>
                            <div class="horizonal-line border-bottom" [ngClass]="{'border-0':!dl}">
                            </div>
                        </div>
                    </ng-container>
                    <odp-field-type [field]="def" class="mr-2"></odp-field-type>
                </ng-container>
                <ng-container *ngIf="def.isHeader">
                    <span
                        class="border text-accent bg-white rounded d-flex align-items-center justify-content-center field-type-badge mr-2">H</span>
                </ng-container>
                <div class="field-name w-100 text-truncate py-2"
                    [ngClass]="{'hover':edit.status,'no-action':!edit.status}" [odpTruncated]="def.properties.name">
                    {{def.properties.name}}
                </div>
                <div class="handle hover" *ngIf="edit.status">
                    <span class="fa fa-th"></span>
                </div>
            </ng-container>
        </div>
        <div class="field-sub-item" *ngIf="def.isObject || def.isArray">
            <ng-container *ngFor="let srcDef of def.definition;let i=index;let l=last">
                <ng-container *ngTemplateOutlet="fieldsTemplate;context:{def:srcDef,linkBottom:!l,linkTop:true}">
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>


<ng-template #mappingsTemplate let-mappingData="mappingData" let-mappingIndex="mappingIndex">
    <div class="source-fields d-flex flex-column w-100">
        <div class="field d-flex align-items-center" [ngClass]="{'valid-field':sourceField.valid}"
            *ngFor="let sourceField of mappingData.source;let sourceIndex = index;let sourceFirst = first;let sourceLast = last">
            <div class="field-clear pl-3 text-muted hover" (click)="removeMapping(mappingData,sourceIndex,mappingIndex)"
                *ngIf="sourceField.valid && edit.status">
                Clear
            </div>
            <div class="field-placeholder h-100 d-flex align-items-center pl-3" [ngClass]="{'disabled':mappingData.disabled,
             'text-muted':!sourceField.valid,
             'mapped':sourceField.valid}" (drop)="dropEvent($event,sourceField,mappingData,mappingIndex)"
                (dragleave)="dragLeaveEvent($event,mappingData)" (dragenter)="dragEnterEvent($event,mappingData)">
                <odp-field-type *ngIf="sourceField.valid && !sourceField.isHeader" [field]="sourceField" class="mr-2">
                </odp-field-type>
                <div class="add-attribute-label w-100 text-truncate" [odpTruncated]="sourceField.name">
                    {{mappingData.disabled?'':(sourceField.valid?sourceField.name:'Add attribute')}}
                </div>
                <span class="drop-here-label">
                    Drop Here
                </span>
            </div>
            <div class="vertical-bar ml-1" [ngClass]="{'border-secondary':mappingData.disabled}">
            </div>
            <div class="field-line w-100"
                [ngClass]="{'border-secondary':mappingData.disabled,'border-0':!sourceField.valid}">
            </div>
            <div class="d-flex flex-column h-100">
                <div class="line-to-top" [ngClass]="{'border-secondary':mappingData.disabled,'border-0':sourceFirst}">
                </div>
                <div class="line-to-bottom" [ngClass]="{'border-secondary':mappingData.disabled,'border-0':sourceLast}">
                </div>
            </div>
            <div class="function d-flex align-items-center">
                <div class="function-circle bg-success text-white align-items-center justify-content-center hover"
                    [ngClass]="{'d-none':!sourceFirst,'d-flex':sourceFirst}" (click)="openFormulaBuilder(mappingData)">
                    <span class="fa fa-cubes"></span>
                </div>
                <div class="line"
                    [ngClass]="{'border-secondary':mappingData.disabled,'border-0':!sourceField.valid || !sourceFirst}">
                </div>
            </div>
        </div>
    </div>
    <div class="destination-field-wrapper d-flex">
        <div class="destination-field d-flex align-items-center pr-4 position-relative">
            <div class="field-toggle-state d-flex align-items-center mr-2">
                <span class="fa fa-caret-right"
                    [ngClass]="{'text-secondary':mappingData.disabled,'text-dark':!mappingData.disabled}"></span>
            </div>
            <div class="field-toggle-state d-flex mr-2">
                <div class="toggle-state-icon d-flex h-100 w-100 align-items-center justify-content-center rounded bg-accent px-1"
                    *ngIf="mappingData.target.canToggle">
                    <span class="fa fa-minus text-white"></span>
                </div>
            </div>
            <ng-container *ngIf="!mappingData.target.isHeader">
                <ng-container *ngFor="let depth of mappingData.target.depth;let df=first;let dl=last;">
                    <div
                        class="vertical-line border-right align-self-start {{verticalLineClass(mappingData.target,depth,df,dl)}}">
                    </div>
                    <div class="horizonal-line border-bottom" [ngClass]="{'border-0':!dl}">
                    </div>
                </ng-container>
                <odp-field-type [field]="mappingData.target" class="mr-2"></odp-field-type>
                <div class="field-name w-100 text-truncate" [odpTruncated]="mappingData.target.name">
                    {{mappingData.target.name}}</div>
            </ng-container>
            <ng-container *ngIf="mappingData.target.isHeader">
                <span
                    class="border text-accent bg-white rounded d-flex align-items-center justify-content-center field-type-badge mr-2">H</span>
                <div class="field-name w-100 text-truncate" [odpTruncated]="mappingData.target.name">
                    {{mappingData.target.properties.dataKey}}</div>
            </ng-container>
        </div>
    </div>
</ng-template>