@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";


.configuration-wrapper{
  min-height: calc(100vh - 274px);
  .sidenav {
    min-width: 250px;
    max-width: 250px;
  }
}
