<div class="settings-page page-padding bg-light-gray" >
    <div class="d-flex justify-content-between">
        <div class="d-flex align-items-center">
            <i class="fa fa-arrow-left text-secondary mr-3 fa-lg hover" aria-hidden="true" [routerLink]="['../']"></i>
            <div class="fw-600 font-22">Settings</div>
        </div>
    </div>
    <div class="mt-3 bg-white rounded p-4 dm-settings">
        <div class="fw-600 font-22 mb-4">Data Management</div>
        <div class="ds-stats d-flex justify-content-start">
            <div class="service-details p-3 bg-info">
                <div class="fw-600 font-20">{{serviceStatus.Total?serviceStatus.Total:0}}</div>
                <div class="pt-4 font-11 text-secondary">TOTAL FUNCTIONS</div>
            </div>
            <div class="service-details p-3 bg-success">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="fw-600 font-20"> {{serviceStatus.Active?serviceStatus.Active:0}} </span>
                    <button class="btn btn-sm btn-danger font-11 hover" [disabled]="!serviceStatus.Active"
                        (click)="startStopServiceModel('Stop')">Stop All</button>
                </div>
                <div class="pt-4 font-11 text-secondary">RUNNING FUNCTIONS</div>
            </div>
            <div class="service-details p-3 bg-primary">
                <div class="fw-600 font-20">{{serviceStatus.Draft?serviceStatus.Draft:0}}</div>
                <div class="pt-4 font-11 text-secondary">IN DRAFTS</div>
            </div>
            <div class="service-details p-3 bg-danger">
                <div class="d-flex align-items-center justify-content-between">
                    <span class="fw-600 font-20"> {{serviceStatus.Undeployed?serviceStatus.Undeployed:0}} </span>
                    <button class="btn btn-sm btn-success font-11 hover" [disabled]="!serviceStatus.Undeployed"
                        (click)="startStopServiceModel('Start')">Start All</button>
                </div>
                <div class="pt-4 font-11 text-secondary">STOPPED FUNCTIONS</div>
            </div>
            <div class="service-details p-3 bg-secondary">
                <div class="fw-600 font-20">{{serviceStatus.Pending?serviceStatus.Pending:0}}</div>
                <div class="pt-4 font-11 text-secondary">MAINTAINANCE</div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div> -->

<ng-template #startStopServiceModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between w-100">
            <span class="font-20 fw-600">{{startStopServiceModal.title}}</span>
            <span class="fa fa-times text-secondary hover " (click)="startStopServiceModalRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center my-5">{{startStopServiceModal.message}}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-delete" (click)="startStopServiceModalRef.close(true)"
                id="sbDeleteModalYes">Yes</button>
        </div>
    </div>
</ng-template>