<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div>
    <div class="d-flex w-100 ml-3">
        <span class="fas fa-shield-alt text-muted pt-1 mr-2"></span>
        <div class="text-muted pt-1 mr-5">User type</div>
        <div class="radio-btn-grp d-flex">
            <div class="btn-container hover d-flex justify-content-between align-items-center px-1 mr-2 border"
                [ngClass]="{'bg-accent': typeSuperAdmin, 'text-white': typeSuperAdmin}"
                (click)="confirmSuperAdminAccess()">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-user-cog mr-1"
                            [ngClass]="{'text-secondary': typeUser, 'text-white': typeSuperAdmin}"></span>
                    </div>
                    <div [ngClass]="{'font-weight-bold': typeSuperAdmin}">Super Admin</div>
                </div>
                <div>
                    <span class="far fa-lg"
                        [ngClass]="{'fa-circle text-muted': typeUser, 'fa-check-circle text-white': typeSuperAdmin}"></span>
                </div>
            </div>
            <div class="btn-container hover d-flex justify-content-between align-items-center px-1 border"
                [ngClass]="{'bg-accent': typeUser, 'text-white': typeUser}" (click)="revokeSuperAdminAccess()">
                <div class="d-flex">
                    <div>
                        <span class="fas fa-user mr-1"
                            [ngClass]="{'text-secondary': typeSuperAdmin, 'text-white': typeUser}"></span>
                    </div>
                    <div [ngClass]="{'font-weight-bold': typeUser}">User</div>
                </div>
                <div>
                    <span class="far fa-lg"
                        [ngClass]="{'fa-circle text-muted': typeSuperAdmin, 'fa-check-circle text-white': typeUser}"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex mt-2 w-100 justify-content-end" *ngIf="selectUserType === 'user'">
        <button type="button" class="btn btn-link" (click)="assignApp()">+ Assign Apps</button>
    </div>
    <div class="mb-4 ml-3" [class.mt-4]="selectUserType === 'superadmin'">
        <strong>Apps Assigned</strong>
    </div>
    <div *ngIf="selectUserType === 'superadmin'" [@slideOut] class="ml-3">
        <span class="text-secondary text-lg">Super Admin has access to all the Apps</span>
    </div>
    <div *ngIf="selectUserType === 'user'" [@slideIn] class="d-flex flex-wrap">
        <div class="d-flex justify-content-start align-items-center app-wrapper" *ngIf="userApps.length === 0">
            <div class="assign-app hover mr-3 mb-4 d-flex justify-content-center align-items-center"
                (click)="assignApp()">
                <span class="fas fa-plus"></span>
            </div>
            <div>
                <strong class="assign-app-title">Assign Apps</strong>
                <br>
                <span class="text-muted">Click to assign Apps</span>
            </div>
        </div>
        <div *ngFor="let userApp of userApps; let idx = index;" class="position-relative app-wrapper">
            <div (click)="appOptions[idx] = true"
                class="hover d-flex justify-content-center align-items-center mr-3 mb-3 ignore-outside">
                <div class="assigned-app mr-3 d-flex justify-content-center align-items-center border ignore-outside">
                    <img *ngIf="userApp.logo && userApp.logo.thumbnail" [src]="userApp.logo.thumbnail" alt="Logo"
                        class="ignore-outside">
                    <odp-app-icon *ngIf="!userApp.logo || !userApp.logo.thumbnail" color="aaa ignore-outside">
                    </odp-app-icon>
                </div>
                <div class="mr-5 d-flex flex-column app-action ignore-outside">
                    <div class="ignore-outside">
                        <strong class="ignore-outside">{{userApp._id}}</strong>
                    </div>
                    <div class="d-flex align-items-center mt-2 position-relative admin-badge ignore-outside"
                        *ngIf="ifAppAdmin(userApp._id)">
                        <div
                            class="text-white bg-dark d-flex justify-content-center align-items-center badge-A ignore-outside">
                            <strong class="ignore-outside">A</strong>
                        </div>
                        <div class="position-absolute badge-text ml-2 ignore-outside">Admin</div>
                    </div>
                </div>
                <div class="ml-3 hover ignore-outside" id="moreOptions">
                    <span class="fas fa-ellipsis-v text-secondary ignore-outside"></span>
                </div>
            </div>
            <div class="app-admin flex-column position-absolute border hover app-options p-3 w-75"
                [ngClass]="{'d-none': !appOptions[idx], 'd-flex': appOptions[idx]}" odpClickOutside
                (outside)="appOptions[idx] = false" [ignore]="['.ignore-outside']">
                <div *ngIf="!ifAppAdmin(userApp._id)" (click)="appOptions[idx] = false; grantAppAdmin(userApp._id)"
                    class="pb-2 border-bottom text-accent">Grant App Admin Access</div>
                <div *ngIf="ifAppAdmin(userApp._id)"
                    (click)="appOptions[idx] = false; removeUserAdminAccess(userApp._id)"
                    class="pb-2 border-bottom text-primary">Revoke App Admin Access</div>
                <div class="text-danger pt-2" (click)="appOptions[idx] = false; confirmRemoveAction(userApp._id)">Remove
                    App</div>
            </div>
        </div>
    </div>
</div>
<ng-template #assignAppModal>
    <div class="assignApp-modal ignore-outside">
        <div class="modal-header ignore-outside p-4">
            <div class="text-dark d-flex ignore-outside">
                <label for="addApp" class="label-width ignore-outside">
                    <strong class="ignore-outside">Add App</strong>
                </label>
                <div class="position-relative ignore-outside">
                    <odp-search-box (enteredText)="appSearch($event)" (reset)="resetApp()" [ignoreOutside]="true">
                    </odp-search-box>
                </div>
            </div>
        </div>
        <div class="modal-body p-4 ignore-outside">
            <div class="d-flex flex-wrap mt-4 ignore-outside">
                <div class="app-card d-flex flex-column my-3 mx-4 ignore-outside"
                    *ngFor="let app of appList| filterApp: filterAppStr; index as appIndex;">
                    <div class="app-thumbnail d-flex align-items-center justify-content-center hover ignore-outside"
                        [ngClass]="{'app-selected': app.selected, 'bg-light': !app.selected}"
                        (click)="app.selected=!app.selected">
                        <div
                            class="d-flex flex-column align-items-center justify-content-center position-relative ignore-outside">
                            <img *ngIf="app.logo && app.logo.thumbnail" [src]="app.logo.thumbnail" alt="app-logo">
                            <span *ngIf="!app.logo || !app.logo.thumbnail"
                                class="fa fa-university fa-lg text-secondary"></span>
                            <figcaption
                                class="app-thumbnail-caption position-absolute d-flex text-white justify-content-center align-items-center d-flex flex-column"
                                *ngIf="app.selected">
                                <span class="fas fa-check-circle mt-3"></span>
                                <strong class="text pt-1">Selected</strong>
                            </figcaption>
                        </div>
                    </div>
                    <div class="app-name text-center mt-2 ignore-outside">{{app._id}}</div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-3 d-flex w-100 bg-white mt-auto justify-content-between align-items-end">
            <div class="d-flex">
                <div class="text-secondary mr-2">Apps Added:</div>
                <div class="font-weight-bold text-accent" *ngIf="selectedApps.length > 0">{{ markedApp }}</div>
                <div class="font-weight-bold text-accent" *ngIf="selectedApps.length > 3">
                    &nbsp;+&nbsp;{{ selectedApps.length - 3}}</div>
            </div>
            <div>
                <button type="button" class="btn btn-link ml-auto mb-1 ignore-outside"
                    (click)="assignAppModalRef.close(false)" id="appAddModalNo">Cancel
                </button>
                <button type="button" class="btn btn-dark btn-min-width ml-5 ignore-outside"
                    (click)="assignAppModalRef.close(true)" id="appAddModalYes">Done
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #deleteModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center align-self-start mb-3">
                <span class="icon-wrapper modify rounded-circle d-flex align-items-center justify-content-center mr-2">
                    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
                </span>
                <span class="font-weight-bold">{{deleteModal.title}}</span>
            </div>
            <span class="fa fa-times" (click)="deleteModalTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center py-4">{{deleteModal.message}}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-dark" (click)="deleteModalTemplateRef.close(true)"
                id="saADeleteModalYes">Yes</button>
        </div>
    </div>
</ng-template>

<ng-template #superAdminTemplate>
    <div class="modal-body p-4">
        <div class="d-flex justify-content-between">
            <div class="d-flex align-items-center align-self-start mb-3">
                <span class="icon-wrapper modify rounded-circle d-flex align-items-center justify-content-center mr-2">
                    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
                </span>
                <span class="font-weight-bold">{{prvlgChng.title}}</span>
            </div>
            <span class="fa fa-times" (click)="superAdminTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center py-4">{{prvlgChng.message}}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-dark" (click)="superAdminTemplateRef.close(true)"
                id="saADeleteModalYes">Yes</button>
        </div>
    </div>
</ng-template>