@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.assign-app {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: 1px dashed $border-color;
    border-radius: 20px;
    overflow: hidden;

    span {
        color: $primary;
    }
}

.assigned-app {
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 20px;
    overflow: hidden;

    img {
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
    }
}

.assign-app-title {
    color: $primary;
}
.app-wrapper{
    min-width: 274px;
    max-width: 274px;
}
.app-card {
    border: 1px solid transparent;
    transition: 0.25s;

    .app-selected {
        background-color: rgba($black, .4);
    }

    .app-thumbnail {
        min-width: 80px;
        max-width: 80px;
        min-height: 80px;
        max-height: 80px;
        border-radius: 20px;
        overflow: hidden;
        position: relative;

        img {
            min-width: 80px;
            max-width: 80px;
            min-height: 80px;
            max-height: 80px;
        }

        &-caption {
            font-size: 1rem;
            min-width: 80px;
            max-width: 80px;
            min-height: 100px;
            max-height: 100px;
            background-color: rgba($black, .5);

            .text {
                font-size: 1rem;
            }
        }
    }
}

.app-options {
    top: 66px;
    left: 10px;
    background-color: $white;
    z-index: 20;
    border-radius: 5px;
}

.app-action {
    width: 77px;
    .admin-badge {
        width: 75px;
        .badge-A {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
        .badge-text {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: $white;
            padding-left: 25px;
            z-index: -1;
            padding-top: .15rem;
            color: $accent;
            transition: all .3s ease-in-out;
        }
        &:hover {
            .badge-text {
                width: 74px;
                height: 25px;
                background-color: $accent;
                border-radius: 16px;
                color: $white;
            }
        }
    }
}

.radio-btn-grp {
    .btn-container {
        min-width: 150px;
        max-width: 150px;
        min-height: 32px;
        max-height: 32px;
        border-radius: 4px;
        transition: background-color .3s ease-in;
    }
}


