@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.thumbnail {
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 30px;
  overflow: hidden;
  img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
  }
}
.tabs {
  min-height: 40px;
  max-height: 40px;
  .tab {
    min-height: 40px;
    max-height: 40px;
    border-bottom: 4px solid transparent;
    &.active {
      border-color: $accent;
      color: $accent;
    }
  }
}

.drop-box {
  border: 2px dashed lighten($secondary, 20);
  transition: 0.25s ease-in-out;
  &.drop-box-thumbnail {
    min-width: 72px;
    max-width: 72px;
    min-height: 72px;
    max-height: 72px;
    border-radius: 15px;
    overflow: hidden;
  }
  &.drop-box-logo {
    min-width: 216px;
    max-width: 216px;
    min-height: 72px;
    max-height: 72px;
  }
  &:hover {
    border-color: #666;
    cursor: pointer;
  }
  .drop-box-logo-holder {
    min-width: 216px;
    max-width: 216px;
    min-height: 72px;
    max-height: 72px;
  }
  .drop-box-thumbnail-holder {
    min-width: 72px;
    max-width: 72px;
    min-height: 72px;
    max-height: 72px;
  }
}
.certificate {
  width: 100%;
  height: 180px;
  background: #f2f2f2;
  border: #bdbdbd 1px solid;
  border-radius: 4px;
  .certificate-card {
    width: 60px !important;
    height: 70px !important;
    font-size: 65px;
  }
  .cert-name {
    font-size: 1rem;
  }
  .cert-des {
    font-size: 0.75rem;
  }
  .info-cards {
    margin-top: 100px;
    .info-card-items {
      width: 224px;
      height: 64px;
      border-radius: 6px;
      .card-name {
        font-size: 0.75rem;
      }
    }
  }
}
.theme-settings {
  height: 130px;
  .label {
    width: 100px;
  }
  .selected-color {
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
    border-radius: 14px;
  }
}
.switch .toggler {
  top: -1px;
}

.color-palette {
  box-shadow: 0px 0px 10px #ccc;
  border-radius: 10px;
  overflow: hidden;
  top: 36px;
  z-index: 10;
}
.image-cropper {
  width: 300px;
  height: 80px;
  padding: 0;
}

.user-list {
  max-height: calc(100vh - 366px);
  overflow-y: auto;
}

.modal-user-list {
  max-height: calc(100vh - 278px);
  overflow: auto;
  .user-img-container {
    min-width: 28px;
    max-width: 28px;
    min-height: 28px;
    max-height: 28px;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
    border: 2px solid $border-color;
  }
  .checkmark-pos {
    right: 5px;
    font-size: 0.8rem;
  }
  .usr-selected {
    background-color: rgba(0, 0, 0, 0.35);
  }
}

.col-name {
  max-width: 290px !important;
}

table {
  span {
    vertical-align: middle;
  }

  .symbol {
    font-size: 32px;
    line-height: 0;
  }

  [class^="odp-"],
  [class*=" odp-"] {
    font-size: 16px;
    line-height: 0;
  }

  .thead-accent {
    background-color: $accent !important;
    color: $white;
  }

  td:not(:first-child) {
    border-top: 1px solid $border-color;
  }

  .selectedRow {
    background-color: $light;
  }
}

.switch-card {
  min-width: 348px;
  max-width: 348px;
  min-height: 60px;
  max-height: 60px;
  transition: 0.25s;
  border-left: 4px solid transparent;
  &.active,
  &:hover {
    border-left: 4px solid gray !important;
  }
}

.popup {
  &-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background: rgba($black, $alpha: 0.6);
  }
  &-content {
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 80vh;
    overflow: hidden;
    border-radius: 5px;
    z-index: 25;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);
    label {
      width: 28px;
    }
  }
}
.manage-cards {
  min-width: 240px;
  max-width: 240px;
  min-height: 174px;
  max-height: 230px;
  border-color: #ececec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  overflow: hidden;
  .service-card {
    min-height: 50px;
    max-height: 50px;
    font-size: 14px;
    font-weight: 500;
  }
}

.service-status-card {
  min-width: 240px;
  max-width: 240px;
  min-height: 40px;
  max-height: 40px;
  border-color: #ececec;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  overflow: hidden;
  .start-circle {
    min-width: 48px;
    max-width: 48px;
    min-height: 48px;
    max-height: 48px;
    border-radius: 24px;
    margin-top: -11px;
    // display: none
  }

  .action-card {
    position: relative;
    margin-top: 37px;
    font-size: 12px;
  }
  .stop-action-card {
    position: relative;
    margin-top: 28px;
    font-size: 12px;
  }
  .animate-wrap {
    margin-left: 92px;
  }
  .play-icon {
    z-index: 3;
    margin-left: 18px;
    margin-top: 4px;
  }
}
.align-text {
  position: relative;
  top: 32px;
  right: 17px;
}
.start-action {
  position: relative;
  top: 8px;
}
.starting-action {
  position: relative;
  top: 1px;
  margin-left: 40px;
  display: none;
}
.success-action {
  position: relative;
  top: 1px;
  margin-left: 40px;
  display: none;
}
.tick-action {
  position: relative;
  left: 16px;
  font-size: 22px;
  top: 15px;
  display: none;
}
.start-all-btn {
  height: 32px;
  margin-left: 27px !important;
  width: 140px;
  margin-top: 34px;
}
.circle-loader {
  border-left: #1cad49 1px solid;
  animation: loader-spin 1.2s infinite linear;
  vertical-align: top;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  position: relative;
  bottom: 12px;
  display: none;
}
.stop-circle-loader {
  border-left: #e41414 1px solid;
  animation: loader-spin 1.2s infinite linear;
  vertical-align: top;
  border-radius: 24px;
  width: 48px;
  height: 48px;
  position: relative;
  margin-top: -11px;
  display: none;
  // margin-left: -128px;
}

.admin-icon-holder {
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;
}
.type-option {
  min-width: 72px;
  max-width: 72px;
  min-height: 80px;
  max-height: 80px;
  box-shadow: 0px 1px 3px rgba(#000000, 0.24);
  .check-circle {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    .inner-check-circle {
      min-width: 4px;
      max-width: 4px;
      min-height: 4px;
      max-height: 4px;
    }
  }
  &.active {
    color: $accent;
    box-shadow: 0px 3px 9px rgba(#0082c9, 0.32);
    border: 1px solid $accent;
  }
}
.interface-circle {
  min-width: 32px;
  min-height: 32px;
  max-width: 32px;
  min-width: 32px;
}
.bg-yellow {
  background-color: #fba200 !important;
}
.divBorder {
  min-height: 100px;
  max-height: 100px;
}
.color-editor {
  border: none;
  border-bottom: 2px dashed #a1a8ae;
  min-width: 60px;
  max-width: 60px;
}
.moon {
  color: $border-color;
}
.headers-key-wrapper {
  .fa-exclamation-circle {
    top: 7px;
    right: 5px;
  }
}

.option-label {
  min-width: 280px;
}
.version-error-symbol {
  top: 10px;
  right: 10px;
}
.overlay {
  max-width: 531px;
  min-width: 531px;
  // max-height: 334px;
  min-height: 334px;
}
.settings-overlay {
  min-height: 251px;
  min-width: 522px;
}

.wf {
  &-review-container {
    min-width: 300px;
    max-width: 300px;
    min-height: 335px;
    max-height: 335px;
  }
  &-actions {
    min-width: 250px;
    max-width: 250px;
    min-height: 270px;
    max-height: 270px;
    box-shadow: 2px 2px 5px $border;
  }
}
.ip-error-icon{
  top: 8px;
  right: 6px;
}