@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.settings {
  padding-right: 20px;
  position: absolute;
  top: 25px;
  right: 20px;
}

.popover {
  border: 1px solid #ECECEC;
  display: grid;
  width: 180px;
  top: 42px;
}

.popover-options {
  padding: 15px;
  cursor: pointer;
  color: $headings;
  font-size: 14px;

  &:hover {
    background: #F7F7F7;
  }
}

.disable-option {
  pointer-events: none;
  background-color: $input-disabled-bg;
  color: $lightgrey;
}