<div class="settings">
  <div class="hover ignore-outside d-flex align-items-center p-2 border rounded-lg" (click)="showSettings = !showSettings">
    <span class="fa fa-cog font-20"></span>
    <label class="my-0 mx-2">Profile Settings</label>
    <span class="fa-point fa" [ngClass]="{
        'fa-chevron-down': !showSettings,
        'fa-chevron-up': showSettings
      }"></span>
  </div>
  <div class="popover" *ngIf="showSettings" odpClickOutside (outside)="showSettings=false">
    <span id="closesession" (click)="closeAllSessions(user)" class="popover-options"
      *ngIf="!isThisUser(user) && hasPermission('PMUA')">End Session</span>
    <span id="removeaccess" (click)="isAppAdmin ? removeAdminAccess() : makeAppAdmin()" class="popover-options"
      *ngIf="isElevatedUser && hasPermission('PMUG')">
      {{ isAppAdmin ? 'Remove app Admin' : 'Make app Admin' }}</span>
    <span class="popover-options" id="resetpassowrd" (click)="resetPassword()" *ngIf="
        showResetPassword &&
        authType &&
        authType == 'local' &&
        hasPermission('PMUA')
      ">Reset Password</span>
    <span id="removefromapp" class="popover-options" [ngClass]="{
        'disable-option': isThisUser(user)
      }" *ngIf="hasPermission('PMUBD')" (click)="removeFromApp()">Remove from app</span>
  </div>
</div>