<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" [ngStyle]="dimention">
  <g [ngClass]="{'active':active}">
    <path class="one" [ngStyle]="style" d="M.5,15.5V7A.5.5,0,0,1,1,6.5H5.5v9Z" />
    <path class="one" [ngStyle]="style" d="M10.5,15.5V3.5H15a.5.5,0,0,1,.5.5V15.5Z" />
    <path class="two" [ngStyle]="style" d="M5.5,15.5V1A.5.5,0,0,1,6,.5h4a.5.5,0,0,1,.5.5V15.5Z" />
    <line class="line-cap" [ngStyle]="style" x1="7.5" y1="3.5" x2="8.5" y2="3.5" />
    <line class="cls-4" [ngStyle]="style" x1="1" y1="12.5" x2="16" y2="12.5" />
    <line class="line-cap three" [ngStyle]="style" x1="12.5" y1="6.5" x2="13.5" y2="6.5" />
    <line class="line-cap three" [ngStyle]="style" x1="2.5" y1="8.5" x2="3.5" y2="8.5" />
  </g>
</svg>