$icomoon-font-family: "data-stack-icons" !default;
$icomoon-font-path: "fonts" !default;

$dsi-api-reciever: "\e962";
$dsi-logs: "\e950";
$dsi-mapping: "\e95e";
$dsi-response: "\e95f";
$dsi-connector: "\e960";
$dsi-invoke-api: "\e961";
$dsi-notification-active-path1: "\e94d";
$dsi-notification-active-path2: "\e94e";
$dsi-notification-active-path3: "\e94f";
$dsi-minus-circle-fill: "\e900";
$dsi-plus-circle-fill: "\e901";
$dsi-id: "\e902";
$dsi-date: "\e903";
$dsi-library-alt: "\e904";
$dsi-file-text: "\e905";
$dsi-object: "\e906";
$dsi-array: "\e907";
$dsi-relation: "\e908";
$dsi-number: "\e909";
$dsi-location: "\e90a";
$dsi-Profile: "\e90b";
$dsi-plus-circle: "\e90c";
$dsi-create-only-path1: "\e90d";
$dsi-create-only-path2: "\e90e";
$dsi-minus-circle: "\e90f";
$dsi-unique-path1: "\e910";
$dsi-unique-path2: "\e911";
$dsi-boolean: "\e912";
$dsi-text: "\e913";
$dsi-required-path1: "\e914";
$dsi-required-path2: "\e915";
$dsi-drop-up: "\e916";
$dsi-drop-down: "\e917";
$dsi-console: "\e918";
$dsi-plus: "\e919";
$dsi-close: "\e91a";
$dsi-settings: "\e91b";
$dsi-trash: "\e91c";
$dsi-drop-down-alt: "\e91d";
$dsi-minus: "\e91e";
$dsi-search: "\e91f";
$dsi-view: "\e920";
$dsi-arrow-right: "\e921";
$dsi-arrow-left: "\e922";
$dsi-copy: "\e923";
$dsi-edit: "\e924";
$dsi-logout: "\e925";
$dsi-info-circle: "\e926";
$dsi-danger-circle: "\e927";
$dsi-mail: "\e928";
$dsi-clock: "\e929";
$dsi-check: "\e92a";
$dsi-download: "\e92b";
$dsi-upload: "\e92c";
$dsi-full-screen: "\e92d";
$dsi-done: "\e92e";
$dsi-hide: "\e92f";
$dsi-json: "\e930";
$dsi-calendar: "\e931";
$dsi-branch: "\e932";
$dsi-remove: "\e933";
$dsi-more-vertical-6: "\e934";
$dsi-skip-forward: "\e935";
$dsi-cloud: "\e936";
$dsi-filter-alt: "\e937";
$dsi-dollar-sign: "\e938";
$dsi-map-pin: "\e939";
$dsi-refresh: "\e93a";
$dsi-attach: "\e93b";
$dsi-more-vertical: "\e93c";
$dsi-play: "\e93d";
$dsi-ban: "\e93e";
$dsi-save: "\e93f";
$dsi-align-right: "\e940";
$dsi-align-left: "\e941";
$dsi-undo: "\e942";
$dsi-redo: "\e943";
$dsi-join: "\e944";
$dsi-admin: "\e945";
$dsi-expand: "\e946";
$dsi-collapse: "\e947";
$dsi-file: "\e948";
$dsi-pointer: "\e949";
$dsi-sort: "\e94a";
$dsi-stop: "\e94b";
$dsi-notification: "\e94c";
$dsi-insight: "\e951";
$dsi-flow: "\e952";
$dsi-bookmark: "\e953";
$dsi-function: "\e954";
$dsi-agent: "\e955";
$dsi-bot: "\e956";
$dsi-library: "\e957";
$dsi-api-doc: "\e958";
$dsi-data-service: "\e959";
$dsi-group: "\e95a";
$dsi-nano-service: "\e95b";
$dsi-user: "\e95c";
$dsi-app-panel: "\e95d";