<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex flex-column page-padding w-100 h-100 bg-light-gray" [formGroup]="form">
    <div class="pb-4 pt-2">
        <odp-basic-info hideLogo="true" [(name)]="name" [(description)]="description" [edit]="edit">
            <button (click)="cancel()" type="button" class="edit-button btn btn-min-width btn-white border mr-3"
                id="cancelSchema">
                <span class="text">Cancel</span>
            </button>
            <button *ngIf="edit.id && !edit.status && canEditDataFormat(edit.id)" (click)="edit.status=true;"
                type="button" class="edit-button btn btn-min-width btn-primary" id="editSchema">
                <span class="text">Edit</span>
            </button>
            <button *ngIf="edit.status" [disabled]="form.invalid" (click)="saveSchema();edit.status=false" type="button"
                class="edit-button btn btn-min-width btn-primary" id="saveSchema">
                <span class="text">Save</span>
            </button>
        </odp-basic-info>
    </div>
    <div class="d-flex flex-column w-100 h-100 border-top border-left border-right rounded bg-white">
        <div class="tabs d-flex align-items-center border-bottom text-uppercase fw-500 font-13 text-muted">
            <div class="pl-4 pr-2 hover" [ngClass]="{'active':activeTab===0}" (click)="activeTab=0">
                Design
            </div>
            <!-- <div class="pl-4 pr-2 hover" [ngClass]="{'text-accent':activeTab===1}" (click)="activeTab=1">
                Integration Flows
            </div> -->
        </div>
        <div *ngIf="activeTab==0" class="d-flex flex-column w-100">
            <div class="d-flex w-100 builder">
                <div class="d-flex flex-column w-100 builder-body">
                    <div class="options d-flex justify-content-between align-items-center border-bottom px-3">
                        <div>
                            <button type="button" class="btn text-primary ignore-outside d-flex align-items-center"
                                (click)="showAdvanceSettingsWindow=true">
                                Configure -
                                <odp-format-type-badge [data]="selectedFormat"></odp-format-type-badge>
                            </button>
                        </div>
                        <div class="d-flex justify-content-end align-items-center" *ngIf="edit.status">
                            <button type="button" class="btn text-primary pr-0" (click)="addField('after')"
                                id="sbInsertAttribute">
                                Insert
                            </button>
                            <div ngbDropdown class="d-inline-block mr-3">
                                <button type="button" class="btn text-primary px-1 pt-2" id="insertDropDown"
                                    ngbDropdownToggle></button>
                                <div ngbDropdownMenu>
                                    <button type="button" class="dropdown-item" (click)="addField('before')">Insert
                                        Before
                                    </button>
                                    <button type="button" class="dropdown-item" (click)="addField('after')">Insert
                                        After
                                    </button>
                                </div>
                            </div>
                            <button type="button" class="btn text-primary" (click)="clearSchema()" id="sbClearAll">
                                Delete All
                            </button>
                        </div>
                    </div>
                    <div class="schema-creator scroll position-relative" id="schema-creator">
                        <ng-container formArrayName="definition">
                            <div class="p-3" [sortablejs]="definitions"
                                [sortablejsOptions]="{sort: editable, filter: '.disabled', onMove: sortableOnMove }">
                                <div *ngFor="let def of definitions;let i = index;let first = first;">
                                    <odp-structure-field [formGroupName]="i" [all]="form.get('definition')" [index]="i"
                                        [first]="first" [edit]="edit" [isDataFormat]="true" [formatType]="formatType"
                                        [isDataFormatUsed]="microflows.length>0"></odp-structure-field>
                                </div>
                            </div>
                            <div class="add-attribute d-flex align-items-center text-muted" *ngIf="edit.status">
                                <span class="d-flex align-items-center hover" (click)="addField()"
                                    id="schemaFieldObjectAddField">
                                    <span class="dsi dsi-plus fa-xs mr-1"></span>
                                    <span class="text">New Attribute</span>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="properties-wrapper builder-body">
                    <odp-structure-field-properties [edit]="edit" [isDataFormat]="true" [formatType]="formatType">
                    </odp-structure-field-properties>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #deleteModalEle>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between">
            <span class="font-20 fw-600 mb-1">{{deleteModal.title}}</span>
            <span class="fa fa-times text-secondary hover" (click)="deleteModalEleRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center  my-5">{{deleteModal.message}}</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-dark"
                (click)="deleteModalEleRef.close(true)">Yes</button>
        </div>
    </div>
</ng-template>

<ng-template #pageChangeModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between">
            <span class="font-20 fw-600 mb-1">Unsaved Changes</span>
            <span class="dsi dsi-close text-dark hover" (click)="pageChangeModalTemplateRef.close(false)"></span>
        </div>
        <p class="text-secondary text-center my-5">You have unsaved changes, are you sure you want to leave?</p>
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-min-width btn-outline-primary mx-3"
                (click)="pageChangeModalTemplateRef.close(false)">No</button>
            <button type="button" class="btn btn-min-width btn-primary"
                (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
        </div>
    </div>
</ng-template>


<div [ngClass]="{'show':showAdvanceSettingsWindow}" odpClickOutside (outside)="showAdvanceSettingsWindow=false"
    class="advance-settings-window position-fixed p-4 d-flex flex-column align-items-center bg-white border-left">
    <div class="d-flex w-100 mb-4">
        <span class="font-20 text-dark fw-500">Configuration</span>
        <span class="dsi dsi-close mr-2 d-flex ml-auto align-items-center hover"
            (click)="showAdvanceSettingsWindow=false"></span>
    </div>
    <div *ngIf="showAdvanceSettingsWindow" class="form-group">
        <label class="font-14 text-dark">Type</label>
        <div class="d-flex flex-wrap position-relative">
            <div class="format-select-list-item d-flex align-items-center mr-3 mb-2" *ngFor="let format of formatList"
                (click)="selectFormat(format);">
                <odp-round-radio class="mr-2" [edit]="edit" [checked]="selectedFormat==format"></odp-round-radio>
                <odp-format-type-badge [data]="format"></odp-format-type-badge>
            </div>
            <!-- <button type="button" [ngClass]="{'border':edit.status,'border-0':!edit.status}"
                class="format-select d-flex align-items-center justify-content-between bg-white rounded"
                (click)="edit.status?toggleFormatSelector=!toggleFormatSelector:toggleFormatSelector=false">
                <div class="d-flex align-items-center mr-2">
                    <odp-format-type-badge [data]="selectedFormat"></odp-format-type-badge>
                </div>
                <span *ngIf="edit.status" class="fa text-accent"
                    [ngClass]="{'fa-angle-up':toggleFormatSelector,'fa-angle-down':!toggleFormatSelector}"></span>
            </button>
            <div class="position-absolute format-select-list bg-white rounded border" *ngIf="toggleFormatSelector">
                <button type="button" class="format-select-list-item d-flex align-items-center bg-white border-0"
                    *ngFor="let format of formatList" (click)="selectFormat(format);toggleFormatSelector=false">
                    <odp-format-type-badge [data]="format"></odp-format-type-badge>
                </button>
            </div> -->
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <ng-container *ngIf="edit.status">
            <div class="form-group" *ngIf="formatType && (formatType == 'DELIMITER' || 
                    formatType == 'CSV' ||
                    formatType == 'FLATFILE')">
                <label class="font-14 text-dark">Line Separator</label>
                <select *ngIf="form.get('lineSeparator')" class="form-control" formControlName="lineSeparator">
                    <option value="\\r">CR</option>
                    <option value="\\n">LF</option>
                    <option value="\\r\\n">CR+LF</option>
                </select>
            </div>
            <div class="form-group" *ngIf="formatType && formatType == 'DELIMITER'">
                <label class="font-14 text-dark">Delimiter</label>
                <input *ngIf="form.get('character')" type="text" class="form-control" formControlName="character">
            </div>
            <div class="form-group d-flex align-items-center" *ngIf="formatType">
                <!-- <odp-checkbox [edit]="edit" [(checked)]="strictValidation"></odp-checkbox> -->

                <label class="font-14 text-dark mr-2 mb-0">
                    Strict Validation
                </label>
                <odp-switch [edit]="edit" [(checked)]="strictValidation"></odp-switch>
            </div>
        </ng-container>
        <ng-container *ngIf="!edit.status">
            <div class="form-group" *ngIf="formatType && (formatType == 'DELIMITER' || 
                formatType == 'CSV' 
                || formatType == 'FLATFILE')">
                <label class="font-14 text-dark">Line Seperator</label>
                <div class="p-2 extra-info" *ngIf="form.get('lineSeparator').value ==='\\\\r'">
                    CR</div>
                <div class="p-2 extra-info" *ngIf="form.get('lineSeparator').value ==='\\\\n'">
                    LF</div>
                <div class="p-2 extra-info" *ngIf="form.get('lineSeparator').value ==='\\\\r\\\\n'">CR+LF</div>
            </div>
            <div class="form-group" *ngIf="formatType && formatType == 'DELIMITER'">
                <label class="font-14 text-dark">Delimiter</label>
                <div class="p-2 extra-info">{{form.get('character').value}}</div>
            </div>
            <div class="form-group d-flex align-items-center" *ngIf="formatType">
                <!-- <odp-checkbox [edit]="edit" [checked]="strictValidation"></odp-checkbox> -->
                <label class="font-14 text-dark mr-2 mb-0">Strict Validation</label>
                <odp-switch [edit]="edit" [checked]="strictValidation"></odp-switch>
            </div>
        </ng-container>
    </div>
</div>