@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.grid {
    .grid-row {
        .grid-cell {
            min-height: 32px;
            max-height: 32px;
            padding: 5px;
        }

        .grid-cell:not(.flex-fill) {
            min-width: 80px;
            max-width: 80px;

            &.name {
                min-width: 200px;
                max-width: 200px;
            }

            &.value {
                min-width: 200px;
                max-width: 200px;
            }
        }

        &.head {
            font-weight: 500;
            color: $secondary;
            text-transform: uppercase;
            font-size: 12px;

            .grid-cell {
                min-height: 24px !important;
                max-height: 24px !important;
            }
        }
    }

    .grid-body {
        overflow-y: auto;
        max-height: 300px;
    }

}