<div class="position-relative">
    <span ngbTooltip="Add Dynamic Variable" container="body"
        class="dynamic-variable-button dsi dsi-object text-primary position-absolute hover"
        (click)="onClick($event)"></span>
    <!-- <span *ngIf="value">{{currentValue}}</span> -->
</div>

<div *ngIf="toggleNodeSelector" class="node-data-selector-wrapper p-3 bg-white position-fixed">
    <div class="d-flex align-items-center justify-content-between">
        <h3 class="font-20 fw-600">Node List</h3>
        <span class="dsi dsi-close hover" (click)="cancel()"></span>
    </div>
    <span class="fw-500 badge badge-info font-12 my-3"> {{'\{\{'+currentValue +'\}\}'}}</span>
    <div *ngIf="!selectedNode && !nodeDataField" class="list-group my-3">
        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
            *ngFor="let item of nodeList" (click)="selectNode(item)">
            <div class="d-flex align-items-center justify-content-start">
                <odp-round-radio [edit]="edit" [checked]="item._selected">
                </odp-round-radio>
                <span class="node-id ml-3">{{item._id}}</span>
                <span class="node-type ml-3">{{item.type}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="selectedNode && !nodeDataField">
        <div class="list-group my-3">
            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
                (click)="selectNodeDataKey('statusCode')">
                <div class="d-flex align-items-center justify-content-start">
                    <span>Status Code</span>
                </div>
            </div>
            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
                (click)="selectNodeDataKey('status')">
                <div class="d-flex align-items-center justify-content-start">
                    <span>Status</span>
                </div>
            </div>
            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
                (click)="selectNodeDataKey('headers')">
                <div class="d-flex align-items-center justify-content-start">
                    <span>Headers</span>
                </div>
            </div>
            <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
                (click)="selectNodeDataKey('body')">
                <div class="d-flex align-items-center justify-content-start">
                    <span>Body</span>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="selectedNode && nodeDataField">
        <div class="form-group my-3" *ngIf="selectedNode && nodeDataField && (nodeDataField=='headers' || nodeDataField=='body')">
            <label for="fieldKey">Field</label>
            <input type="text" class="form-control" [(ngModel)]="tempDataKey" odpAutoFocus>
        </div>
        <button type="button" class="btn btn-primary" (click)="saveData()">Done</button>
    </div>
</div>