@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.login-img {
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    width: 40% !important;
    height: 40% !important;
    position: absolute;
    left: 10%;
    right: 75%;
    top: 15%;
    bottom: 45%;
}

.page {
    height: 100vh;
}

.login-bg {
    .welcome {
        // margin-top: 30vh;
        margin-left: 8vw;

        >.title {
            font-size: 36px;
            font-weight: 600;
            font-size: 36px;
            line-height: 44px;
            font-style: normal;
            display: flex;
            letter-spacing: 0.01em;
        }

        .text {
            width: 610px;
        }
    }

    .login-text {
        font-style: normal;
        font-weight: 600;
        font-size: 24px !important;
        line-height: 40px;
    }

    .sign-in {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #6C7584;
    }

    .input-text {
        width: 360px;
        min-height: 40px !important;
        border-radius: 8px;
    }

    .form-button {
        width: 360px;
        min-height: 48px !important;
        border-radius: 6px;
    }


    .product {
        width: 340px;
        margin-top: 10vh;

        .logo {
            width: 284px;
            height: 84px;
            background-size: 250px;
            background-position: center;
        }

        .title {
            font-size: 22px;
            color: #181818;
            margin-top: 4px;
        }

        .sub-title {
            font-size: 14px;
            margin-top: -4px;
        }
    }

    .form {
        width: 340px;
        margin: 0 auto;
        margin-top: 0px;

        form {

            input,
            button {
                height: 36px !important;
                line-height: 14px;
            }
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    justify-content: center;
}

.col-4half,
.col-7half {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {

    .col-4half,
    .col-7half {
        float: left;
    }

    .col-4half {
        width: 35%;
    }

    .col-7half {
        width: 65%;
    }
}