<div class="login-bg">
  <div class="container-fluid">
    <div class="row page">
      <div class="col-7half" style="background-color: #e5e5e5">
        <div class="row" style="height: 60vh">
          <div class="login-img"></div>
        </div>
        <div class="row">
          <div class="welcome">
            <div class="title pb-4">Organize. Distribute. Analyze.</div>
            <p class="text">
              Welcome to data.stack, an intelligent API-first application
              productivity platform with data at its core. data.stack enables
              business users to easily organize, analyze and distribute data. To
              access this portal, contact
              <a href="mailto:support@appveen.com">support@appveen.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-4half login-form">
        <div class="product clearfix pl-4">
          <span class="d-inline-block float-left logo"></span>
        </div>
        <div style="margin-left: 80px; margin-top: 10px">
          <label class="login-text">Login</label>
          <div class="sign-in">Welcome back! Login with your credentials</div>
          <div>
            <form [formGroup]="form">
              <div class="form-group">
                <label style="margin-top: 20px">Email</label>
                <input type="text" class="form-control form-control-lg input-text" formControlName="username"
                  id="username" #usernameControl placeholder="name@email.com" odpAutoFocus
                  (keyup.enter)="onSubmit($event)" />
                <label style="margin-top: 20px">Password</label>
                <input type="password" class="form-control form-control-lg input-text" formControlName="password"
                  id="password" #password placeholder="xxxxxxxxx" (keyup.enter)="onSubmit($event)" />

                <!-- <a href="#" class="text-secondary">Forgot your Password?</a> -->
                <button type="button" class="btn btn-lg btn-primary input-text" (click)="onSubmit($event)"
                  style="margin-top: 20px">
                  <span *ngIf="loader" class="fa fa-spinner fa-pulse mr-2"></span>
                  <span class="btn-text">Login</span>
                </button>
              </div>
              <!-- <div
                class="form-group"
                *ngIf="authTypeChecked && authType != 'azure'"
              > -->
              <!-- <div class="font-weight-bold text-center mb-3">
                  Enter password to login
                </div>
                <a href="#" (click)="emptyUsername()" *ngIf="!loader">
                  <span class="fa fa-angle-left mr-2"></span>
                  <span class="text-accent">{{ username }}</span>
                </a>
                <span class="mb-3" *ngIf="loader">
                  <span class="fa fa-angle-left mr-2 text-primary"></span>
                  <span class="text-accent">{{ username }}</span>
                </span> -->
              <!-- <input
                  type="password"
                  class="form-control my-3"
                  formControlName="password"
                  id="password"
                  #password
                  placeholder="Password"
                  (keyup.enter)="doLogin($event)"
                  odpAutoFocus
                /> -->
              <!-- <div class="d-flex align-items-center justify-content-end">
                  <!-- <a href="#" class="text-secondary">Forgot your Password?</a> -->
              <!-- <button
                    type="button"
                    class="btn btn-primary btn-min-width"
                    (click)="doLogin($event)"
                    [disabled]="!password.value || loader"
                  >
                    <span
                      *ngIf="loader"
                      class="fa fa-spinner fa-pulse mr-2"
                    ></span>
                    <span class="text">Login</span>
                  </button>
                </div> -->
              <!-- </div> -->
              <!-- <div
                class="form-group"
                *ngIf="authTypeChecked && authType == 'azure'"
              >
                <div class="font-weight-bold text-center mb-3">
                  Azure AD Login
                </div>
                <a
                  href="#"
                  (click)="authTypeChecked = false"
                  class="mb-3"
                  *ngIf="!azureLoginLoader"
                >
                  <span class="fa fa-angle-left mr-2"></span>
                  <span class="text-accent">{{ username }}</span>
                </a>
                <span class="mb-3" *ngIf="azureLoginLoader">
                  <span class="fa fa-angle-left mr-2 text-primary"></span>
                  <span class="text-accent">{{ username }}</span>
                </span>
                <div
                  class="d-flex align-items-center justify-content-center"
                  *ngIf="azureLoginLoader"
                >
                  <div class="azure-loader"></div>
                </div>
                <div class="d-flex align-items-center justify-content-end mt-3">
                  <button
                    type="button"
                    class="btn btn-primary btn-min-width"
                    (click)="doAzureLogin()"
                    [disabled]="azureLoginLoader"
                  >
                    Login With Azure
                  </button>
                </div>
              </div> -->
              <div class="text-danger text-center">{{ message }}&nbsp;</div>
            </form>
          </div>
        </div>
        <!-- <div class="row footer p-3 w-100">
          <span
            >Don't have an account ?
            <span style="font-weight: 600"><u>Register</u></span></span
          >
        </div> -->
      </div>
    </div>
  </div>
</div>

<ng-template #clearSessionModal>
  <div class="modal-body p-4">
    <div class="d-flex flex-column align-items-center my-5 px-4">
      <p class="font-16 font-weight-bold text-center">Old Session is Active</p>
      <p class="text-center text-secondary">
        You already have an active session.
        <ng-container *ngIf="rbacUserReloginAction === 'allow'">Logging in will invalidate all your previous session.
        </ng-container>
        <ng-container *ngIf="rbacUserReloginAction === 'deny'">Please contact you admistrator.</ng-container>
      </p>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-link" (click)="clearSessionModalRef.close(false)">
        Close
      </button>
      <button *ngIf="rbacUserReloginAction === 'allow'" type="button" class="btn btn-dark btm-min-width ml-3"
        (click)="clearSessionModalRef.close(true)">
        Continue
      </button>
    </div>
  </div>
</ng-template>