<div class="d-flex flex-column w-100 h-100">
    <div class="options p-3 d-flex justify-content-between">
        <div class="buttons d-flex">
            <button (click)="purgeAudit()" type="button" *ngIf="canPurgeAudit()"
                class="edit-button btn btn-white border d-flex align-items-center ">
                <span class="dsi dsi-trash mr-2"></span>
                <span class="text">Purge Audit</span>
            </button>
        </div>
        <div class="filters d-flex w-75 justify-content-end">
            <span class="btn btn-link text-accent" *ngIf="columns" (click)="showColumns=!showColumns">
                <span class="dsi dsi-settings mr-2"></span>
                <span class="text">Columns</span>
            </span>
            <span class="btn btn-link text-accent" (click)="showFilters=!showFilters">
                <span class="dsi dsi-filter-alt mr-2"></span>
                <span class="text">Filter</span>
            </span>
            <div class="mx-3 position-relative w-50" *ngIf="searchOptions.length>0">
                <input type="text" class="form-control" [(ngModel)]="searchModel.term" (keyup)="checkSearch($event)"
                    placeholder="Search">
                <div class="position-absolute d-flex select-search-field">
                    <span class="text-accent mr-2">in</span>
                    <select class="bg-white border-0" [(ngModel)]="searchModel.field">
                        <option [value]="opt.searchField" *ngFor="let opt of searchOptions">{{opt.label}}</option>
                    </select>
                </div>
                <span class="clear-btn fa fa-times position-absolute text-danger hover" *ngIf="filters"
                    (click)="clearSearch()"></span>
            </div>
            <span class="btn btn-secondary btn-min-width" (click)="search()" *ngIf="searchOptions.length>0">
                Search
            </span>
        </div>
    </div>
    <div class="d-flex flex-column h-100 w-100">
        <odp-audit-logs #auditlog *ngIf="activeTab==1" [serviceObj]="service" [(columns)]="columns"
            [(filters)]="filters">
        </odp-audit-logs>
    </div>
</div>

<div class="columns-selector card position-fixed" [ngClass]="{'show':showColumns}" *ngIf="columns">
    <div class="card-header d-flex bg-dark text-white align-items-center">
        <h5 class="m-0 w-100">Columns</h5>
        <span class="fa fa-times hover" (click)="showColumns=false"></span>
    </div>
    <div class="card-body">
        <ng-container *ngFor="let key of getKeys(columns)">
            <div class="custom-control custom-checkbox">
                <input [attr.id]="key" type="checkbox" class="custom-control-input" value="true"
                    [(ngModel)]="columns[key].show" [ngModelOptions]="{standalone: true}">
                <label class="custom-control-label text-primary-dark hover"
                    [attr.for]="key">{{columns[key].label}}</label>
            </div>
        </ng-container>
    </div>
</div>

<div class="filter-selector card position-fixed" [ngClass]="{'show':showFilters}">
    <div class="card-header d-flex bg-dark text-white align-items-center">
        <h5 class="m-0 w-100">Filters</h5>
        <span class="fa fa-times hover" (click)="showFilters=false"></span>
    </div>
    <div class="card-body py-2">
        <select id="" class="form-control" *ngIf="dateFields.length>1" [(ngModel)]="filterModel.field">
            <option *ngFor="let field of dateFields" [value]="field.label">{{field.label}}</option>
        </select>
        <div class="d-flex flex-column">
            <div class="d-flex justify-content-between align-items-center selected-date">
                <span>From</span>
                <span class="d-flex justify-content-end align-items-center pr-4">
                    <span *ngIf="dateFrom">{{dateFrom|date:'dd-MMM-yyyy hh:mm:ss a'}}</span>
                    <span *ngIf="!dateFrom">Select date</span>
                    <button type="button" *ngIf="dateFrom" class="btn btn-sm btn-link pr-0"
                        (click)="dateFrom=null">clear</button>
                </span>
            </div>
            <div class="d-flex justify-content-between align-items-center selected-date">
                <span>To</span>
                <span class="d-flex justify-content-end align-items-center pr-4">
                    <span *ngIf="dateTo">{{dateTo|date:'dd-MMM-yyyy hh:mm:ss a'}}</span>
                    <span *ngIf="!dateTo">Select date</span>
                    <button type="button" *ngIf="dateTo" class="btn btn-sm btn-link pr-0"
                        (click)="dateTo=null">clear</button>
                </span>
            </div>
        </div>
        <odp-date-picker *ngIf="showFilters" [(togglePicker)]="showFilters" [options]="{range:true}" [(from)]="dateFrom"
            [(to)]="dateTo"></odp-date-picker>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-icon" (click)="clearSearchWithDate()">Clear</button>
            <button type="button" class="btn btn-primary ml-3" (click)="searchWithDate()">Search</button>
        </div>
    </div>
</div>
<ng-template #purgeModalTemplate>
    <div class="delete-modal-body modal-body p-4 d-flex flex-column align-items-center" odpFocusNext
        (trigger)="purgeModalTemplateRef.close(true)">
        <div class="d-flex align-items-center justify-content-between mb-2 w-100">
            <div class="d-flex align-items-center">
                <span class="dsi dsi-danger-circle mr-2 text-danger"></span>
                <span class="font-20 fw-500"><strong>{{purgeModal.title}}</strong></span>
            </div>
            <span class="fa fa-times text-muted hover" (click)="purgeModalTemplateRef.close(false)"></span>
        </div>
        <div class="info d-flex flex-column align-self-center justify-content-center w-100 h-100 mt-4">
            <div class="desc-pos">{{purgeModal.desc}}</div>
            <div class="text-center mt-3 px-4">
                <span class="confirm-text">
                    Please type in the name of the data service to confirm
                </span>
            </div>
            <input type="text" class="form-control mt-3 service-name" placeholder="Enter the Data Service name"
                [(ngModel)]="confirmServiceName" odpAutoFocus>
            <div class="text-center mt-auto">
                <button class="btn btn-danger" type="button"
                    (click)="purgeModalTemplateRef.close(true)">{{purgeModal.btnText}}</button>
            </div>
        </div>
    </div>
</ng-template>