@import 'src/assets/scss/bootstrap/_functions.scss';
@import 'src/assets/scss/bootstrap/_variables.scss';

.header {
  min-height: 50px;
  max-height: 50px;
}

.options {
  min-height: 100px;
  padding: 40px;
}

.fill-empty-space {
  height: 28px;
}

.admin-placeholder {
  display: inline-block;
  max-width: 16px;
  min-width: 16px;
}

.user-list {

  .grid-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .button-group {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 20px;
    }

    .count-text {
      color: #747e8d;
    }
  }

  .grid-container {
    min-height: calc(100vh - 200px);
    display: grid;
  }
}

.users-icon {
  min-width: 70px;
  min-height: 70px;
}

.user-option-class {
  .fa-angle-down {
    transform: rotate(0deg);
    transition: 0.25s;
  }

  &.open {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

.user-option-class>span {
  padding-top: 3px;
}

.user-manage {
  top: 138px;
  right: 0;
  bottom: 0;
}

.teamList {
  bottom: 30px;
  background-color: $white;
  overflow-y: auto;
  border-radius: 4px;
  max-height: 19vh;
  z-index: 20;

  ul {
    list-style: none;

    li:not(:last-child) {
      border-bottom: $border-width solid $border-color;
    }

    li:hover {
      background-color: $light;
    }
  }

  &-newHeight {
    max-height: 46vh;
  }
}

.user-option-class {
  .fa-angle-down {
    transform: rotate(0deg);
    transition: 0.25s;
  }

  &.open {
    .fa-angle-down {
      transform: rotate(180deg);
    }
  }
}

// Custom checkbox for selecting team
// 1. customizing the label
.team-checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // 2. Hide the browser's default checkbox
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  // Create a custom checkbox
  .team-selected {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 4px;
    background-color: #eee;
  }

  // On mouse-over, add a grey background color
  &:hover input~.team-selected {
    background-color: $gray-400;
  }

  // When the checkbox is checked, add a blue background
  input:checked~.team-selected {
    background-color: $accent;
  }

  // Create the checkmark/indicator (hidden when not checked)
  .team-selected:after {
    content: '';
    position: absolute;
    display: none;
  }

  // Show the checkmark when checked
  input:checked~.team-selected:after {
    display: block;
  }

  // Style the checkmark/indicator
  .team-selected:after {
    left: 7px;
    top: 2px;
    width: 7px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.label-width {
  min-width: 200px;
}

.eye-icon {
  padding: 12px;
  right: -1px;
}

.password-input {
  width: 90%;
  border-radius: 0.25em 0em 0em 0.25em;
}

.error-icon-password {
  right: 32px;
  top: 37px;
  z-index: 1;
}

.create {
  odp-user-icon {
    width: 18px;
    height: 18px;
    margin-top: -2px !important;
  }
}



.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.6);
}

.new-user-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: -360px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;
  &.show {
    right: 0px !important;
  }
}

.groups-list {
  max-height: 300px;
  overflow-y: auto;
}

.azure-logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-position: center;
  background-size: cover;

  &:hover {
    background: $light;
  }
}

.users{
  overflow-y: auto; max-height: inherit;
  padding: 20px 0 20px 20px

}

.list{
  margin-left: 48px;
  margin-right: 48px;
}

.selected{
  background: rgba($orange, 0.04);
}

.selectedTab{
  border-radius: 0px 8px 8px 0px;
  width: 3px;
  height: 60px;
  margin: auto 0;
}
.userList{
  padding: 20px;
  display: block;

  [type=checkbox] {
    opacity: 0.5;    
    border: 1px solid $lightgrey;
    border-radius: 4px
  }

  .name{
    font-size: 14px; 
    font-weight: 500;
    color: $headings;
    flex: 1 ;
  }
  .email{
    margin-left: 32px;
    margin-top: 10px;
  }
  
  &:hover {
    background: rgba($orange, 0.04);
  }
}
.details{
  display: flex;
  flex-direction: column;

  .name{
    font-size: 20px; 
    font-weight: 600;
    color: $headings;
    flex: 1 ;
    margin-bottom: 18px;
  }
  .time {
    margin-top: 12px;
    font-size: 12px;
  }
}


.email{
  font-weight: 400;
  font-size: 12px;
  color: $sub-headings;
}

.time{
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  color: $lightgrey;
}

.nav-item{
  width: 100px;
}

.tabs{
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  color: $lightgrey;
  cursor: pointer;
    &:hover{
      border-bottom: 2px solid $orange;
      border-width: medium;
      width: 60%;
    }
}

.active{
  color: $headings;
  border-bottom: 2px solid $orange;
  border-width: medium;
  width: 60%
}

.tab-header{
  font-weight: 500;
  font-size: 16px;  
  color: $headings;
}

.input-text{
  padding: 10px;
  gap: 40px;
  width: 310px;
  height: 40px;
}

.form-group{
  margin-bottom: 20px;
}


.text{
  font-size: 12px;
}

.fa-plus-circle {
  color: $primary;
  margin-right: 5px;
}

.add-attribute{
  margin-left: auto;
  margin-right: 20px;
}

.no-attribute{
  display: grid; margin: 0 auto; margin-top: 100px
}

.no-attr-label{
  font-weight: 700;
  font-size: 14px;
  margin: auto auto 15px auto;
  color: $headings;
}

.no-attr-sub{
  font-weight: 400;
  font-size: 12px;
  margin: auto auto 15px auto;
  color: $sub-headings;
}


.icons{
  color: #6C7584; 
  cursor: pointer
}

::ng-deep .ag-theme-balham{
  font-family: "Inter";
  font-size: 14px;

  .ag-root-wrapper{
    border: 1px solid #ECECEC;
    border-radius: 8px;
  }

  .ag-row{
    padding: 10px ;
  }

  .ag-layout-normal{
    overflow-x: hidden
  }
 
}

::ng-deep .ag-theme-balham .ag-header {
  font-size: 11px;
  color: $lightgrey;
  .ag-header-container{
    background-color: FBFBFB;
  }
  

}


::ng-deep .ag-theme-balham .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-balham .ag-ltr .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-balham .ag-ltr .ag-has-focus .ag-full-width-row.ag-row-focus .ag-cell-wrapper.ag-row-group, .ag-theme-balham .ag-ltr .ag-cell-range-single-cell, .ag-theme-balham .ag-ltr .ag-cell-range-single-cell.ag-cell-range-handle, .ag-theme-balham .ag-rtl .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-balham .ag-rtl .ag-context-menu-open .ag-cell-focus:not(.ag-cell-range-selected), .ag-theme-balham .ag-rtl .ag-has-focus .ag-full-width-row.ag-row-focus .ag-cell-wrapper.ag-row-group, .ag-theme-balham .ag-rtl .ag-cell-range-single-cell, .ag-theme-balham .ag-rtl .ag-cell-range-single-cell.ag-cell-range-handle {
  border: none  ;
  border-color: none;
  outline: none;
}
