<div class="bg-light-gray w-100 h-100">
  <div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
      <span class="fa fa-spinner fa-pulse fa-3x"></span>
      <div class="text-secondary mt-2">Processing...</div>
    </div>
  </div>
  <div class="d-flex flex-column position-relative" style="height: 100vh">
    <!-- <odp-breadcrumb [paths]="breadcrumbPaths"></odp-breadcrumb> -->
    <div class="options d-flex">
      <div class="fw-600 font-22">Users</div>
      <div class="d-flex align-items-center ml-auto">
        <ng-container *ngIf="hasPermission('PMUBD')">
          <button *ngIf="checkedUsers.length > 0" type="button" class="btn btn-outline-light border text-danger mr-3"
            (click)="removeUsers()" id="removeusers" [ngbTooltip]="'Delete '+checkedUsers.length+' Users'">
            <span class="dsi dsi-trash"></span>
            <!-- <span class="text">Remove Users ({{ checkedUsers.length }})</span> -->
          </button>
        </ng-container>
        <div class="mr-3">
          <odp-search-box (enteredText)="enterToSelect($event)" (reset)="enterToSelect('reset')" [selectOnEnter]="true"
            (enteredPressed)="enterToSelect($event)"></odp-search-box>
        </div>
        <button *ngIf="hasPermission('PMUBC')" type="button" class="add-new btn btn-outline-light border text-secondary mr-3" routerLink="bulk-import"
          ngbTooltip="Bulk Import" id="bulkimport">
          <span class="dsi dsi-upload"></span>
        </button>
        <button *ngIf="hasPermission('PMUBC')" type="button" id="newUser" class="add-new btn btn-primary"
          (click)="newUser()">
          <span class="dsi dsi-plus"></span>
        </button>
      </div>
    </div>

    <div class="bg-white list" style="max-height: 80vh; min-height: 80vh" *ngIf="!isLoading">
      <div class="d-flex justify-content-center align-items-center h-100 font-22 fw-600 heading"
        *ngIf="userList.length === 0">
        No users found
      </div>
      <div class="row" style="max-height: inherit" *ngIf="userList.length > 0">
        <div class="col-3 border-right users pr-0">
          <div *ngFor="let user of userList; let usrIndex = index" class="d-flex" [id]="'user' + usrIndex"
            (click)="showDetails(user)">
            <div class="selectedTab" [ngStyle]="{
                background: user._id === details?._id ? '#ff6f00' : 'none'
              }"></div>
            <div class="userList" style="flex-grow: 1" [ngClass]="{ selected: user._id === details?._id }">
              <div style="d-flex">
                <input type="checkbox" value="false" [attr.id]="'checkbox' + usrIndex" class="mr-3"
                  style="margin-top: 5px" (change)="clickCheckbox($event, user)" />
                <span class="name"> {{ user.basicDetails?.name }}</span>
                <span class="time float-right"> {{ formatLastLogin(user.lastLogin) }}</span>
              </div>
              <span class="email">{{ user.username }}</span>
            </div>
          </div>
        </div>
        <div class="col-9 users" style="padding: 24px">
          <div class="details">
            <span class="name">{{ details?.basicDetails?.name }}</span>
            <span class="email">{{ details?.username }}</span>
            <span class="time mr-auto" ngbTooltip="Last login">{{
              formatLastLogin(details?.lastLogin, true)
              }}</span>
          </div>
          <odp-user-manage [toggleUserMng]="showUsrManage" [bredcrumbSub]="bredcrumbSubject" (toggleUserMngChange)="
              showUsrManage = $event; breadcrumbPaths.pop()
            " [user]="details" (removeUser)="removeSelectedUsers($event)" (changePassword)="togglePasswordChange()">
          </odp-user-manage>
          <div style="display: grid">
            <div style="margin-top: 45px">
              <ul class="nav">
                <li class="nav-item" (click)="switchTab('Groups')" id="switchgroup">
                  <div class="tabs" [ngClass]="{
                      active: currentTab === 'Groups'
                    }">
                    Groups
                  </div>
                </li>
                <li class="nav-item" (click)="switchTab('Attributes')" id="switchattribute">
                  <div class="tabs" [ngClass]="{
                      active: currentTab === 'Attributes'
                    }">
                    Attributes
                  </div>
                </li>
              </ul>
            </div>
            <div style="margin: 0 auto" *ngIf="isDataLoading">
              <span class="fa fa-spinner fa-pulse fa-3x"></span>
            </div>
            <div style="margin-top: 30px; display: grid" *ngIf="!isDataLoading">
              <label class="tab-header">{{ currentTab }}</label>
              <div *ngIf="currentTab === 'Attributes'" style="display: flex">
                <label style="color: #6c7584; font-weight: 400">All attributes in which the user has been added</label>
                <div class="add-attribute hover d-flex" (click)="showAttributeSide()" id="showAttributeSide">
                  <i class="dsi dsi-plus-circle font-20 icon-primary mr-2"></i>
                  <label class="fw-500 font-normal heading">Add Attribute</label>
                </div>
              </div>
              <div *ngIf="currentTab === 'Groups'" style="display: flex">
                <label style="color: #6c7584; font-weight: 400">All groups in which the user has been added
                </label>
                <div class="add-attribute hover d-flex" (click)="openGroupModal()" id="openModal">
                  <i class="dsi dsi-plus-circle font-20 mr-2 icon-primary"></i>
                  <label class="fw-500 font-normal heading ">Add to Groups</label>
                </div>
              </div>
              <div *ngIf="showTable" class="mt-4">
                <ag-grid-angular *ngIf="currentTab === 'Groups'" style="height: 300px; overflow-x: hidden" #agGrid
                  class="ag-theme-balham" [gridOptions]="gridGroupOptions" (gridReady)="onGridReady($event)">
                </ag-grid-angular>
                <ag-grid-angular *ngIf="currentTab === 'Attributes'" style="height: 300px; overflow-x: hidden" #agGrid
                  class="ag-theme-balham" [gridOptions]="gridAttrOptions" (gridReady)="onGridReady($event)">
                  >
                </ag-grid-angular>
              </div>
              <div class="no-attribute" *ngIf="!showTable && currentTab === 'Attributes'">
                <label class="no-attr-label">No attributes are configured</label>
                <label class="no-attr-sub">
                  The user is not assigned to any attribute</label>
                <button type="button" style="width: auto; margin: auto" class="btn btn-primary add-button"
                  id="showAttributeSide" (click)="showAttributeSide()">
                  Add Attributes
                </button>
              </div>
              <div class="no-attribute" *ngIf="!showTable && currentTab === 'Groups'">
                <label class="no-attr-label">Not assigned to any groups</label>
                <label class="no-attr-sub">
                  The user is not assigned to any groups</label>
                <button type="button" class="btn btn-primary add-button mx-auto" id="addToGroup"
                  (click)="openGroupModal()">
                  Assign to group
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #removeSelectedModal>
      <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center align-self-start mb-3">
            <span class="font-weight-bold">Remove user(s) from {{ selectedApp }}</span>
          </div>
          <span class="fa fa-times text-muted hover ignore-click mb-3" id="removeSelectedModalRef"
            (click)="removeSelectedModalRef.close(false)"></span>
        </div>
        <ul class="ml-4">
          <ng-container *ngIf="!!userToRemove">
            <li>{{ userToRemove }}</li>
          </ng-container>
          <ng-container *ngIf="!userToRemove">
            <li *ngFor="let usr of checkedUsers">{{ usr.username }}</li>
          </ng-container>
        </ul>
        <div class="d-flex align-items-center justify-content-end mt-4">
          <button type="button" id="removemodal" class="btn btn-min-width btn-delete"
            (click)="removeSelectedModalRef.close(true)">
            Remove
          </button>
        </div>
      </div>
    </ng-template>

    <div *ngIf="showNewUserWindow || showPasswordSide || showAddAttribute" class="overlay position-fixed"></div>

    <div [ngClass]="{
        show: showNewUserWindow || showPasswordSide || showAddAttribute
      }" class="new-user-window position-fixed bg-white border-left p-4 d-flex flex-column">
      <!-- <span class="fa fa-times text-secondary hover close" id="closeicon"
        (click)="showNewUserWindow ? closeWindow(true) : closeWindow()"></span> -->
      <div class="d-flex flex-column h-100" *ngIf="showPasswordSide && !showNewUserWindow">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="d-flex align-items-center">
            <h5 class="fw-600 font-20">Reset Password</h5>
          </div>
          <span class="fa fa-times text-secondary hover" id="closeicon"
            (click)="showNewUserWindow ? closeWindow(true) : closeWindow()"></span>
        </div>
        <form class="d-flex flex-column h-100" [formGroup]="resetPasswordForm" odpFocusNext>
          <div class="form-group position-relative">
            <label for="password">
              New Password
              <sup class="text-danger">*</sup>
            </label>
            <div class="input-wrapper position-relative">
              <input class="form-control" [type]="showPassword['new'] ? 'text' : 'password'"
                placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': pwdError }"
                autocomplete="new-password" odpAutoFocus />
              <span id="showPass" class="dsi eye-icon position-absolute hover" [ngClass]="{
                  'dsi-view': !showPassword['new'],
                  'dsi-hide': showPassword['new']
                }" (click)="showPassword['new'] = !showPassword['new']"></span>
              <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute" *ngIf="
                resetPasswordForm.get('password').dirty &&
                resetPasswordForm.get('password')?.hasError('required')
              " ngbTooltip="This is a required field"></span>
              <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute" *ngIf="
                resetPasswordForm.get('password').dirty &&
                resetPasswordForm.get('password')?.hasError('minlength')
              " ngbTooltip="Password should be minimum 8 chars long"></span>
            </div>
          </div>
          <div class="form-group position-relative">
            <label for="cPassword">
              Re-enter New Password
              <sup class="text-danger">*</sup>
            </label>
            <div class="input-wrapper position-relative">
              <input id="cPassword" class="form-control"
                [type]="showPassword['confirm'] ? 'text' : 'password'" placeholder="Confirm Password"
                formControlName="cpassword" [ngClass]="{ 'is-invalid': cPwdError }" />
              <span class="dsi eye-icon position-absolute hover" [ngClass]="{
                  'dsi-view': !showPassword['confirm'],
                  'dsi-hide': showPassword['confirm']
                }" (click)="showPassword['confirm'] = !showPassword['confirm']" id="showPassword"></span>
              <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute" *ngIf="
                resetPasswordForm.get('cpassword').dirty &&
                resetPasswordForm.get('cpassword')?.hasError('required')
              " ngbTooltip="This is a required field"></span>
              <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                *ngIf="resetPasswordForm.get('cpassword').dirty && matchPwd"
                [ngbTooltip]="'Passwords don\'t match'"></span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between mt-auto">
            <button type="button" class="btn btn-primary add-button" id="resetpassowrd"
              (click)="resetPassword()">
              Confirm
            </button>
          </div>
        </form>
      </div>
      <div class="d-flex flex-column" *ngIf="!showPasswordSide && showNewUserWindow">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="d-flex align-items-center">
            <h5 class="fw-600 font-20">Create User</h5>
          </div>
          <span class="dsi dsi-close text-secondary hover" id="closeicon"
            (click)="showNewUserWindow ? closeWindow(true) : closeWindow()"></span>
        </div>
        <form class="d-flex flex-column" [formGroup]="userForm" odpFocusNext>
          <div *ngIf="userForm.get('userData')" formGroupName="userData">
            <div class="form-group" formGroupName="auth" *ngIf="validAuthTypes?.length > 1">
              <label for="authType">Authentication Method</label>
              <div class="position-relative">
                <select id="authType" class="form-control" formControlName="authType"
                  (ngModelChange)="onAuthTypeChange($event)" odpAutoFocus>
                  <option *ngFor="let item of validAuthTypes" [value]="item.value">
                    {{ item.label }}
                  </option>
                </select>
                <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="invalidAuthType"
                  ngbTooltip="This is a required field"></span>
              </div>
            </div>
            <ng-container *ngIf="showAzureLoginButton">
              <button type="button" class="mb-3 ng-star-inserted border bg-white d-flex align-items-center p-2"
                (click)="triggerAzureToken()" id="getAzuretoken">
                <span class="azure-logo mr-2"></span>
                <span>Login to Azure</span>
              </button>
            </ng-container>
            <ng-container *ngIf="!showAzureLoginButton">
              <div class="form-group">
                <label for="username">
                  Username
                  <sup class="text-danger">*</sup>
                </label>
                <div class="position-relative">
                  <input id="username" class="form-control" type="text" placeholder="Enter Username"
                    formControlName="username" odpAutoFocus (blur)="checkForDuplicate()" [ngClass]="{
                    'is-invalid': invalidUsername || invalidUsernamePattern
                  }" />
                  <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="invalidUsername"
                    ngbTooltip="This is a required field"></span>
                  <span class="dsi dsi-danger-circle text-danger error-icon position-absolute"
                    *ngIf="invalidUsernamePattern" ngbTooltip="Username must be of email format"></span>
                </div>
              </div>
              <div class="form-group">
                <label for="name">
                  Name
                  <sup class="text-danger">*</sup>
                </label>
                <div class="w-100 position-relative" formGroupName="basicDetails">
                  <input id="name" class="form-control pr-4" type="text" placeholder="Enter Name"
                    formControlName="name" [ngClass]="{ 'is-invalid': invalidName }"
                    autocomplete="autocomplete_off_hack" />
                  <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="invalidName"
                    ngbTooltip="This is a required field"></span>
                  <span *ngIf="
                      userForm
                        .get('userData.basicDetails?.name')
                        ?.hasError('pattern')
                    " class="text-danger position-absolute fa fa-exclamation-circle error-icon" container="body"
                    ngbTooltip="Name can contain alphanumeric and  _ ,- , @ , # and . characters only"></span>
                </div>
              </div>
              <ng-container *ngIf="
                  !userInLocal &&
                  !userInAzureAD &&
                  userForm.get('userData.auth.authType').value === 'local'
                ">
                <div class="form-group">
                  <label for="password">
                    Password
                    <sup class="text-danger">*</sup>
                  </label>
                  <div class="position-relative">
                    <input class="form-control" [type]="showPassword['new'] ? 'text' : 'password'"
                      placeholder="Password" formControlName="password" [ngClass]="{
                        'is-invalid':
                          invalidPassword ||
                          invalidPasswordLength ||
                          invalidPasswordPattern
                      }" autocomplete="new-password" />
                    <span class="dsi eye-icon position-absolute hover" [ngClass]="{
                        'dsi-view': !showPassword['new'],
                        'dsi-hide': showPassword['new']
                      }" (click)="showPassword['new'] = !showPassword['new']"></span>
                    <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                      *ngIf="invalidPassword" ngbTooltip="This is a required field"></span>
                    <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                      *ngIf="invalidPasswordLength" ngbTooltip="Password should be minimum 8 chars long"></span>
                    <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                      *ngIf="invalidPasswordPattern"
                      ngbTooltip="Password must have one of following - Uppercase(A - Z), Lowercase(a - z), Special characters (!@#$%^&*?~) and Numbers (0 - 9)"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="cPassword">
                    Confirm Password
                    <sup class="text-danger">*</sup>
                  </label>
                  <div class="position-relative">
                    <input id="cPassword" class="form-control"
                      [type]="showPassword['confirm'] ? 'text' : 'password'" placeholder="Confirm Password"
                      formControlName="cpassword" [ngClass]="{
                        'is-invalid': invalidCPassword || invalidPasswordMatch
                      }" />
                    <span class="dsi eye-icon position-absolute hover" [ngClass]="{
                        'dsi-view': !showPassword['confirm'],
                        'dsi-hide': showPassword['confirm']
                      }" (click)="
                        showPassword['confirm'] = !showPassword['confirm']
                      "></span>
                    <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                      *ngIf="invalidCPassword" ngbTooltip="This is a required field"></span>
                    <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                      *ngIf="invalidPasswordMatch" ngbTooltip="Passwords do not match"></span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <div class="w-100" formGroupName="basicDetails">
                    <input id="phone" class="form-control" type="text" placeholder="Enter Phone Number"
                      formControlName="phone" />
                  </div>
                </div>
                <div class="form-group">
                  <label for="email">Alternate Email</label>
                  <div class="w-100 position-relative" formGroupName="basicDetails">
                    <input id="email" class="form-control" type="text" placeholder="Enter Alternate Email"
                      formControlName="alternateEmail" />
                    <span class="dsi dsi-danger-circle text-danger error-icon position-absolute"
                      *ngIf="invalidEmailPattern" ngbTooltip="Invalid Alternate Email"></span>
                  </div>
                </div>
              </ng-container>
              <div *ngIf="hasPermission('PMUG') && groupList.length > 0">
                <div class="form-group">
                  <label for="groups">Groups</label><br />
                  <div class="groups-list border rounded bg-white">
                    <ul class="list-group list-group-flush">
                      <li *ngFor="let group of groupList; index as groupIndex" class="list-group-item py-2">
                        <label [attr.for]="groupList[groupIndex]._id"
                          class="d-flex align-items-center justify-content-between m-0">
                          <odp-checkbox [id]="groupList[groupIndex]._id" [edit]="{ status: canEdit }" (checkedChange)="
                              toggleGroup($event, groupList[groupIndex]._id)
                            " [checked]="
                              isGroupSelected(groupList[groupIndex]._id)
                            "></odp-checkbox>
                          <span>{{ groupList[groupIndex].name }}</span>
                        </label>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
        <div class="d-flex align-items-center justify-content-between mt-auto">
          <button *ngIf="
              selectedAuthType == 'local' &&
              !userInLocal &&
              !userInAzureAD &&
              hasPermission('PMUBC')
            " type="button" class="btn btn-primary add-button w-100" id="createNewUserYes" (click)="addUser()"
            [disabled]="userForm.get('userData').invalid">
            Add
          </button>
          <button *ngIf="userInLocal && hasPermission('PMUBC')" type="button"
            class="btn btn-primary add-button w-100" id="importUser" (click)="importUser()">
            Import
          </button>
          <button *ngIf="userInAzureAD && hasPermission('PMUBC')" type="button"
            class="btn btn-primary add-button w-100" disableImportid="importUser" (click)="importUserFromAzure()"
            [disabled]="disableImport">
            Import
          </button>
        </div>
      </div>

      <div class="h-100" *ngIf="showAddAttribute && !showNewUserWindow && !showPasswordSide">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="d-flex align-items-center">
            <h5 class="fw-600 font-20">
              {{ editMode ? 'Edit Attribute' : 'Add Attribute' }}
            </h5>
          </div>
          <span class="fa fa-times text-secondary hover" id="closeicon"
            (click)="showNewUserWindow ? closeWindow(true) : closeWindow()"></span>
        </div>
        <form class="d-flex flex-column" [formGroup]="attributesForm" odpFocusNext>
          <div class="form-group position-relative">
            <label for="label">
              Label
              <sup class="text-danger">*</sup>
            </label>
            <div class="position-relative">
              <input id="label" class="form-control pr-4" type="text" placeholder="Label name"
                formControlName="label" autocomplete="autocomplete_off_hack" odpAutoFocus />
              <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
                  attributesForm.get('type').touched &&
                  attributesForm.get('label')?.hasError('required')
                " ngbTooltip="This is a required field"></span>
            </div>
          </div>
          <div class="form-group position-relative">
            <label for="type">
              Type
              <sup class="text-danger">*</sup>
            </label>
            <div class="position-relative">
              <select id="type" class="form-control" formControlName="type"
                (ngModelChange)="onAttributeFormTypeChange($event)">
                <option *ngFor="let item of types" [value]="item.value">
                  {{ item.label }}
                </option>
              </select>
              <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
                  attributesForm.get('type').touched &&
                  attributesForm.get('type')?.hasError('required')
                " ngbTooltip="This is a required field"></span>
            </div>
          </div>
          <div class="form-group position-relative">
            <label for="label">
              Value
              <sup class="text-danger">*</sup>
            </label>
            <div class="position-relative">
              <input id="value" class="form-control pr-4" type="text" placeholder="Value"
                formControlName="value" autocomplete="autocomplete_off_hack"
                *ngIf="attributesForm.get('type').value === 'String'" />
              <input id="value" class="form-control pr-4" type="number" placeholder="Value"
                formControlName="value" autocomplete="autocomplete_off_hack"
                *ngIf="attributesForm.get('type').value === 'Number'" />
              <odp-switch [edit]="{ status: true }" [checked]="attributesForm.get('value').value"
                (checkedChange)="setUserAttributeValue($event)" *ngIf="attributesForm.get('type').value === 'Boolean'">
              </odp-switch>

              <input id="value" class="form-control pr-4" type="date" placeholder="Value"
                formControlName="value" autocomplete="autocomplete_off_hack"
                *ngIf="attributesForm.get('type').value === 'Date'" />
              <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
                  attributesForm.get('value').dirty &&
                  attributesForm.get('value')?.hasError('required')
                " ngbTooltip="This is a required field"></span>
            </div>
          </div>
          <button type="button" class="btn btn-primary add-button mt-auto w-100" id="addAttributes" (click)="addAttribute()">
            {{ editMode ? 'Save' : 'Add' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>