@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

svg {
  position: static;
  left: 0;
  top: 0;
}
.cls-1,
.cls-2 {
  fill: none;
}
.cls-3 {
  fill: #000;
}

.active {
  path {
    fill: lighten($accent, 10);
    stroke: 0 !important;
  }
  .cls-1 {
    fill: lighten($border, 10);
    stroke: 0 !important;
  }
  .cls-2 {
    fill: lighten($accent, 10);
  }
}
