<div class="selector-options d-flex flex-column">
    <div class="d-flex flex-column w-100">
        <button type="button" class="btn btn-link" (click)="openSelectDataStructure()">
            <ng-content select=".btn-label"></ng-content>
        </button>
    </div>
</div>

<ng-template #selectDataStructureModalTemplate>
    <div class="modal-body p-0 d-flex">
        <div class="d-flex flex-column w-100">
            <div class="upper-wrapper bg-white border-bottom px-4 pt-4">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div class="icon-wrapper create d-flex align-items-center justify-content-center">
                            <ng-content></ng-content>
                        </div>
                        <span class="font-weight-bold ml-3">Select Data Structure</span>
                    </div>
                    <span class="fa fa-times text-dark hover"
                        (click)="selectDataStructureModalTemplateRef.close(false)"></span>
                </div>
                <div class="d-flex flex-column align-items-center my-3">
                    <p class="font-sm">Choose the Selector type.</p>
                    <div class="d-flex align-items-center justify-content-between">
                        <odp-radio-btn class="mr-2" *ngIf="showDataService">
                            <div class="d-flex align-items-center">
                                <div class="text-secondary">Data Service</div>
                            </div>
                            <input type="radio" class="d-none" name="dataStructure" value="dataService"
                                (change)="clearSearch()" [(ngModel)]="selectedType">
                        </odp-radio-btn>
                        <odp-radio-btn class="mr-2">
                            <div class="d-flex align-items-center">
                                <div class="text-secondary">Data Format</div>
                            </div>
                            <input type="radio" class="d-none" name="dataStructure" value="dataFormat"
                                (change)="clearSearch()" [(ngModel)]="selectedType">
                        </odp-radio-btn>
                        <odp-radio-btn class="mr-2" *ngIf="showBinary">
                            <div class="d-flex align-items-center">
                                <div class="text-secondary">Binary</div>
                            </div>
                            <input type="radio" class="d-none" name="dataStructure" value="binary"
                                (change)="clearSearch()" [(ngModel)]="selectedType">
                        </odp-radio-btn>
                        <!-- <odp-radio-btn>
                        <div class="d-flex align-items-center">
                            <div class="text-secondary">Custom</div>
                        </div>
                        <input type="radio" class="d-none" name="dataStructure" value="custom" (change)="clearSearch()" [(ngModel)]="selectedType">
                    </odp-radio-btn> -->
                    </div>
                </div>
            </div>
            <div class="lower-wrapper bg-light p-3" *ngIf="selectedType && selectedType!='binary'">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <odp-search-box (enteredText)="searchFormat($event,'in')" (reset)="clearSearch()"></odp-search-box>
                    <!-- <button *ngIf="formatSelected" type="button" class="btn btn-link text-accent"
                        (click)="showDataStructure=!showDataStructure">
                        {{showDataStructure?'Hide':'Show'}} Preview
                    </button> -->
                </div>
                <div class="data-list">
                    <table class="table table-hover m-0">
                        <thead class="bg-secondary text-white">
                            <tr>
                                <th class="px-2">&nbsp;</th>
                                <th>Name</th>
                                <th>Attributes</th>
                                <th>Format Type</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!showLoader">
                            <tr *ngFor="let item of dataList;let i = index" class="bg-white">
                                <td class="pl-3">
                                    <odp-round-radio [checked]="item.selected" size="20"
                                        (checkedChange)="uncheckAll();item.selected=$event;"></odp-round-radio>
                                </td>
                                <td (click)="uncheckAll();item.selected=!item.selected" class="pr-3">
                                    <div class="text-truncate" [odpTruncated]="item.name">{{item.name}}</div>
                                </td>
                                <td (click)="uncheckAll();item.selected=!item.selected" class="text-secondary">
                                    {{item.attributeCount}}</td>
                                <td (click)="uncheckAll();item.selected=!item.selected" class="text-secondary">{{item.formatType ? item.formatType :
                            'JSON'}}</td>
                            </tr>
                            <tr *ngIf="dataList.length==0 && !searchTerm">
                                <td class="text-center font-sm text-secondary" colspan="4"
                                    *ngIf="selectedType == 'dataService'">Start typing a
                                    Data
                                    Service name</td>
                                <td class="text-center font-sm text-secondary" colspan="4"
                                    *ngIf="selectedType == 'dataFormat'">Start typing a
                                    Data
                                    Format name</td>
                            </tr>
                            <tr *ngIf="dataList.length==0 && searchTerm">
                                <td class="text-center text-secondary font-sm" colspan="4">No records found</td>
                            </tr>
                        </tbody>
                        <tbody *ngIf="showLoader && searchTerm">
                            <tr class="bg-white" *ngFor="let row of dummyRows">
                                <td class="px-2">&nbsp;</td>
                                <td>
                                    <odp-loading-placeholder width="80"></odp-loading-placeholder>
                                </td>
                                <td>
                                    <odp-loading-placeholder width="80"></odp-loading-placeholder>
                                </td>
                                <td>
                                    <odp-loading-placeholder width="60"></odp-loading-placeholder>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex align-items-center justify-content-end mt-3">
                    <button type="button" class="btn btn-min-width btn-create"
                        (click)="selectDataStructureModalTemplateRef.close(true)"
                        [disabled]="!formatSelected">Continue</button>
                </div>
            </div>
            <div *ngIf="selectedType=='binary'" class="d-flex align-items-center justify-content-end m-3">
                <button type="button" class="btn btn-min-width btn-create"
                    (click)="selectDataStructureModalTemplateRef.close(true)">Continue</button>
            </div>
        </div>
        <div class="data-structure-preview" *ngIf="showDataStructure">

        </div>
    </div>
</ng-template>

<ng-template #customFormatModalTemplate>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center">
            <div class="rounded-circle bg-success d-flex align-items-center justify-content-center text-white font-xs">
                IN</div>
            <span class="font-weight-bold ml-3">Create format</span>
        </div>
        <div class="d-flex flex-column h-100" [formGroup]="form">
            <div class="d-flex w-100 builder border my-3">
                <div class="d-flex flex-column w-100 builder-body">
                    <div class="options d-flex justify-content-between align-items-center border-bottom px-3">
                        <div class="d-flex justify-content-start align-items-center">
                            <span class="text-dark font-weight-bold">Attributes</span>
                            <select class="form-control ml-3" formControlName="formatType" id="schemaType">
                                <option *ngIf="showFormat('JSON')" value="JSON">JSON</option>
                                <option *ngIf="showFormat('XML')" value="XML">XML</option>
                                <option *ngIf="showFormat('DELIMITER')" value="DELIMITER">Delimiter</option>
                                <option *ngIf="showFormat('CSV')" value="CSV">CSV</option>
                                <option *ngIf="showFormat('EXCEL')" value="EXCEL">xls</option>
                                <option *ngIf="showFormat('EXCEL')" value="EXCEL_XML">xlsx</option>
                                <option *ngIf="showFormat('FLATFILE')" value="FLATFILE">Fixed</option>
                                <option *ngIf="showFormat('BINARY')" value="BINARY">Binary</option>
                            </select>
                            <ng-container *ngIf="form.get('formatType').value && form.get('formatType').value == 'CSV'">
                                <span class="text-secondary mr-2 ml-3">Delimiter</span>
                                <input type="text" formControlName="character" class="form-control ml-3 extra-info">
                            </ng-container>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <button type="button" class="btn btn-link pr-0" (click)="addField('after')"
                                id="sbInsertAttribute">
                                Insert
                            </button>
                            <div ngbDropdown class="d-inline-block mr-3">
                                <button type="button" class="btn btn-link px-1 pt-2" id="insertDropDown"
                                    ngbDropdownToggle></button>
                                <div ngbDropdownMenu>
                                    <button type="button" class="dropdown-item" (click)="addField('before')">Insert
                                        Before</button>
                                    <button type="button" class="dropdown-item" (click)="addField('after')">Insert
                                        After</button>
                                </div>
                            </div>
                            <button type="button" class="btn btn-link" (click)="clearSchema()" id="sbClearAll">
                                Delete All
                            </button>
                        </div>
                    </div>
                    <div class="schema-creator scroll position-relative" id="schema-creator">
                        <ng-container formArrayName="definition">
                            <ng-container *ngFor="let def of definitions;let i = index;let first = first;">
                                <odp-structure-field [formGroupName]="i" [all]="form.get('definition')" [index]="i"
                                    [first]="first" [edit]="{status:true}" [isDataFormat]="true"></odp-structure-field>
                            </ng-container>
                            <div class="add-attribute d-flex align-items-center text-muted m-3">
                                <span class="d-flex align-items-center hover" (click)="addField('after')"
                                    id="schemaFieldObjectAddField">
                                    <span class="fa fa-plus fa-xs mr-1"></span>
                                    <span class="text">New Attribute</span>
                                </span>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="properties-wrapper builder-body border-left">
                    <odp-structure-field-properties [edit]="{status:true}" [isDataFormat]="true">
                    </odp-structure-field-properties>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <button type="button" class="btn btn-link mr-3"
                (click)="customFormatModalTemplateRef.close(false)">Cancel</button>
            <button type="button" class="btn btn-min-width btn-primary"
                (click)="customFormatModalTemplateRef.close(true)">Use</button>
        </div>
    </div>
</ng-template>