<div class="d-flex flex-column groups-content w-100 p-4">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="w-100">
      <h5 class="font-weight-bolder">Data Formats</h5>
    </div>
    <!-- <select name="permissions" id="permissions" class="all-permissions-selector custom-select"
      [ngModel]="globalPermission" (ngModelChange)="changeAllPermissions($event)">
      <option value="custom">Custom</option>
      <option value="blocked">None</option>
      <option value="view">View</option>
      <option value="manage">Manage</option>
    </select> -->
  </div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between border-bottom mt-4">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Access Level</div>
          <span class="text-muted font-13">
            Permission to manage Data Formats.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="dataFormatBlocked" name="dataFormat" size="20" [checked]="permissionType=='blocked'"
            (checkedChange)="permissionType='PNDF'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="dataFormatView" name="dataFormat" size="20" [checked]="permissionType=='view'"
            (checkedChange)="permissionType='PVDF'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="dataFormatManage" name="dataFormat" size="20" [checked]="permissionType=='manage'"
            (checkedChange)="permissionType='PMDF'"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
  </div>
</div>