<div>
    <div class="d-flex align-items-center justify-content-between px-4 py-2 mt-4">
        <span class="font-20 fw-600">Path Properties</span>
        <div class="d-flex">
            <button type="button" class="btn btn-link" (click)="deletePath()">
                <span class="dsi dsi-trash text-danger"></span>
            </button>
            <button type="button" class="btn btn-link" (click)="cancel()">
                <span class="dsi dsi-close"></span>
            </button>
        </div>
    </div>
    <hr>
    <!-- <div class="font-12 text-secondary px-4 py-2">
        <span class="mr-1 fw-500">Node ID:</span>
        <span>{{currNode?._id}}</span>
    </div> -->
</div>
<div class="p-3">
    <div class="form-group d-flex align-items-center justify-content-start">
        <div class="d-flex align-items-center justify-content-start mr-4">
            <odp-round-radio [edit]="edit" [checked]="pathType=='success'"
                (checkedChange)="onPathTypeChange($event,'success')">
            </odp-round-radio>
            <span class="ml-3">Success</span>
        </div>
        <div class="d-flex align-items-center justify-content-start">
            <odp-round-radio [edit]="edit" [checked]="pathType=='error'"
                (checkedChange)="onPathTypeChange($event,'error')">
            </odp-round-radio>
            <span class="ml-3">Error</span>
        </div>
    </div>

    <div class="form-group">
        <label class="font-14 fw-400 text-dark" for="pathName">Path Name</label>
        <input id="pathName" type="text" class="form-control" [(ngModel)]="name"
            (ngModelChange)="changesDone.emit();onChange()">
    </div>
    <div class="form-group">
        <label class="font-14 fw-400 text-dark" for="pathColor">Path Color</label>
        <div class="d-flex align-items-center justify-content-start">
            <div *ngIf="color" class="selected-color hover rounded" [style]="'background:#'+color"
                (click)="toggle['colorPicker']=!toggle['colorPicker']"></div>
            <div *ngIf="!color" class="selected-color hover rounded bg-secondary"
                (click)="toggle['colorPicker']=!toggle['colorPicker']"></div>
            <!-- <span class="ml-3">Color</span> -->
        </div>
    </div>
    <div *ngIf="toggle['colorPicker']" class="form-group">
        <odp-color-picker #colorpicker [(color)]="color" (colorChange)="onChange();">
        </odp-color-picker>
    </div>
    <div class="form-group">
        <label class="font-14 fw-400 text-dark d-flex align-items-center justify-content-between" for="nodeName">
            <span>Path Condition</span>
            <div class="d-flex align-items-center">
                <span class="dsi dsi-settings text-primary hover"
                    (click)="toggle['variable']=!toggle['variable']"></span>
                <span class="ml-3 font-12 fw-400">Insert Variable</span>
            </div>
        </label>
        <!-- <input id="nodeName" type="text" class="form-control" [(ngModel)]="condition"
            (ngModelChange)="changesDone.emit()"> -->
        <odp-path-condition-creator [nodeList]="nodeList" [(value)]="condition"></odp-path-condition-creator>
        <!-- <odp-node-data-selector *ngIf="toggle['variable']" [(toggle)]="toggle['variable']" [edit]="edit"
            [nodeList]="nodeList" (valueChange)="onVariableSelect($event)">
        </odp-node-data-selector>
        <odp-code-editor [edit]="edit" [insertText]="insertText" [(code)]="condition"
            (codeChange)="changesDone.emit();onChange()"></odp-code-editor> -->
    </div>
</div>

<!-- <div [ngClass]="{'show':showAgentSelector}" class="node-agent-window border-left position-fixed bg-white p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <span class="fw-500 font-20">Agents</span>
        <span (click)="showAgentSelector=false" class="dsi dsi-close text-dark"></span>
    </div>
    <hr>
    <odp-agent-selector *ngIf="showAgentSelector" [edit]="edit" (dataChange)="selectAgent($event)"></odp-agent-selector>
</div> -->