<input type="date" class="w-100 mt-1 " *ngIf="definition?.field ==='_metadata.createdAt'" [(ngModel)]="value"
    (change)="onChange($event.target.value)">
<input type="text" class="  w-100 mt-1" *ngIf="type ==='string'" odpOnChange (textChange)="onChange($event)"
    [(ngModel)]="value">
<input type="number" class="  w-100 mt-1" *ngIf="definition?.field ==='statusCode'" odpOnChange
    (textChange)="onChange($event)" [(ngModel)]="value">
<input type="number" class="  w-100 mt-1" *ngIf="definition?.field ==='retry'" odpOnChange
    (textChange)="onChange($event)" [(ngModel)]="value">


<ng-template #clearFilterModal>
    <div class="modal-header alert">
        <h4 class="modal-title text-danger">Warning</h4>
        <button id="clearModalCloseBtn" type="button" class="close" aria-label="Close"
            (click)="clearFilterModalRef.close(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p class="text-center">Current filters will be applied and other filters will be removed?</p>
    </div>
    <div class="modal-footer">
        <button id="clearModalCancelBtn" type="button" class="btn btn-secondary px-4 btn-min-width"
            (click)="clearFilterModalRef.close(false)">
            No
        </button>
        <button id="clearModalYesBtn" type="button" class="btn btn-danger px-4 btn-min-width"
            (click)="clearFilterModalRef.close(true)">Yes
        </button>
    </div>
</ng-template>
