<div class="wrapper d-flex flex-column align-items-center p-3">
    <div class="pick-hour"></div>
    <ng-container *ngIf="!hasStep">
        <div class="text mt-1">Pick Hour(s)</div>
        <div class="d-flex align-items-center justify-content-between w-100 my-2"
            *ngFor="let rows of table;let fr=first;let lr=last">
            <div class="rounded selector-block d-flex align-items-center justify-content-center border"
                (click)="onClick(item)"
                [ngClass]="{'disabled':disabled,'text-white bg-accent':isSelected(item),'text-dark':!isSelected(item)}"
                *ngFor="let item of rows">{{item}}
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="hasStep">
        <div class="text mt-1">Select Hour(s) Range</div>
        <div class="d-flex align-items-center justify-content-between w-100 my-2"
            *ngFor="let rows of table;let fr=first;let lr=last">
            <div class="rounded selector-block d-flex align-items-center justify-content-center border"
                (click)="onClick(item)" (mouseover)="mouseOverItem = item" (mouseout)="mouseOverItem = null"
                [ngClass]="{'disabled':disabled,'text-white bg-accent':isSelected(item) || isMouseOver(item) || inRange(item),'text-dark':!(isSelected(item) || isMouseOver(item) || inRange(item))}"
                *ngFor="let item of rows">{{item}}
            </div>
        </div>
    </ng-container>
    <div class="d-flex align-items-center w-100 mt-2">
        <button type="button" class="btn btn-dark w-50 mr-3" (click)="onClear()">Clear</button>
        <button type="button" class="btn btn-primary w-50" [disabled]="isInvalid" (click)="onDone()">Set</button>
    </div>
</div>