<div class="">
    <div class="list-group list-group-flush">
        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
            *ngFor="let item of sourceList" (click)="toggleItem(!item._selected,item)">
            <div class="list-item-source-name d-flex align-items-center flex-fill">
                <odp-round-radio [edit]="{status:true}" [checked]="item._selected">
                </odp-round-radio>
                <span class="ml-3">{{item.name}}</span>
            </div>
            <!-- <span class="list-item-attribute-count text-right">{{item.attributeCount}}</span> -->
            <span class="list-item-source-type text-right">{{item.sourceType}}</span>
        </div>
        <div *ngIf="!sourceList || sourceList.length == 0"
            class="list-group-item d-flex align-items-center justify-content-between text-secondary">
            No source attached
        </div>
    </div>
    <div class="d-flex justify-content-center border-top" *ngIf="edit.status">
        <button type="button" class="btn btn-dark m-3" (click)="selectSource()">Select source</button>
    </div>
</div>