<div class="field-wrapper">
    <div class="field-block d-flex align-items-center border rounded mb-1">
        <div class="field-anchor d-flex align-items-center justify-content-center border hover"
            [class.selected]="isSelected" [attr.data-path]="definition.properties.dataPath"
            [attr.data-id]="definition._id" (click)="selectField($event)"></div>
        <div class="function-holder d-flex align-items-center justify-content-center border-right hover underline"
            (click)="showFormulaEditor()">
            <i class="text-success">fn()</i>
        </div>
        <div class="attribute-type-holder d-flex align-items-center justify-content-center">
            <odp-field-type [field]="definition" [onMapper]="true"></odp-field-type>
        </div>
        <div class="attribute-name-holder d-flex align-items-center text-wrap pr-2">{{definition.dataPath}}</div>
    </div>
</div>

<odp-formula-editor *ngIf="toggleFormulaEditor" [currNode]="currNode" [field]="definition" [(data)]="definition.formula"
    (close)="toggleFormulaEditor=false"></odp-formula-editor>