@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.field-block {
    min-width: 348px;
    resize: horizontal;
    overflow-x: auto;

    .field-anchor {
        min-height: 12px;
        max-height: 12px;
        min-width: 12px;
        max-width: 12px;
        border-radius: 4px;
        margin-left: -6px;
        background: $white;
        position: absolute;

        &:hover {
            background: $secondary;
        }

        &.selected {
            background: $accent;
        }
    }

    .function-holder,
    .attribute-type-holder,
    .attribute-name-holder {
        // min-height: 48px;
        max-height: 48px;
        word-break: break-all;
    }

    .function-holder,
    .attribute-type-holder {
        min-width: 48px;
        max-width: 48px;
    }
}