<ng-container *ngIf="soapBlock">
    <div class="form-group">
        <label for="dataStructure"
            [ngClass]="{'text-danger': errors && (errors.invalidInputDataStructure || errors.invalidOutputDataStructure)}">
            Content-Type
        </label>
        <div class="d-flex align-items-center justify-content-between mb-2">
            <div class="d-flex align-items-center" (click)="contentTypeXML.click()">
                <input #contentTypeXML id="contentType" class="d-none" type="radio" name="contentType" value="XML"
                    [(ngModel)]="node.meta.contentType">
                <div class="round-radio-wrapper d-flex align-items-center justify-content-center hover"
                    [ngClass]="{'checked':contentTypeXML.checked}">
                    <div class="round-radio-inner bg-white"></div>
                </div>
                <span class="text ml-2">XML</span>
            </div>
            <div class="d-flex align-items-center" (click)="contentTypeWSDL.click()">
                <input #contentTypeWSDL id="contentType" class="d-none" type="radio" name="contentType" value="WSDL-XML"
                    [(ngModel)]="node.meta.contentType">
                <div class="round-radio-wrapper d-flex align-items-center justify-content-center hover"
                    [ngClass]="{'checked':contentTypeWSDL.checked}">
                    <div class="round-radio-inner bg-white"></div>
                </div>
                <span class="text ml-2">Document</span>
            </div>
            <div class="d-flex align-items-center" (click)="contentTypeRPC.click()">
                <input #contentTypeRPC id="contentType" class="d-none" type="radio" name="contentType" value="JAXRPC-XML"
                    [(ngModel)]="node.meta.contentType">
                <div class="round-radio-wrapper d-flex align-items-center justify-content-center hover"
                    [ngClass]="{'checked':contentTypeRPC.checked}">
                    <div class="round-radio-inner bg-white"></div>
                </div>
                <span class="text ml-2">RPC</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="wsdl">WSDL</label>
        <div class="d-flex align-items-center mb-2">
            <div class="d-flex align-items-center w-50" (click)="wsdlTypeUrl.click()">
                <input #wsdlTypeUrl id="wsdlType" class="d-none" type="radio" name="wsdlType" value="url"
                    [(ngModel)]="node.meta.wsdlType">
                <div class="round-radio-wrapper d-flex align-items-center justify-content-center hover"
                    [ngClass]="{'checked':wsdlTypeUrl.checked}">
                    <div class="round-radio-inner bg-white"></div>
                </div>
                <span class="text ml-2">URL</span>
            </div>
            <div class="d-flex align-items-center" (click)="wsdlTypeFile.click()">
                <input #wsdlTypeFile id="wsdlType" class="d-none" type="radio" name="wsdlType" value="file"
                    [(ngModel)]="node.meta.wsdlType">
                <div class="round-radio-wrapper d-flex align-items-center justify-content-center hover"
                    [ngClass]="{'checked':wsdlTypeFile.checked}">
                    <div class="round-radio-inner bg-white"></div>
                </div>
                <span class="text ml-2">File</span>
            </div>
        </div>
        <input *ngIf="node.meta.wsdlType=='url'" type="text" class="form-control" odpReadWsdl
            [(ngModel)]="node.meta.wsdlValue" (content)="wsdlContent($event)">
        <odp-file-control *ngIf="node.meta.wsdlType=='file'" [(fileName)]="node.meta.wsdlValue"
            (content)="wsdlContent($event)"></odp-file-control>
        <!-- <input *ngIf="node.meta.wsdlType=='file'" type="file" class="form-control" odpReadWsdl
            [(ngModel)]="node.meta.wsdlValue" (content)="wsdlContent($event)"> -->
    </div>
</ng-container>

<ng-template #selectWSDLOperationTemplate>
    <div class="modal-body p-4 ignore-outside">
        <div class="d-flex align-items-center justify-content-between">
            <div class="font-lg font-weight-bold text-accent">Select an Operation</div>
            <span class="fa fa-times text-muted hover" (click)="selectWSDLOperationTemplateRef.close(false)"></span>
        </div>
        <div class="operation-list my-3">
            <ng-container *ngFor="let item of wsdlOperations;let i=index;">
                <ng-container *ngFor="let pt of item.portTypes;let pti=index;">
                    <div class="list-group">
                        <div class="list-group-item list-group-item-action hover"
                            (click)="selectWSDLOperation(op,pt.portType,pt.binding)"
                            *ngFor="let op of pt.operations;let opi=index;">
                            {{op}}
                        </div>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>