<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" [ngStyle]="dimention">
  <g [ngClass]="{'active':active}">
    <polygon class="cls-1" [ngStyle]="style" points="8.5 7.5 8.5 14.5 14.5 11.5 14.5 4.5 8.5 7.5" />
    <polygon class="cls-2" [ngStyle]="style" points="2.5 4.5 2.5 11.5 8.5 14.5 8.5 7.5 2.5 4.5" />
    <polygon class="cls-3" [ngStyle]="style" points="8.5 1.5 2.5 4.5 8.5 7.5 14.5 4.5 8.5 1.5" />
    <line class="cls-4" [ngStyle]="style" x1="8.5" y1="2" x2="8.5" y2="5" />
    <line class="cls-4" [ngStyle]="style" x1="2.5" y1="11.5" x2="6.5" y2="9.5" />
    <line class="cls-4" [ngStyle]="style" x1="14.5" y1="11.5" x2="10.5" y2="9.5" />
  </g>
</svg>