<div class="">
    <div class="field-row d-flex align-items-center mb-1">
        <div class="attribute-type-holder d-flex align-items-center justify-content-center">
            <odp-field-type [field]="definition" [onMapper]="true"></odp-field-type>
        </div>
        <div class="attribute-name-holder d-flex align-items-center text-wrap pr-2 flex-fill">
            {{definition.properties.name}}
        </div>
        <span *ngIf="showToggle" class="toggle-icon dsi hover dsi-drop-down"
            (click)="toggle['object']=!toggle['object'];reCreatePaths()"
            [class.fa-rotate-90]="!toggle['object']"></span>
        <div class="field-anchor d-flex align-items-center justify-content-center border hover"
            [attr.data-path]="definition.properties.dataPath" [attr.data-id]="definition._id"
            [class.selected]="isSelected" (click)="selectField($event)"></div>
    </div>
    <div *ngIf="toggle['object']" class="ml-3">
        <ng-container *ngFor="let item of definition.definition">
            <odp-source-fields [node]="node" [definition]="item"></odp-source-fields>
        </ng-container>
    </div>
</div>