@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.field-row {
    .field-anchor {
        min-height: 12px;
        max-height: 12px;
        min-width: 30px;
        max-width: 30px;
        border-radius: 4px;
        margin-right: -18px;
        background: $white;

        &:hover {
            background: $secondary;
        }

        &.selected {
            background: $accent;
        }
    }

    .attribute-type-holder,
    .attribute-name-holder {
        // min-height: 48px;
        max-height: 48px;
        word-break: break-all;
    }

    .attribute-type-holder {
        min-width: 48px;
        max-width: 48px;
    }
}