<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex w-100 mt-2">
    <div class="d-flex flex-column w-50">
        <div class="pl-3">
            <div class="d-flex">
                <div class="w-50 d-flex">
                    <div
                        class="details-photo rounded-circle d-flex flex-column justify-content-center align-items-center mr-3 text-white border">
                        <span class="far fa-user fa-sm text-dark"></span>
                    </div>
                    <label>
                        <strong>Basic Details</strong>
                    </label>
                </div>
                <div class="d-flex justify-content-center w-50 text-primary hover"
                    (click)="editBasicDetails()">
                    <span>Edit</span>
                </div>
            </div>
            <div class="mt-2 pl-3">
                <div class="d-flex w-100 mb-3">
                    <label class="text-secondary label-width">Name</label>
                    <ng-container *ngIf="!!user?.basicDetails?.name;else noName">
                        <span class="col-sm-2 col-md-4 px-0 text-truncate" *ngIf="user?.basicDetails?.name.length > 50"
                            [ngbTooltip]="user?.basicDetails?.name" placement="top">{{ user?.basicDetails?.name
                            }}</span>
                        <span class="col-sm-2 col-md-4 px-0 text-truncate"
                            *ngIf="user?.basicDetails?.name.length <= 50">{{ user?.basicDetails?.name }}</span>
                    </ng-container>
                    <ng-template #noName>
                        <span>Not Available</span>
                    </ng-template>
                </div>
                <div class="d-flex w-100 mb-3">
                    <label class="text-secondary label-width">Phone</label>
                    <span class="col-sm-2 col-md-4 px-0 text-truncate">{{ user?.basicDetails?.phone ?
                        user?.basicDetails.phone : 'Not Available' }}</span>
                </div>
                <div class="d-flex w-100 mb-3">
                    <label class="text-secondary label-width">Alternate Email</label>
                    <span class="col-sm-2 col-md-4 px-0 text-truncate">{{ user?.basicDetails?.alternateEmail ?
                        user?.basicDetails?.alternateEmail : 'Not Available' }}</span>
                </div>
            </div>
        </div>
        <div class="pl-3">
            <div class="d-flex">
                <div class="w-50 d-flex">
                    <div class="odp-IDPW fa-sm text-dark pl-1 pt-1 mr-3"></div>
                    <label>
                        <strong>
                            User Credentials
                        </strong>
                    </label>
                </div>
                <!-- <div *ngIf="authType && authType ==='local'"
                    class="d-flex justify-content-center w-50 text-primary hover" (click)="editCreds()">
                    <span>Edit</span>
                </div> -->
            </div>
            <div class="mt-2 pl-3">
                <div class="d-flex w-100 mb-3">
                    <label class="text-secondary label-width">User Name</label>
                    <span>{{ user.username }}</span>
                </div>
                <div class="d-flex w-100 mb-3" *ngIf="authType && authType=='local'">
                    <label class="text-secondary label-width">Password</label>
                    <button class="btn btn-link p-0" (click)="openResetPassword()">Reset</button>
                </div>
                <div class="d-flex w-100 mb-3">
                    <label class="text-secondary label-width">Authentication Type</label>
                    <span> {{ user?.auth?.authType}} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="w-50">
        <div class="pl-3">
            <div class="d-flex">
                <div class="w-100 d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <div
                            class="details-photo rounded-circle d-flex flex-column justify-content-center align-items-center mr-3 text-white border">
                            <span class="far fa-user fa-sm text-dark"></span>
                        </div>
                        <label class="font-weight-bold m-0">Attributes</label>
                    </div>
                    <button type="button" class="btn btn-link" (click)="manageUserAttribute()">
                        <span class="fa fa-plus mr-2"></span>
                        <span class="text">Add New</span>
                    </button>
                </div>
            </div>
            <div class="mt-2 pl-3 props">
                <div *ngFor="let attr of userAttributeList;let i=index">
                    <div *ngIf="attr.value != null" class="mb-3 attrs d-flex justify-content-between">
                        <div class="d-flex align-items-center">
                            <div class="text-secondary mr-2 key text-truncate">{{attr.label}}</div>
                            <div class="mr-2">
                                <odp-field-type [field]="{type:attr.type,properties:{}}">
                                </odp-field-type>
                            </div>
                            <div *ngIf="attr.type!='Boolean'" class="value mr-2">{{attr.value}}
                            </div>
                            <div *ngIf="attr.type=='Boolean'" class="value mr-2">
                                {{attr.value ? 'Yes' : 'No'}}</div>
                        </div>
                        <div ngbDropdown placement="bottom-right" class="d-inline-block">
                            <span class="fa fa-ellipsis-v" ngbDropdownToggle></span>
                            <div ngbDropdownMenu>
                                <button type="button" class="dropdown-item text-primary"
                                    (click)="manageUserAttribute(attr)">Edit</button>
                                <button type="button" class="dropdown-item text-primary"
                                    (click)="deleteAdditionInfo(attr.key)">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #basicDetailsModel>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center align-self-start">
                <span class="icon-wrapper modify rounded-circle d-flex align-items-center justify-content-center mr-2">
                    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
                </span>
                <span class="font-weight-bold">Basic Details</span>
            </div>
            <span class="fa fa-times hover" (click)="basicDetailsModelRef.close(false)"></span>
        </div>
        <div class="mt-2 ml-5" [formGroup]="userBasicDetail" (keyup.enter)="updateBasicDetails()">
            <div class="d-flex w-100 mb-3 position-relative">
                <label class="text-secondary modal-label" for="bd-name">Name</label>
                <input type="text" id="bd-name" class="form-control" formControlName="name"
                    [ngClass]="{'is-invalid': invalidName}">
                <span class="fas fa-question-circle text-danger error-icon position-absolute" *ngIf="userBasicDetail.get('name').touched && userBasicDetail.get('name').dirty
                                           && userBasicDetail.get('name').hasError('required')"
                    ngbTooltip="This is a required field" placement="right"></span>
            </div>
            <div class="d-flex w-100 mb-3">
                <label class="text-secondary modal-label" for="bd-phone">Phone</label>
                <input type="text" id="bd-phone" class="form-control" formControlName="phone">
            </div>
            <div class="d-flex w-100 mb-3 position-relative">
                <label class="text-secondary modal-label" for="bd-email">Alternate Email</label>
                <input type="email" id="bd-email" class="form-control" formControlName="alternateEmail">
                <span class="fas fa-question-circle text-danger error-icon position-absolute"
                    *ngIf="userBasicDetail.get('alternateEmail').dirty && userBasicDetail.get('alternateEmail').hasError('pattern')"
                    ngbTooltip="Invalid Alternate Email" placement="right">
                </span>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end mt-3">
            <button type="button" class="btn btn-min-width btn-dark" (click)="updateBasicDetails()">Save</button>
        </div>
    </div>
</ng-template>

<ng-template #userCredentialsModel>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center align-self-start">
                <span class="icon-wrapper modify rounded-circle d-flex align-items-center justify-content-center mr-2">
                    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
                </span>
                <span class="font-weight-bold">User Credentials</span>
            </div>
            <span class="fa fa-times hover" (click)="userCredentialsModelRef.close(false)"></span>
        </div>
        <div class="mt-2 ml-5" [formGroup]="userCreds" (keyup.enter)="updateUserName()">
            <div class="d-flex w-100 mb-3 position-relative">
                <label class="text-secondary modal-label" for="bd-name">Username</label>
                <input type="text" id="cred-uname" class="form-control" formControlName="username"
                    [ngClass]="{'is-invalid': invalidUsername}">
                <span class="fas fa-question-circle text-danger error-icon position-absolute" *ngIf="userCreds.get('username').touched && userCreds.get('username').dirty
                                   && userCreds.get('username').hasError('required')"
                    ngbTooltip="This is a required field" placement="right"></span>
                <span class="fas fa-question-circle text-danger error-icon position-absolute" *ngIf="userCreds.get('username').touched && userCreds.get('username').dirty
                                   && userCreds.get('username').hasError('pattern')"
                    ngbTooltip="Please enter valid username" placement="right"></span>
            </div>
            <div class="d-flex w-100 mb-3 position-relative">
                <label class="text-secondary modal-label" for="bd-phone">password</label>
                <input type="text" class="form-control pt-1" [disabled]="true" value="*******">
                <div class="position-absolute pwd-options" *ngIf="authType !=='azure'"
                    (click)="userCredentialsModelRef.close(false);openResetPassword()">
                    <button type="button" class="btn btn-link">Reset</button>
                </div>
                <div class="position-absolute pwd-options" *ngIf="authType === 'azure'">
                    ********
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center justify-content-end mt-3">
            <button type="button" class="btn btn-link mr-3"
                (click)="userCredentialsModelRef.close(false)">Cancel</button>
            <button type="button" class="btn btn-min-width btn-dark" (click)="updateUserName()">Save</button>
        </div>
    </div>
</ng-template>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)">
    <odp-user-icon [size]="18" color="DD5151" class="mt-1"></odp-user-icon>
</odp-delete-modal>

<ng-template #manageAttributeModal>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center align-self-start">
                <span class="icon-wrapper modify rounded-circle d-flex align-items-center justify-content-center mr-2">
                    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
                </span>
                <span class="font-weight-bold">Attributes </span>
            </div>
            <span class="fa fa-times hover" (click)="manageAttributeModalRef.close(false)"></span>
        </div>
        <div class="d-flex flex-column my-3 ml-5" [formGroup]="userAttributeForm"
            (keyup.enter)="manageAttributeModalRef.close(true)">
            <div class="form-group d-flex align-items-center">
                <label class="text-secondary modal-label m-0" for="key">Label</label>
                <div class="input-wrapper w-100 position-relative">
                    <input type="text" id="key" class="form-control" placeholder="Enter Key" formControlName="label"
                        (change)="setKey()">
                    <ng-container *ngIf="userAttributeForm.get('label').dirty">
                        <span *ngIf="userAttributeForm.get('label').hasError('required')"
                            class="error-icon text-danger position-absolute fa fa-exclamation-circle high-zIndex"
                            container="body" ngbTooltip="Label is required">
                        </span>
                        <span *ngIf="attributeAlreadyExists"
                            class="error-icon text-danger position-absolute fa fa-exclamation-circle high-zIndex"
                            container="body" ngbTooltip="Attribute already exists">
                        </span>
                    </ng-container>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label class="text-secondary modal-label m-0" for="value">Type</label>
                <div class="input-wrapper w-100 position-relative">
                    <div class="form-control hover ignore-outside"
                        (click)="toggleFieldTypeSelector=!toggleFieldTypeSelector">
                        <odp-field-type [label]="true"
                            [field]="{type:userAttributeForm.get('type').value,properties:{}}">
                        </odp-field-type>
                    </div>
                    <div *ngIf="toggleFieldTypeSelector" odpClickOutside (outside)="toggleFieldTypeSelector=false"
                        class="type-dropdown border p-2 rounded d-flex flex-wrap justify-content-center position-absolute bg-white ignore-outside">
                        <button type="button"
                            class="btn btn-link type-width d-flex justify-content-center align-items-center text-accent ignore-outside"
                            *ngFor="let type of types; let i = index;" (click)="setUserAttributeType(type)">
                            <span class="{{type.class}}" placement="left"></span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="form-group d-flex align-items-center">
                <label class="text-secondary modal-label m-0" for="value">Value</label>
                <div class="input-wrapper w-100 position-relative">
                    <div class="input-group">
                        <ng-container *ngIf="userAttributeForm.get('type').value === 'String'">
                            <input type="text" id="value" class="form-control" placeholder="Enter Value"
                                formControlName="value">
                        </ng-container>
                        <ng-container *ngIf="userAttributeForm.get('type').value === 'Number'">
                            <input type="number" id="value" class="form-control" placeholder="Enter Value"
                                formControlName="value">
                        </ng-container>
                        <ng-container *ngIf="userAttributeForm.get('type').value === 'Boolean'">
                            <odp-switch [edit]="{status:true}" [(checked)]="setUserAttributeValue"></odp-switch>
                            <!-- <input type="number" id="value" class="form-control" placeholder="Enter Value"
                                formControlName="value"> -->
                        </ng-container>
                        <ng-container *ngIf="userAttributeForm.get('type').value === 'Date'">
                            <input type="date" id="value" class="form-control" formControlName="value">
                        </ng-container>
                    </div>
                    <ng-container *ngIf="userAttributeForm.get('value').dirty">
                        <span *ngIf="userAttributeForm.get('value').hasError('required')"
                            class="error-icon text-danger position-absolute fa fa-exclamation-circle high-zIndex"
                            container="body" ngbTooltip="Value is required">
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn btn-min-width btn-dark"
                [disabled]="userAttributeForm.invalid || attributeAlreadyExists"
                (click)="manageAttributeModalRef.close(true)" id="attrManageModalYes">Save</button>
        </div>
    </div>
</ng-template>
<ng-template #resetPasswordModel>
    <div class="modal-body p-4">
        <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center align-self-start">
                <span class="icon-wrapper modify rounded-circle d-flex align-items-center justify-content-center mr-2">
                    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
                </span>
                <span class="font-weight-bold">Reset Password</span>
            </div>
            <span class="fa fa-times hover" (click)="resetPasswordModelRef.close(false)"></span>
        </div>
        <form class="mt-2 ml-4" [formGroup]="resetPasswordForm" (keyup.enter)="resetPassword()">
            <div class="d-flex w-100 mb-3 position-relative">
                <label class="text-secondary modal-label-pwd" for="new-pwd">New Password</label>
                <input id="new-pwd" class="form-control password-input"
                    [type]="showPassword['new'] ? 'text' : 'password'" formControlName="password"
                    [ngClass]="{'is-invalid': invalidPassword}" odpAutoFocus>
                <span class="fas fa-question-circle text-danger error-icon-password position-absolute"
                    *ngIf="invalidPassword" ngbTooltip="This is a required field" placement="right"></span>
                <span class="fas eye-icon position-absolute hover"
                    [ngClass]="{'fa-eye': !showPassword['new'],'fa-eye-slash': showPassword['new'] }"
                    (click)="showPassword['new']= !showPassword['new']"></span>
                <span class="fas fa-question-circle text-danger error-icon-password position-absolute"
                    *ngIf="resetPasswordForm.get('password').dirty && resetPasswordForm.get('password').hasError('minlength')"
                    [ngbTooltip]="'Password should be minimum 8 chars long'" ccontainer="body" placement="right"></span>
                <span class="fas fa-question-circle text-danger error-icon-password position-absolute"
                    *ngIf="resetPasswordForm.get('password').dirty && resetPasswordForm.get('password').hasError('pattern')"
                    [ngbTooltip]="'Password must have one of following - Uppercase(A - Z), Lowercase(a - z), Special characters (!@#$%^&*?~) and Numbers (0 - 9)'"
                    ccontainer="body" placement="right"></span>
            </div>
            <div class="d-flex w-100 mb-3 position-relative">
                <label class="text-secondary modal-label-pwd" for="c-pwd">Confirm Password</label>
                <input [type]="showPassword['confirm'] ? 'text' : 'password'" id="c-pwd"
                    class="form-control password-input" formControlName="cpassword"
                    [ngClass]="{'is-invalid': invalidCPassword || invalidMatch}">
                <span class="fas fa-question-circle text-danger error-icon-password position-absolute"
                    *ngIf="invalidCPassword" ngbTooltip="This is a required field" placement="right"></span>
                <span class="fas fa-question-circle text-danger error-icon-password position-absolute"
                    *ngIf="invalidMatch" ngbTooltip="Passwords do not match" placement="right"></span>
                <span class="fas eye-icon position-absolute hover"
                    [ngClass]="{'fa-eye': !showPassword['confirm'],'fa-eye-slash': showPassword['confirm'] }"
                    (click)="showPassword['confirm']= !showPassword['confirm']"></span>
            </div>
        </form>
        <div class="d-flex align-items-end justify-content-end mt-5">
            <button type="button" class="btn btn-min-width btn-dark" (click)="resetPassword()"
                [disabled]='resetPasswordForm.invalid'>Save</button>
        </div>
    </div>
</ng-template>