@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.switch {
  position: relative;
  cursor: pointer;
  &:focus {
    outline: none;
  }

  .slider {
    margin: 0;
    padding: 0;
    display: inline-block;
    border: 1px solid #ccc;
    width: 30px;
    height: 12px;
    border-radius: 6px;
    background: #ccc;
    transition: 0.25s;
  }

  .toggler {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: #fff;
    border: 1px solid #eee;
    left: 0px;
    top: -2px;
    transition: 0.25s;
    position: absolute;
    box-shadow: 0 3px 5px $border !important;
  }

  input {
    display: none;
  }

  input:checked ~ .toggler {
    left: 12px;
  }

  &.accent {
    input:checked ~ .toggler {
      border: 1px solid $accent;
    }
  }

  &.primary {
    input:checked ~ .toggler {
      border: 1px solid $primary;
    }
  }
}
.check-circle {
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;
  .fa {
    font-size: 10px;
  }
}
