<div class="d-flex align-items-center" *ngIf="edit.status">
    <label tabindex="0" class="switch mb-0 mr-3 mt-1" (keyup.enter)="switch.click()">
        <input #switch type="checkbox" [ngModel]="checked" (ngModelChange)="onChange($event)" [disabled]="disabled">
        <span class="slider" [ngClass]="sliderClass"></span>
        <span class="toggler" [ngClass]="{'bg-light':disabled}"></span>
    </label>
    <span class="text">{{ checked ? 'Yes' : 'No' }}</span>
</div>
<div class="d-flex align-items-center" *ngIf="!edit.status">
    <span class="text d-flex" *ngIf="checked">
        <span class="d-flex align-items-center justify-content-center rounded-circle check-circle mr-1" [ngClass]="sliderClass">
            <span class="fa fa-check text-white"></span>
        </span>
        <span class="text">Yes</span>
    </span>
    <span class="text d-flex" *ngIf="!checked">
        <span
            class="d-flex align-items-center justify-content-center rounded-circle bg-secondary check-circle mr-1"></span>
        <span class="text">No</span>
    </span>
</div>