@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.switch {
  position: relative;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  .slider {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 40px;
    height: 24px;
    border-radius: 12px;
    background: #ccc;
    transition: 0.25s;
  }

  .toggler {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 9px;
    background: #fff;
    left: 3px;
    top: 3px;
    transition: 0.25s;
    position: absolute;
  }

  input {
    display: none;
  }

  input:checked~.toggler {
    left: 18px;
  }
}

.check-circle {
  max-width: 16px;
  max-height: 16px;
  min-width: 16px;
  min-height: 16px;

  .fa {
    font-size: 10px;
  }
}

.text {
  width: 32px;
}