@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.wf {
  &-container {
    width: calc(100vw - 200px);
    .font-20 {
      line-height: 18px;
      letter-spacing: 2px;
    }
  }
  &-status-card {
    min-width: 170px;
    max-width: 170px;
    height: 83px;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba($black, 0.16);
  }
  &-pending {
    border: 1px solid $data-grid-border;
  }
  &-approved {
    border: 1px solid $create;
  }
  &-reject {
    border: 1px solid $delete;
  }
  &-rework {
    border: 1px solid $rework;
  }
  &-draft {
    border: 1px solid $data-grid-border;
  }
  &-wf-title {
    height: 32px;
  }
}

.text-rework {
  color: $rework;
}
