<div class="bg-light w-100 h-100 vh-100">
  <div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
      <div class="spinner-border text-dark" role="status">
        <span class="sr-only">Processing...</span>
      </div>
      <div class="text-secondary mt-2">Processing...</div>
    </div>
  </div>

  <div class="d-flex flex-column position-relative">
    <div class="options d-flex">
      <div class="fw-600 font-22">Bots</div>
      <button class="btn btn-primary mt-2 ml-auto d-flex d-flex align-items-center" (click)="isCreate = true"
        *ngIf="hasPermission('PMBBC') && botCount > 0">
        <span class="dsi dsi-plus mr-2"></span>
        <span class="text">New</span>
      </button>

      <!-- <odp-search-box (enteredText)="search($event)" ></odp-search-box> -->
      <!-- <div></div> -->
    </div>
  </div>
  <div class="bg-white content" style="max-height: 80vh; min-height: 80vh">
    <div style="margin: 0 auto" *ngIf="isLoading">
      <span class="fa fa-spinner fa-pulse fa-3x"></span>
    </div>
    <div class="row" style="max-height: inherit" *ngIf="botCount > 0">
      <div class="col-3 bots border-right pr-0">
        <div *ngFor="let bot of botRecords; let i = index" class="d-flex" [id]="'bot' + i" (click)="selectRecord(bot)">
          <div class="selectedTab" [ngStyle]="{
              background: bot._id === selectedBot?._id ? '#ff6f00' : 'none'
            }"></div>
          <div class="d-flex flex-column p-4 list-hover col" [ngClass]=" { selected: bot._id===selectedBot?._id }">
            <span class="font-normal fw-600 heading"> {{ bot.basicDetails?.name }}</span>
            <span class="font-12 fw-400 sub-heading"> {{ bot._id}}</span>
          </div>
        </div>
      </div>
      <div class="col-9 bots" style="padding: 24px">
        <div class="d-flex flex-column">
          <div class="d-flex flex-row">
            <span class="font-20 fw-600 heading mr-2 mt-2">{{ selectedBot?.basicDetails?.name }}</span>
            <div class="col mt-2">
              <odp-switch [edit]="{ status: true }" type="dark" (checkedChange)="toggleStatus($event)"
                [(checked)]="selectedBot.isActive">
              </odp-switch>
            </div>
            <button type="button" class="add-new btn bg-white border mr-2" id="delete" (click)="deleteUser()">
              <span class="dsi dsi-trash"></span>
              <!-- <span class="text">Bulk Import</span> -->
            </button>
          </div>

          <span class="font-normal fw-400 sub-heading" (click)="appService.copyToClipboard(selectedBot?._id)">{{
            selectedBot?._id }}</span>
        </div>
        <div class="d-grid">
          <div style="margin-top: 45px">
            <ul class="nav">
              <li class="nav-item" (click)="switchTab('Keys')" id="switchkey">
                <div class="tabs" [ngClass]="{
                    active: currentTab === 'Keys'
                  }">
                  Keys
                </div>
              </li>
              <li class="nav-item mr-4" (click)="switchTab('Properties')" id="switchproperties">
                <div class="tabs" [ngClass]="{
                    active: currentTab === 'Properties'
                  }">
                  Properties
                </div>
              </li>
              <li class="nav-item" (click)="switchTab('Groups')" id="switchgroup">
                <div class="tabs" [ngClass]="{
                    active: currentTab === 'Groups'
                  }">
                  Groups
                </div>
              </li>
            </ul>
          </div>
          <!-- <div style="margin: 0 auto" *ngIf="isDataLoading">
            <span class="fa fa-spinner fa-pulse fa-3x"></span>
          </div> -->
          <div class="d-grid" *ngIf="!showLazyLoader">


            <div *ngIf="currentTab === 'Keys' " class="mt-4">
              <odp-manage-bot-key #manageKeys [selectedBot]="selectedBot" (dataChange)="onDataChange($event)"
                (editKey)="editKey($event)" (onAdd)="add($event)">
              </odp-manage-bot-key>

            </div>
            <div *ngIf="currentTab === 'Properties'" class="mt-4">
              <odp-manage-bot-property #manageProperty [selectedBot]="selectedBot" (dataChange)="onDataChange($event)"
                (editProperty)="editAttribute($event)" (onAdd)="add($event)">
              </odp-manage-bot-property>

            </div>
            <div *ngIf="currentTab === 'Groups' " class="mt-4">
              <odp-manage-bot-group #manageGroups [selectedBot]="selectedBot" [userTeams]="userTeams"
                [allTeams]="allTeams" (dataChange)="onDataChangeInGroup($event)" (assign)="assignTeam()"
                (onAdd)="add($event)">
              </odp-manage-bot-group>

            </div>

          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="botCount == 0">
      <div class="new d-flex justify-content-center align-items-center">
        <div class="new-bot m-auto px-3 py-4">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="bot-img mb-4"></div>
            <span class="mx-auto font-20 fw-600 heading">Create Bots</span>
            <div class="mt-3 align-items-center text-muted text-center font-normal sub-heading">
              Bots provide API-only access into data.stack. Other
              applications/systems can use Bot credentials to access data.stack.
              Click on Add bots, to start creating bots for the app
            </div>
            <button class="btn mt-3 btn-primary d-flex" (click)="isCreate = true" *ngIf="hasPermission('PMBBC')">
              <span class="dsi dsi-plus mr-2"></span>
              <span class="text">Add Bot</span>
            </button>
          </div>
        </div>
      </div>
    </ng-container>




    <odp-delete-modal [open]="openDeleteBotModal" (close)="closeDeleteBotModal($event)">
      <span class="odp-bots font-20 text-success"></span>
    </odp-delete-modal>
  </div>
  <div *ngIf="isCreate || addNewKey || addNewProperty" class="slide-overlay position-fixed"></div>
  <div *ngIf="isCreate" class="slide-window position-fixed bg-white border-left p-4">
    <span class="dsi dsi-close hover float-right closeicon" id="closeicon" (click)="closeWindow()"></span>
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div class="d-flex align-items-center">
        <h5 class="font-weight-bold">Create Bot</h5>
      </div>
    </div>
    <form class="d-flex flex-column" [formGroup]="botForm" odpFocusNext>
      <div class="form-group position-relative">
        <label for="botName">
          Name
          <sup class="text-danger">*</sup>
        </label>

        <div class="input-group">
          <input class="form-control" type="text" formControlName="botName" placeholder="Type here" odpAutoFocus
            (keyup.enter)="createBot()" />
          <span *ngIf="
            (botForm.get('botName').touched || botForm.get('botName').dirty) &&
            botForm.get('botName').hasError('required')
          " class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Name is required"></span>
          <span *ngIf="
            (botForm.get('botName').touched || botForm.get('botName').dirty) &&
            botForm.get('botName').hasError('maxlength')
          " class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Name should be within 30 characters"></span>
          <span *ngIf="
            (botForm.get('botName').touched || botForm.get('botName').dirty) &&
            botForm.get('botName').hasError('pattern')
          " class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Name can contain alphanumeric and  _,- , @ , # and . characters only"></span>
        </div>
      </div>
      <button type="button" class="btn btn-primary" id="createbot" (click)="createBot()">
        Create
      </button>
    </form>
  </div>
  <div *ngIf="addNewKey && !isCreate" class="slide-window position-fixed bg-white border-left p-4">
    <span class="dsi dsi-close hover float-right closeicon" id="closeicon" (click)="closeWindow()"></span>
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div class="d-flex align-items-center">
        <h5 class="font-weight-bold">{{ editMode ? 'Edit Key' : 'Create Key' }}</h5>
      </div>
    </div>
    <form class="d-flex flex-column" [formGroup]="keyForm" odpFocusNext>
      <div class="form-group position-relative">
        <label for="botName">
          Key Name
          <sup class="text-danger">*</sup>
        </label>

        <div class="input-group">
          <input newlabel type="text" class="form-control" id="name" placeholder="Give a label to identify"
            formControlName="label" odpAutoFocus />

          <span
            *ngIf="(keyForm.get('label').touched || keyForm.get('label').dirty) && keyForm.get('label').hasError('required')"
            class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Name is required"></span>
          <span
            *ngIf="(keyForm.get('label').touched || keyForm.get('label').dirty)  && keyForm.get('label').hasError('maxlength')"
            class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Name should be within 30 characters"></span>
          <span
            *ngIf="(keyForm.get('label').touched || keyForm.get('label').dirty)  && keyForm.get('label').hasError('pattern')"
            class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Name can be only alphanumeric ,spaces, _and - characters only"></span>

        </div>
      </div>
      <div class="form-group position-relative">
        <label for="expires"> Expiry </label>
        <sup class="text-danger">*</sup>
        <div class="input-group">
          <input type="number" class="form-control" formControlName="expires" [ngClass]="{
              'is-invalid':
                keyForm.get('expires').invalid &&
                keyForm.get('expires').dirty
            }" placeholder="Give an expiration period" />
          <span
            *ngIf="(keyForm.get('expires').touched || keyForm.get('expires').dirty)  && keyForm.get('expires').hasError('required')"
            class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Expiry is required"></span>
          <span
            *ngIf="(keyForm.get('expires').touched || keyForm.get('expires').dirty) && keyForm.get('expires').hasError('min')"
            class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr" container="body"
            ngbTooltip="Mininum value is 1"></span>
          <span *ngIf="isInvalidDate" class="text-danger position-absolute dsi dsi-danger-circle error-icon-attr"
            container="body" ngbTooltip="Please enter the No of days within September 13, 275760"></span>
        </div>

      </div>
      <div class="form-group position-relative">
        <label for="period"> Period </label>
        <div class="input-group">
          <select id="period" class="form-control input-text" formControlName="period"
            (onchange)="periodChange($event)">
            <option *ngFor="let item of expiryOptions" [value]="item.value">
              {{ item.label }}
            </option>
          </select>
          <span *ngIf="
            (keyForm.get('period').touched || keyForm.get('period').dirty) &&
            keyForm.get('period').hasError('required')
          " class="text-danger position-absolute dsi dsi-danger-circle error-icon" container="body"
            ngbTooltip="Period is required"></span>
        </div>

      </div>
      <button type="button" class="btn btn-primary" id="createkey" (click)="createBotKey()">
        {{ editMode ? 'Save' : 'Add' }}
      </button>
    </form>
  </div>
  <div *ngIf="addNewProperty && !isCreate" class="slide-window position-fixed bg-white border-left p-4">
    <span class="dsi dsi-close hover float-right closeicon" id="closeicon" (click)="closeWindow()"></span>
    <div class="d-flex align-items-center justify-content-between mb-4">
      <div class="d-flex align-items-center">
        <h5 class="font-weight-bold">
          {{ editMode ? 'Edit Property' : 'Create Property' }}
        </h5>
      </div>
    </div>
    <form class="d-flex flex-column" [formGroup]="attributeForm" odpFocusNext>
      <div class="form-group position-relative">
        <label for="label">
          Label
          <sup class="text-danger">*</sup>
        </label>
        <div class="input-group">
          <input id="label" class="form-control pr-4 input-text" type="text" placeholder="Label name"
            formControlName="label" autocomplete="autocomplete_off_hack" odpAutoFocus />
          <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
              (attributeForm.get('label').touched || attributeForm.get('label').dirty) &&
              attributeForm.get('label').hasError('required')
            " ngbTooltip="This is a required field"></span>
          <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
              (attributeForm.get('label').touched || attributeForm.get('label').dirty) &&
              attributeForm.get('label').hasError('maxlength')
            " ngbTooltip="Label should be within 30 characters"></span>
        </div>
      </div>
      <div class="form-group position-relative">
        <label for="type">
          Type
          <sup class="text-danger">*</sup>
        </label>
        <div class="input-group">
          <select id="type" class="form-control input-text" formControlName="type"
            (onchange)="onAttributeFormTypeChange($event)">
            <option *ngFor="let item of types" [value]="item.value">
              {{ item.label }}
            </option>
          </select>
          <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
              attributeForm.get('type').touched &&
              attributeForm.get('type').hasError('required')
            " ngbTooltip="This is a required field"></span>
        </div>
      </div>
      <div class="form-group position-relative">
        <label for="label">
          Value
          <sup class="text-danger">*</sup>
        </label>
        <div class="input-group">
          <input id="value" class="form-control pr-4 input-text" type="text" placeholder="Value" formControlName="value"
            autocomplete="autocomplete_off_hack" *ngIf="attributeForm.get('type').value === 'String'" />
          <input id="value" class="form-control pr-4 input-text" type="number" placeholder="Value"
            formControlName="value" autocomplete="autocomplete_off_hack"
            *ngIf="attributeForm.get('type').value === 'Number'" />
          <odp-switch [edit]="{ status: true }" [checked]="attributeForm.get('value').value"
            (checkedChange)="setUserAttributeValue($event)" *ngIf="attributeForm.get('type').value === 'Boolean'">
          </odp-switch>

          <input id="value" class="form-control pr-4 input-text" type="date" placeholder="Value" formControlName="value"
            autocomplete="autocomplete_off_hack" *ngIf="attributeForm.get('type').value === 'Date'" />
          <span class="dsi dsi-danger-circle text-danger error-icon position-absolute" *ngIf="
              attributeForm.get('value').dirty &&
              attributeForm.get('value').hasError('required')
            " ngbTooltip="This is a required field"></span>
        </div>
      </div>
      <button type="button" class="btn btn-primary add-button" id="addPropertys" (click)="addProperty()">
        {{ editMode ? 'Save' : 'Add' }}
      </button>
    </form>
  </div>

  <!-- <div *ngIf="isLatest" class="msg">
    * Please Copy the key. The key cannot be retrived once you navigate away from the screen
  </div> -->
</div>