@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.options {
  min-height: 100px;
  padding: 40px;
}

.bot-img {
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  width: 150px;
  height: 200px;
}

.content {
  margin-left: 32px;
  margin-right: 32px;
}

.status-card {
  min-width: 194px;
  max-width: 194px;
  min-height: 278px;
  max-height: 278px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #ececec;
  border-radius: 6px;
  opacity: 1;

  .toggler {
    top: 0 !important;
  }

  .odp-bots {
    font-size: 32px;
  }

  .icon-card {
    width: 80px;
    height: 80px;
    opacity: 1;
    margin: 32px;
    transition: background-color 400ms ease-in, color 400ms ease-in;

    &-enable {
      background: #76ce91 0% 0% no-repeat padding-box;
    }

    &-disable {
      background: #ececec 0% 0% no-repeat padding-box;
    }
  }
}

.title {
  font-size: 28px;
}


.tab-list-wrapper {
  .tab-list {
    .tab-list-item {
      min-width: 80px;
      max-width: 80px;
      min-height: 40px;
      max-height: 40px;
      border-bottom: 4px solid transparent;
      transition: 0.25s;

      &:hover {
        border-color: $accent;
      }

      &.active {
        border-color: $accent;
        color: $accent;
        font-weight: bold;
      }
    }
  }
}

.tab-wrapper {
  min-width: 520px;
}

.team-container {
  padding: 15px;
  width: 100%;
  max-height: 260px;
  min-height: 260px;
  overflow: auto;

  .team-overview {
    min-width: 135px;
    max-width: 135px;
    border-radius: 4px;

    .remove-group {
      top: 10px;
      left: 90%;
      display: none;
    }

    &:hover {
      background-color: $light;

      .remove-group {
        display: block;
      }
    }
  }

  .team {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 4px solid $light;
  }
}

.new-bot-modal {
  label {
    min-width: 100px;
  }

  .icon-wrapper {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
    background: rgba($create, 0.2);
  }

  #description {
    resize: none;
  }
}

.name-wrapper {
  .fa-exclamation-circle {
    top: 7px;
    right: 5px;
  }
}

.expiry-container {
  &::after {
    content: 'days';
    position: absolute;
    color: $gray-500;
    right: 20px;
    top: 6px;
    font-weight: bold;
  }

  input {
    padding-right: 50px;
  }
}

.bot-icon-32 {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}

.team-card {
  border: 1px solid transparent;
  transition: 0.25s;

  .team-selected {
    background-color: rgba($black, 0.3);
  }

  .team-thumbnail {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    border-radius: 50%;
    border: 4px solid $light;
    overflow: hidden;
    position: relative;

    &-caption {
      text-align: center;
      color: $white;
      padding-top: 15px;
      font-size: 1.2rem;

      .text {
        font-weight: 100;
        font-size: 1rem;
      }
    }
  }

  .app-name {
    max-width: 100px;
  }
}

.new-bot {
  width: 478px;
  height: fit-content;
  border-radius: 12px;
}

.new {
  height: calc(100vh - 144px);
}

.prop-container {
  max-height: 300px;
  overflow: auto;
}

.desc {
  word-break: break-all
}

.sup-top {
  top: 0px;
}

.error-icon-attr {
  top: 7px;
  left: 85%;
}

.dropdown-itm {
  cursor: pointer;
  user-select: none;

  &:hover {
    background: $light;
  }
}

.form-table {
  display: grid;
  grid-template-rows: 40px 1fr;
  row-gap: 20px;

  .table-header,
  .table-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 138px 192px 20px;
    padding: 0 20px;
    column-gap: 1rem;
    row-gap: 20px;
    align-items: center;
    justify-items: stretch;
  }
}

.bot-list-container {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: calc(100vh - 144px);

  .side-bar {
    .name-card {
      width: 100%;
      max-height: 40px;
      min-height: 40px;

      .search-box {
        width: 170px !important;

        input {
          width: 170px !important;
          text-indent: 10px;
          padding: 0.25rem 0.75rem 0.25rem 0.12rem;
          border: none;

          &:active,
          &:focus {
            background-color: $white;
          }
        }

        .info,
        .fa-times-circle {
          right: 4px;
        }

        .text-center {
          text-align: center;
        }

      }

      .icon-div {
        min-width: 24px;
        min-height: 18px;
        max-width: 24px;
        max-height: 18px;
      }

      .name-div {
        overflow: hidden;
        width: 123px;
        min-height: 17px;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-height: 17px;
      }
    }
  }

  .details {
    width: 100%;
    overflow: hidden;

    .details-container {
      display: grid;
      grid-template-columns: auto 1fr;
      margin-top: 40px;
    }
  }
}

.cursor-pointer {
  cursor: pointer;
}


.add-button {
  padding: 15px 21px;
  gap: 10px;
  border-radius: 6px;
  min-height: 48px;
}

.error-icon {

  z-index: 1;
}

.list-hover {
  &:hover {
    background: rgba($orange, 0.04);
  }
}


.bots {
  overflow-y: auto;
  min-height: 53vw;
}

.nav-item {
  width: 100px;
}

.tabs {
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
  color: $lightgrey;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: $orange;
  }
}

.active {
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-color: $orange;
  color: $headings;
}

.tab-header {
  font-weight: 500;
  font-size: 16px;
  color: $headings;
}

.msg {
  background: #FF6F00;
  opacity: 0.04;
  border-radius: 0px 0px 6px 6px
}