.value-holder {
    width: 260px;
    border: 0px;
    border-left: 1px solid #ddd;
}

.hidden-div {
    color: transparent;
    position: absolute;
    inset: 0;
    height: 32px;
    max-width: 260px;
    overflow-x: auto;

    ::selection {
        color: transparent
    }
}

.content-div {
    // [contenteditable]:focus {
    //     outline: 0px solid transparent;
    // }
    height: 32px;
    max-width: 260px;
    overflow-x: auto;
    pointer-events: none;
    position: absolute;
    inset: 0;

}