@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

// .value-holder {
//     width: 260px;
//     border: 0px;
//     border-left: 1px solid #ddd;
//     max-width: 260px;
//     height: 32px;
//     white-space: nowrap;
//     overflow: hidden;
// }

.input-container {
    border: 1px solid grey;
    border-radius: 4px;
    // width: 260px;
    height: 32px;
    position: relative;
    margin-right: 1px;
}

.input-container input {
    width: 100%;
    border: none;
    position: absolute;
    inset: 0;
    z-index: 1;
    outline: none;
    padding: 0 0.5rem;
    background: transparent;
}

.input-container .check {
    width: 240px;
    height: 250px;
    background: transparent;
    z-index: 1;
    margin: 0 0 0 0.5rem;
    outline: 0px solid transparent;
}

/* For showing through placeholder */
.input-container input:not(:placeholder-shown) {
    -webkit-text-fill-color: transparent !important;
    letter-spacing: 0.15px;
}

.input-container .check:not(:placeholder-shown) {
    -webkit-text-fill-color: transparent !important;
    letter-spacing: 0.15px;
}

.input-container .input-renderer {
    position: absolute;
    top: 0px;
    left: 0px;
    align-items: center;
    margin: 0 0 0 0.5rem;
    /* This line preserves trailing
        whitespaces */
    white-space: pre;
    overflow-x: auto;
    -webkit-user-select: none;
    user-select: none;
    z-index: -1;
}

.input-container .input-renderer::-webkit-scrollbar {
    display: none;
}

.ml2 {
    margin-left: 2px;
}


.input-height {
    min-height: calc(100vh - 352px);
    max-height: calc(100vh - 352px);
    word-break: break-all;
    // font-family: 'Courier New', Courier, monospace;
}

.suggestions {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: max-content;
    z-index: 999;

}

.option {
    height: 32px;
    padding: 0.4rem;

    &:hover {
        background-color: $primary;
        color: white;
    }
}