@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

svg {
  position: static;
  left: 0;
  top: 0;
}
.one {
  fill: none;
}
.four {
  fill: none;
}
.two,
.three {
  fill: none;
  stroke-linecap: round;
}
.two,
.four {
  stroke-linejoin: round;
}

.active {
  line,
  rect {
    stroke: $black !important;
  }
  .one {
    fill: lighten($border, 10);
  }
  .four {
    fill: lighten($accent, 10);
  }
  path{
    stroke: lighten($accent, 10) !important;
  }
}
