.data-structure-window {
    top: 0px;
    right: -600px;
    z-index: 3;
    width: 440px;
    height: 100vh;
    overflow-y: auto;
    transition: 0.2s;

    &.more-width {
        width: 600px;
    }

    &.show {
        right: 0px;
    }
}