@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.node-page {
    height: calc(100vh - 60px);

    .node-list-wrapper {
        min-width: 360px;
        max-width: 360px;
    }

    .card-container {
        height: calc(100vh - 170px);
        overflow: auto;

        .list-group-item {
            overflow: hidden;

            &.header {
                min-height: 38px;
                max-height: 38px;
                color: #6C7584;
            }

            .item-name {
                min-width: 120px;
                max-width: 120px;
            }

            .item-type {
                min-width: 96px;
                max-width: 96px;
            }

            .item-category {
                min-width: 96px;
                max-width: 96px;
            }

            .item-actions {
                min-width: 200px;
                max-width: 200px;
                position: absolute;
                right: -500px;
                top: 12px;
                transition: 0.2s;

                .actions {

                    .dsi {
                        min-width: 24px;
                        max-width: 24px;
                        display: inline-block;
                        color: $sub-headings;
                    }

                    .dsi,
                    .api-icon {
                        &:hover {
                            color: $dark;
                        }
                    }
                }
            }

            &:hover {
                .item-actions {
                    right: 0px;
                }
            }

            .scroll-pane {
                height: 100%;
                overflow: auto;
            }
        }
    }
}

.name-wrapper {
    .dsi {
        top: 9px;
        right: 9px;
    }
}

.overlay {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 2;
    background: rgba($color: #000000, $alpha: 0.6);
}

.new-node-window {
    height: 100vh;
    width: 360px;
    top: 0;
    right: -360px;
    z-index: 2;
    transition: 0.2s;
    overflow: auto;
    padding-top: 40px !important;

    &.show {
        right: 0px !important;
    }
}

.more-options {
    z-index: 2;
    top: 10px;
    right: 10px;
    min-width: 140px;

    .list-group-item {
        height: 36px;
    }
}

.r-10 {
    right: 10px;
}

.code-editor {
    height: calc(100vh - 340px);
}

.edit-node-window {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}

.code-editor-wrapper {
    &.expanded {
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        z-index: 2;
        background: $white;
        transition: 0.2s;

        .code-editor {
            height: calc(100vh - 40px);
        }
    }
}