<div class="form-group">
    <label class="text-secondary" for="serviceSelector">
        {{currNode?.options?.dataService ? 'Selected' : 'Select'}} Data Service
    </label>
    <div *ngIf="currNode?.options?.dataService"
        class="border rounded p-2 d-flex align-items-center justify-content-between">
        <span>{{currNode?.options?.dataService?.name}}</span>
        <span class="dsi dsi-remove text-danger hover" (click)="currNode.options.dataService=null"></span>
    </div>
    <odp-service-selector *ngIf="!currNode?.options?.dataService" [edit]="edit" [(data)]="currNode.options.dataService"
        (dataChange)="selectDataService($event)">
    </odp-service-selector>
</div>
<ng-container *ngIf="currNode?.options?.dataService">
    <div class="d-flex flex-column">
        <div class="form-group position-relative">
            <label for="authorization">Authorization Token</label>
            <!-- <input id="authorization" type="text" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.authorization"> -->
            <odp-node-data-selector [nodeList]="nodeList"
                [(value)]="currNode.options.authorization">
            </odp-node-data-selector>
        </div>
        <div class="form-group position-relative d-flex align-items-center">
            <odp-checkbox [edit]="edit" [(checked)]="currNode.options.get"
                (checkedChange)="setDataServiceOperation('get',$event)"></odp-checkbox>
            <span class="ml-2 text-secondary">Fetch</span>
        </div>
        <div class="form-group position-relative d-flex align-items-center">
            <odp-checkbox [edit]="edit" [(checked)]="currNode.options.update"
                (checkedChange)="setDataServiceOperation('update',$event)"></odp-checkbox>
            <span class="ml-2 text-secondary">Update</span>
        </div>
        <div class="form-group position-relative d-flex align-items-center">
            <odp-checkbox [edit]="edit" [(checked)]="currNode.options.insert"
                (checkedChange)="setDataServiceOperation('insert',$event)"></odp-checkbox>
            <span class="ml-2 text-secondary">Insert</span>
        </div>
        <div class="form-group position-relative d-flex align-items-center">
            <odp-checkbox [edit]="edit" [(checked)]="currNode.options.delete"
                (checkedChange)="setDataServiceOperation('delete',$event)"></odp-checkbox>
            <span class="ml-2 text-secondary">Delete</span>
        </div>
    </div>
    <ng-container *ngIf="currNode.options.get">
        <div class="form-group position-relative ">
            <label for="select">Select</label>
            <!-- <input id="select" type="text" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.select"> -->
            <odp-node-data-selector [nodeList]="nodeList"
                [(value)]="currNode.options.select">
            </odp-node-data-selector>
            <small class="form-text text-muted">Provide Comma Separated Fields</small>
        </div>
        <div class="form-group position-relative ">
            <label for="count">Count</label>
            <!-- <input id="count" type="number" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.count"> -->
            <odp-node-data-selector [nodeList]="nodeList" [number]="true" [(value)]="currNode.options.count">
            </odp-node-data-selector>
        </div>
        <div class="form-group position-relative ">
            <label for="page">Page</label>
            <!-- <input id="page" type="number" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.page"> -->
            <odp-node-data-selector [nodeList]="nodeList" [number]="true" [(value)]="currNode.options.page">
            </odp-node-data-selector>
        </div>
        <div class="form-group position-relative ">
            <label for="sort">Sort</label>
            <!-- <input id="sort" type="text" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.sort"> -->
            <odp-node-data-selector [nodeList]="nodeList" [(value)]="currNode.options.sort">
            </odp-node-data-selector>
            <small class="form-text text-muted">Provide Comma Separated Fields<br><i>(prefix: "-" for descending
                    order)</i></small>

        </div>
        <div class="form-group position-relative ">
            <label for="filter">Filter</label>
            <!-- <textarea id="filter" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.filter"></textarea> -->
            <odp-node-data-selector [textarea]="true" [nodeList]="nodeList"
                [(value)]="currNode.options.filter">
            </odp-node-data-selector>
        </div>
    </ng-container>
    <ng-container *ngIf="currNode.options.delete">
        <div class="form-group position-relative ">
            <label for="docId">ID</label>
            <!-- <input id="docId" type="text" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.documentId"> -->
            <odp-node-data-selector [nodeList]="nodeList"
                [(value)]="currNode.options.documentId">
            </odp-node-data-selector>
        </div>
    </ng-container>
    <ng-container *ngIf="currNode.options.update">
        <div class="form-group position-relative ">
            <label for="fields">Update Based on Fields</label>
            <!-- <input id="fields" type="text" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.fields"> -->
            <odp-node-data-selector [nodeList]="nodeList"
                [(value)]="currNode.options.fields">
            </odp-node-data-selector>
        </div>
    </ng-container>
    <ng-container *ngIf="currNode.options.update || currNode.options.insert">
        <!-- <div class="form-group position-relative ">
            <label for="nodeBody">Body</label>
            <input id="nodeBody" type="text" class="form-control dynamic-variable-addon"
                [(ngModel)]="currNode.options.body">
            <odp-node-data-selector [nodeList]="nodeList" [(value)]="currNode.options.body">
            </odp-node-data-selector>
        </div> -->
        <div class="form-group position-relative">
            <label class="font-14 fw-400 text-dark mb-0" for="nodeBody">Body</label>
            <odp-input-data-selector class="d-flex ml-4" [edit]="edit" [(data)]="currNode.options.body" [nodeList]="nodeList" [currNode]="currNode">
            </odp-input-data-selector>
        </div>
    </ng-container>
</ng-container>