<router-outlet odpShortcut>
</router-outlet>
<odp-loading *ngIf="(commonService?.commonSpinner && !commonService?.landingAnimation) || navigating"></odp-loading>
<div class="login-animation" *ngIf="commonService?.landingAnimation">
    <img src="assets/img/login_animation.gif" alt="">
    <p class="text-secondary">Hang on, please, we're brewing something for you.</p>
    <p class="text-bottom">DataNimbus © {{year}}. All rights reserved.</p>
</div>
<div class="session-refresh overlay align-items-center justify-content-center" [class.show]="showStallLoader">
    <div class="message-box">
        <div class="fa fa-spinner fa-pulse fa-3x"></div>
        <div>Your session is being refreshed, please wait.</div>
    </div>
</div>
<div class="session-expire overlay align-items-center justify-content-center" [ngClass]="{'show':sessionExpired}">
</div>
<div class="session-expire align-items-center justify-content-center" [ngClass]="{'show':sessionExpired}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="circle bg-dark">
                    <span class="fa fa-exclamation text-white"></span>
                </div>
                <p class="text-dark font-weight-bold text-center fs-18 ">Session</p>
                <p class="text-secondary text-center fs-16 px-3">Your session has expired, please login again.</p>
                <div class="d-flex align-items-center justify-content-center">
                    <button class="btn btn-min-width btn-primary w-50 mx-3" id="sbDeleteModalYes" type="button"
                        (click)="logoutUser()" odpAutoFocus [timeout]="1200">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #sessionTierAlertModal>
    <div class="modal-body p-4">
        <div class="circle bg-dark">
            <span class="fas fa-exclamation text-white"></span>
        </div>
        <p class="text-dark font-weight-bold text-center">Session Expire Alert</p>
        <p class="text-secondary text-center">{{sessionExpireMsg}}</p>
        <!-- <input *ngIf="authType && authType=='local'" type="password" [(ngModel)]="userPwd" placeholder="Password" class="form-control"> -->
    </div>
    <div class="modal-footer p-3 bg-light">
        <button type="button" class="btn btn-min-width btn-link w-50 mx-3"
            (click)="sessionTierAlertModalRef.close(false)" id="sContinueNo">Cancel</button>
        <!-- <button *ngIf="authType && authType=='local'" type="button" class="btn btn-min-width btn-primary w-50 mx-3"
            (click)="extendSession()" id="sContinueYes" [disabled]="!userPwd || userPwd.length < 8">
            Extend
        </button> -->
        <button type="button" class="btn btn-min-width btn-primary w-50 mx-3" (click)="extendSession()" odpAutoFocus
            id="sContinueYes">Extend</button>
    </div>
</ng-template>