.session-refresh, .session-expire{
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 999999999;
    top:0;
    left: 0;
    display: none;
    &.show{
        display: flex;
    }
    &.overlay{
        background: rgba(#ccc, 0.75);
    }
    .message-box{
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;
        justify-items: center;
        row-gap:20px;
    }
}
.modal-footer {
    justify-content: center
}
.fs-18{
    font-size: 18px;
}
.fs-16{
    font-size: 16px
}
