<div>
    <div class="d-flex align-items-center justify-content-between">
        <span class="font-20 fw-500">Mappings</span>
        <button type="button" class="btn btn-link p-0">
            <span class="dsi dsi-close text-dark ignore-outside" (click)="cancel()"></span>
        </button>
    </div>
    <div class="mapping-container my-3 d-flex border rounded">
        <svg #svgCanvas class="mapping-svg w-100">
            <g class="source-fields">
                <g *ngFor="let item of allSources;let i=index">
                    <g odp-source-fields [index]="i" [definition]="item"></g>
                </g>
            </g>
            <g class="mapping-paths"></g>
            <g class="target-fields">
                <g *ngFor="let item of customTargetFields;let i=index">
                    <g odp-target-fields [allSources]="allSources" [index]="i" [definition]="item"></g>
                </g>
            </g>
        </svg>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-min-width" (click)="done()">Done</button>
    </div>
</div>