@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.mapping-container {
    .mapping-box {
        min-height: calc(100vh - 204px);
        max-height: calc(100vh - 204px);
        overflow-y: auto;

        width: 60vw;

        .source-list {
            min-width: 300px;
            max-width: 300px;
        }

        .mapping-paths {
            // min-width: calc(100% - 650px);
            // max-width: calc(100% - 650px);
            min-width: 140px;
            max-width: 140px;
        }

        .target-list {
            min-width: 348px;
            max-width: 348px;
        }
    }
}

path {
    stroke: #ccc;
    stroke-width: 2;
    fill: none;

    &:hover {
        cursor: pointer;
        stroke-width: 4;
    }

    &.selected {
        stroke: $accent;
        stroke-width: 3;
    }
}

.no-outline {
    outline: none !important;
}

.transparent-path {
    stroke: transparent;
    stroke-width: 4;
    fill: none;

    &:hover {
        cursor: pointer;
        stroke-width: 20;
    }
}

.svg-path-transparent:hover~path {
    cursor: pointer;
    stroke-width: 4;
}

.delete-rect {
    fill: #fff;
    stroke: $danger;
    stroke-width: 1;
}

.suggestion-list {
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    overflow: auto;
}

.method-list {
    min-width: 300px;
    max-width: 300px;
}

.method-drop {
    margin: auto 0 auto auto;
}

.list-group-item {
    padding: 0.75rem 0.5rem;
}