<div>
    <div class="d-flex align-items-center justify-content-between">
        <span class="font-20 fw-500">Mappings</span>
        <button type="button" class="btn btn-link p-0">
            <span class="dsi dsi-close text-dark ignore-outside" (click)="cancel()"></span>
        </button>
    </div>
    <div class="mapping-container my-3 border rounded">
        <div class="d-flex align-items-center justify-content-end">
            <button type="button" class="btn btn-link d-flex align-items-center" (click)="doFuzzyMapping()">
                <span class="dsi dsi-mapping mr-2"></span>
                <span>Fuzzy Mappings</span>
            </button>
            <button type="button" class="btn btn-link d-flex align-items-center" (click)="doClearMapping()">
                <span class="dsi dsi-ban mr-2"></span>
                <span>Clear Mappings</span>
            </button>
        </div>
        <div class="d-flex border-top">
            <div class="source-list ml-3 border-right">
                <div class="source-list-item mb-3">
                    <ng-container *ngFor="let node of nodeList">
                        <div class="d-flex align-items-center">
                            <span class="dsi hover text-muted" (click)="toggleSource(node)"
                                [ngClass]="{'dsi-plus':sourceExpandCollapseObjects[node._id],'dsi-minus':!sourceExpandCollapseObjects[node._id]}"></span>
                            <div class="p-2 fw-600 text-primary ml-2">{{node.name}}</div>
                        </div>
                        <div *ngIf="!sourceExpandCollapseObjects[node._id]">
                            <ng-container *ngFor="let def of allSources">
                                <div *ngIf="!isSourceItemCollapsed(def) && def.nodeId == node._id"
                                    class="data-field d-flex align-items-center justify-content-start" draggable="true"
                                    (dragstart)="onDragStart($event,def)" [attr.data-id]="def._id">
                                    <div class="spacer" [ngStyle]="{'width':(def.depth*10)+'px'}"></div>
                                    <div class="toggle-btn d-flex align-items-center justify-content-center">
                                        <span *ngIf="showToggleBtn(def)" class="dsi hover text-muted"
                                            (click)="toggleSource(def)"
                                            [ngClass]="{'dsi-plus':sourceExpandCollapseObjects[def.dataPath],'dsi-minus':!sourceExpandCollapseObjects[def.dataPath]}"></span>
                                    </div>
                                    <div class="field-type mr-2">
                                        <odp-field-type [field]="def" [onMapper]="true"></odp-field-type>
                                    </div>
                                    <div class="field-key">{{def.key}}</div>
                                    <div class="mapping-line flex-fill"
                                        [ngClass]="{'border-accent border-top':isSourceMapped(def)}"></div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>
            <svg #svgCanvas class="mapping-paths" [ngStyle]="svgStyle" (click)="selectedPath=null;">
                <g *ngFor="let p of pathList;let i=index;">
                    <path class="transparent-path no-outline" [attr.d]="p.path" (click)="selectPath($event,p,i)" />
                    <path [class.selected]="isPathSelected(p)" [attr.d]="p.path" (click)="selectPath($event,p,i)"
                        class="no-outline" />
                </g>
            </svg>
            <div class="target-list border-left">
                <div class="target-list-item mb-3">
                    <span class="fw-600 text-primary font-14 p-2">{{currNode.name}}</span>
                    <div class="target-field-list">
                        <div *ngFor="let def of allTargets" class="target-field-list-item position-relative">
                            <div *ngIf="!def.hide && !isTargetItemCollapsed(def)"
                                class="data-field d-flex align-items-center justify-content-start"
                                [ngClass]="{'bg-accent text-white':def.over,'mark-disabled':def.disabled}"
                                (drop)="onDrop($event,def)" (dragover)="onDragOver($event,def)"
                                (dragenter)="onDragEnter($event,def)" (dragleave)="onDragLeave($event,def)"
                                [attr.data-id]="def._id">
                                <div class="spacer" [ngClass]="{'border-accent border-top':isMapped(def)}"
                                    [ngStyle]="{'width':((def.depth+1)*12)+'px'}"></div>
                                <div class="toggle-btn d-flex align-items-center justify-content-center">
                                    <span *ngIf="showToggleBtn(def)" class="dsi hover text-muted"
                                        (click)="toggleTarget(def)"
                                        [ngClass]="{'dsi-plus':targetExpandCollapseObjects[def.dataPath],'dsi-minus':!targetExpandCollapseObjects[def.dataPath]}"></span>
                                </div>
                                <div class="field-type mr-2">
                                    <odp-field-type [field]="def" [onMapper]="true"></odp-field-type>
                                </div>
                                <div class="field-key">{{def.key}}</div>
                                <a href="#" (click)="$event.preventDefault();def._showFn=true">
                                    <i class="hover mx-2"
                                        [ngClass]="{'text-success':isValidFunction(def),'text-danger':!isValidFunction(def)}">f(x)</i>
                                </a>
                                <odp-formula-editor *ngIf="def._showFn"
                                    class="function-wrapper position-absolute bg-white border rounded" [data]="def"
                                    (close)="def._showFn=false"></odp-formula-editor>
                                <div class="mapped-sources d-flex ml-3 text-secondary font-12">
                                    <div *ngFor="let source of def.source"
                                        class="border rounded px-1 mr-1 d-flex align-items-center">
                                        <span>{{source.key}}</span>
                                        <span (click)="removeSource(def,source)"
                                            class="dsi dsi-minus-circle text-danger hover ml-1 font-14"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary btn-min-width" (click)="done()">Done</button>
    </div>
</div>