<div class="custom-format-selector-wrapper">
    <div class="d-flex align-items-center mb-3">
        <span class="font-12 text-dark mr-2">Name:</span>
        <span class="font-12 text-secondary">{{format?.name}}</span>
    </div>
    <ng-container *ngFor="let def of definition;let i=index">
        <div class="d-flex align-items-center justify-content-between border rounded px-3 py-2 mb-1 bg-white">
            <div class="d-flex align-items-center">
                <span class="dsi dsi-more-vertical-6 mr-3"></span>
                <input type="text" class="form-control" [(ngModel)]="def.key"
                    (ngModelChange)="setFieldName($event, def)" (keyup.enter)="addField(i)" (paste)="onPaste($event,i)"
                    odpAutoFocus>
            </div>
            <div>
                <select class="form-control" [(ngModel)]="def.type">
                    <option value="String">Text</option>
                    <option value="Number">Number</option>
                    <option value="Boolean">True/False</option>
                    <option value="Date">Date</option>
                </select>
            </div>
            <div>
                <span class="dsi dsi-trash hover" (click)="deleteField(i)"></span>
            </div>
        </div>
    </ng-container>
    <button type="button" class="btn btn-link mt-3 d-flex align-items-center " (click)="addField()">
        <span class="dsi dsi-plus-circle mr-2"></span>
        <span class="text">Add Field</span>
    </button>
    <div class="d-flex align-items-center justify-content-end mt-4">
        <button type="button" class="btn btn-primary w-100" (click)="createFormat()">Create Format</button>
    </div>
</div>