<div class="d-flex flex-column groups-content w-100 p-4">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="w-100">
      <h5 class="font-weight-bold font-20">Agent Access Setting</h5>
    </div>
    <select name="permissions" id="permissions" class="all-permissions-selector custom-select"
      [ngModel]="globalPermission" (ngModelChange)="changeAllPermissions($event)">
      <option value="custom">Custom</option>
      <option value="blocked">None</option>
      <option value="view">View</option>
      <option value="manage">Manage</option>
    </select>
  </div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Access Level</div>
          <span class="text-muted font-13">
            Permission to manage basic details of a group.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="agentBlocked" name="agent" size="20" [checked]="basicPermission=='blocked'"
            (checkedChange)="basicPermission='PNAB'">
          </odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="agentView" name="agent" size="20" [checked]="basicPermission=='view'"
            (checkedChange)="basicPermission='PVAB'">
          </odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="agentView" name="agent" size="20" [checked]="basicPermission=='manage'"
            (checkedChange)="basicPermission=['PMABC', 'PMABU', 'PMABD']">
          </odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>


    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">View Password</div>
          <span class="text-muted font-13">
            Permission to view Agent's Password.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="agentPasswordBlocked" name="agentPassword" size="20"
            [checked]="getModulePermissionLevel('APW','AGENT')=='blocked'" (checkedChange)="changeModulePermissionLevel('N','APW','AGENT')"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio [edit]="edit" id="agentPasswordView" name="agentPassword" size="20"
            [checked]="getModulePermissionLevel('APW','AGENT')=='view' || getModulePermissionLevel('APW','AGENT')=='manage'" (checkedChange)="changeModulePermissionLevel('V','APW','AGENT')"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
        </div>
      </div>
    </div>





    <ng-container *ngFor="let item of powerSettingList">
      <div class="d-flex justify-content-between mt-4">
        <div>
          <div class="p-3 text-dark">
            <div class="font-weight-bold">{{item.label}}</div>
            <span class="text-muted font-13">
              {{item.description}}
            </span>
          </div>
        </div>
        <div class="d-flex align-items-center">
          <div class="permission-btn-block d-flex align-items-center justify-content-end">
            <odp-round-radio [edit]="edit" id="groupAuthorBlocked" name="groupAuthor" size="20"
              [checked]="getModulePermissionLevel(item.segment,item.entity)=='blocked'"
              (checkedChange)="changeModulePermissionLevel('N',item.segment,item.entity)"></odp-round-radio>
            <span class="text-dark ml-2">Blocked</span>
          </div>
          <div class="permission-btn-block d-flex align-items-center justify-content-end">
            <!-- <odp-round-radio [edit]="edit" id="groupAuthorView" name="groupAuthor" size="20"
              [checked]="getModulePermissionLevel(item.segment,item.entity)=='view'"
              (checkedChange)="changeModulePermissionLevel('V',item.segment,item.entity)"></odp-round-radio>
            <span class="text-dark ml-2">View</span> -->
          </div>
          <div class="permission-btn-block d-flex align-items-center justify-content-end">
            <odp-round-radio [edit]="edit" id="groupAuthorManage" name="groupAuthor" size="20"
              [checked]="getModulePermissionLevel(item.segment,item.entity)=='manage'"
              (checkedChange)="changeModulePermissionLevel('M',item.segment,item.entity)"></odp-round-radio>
            <span class="text-dark ml-2">Manage</span>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>