@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.header {
  min-height: 60px;
  max-height: 60px;

  .logo {
    min-height: 42px;
    max-height: 42px;
    min-width: 142px;
    max-width: 142px;
    background-repeat: no-repeat;
    background-size: 186px;
    background-position: center;
  }

  .text {
    min-height: 50px;
    max-height: 50px;
    font-weight: 600;

    .platform-name {
      margin-top: 3px;
      font-size: 18px;
      text-transform: uppercase;
      opacity: 0.7;
    }

    .product-name {
      margin-top: -3px;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .current-app {
    // min-width: 200px;
    // max-width: 200px;
    min-height: 36px;
    max-height: 36px;

    .current-app-thumbnail {
      border-radius: 6px;
      overflow: hidden;

      img {
        min-width: 36px;
        max-width: 36px;
      }
    }
  }
}

.body {
  transition: 0.25s;
  min-height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  overflow-y: auto;
}

.item {
  color: $dark;
  outline: none !important;

  .active {
    font-weight: 700;
    border-bottom: 2px solid $primary;;
  }
}

.menu,
.profile-icon,
.admin-settings,
.user-icon {
  min-width: 36px;
  max-width: 36px;
  min-height: 36px;
  max-height: 36px;
}

.menu {
  padding-top: 5px;
}

.profile {
  border-radius: 8px;
  box-shadow: 0px 6px 16px rgba($color: #c7c7c7, $alpha: 0.5);
  top: 50px;
  right: 10px;
  z-index: 10;

  .profile-options>div {
    &:hover {
      .dsi {
        color: $primary;
      }
    }
  }

  .profile-container {
    min-width: 332px;
    max-width: 332px;

    .user-icon {
      min-width: 36px;
      max-width: 36px;
      min-height: 36px;
      max-height: 36px;
      top: -40px;
      right: 9px;
    }

    .profile-thumbnail {
      min-width: 48px;
      max-width: 48px;
      min-height: 48px;
      max-height: 48px;
    }

    .profile-data-more-item {
      border-right: 2px solid $light;

      &:last-child {
        border-right: 0;
      }
    }

    .profile-data {
      width: 290px;
    }
  }
}

.username-holder {
  max-width: 90px;
}

.platform {
  min-width: 90px;
  min-height: 90px;

  .k8s-icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
  }
}