<ng-container *ngIf="namespace === 'keys'">
  <!-- <ng-container *ngIf="field === 'label'">
    <span class="odp-key font-16" [ngClass]="{ 'text-accent': data.isActive, 'text-muted': !data.isActive }"></span>
    <span class="key-name" [ngClass]="{ 'text-accent': data.isActive, 'text-muted': !data.isActive }">{{ data.label }}</span>
  </ng-container> -->
  <ng-container *ngIf="field === 'createdAt'">
    {{ params.value | dateFormat : 'DD-MMM-YYYY, z' : 'Etc/Zulu' }}
  </ng-container>
  <ng-container *ngIf="field === 'keyValue'">
    <span *ngIf="!data.isNew">****************</span>
    <span *ngIf="data.isNew" (click)="copyKey(data)">
      <span>{{ data.keyValue }}</span>
      <span class="fa fa-copy mr-2"></span>
    </span>
  </ng-container>
</ng-container>

<ng-container *ngIf="namespace === 'properties'">
  <ng-container *ngIf="['label', 'value'].includes(field)">
    {{ params.value }}
  </ng-container>
  <odp-field-type *ngIf="field === 'type'" [label]="true" [field]="{type:params.value,properties:{}}" [basic]="true">
  </odp-field-type>
</ng-container>