@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";


.logo {
  min-height: 42px;
  max-height: 42px;
  min-width: 142px;
  max-width: 142px;
  background-repeat: no-repeat;
  background-size: 186px;
  background-position: center;
}

.header {
  min-height: 60px;
  max-height: 60px;



  .text {
    min-height: 50px;
    max-height: 50px;
    font-weight: 600;
    font-size: 14px;

    .platform-name {
      margin-top: 3px;
      font-size: 18px;
      text-transform: uppercase;
      opacity: 0.7;
    }

    .product-name {
      margin-top: -3px;
      font-size: 13px;
      text-transform: uppercase;
    }
  }

  .current-app {
    min-width: 172px;
    max-width: 172px;
    min-height: 32px;
    max-height: 32px;
    border-radius: 6px;

    .current-app-thumbnail {
      border-radius: 6px;
      overflow: hidden;
      transition: 0.25s;

      img {
        min-width: 20px;
        max-width: 20px;
        min-height: 20px;
        max-height: 20px;
      }
    }
  }
}

.logo-mini {
  min-height: 42px;
  max-height: 42px;
  min-width: 45px;
  max-width: 45px;
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
}

.sidenav {
  min-width: 60px;
  max-width: 260px;
  // min-height: calc(100vh - 60px);
  max-height: 100vh;
  transition: 0.25s;
  overflow-y: hidden;
  scrollbar-gutter: stable;
  overflow-x: hidden;

  // &.hide {
  //   margin-left: -170px;
  // }
  .icon-block-group {
    width: 111%;
    font-weight: 400;
    font-size: 12px;
    color: #181818;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
  }

  .icon-block {
    min-height: 30px;
    max-height: 30px;
    text-align: left;
    outline: 0;
    position: relative;
    color: lighten($black, 10);
    font-size: 14px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;

    .icon {
      min-width: 30px;
      max-width: 30px;
      min-height: 30px;
      max-height: 30px;
    }

    .text {
      font-size: 14px;
    }

    a {
      text-decoration: none !important;
    }

    &:hover {
      .dsi {
        // transition: 0.2s;
        color: $primary;
      }
    }
  }
}

.sidenav:hover{
  overflow-y: auto;
}

.sidenav::-webkit-scrollbar {
  width: 0.5em;
  background-color: #efeeee;
}

.sidenav::-webkit-scrollbar-thumb {
  background-color: #b8b6b6;
  border-radius: 10px;
}

.body {
  transition: 0.25s;
  min-height: calc(100vh - 60px);
  max-height: calc(100vh - 60px);
  overflow: hidden;
}

.profile-icon {
  .dsi-admin {
    right: 5px;
    background: #fff;
    border-radius: 6px;
    top: 13px;
  }
}

.profile-icon,
.admin-settings {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
}

.menu,
.current-app-thumbnail {
  min-width: 20px;
  max-width: 20px;
  min-height: 20px;
  max-height: 20px;
}

.menu {
  padding-top: 5px;
}

.profile {
  border-radius: 8px;
  box-shadow: 0px 6px 16px rgba($color: #c7c7c7, $alpha: 0.5);
  top: 50px;
  right: 10px;
  z-index: 10;

  .profile-options>div {
    &:hover {
      .dsi {
        color: $primary;
      }
    }
  }

  .profile-container {
    min-width: 332px;
    max-width: 332px;

    .user-icon {
      min-width: 36px;
      max-width: 36px;
      min-height: 36px;
      max-height: 36px;
      top: -40px;
      right: 9px;
    }

    .profile-thumbnail {
      min-width: 48px;
      max-width: 48px;
      min-height: 48px;
      max-height: 48px;
    }

    .profile-data-more-item {
      border-right: 2px solid $light;

      &:last-child {
        border-right: 0;
      }
    }

    .profile-data {
      width: 290px;
    }
  }
}

.username-holder {
  max-width: 90px;
}

.platform {
  min-width: 90px;
  min-height: 90px;

  .k8s-icon {
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: cover;
  }
}


.items {
  margin-left: 15px;

  &:hover {
    cursor: pointer;
    color: #181818 !important;
  }
}

.fa-point {
  cursor: pointer;
  color: $lightgrey ;
}

// .scroll::-webkit-scrollbar {
//   width: 12px;
// }

// .scroll::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
//   border-radius: 10px;
// }

// .scroll::-webkit-scrollbar-thumb {
//   border-radius: 10px;
//   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
// }

.dark-border {
  border-color: $gray-400  !important;
}

.padding{
  padding-right: 26px;
}