<div class="d-flex flex-column w-100 h-100">
  <div class="d-flex w-100 h-100">
    <div class="sidenav d-flex flex-column pl-3 border-right" id="_sideNavBar"
      [ngStyle]="{ 'min-width': showSideNav ? '260px' : '48px'}">
      <!-- <div class="left" [ngClass]="{ 'add-blur': addBlur }" [ngStyle]="{ width: showSideNav ? '15vw' : '4vw' }"> -->

      <div class="mt-2 mb-3">
        <div *ngIf="showSideNav" class="logo" (click)="toggleNav()"></div>
        <div *ngIf="!showSideNav" class="logo-mini" (click)="toggleNav()"></div>
      </div>
      <!-- </div> -->
      <div class="icon-block-group text-secondary border-border pt-3"
        *ngIf="hasDataServicePermission || hasDataLibraryPermission">
        <span *ngIf="showSideNav" class="nav-active">DATA</span>
        <div *ngIf="showSideNav" class="dsi" [ngClass]="{
            'dsi-drop-down': openPanel['data'],
            'dsi-drop-up': !openPanel['data']
          }" (click)="togglePanel('data')"></div>
      </div>
      <div *ngIf="openPanel['data']">
        <div *ngIf="hasDataServicePermission" #serviceRoute="routerLinkActive"
          class="icon-block d-flex align-items-center my-3"
          [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
          routerLinkActive="text-primary bg-white active" [routerLink]="['sm']" id="_entities"
          (click)="getBreadcrumbs()" Data>
          <div class="d-flex align-items-center">
            <span [ngClass]="{'nav-inactive':!serviceRoute.isActive}" class="dsi dsi-data-service"></span>
            <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                'fw-600 nav-active': serviceRoute.isActive,
                'nav-inactive': !serviceRoute.isActive
              }">Services</span>
          </div>
        </div>
        <div *ngIf="hasDataLibraryPermission" #libraryRoute="routerLinkActive"
          class="icon-block d-flex align-items-center my-3"
          [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
          routerLinkActive="text-primary bg-white active" [routerLink]="['lib']" id="_lib">
          <div class="d-flex align-items-center">
            <span [ngClass]="{'nav-inactive':!libraryRoute.isActive}" class="dsi dsi-library"></span>
            <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                'fw-600 nav-active': libraryRoute.isActive,
                'nav-inactive': !libraryRoute.isActive
              }">Library</span>
          </div>
        </div>
        <div *ngIf="hasFunctionsPermission" #functionRoute="routerLinkActive"
          class="icon-block d-flex align-items-center my-3"
          [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
          routerLinkActive="text-primary bg-white active" [routerLink]="['faas']" id="function">
          <div class="d-flex align-items-center">
            <span [ngClass]="{'nav-inactive':!functionRoute.isActive}" class="dsi dsi-function"></span>
            <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                'fw-600 nav-active': functionRoute.isActive,
                'nav-inactive': !functionRoute.isActive
              }">Functions</span>
          </div>
        </div>
      </div>

      <ng-container>
        <div class="icon-block-group text-secondary border-top border-border pt-3" *ngIf="
            hasPermission('PMDS') ||
            hasPermission('PVDS') ||
            hasPermission('PML') ||
            hasPermission('PVL')
          ">
          <span *ngIf="showSideNav" class="nav-active">INTEGRATION</span>
          <div *ngIf="showSideNav" class="dsi" [ngClass]="{
              'dsi-drop-down': openPanel['integration'],
              'dsi-drop-up': !openPanel['integration']
            }" (click)="togglePanel('integration')"></div>
        </div>
        <!-- <div *ngIf="hasPartnerPermission" #partnerRoute="routerLinkActive"
                    class="icon-block d-flex align-items-center my-3" [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
                    routerLinkActive="text-primary bg-white active" [routerLink]="['pm']" id="partnerManager"
                    (mouseover)="hover.partner = true" (mouseleave)="hover.partner = false">
                    <div class="d-flex align-items-center">
                        <span [ngClass]="{'nav-inactive':}" class="dsi dsi-partner"></span>
                        <span class="text" ["partnerRoute.isActive" class="fa fa-angle-right mr-3"></spanngClass]="{'text-accent':hover.partner}">Partners</span>
                    </div>
                    <span *ngIf="partnerRoute.isActive" class="fa fa-angle-right mr-3"></span>
                </div> -->
        <div *ngIf="openPanel['integration']">
          <div #flowRoute="routerLinkActive" class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['flow']" id="flowManager">
            <div class="d-flex align-items-center">
              <span [ngClass]="{'nav-inactive':!flowRoute.isActive}" class="dsi dsi-flow"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': flowRoute.isActive,
                  'nav-inactive': !flowRoute.isActive
                }">Flows</span>
            </div>
          </div>
          <div *ngIf="hasDataFormatPermission" #dataFormatRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['dfl']" id="dataFormat">
            <div class="d-flex align-items-center">
              <span [ngClass]="{'nav-inactive':!dataFormatRoute.isActive}" class="dsi dsi-library"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': dataFormatRoute.isActive,
                  'nav-inactive': !dataFormatRoute.isActive
                }">Data Formats</span>
            </div>
          </div>
          <div *ngIf="hasAgentsPermission" #agentRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['agent']" id="agent">
            <div class="d-flex align-items-center">
              <span [ngClass]="{'nav-inactive':!agentRoute.isActive}" class="dsi dsi-agent"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': agentRoute.isActive,
                  'nav-inactive': !agentRoute.isActive
                }">Agents</span>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="
          hasGroupsPermission ||
          hasUsersPermission ||
          hasBotPermission ||
          hasBookmarkPermission ||
          hasInsightsPermission
        ">
        <div class="icon-block-group text-secondary border-top border-border pt-3">
          <span *ngIf="showSideNav" class="nav-active">MANAGEMENT</span>
          <div *ngIf="showSideNav" class="dsi" [ngClass]="{
              'dsi-drop-down': openPanel['management'],
              'dsi-drop-up': !openPanel['management']
            }" (click)="togglePanel('management')"></div>
        </div>
        <div *ngIf="openPanel['management']">
          <div *ngIf="isAppAdmin || isSuperAdmin" #appRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['app']" id="apps">
            <div class="d-flex align-items-center">
              <span [ngClass]="{'nav-inactive':!appRoute.isActive}" class="dsi dsi-app-panel"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': appRoute.isActive,
                  'nav-inactive': !appRoute.isActive
                }">App Panel
              </span>
            </div>
          </div>
          <!--<div *ngIf="isAppAdmin || isSuperAdmin" #wfRoute="routerLinkActive"
                   class="icon-block d-flex align-items-center my-3" [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
                   routerLinkActive="text-primary bg-white active" [routerLink]="['cp/workflow']" id="wfs"
                   (mouseover)="hover.wfs = true" (mouseleave)="hover.wfs = false">
                  <div class="d-flex a1" [ngClass]="{'text-accent':hover.wfs}">Workitems</spanlign-items-center">
                      <span [ngClass]="{'nav-inactive':}" class="dsi dsi-data-service"></span>
                      <span class="text ml-1" [ngClass]="{'text-accent':hover.wfs}">Workitems</span>
                  </div>
                  <span *ngIf="wfRoute.isActive" class="fa fa-angle-right mr-3"></span>
              </div>-->
          <!-- <div *ngIf="hasBookmarkPermission" #bookmarkRoute="routerLinkActive"
                  class="icon-block d-flex align-items-center my-3" [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
                  routerLinkActive="text-primary bg-white active" [routerLink]="['cp/bookmarks']" id="bookmark"
                  (mouseover)="hover.bookmark = true" (mouseleave)="hover.bookmark = false">
                  <div class="d-flex a[ngClass]="{'text-accent':hover.bookmark}">Bookmarks</spanlign-items-center ml-1">
                     <span [ngClass]="{'nav-inactive':}" class="dsi dsi-bookmark"></span>
                      <span class="text" [ngClass]="{'text-accent':hover.bookmark}">Bookmarks</span>
                  </div>
                  <span *ngIf="bookmarkRoute.isActive" class="fa fa-angle-right mr-3"></span>
              </div> -->
          <div *ngIf="hasUsersPermission" #userRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['cp/user']" id="_usersMng">
            <div class="d-flex align-items-center ml-1">
              <span [ngClass]="{'nav-inactive':!userRoute.isActive}" class="dsi dsi-user"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': userRoute.isActive,
                  'nav-inactive': !userRoute.isActive
                }">Users</span>
            </div>
          </div>
          <div *ngIf="hasBotPermission && authType == 'azure'" #botRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['bots']">
            <div class="d-flex align-items-center ml-1">
              <span [ngClass]="{'nav-inactive':!botRoute.isActive}" class="dsi dsi-bot"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': botRoute.isActive,
                  'nav-inactive': !botRoute.isActive
                }">Bots</span>
            </div>
          </div>
          <div *ngIf="hasBotPermission && authType != 'azure'" #botRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['local-bots']">
            <div class="d-flex align-items-center ml-1">
              <span [ngClass]="{'nav-inactive':!botRoute.isActive}" class="dsi dsi-bot"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': botRoute.isActive,
                  'nav-inactive': !botRoute.isActive
                }">Bots</span>
            </div>
          </div>
          <div *ngIf="hasGroupsPermission" #groupRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['cp/gr']" id="_groups">
            <div class="d-flex align-items-center ml-1">
              <span [ngClass]="{'nav-inactive':!groupRoute.isActive}" class="dsi dsi-group"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': groupRoute.isActive,
                  'nav-inactive': !groupRoute.isActive
                }">Groups</span>
            </div>
          </div>
          <div *ngIf="hasInsightsPermission" #insightRoute="routerLinkActive"
            class="icon-block d-flex align-items-center my-3"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            routerLinkActive="text-primary bg-white active" [routerLink]="['insight']" id="insights">
            <div class="d-flex align-items-center ml-1">
              <span [ngClass]="{'nav-inactive':!insightRoute.isActive}" class="dsi dsi-insight"></span>
              <span *ngIf="showSideNav" class="text items font-14" [ngClass]="{
                  'fw-600 nav-active': insightRoute.isActive,
                  'nav-inactive': !insightRoute.isActive
                }">Insights</span>
            </div>
          </div>
          <div *ngIf="hasDataServicePermission" class="icon-block d-flex align-items-center my-3" id="apis"
            [ngClass]="{'justify-content-between':showSideNav, 'justify-content-center':!showSideNav}"
            (click)="openAPIsWindow()">
            <div class="d-flex align-items-center ml-1">
              <span class="dsi dsi-api-doc"></span>
              <span *ngIf="showSideNav" class="text items nav-inactive font-14">APIs</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="w-100 overflow-auto">
      <div class="header d-flex align-items-center justify-content-between w-100 p-3 bg-white">

        <div>
          <odp-breadcrumb [paths]="breadcrumbPaths"></odp-breadcrumb>
        </div>
        <div class="w-50 d-flex align-items-center justify-content-end">
          <ng-container *ngIf="isSuperAdmin">
            <!-- <div class="d-flex align-items-center mr-3">
                        <button type="button" class="btn btn-link font-sm" (click)="downloadIEG()">
                            <span [ngClass]="{'nav-inactive':}" class="dsi dsi-download"></span>
                            <span class="ml-2"> --Edge Agent</span>
                        </button>
                    </div> -->
            <div (click)="loadAdminPage()"
              class="admin-settings btn-white btn-sm border d-flex flex-column justify-content-center align-items-center mr-3 hover"
              ngbTooltip="Admin Panel" placement="bottom">
              <div class="dsi dsi-admin"></div>
            </div>
          </ng-container>
          <div class="current-app d-flex align-items-center border rounded mr-3 hover ignore-outside"
            (click)="toggleAppOptions()">
            <div class="current-app-thumbnail d-flex align-items-center justify-content-center mx-2"
              ngbTooltip="Switch App" placement="bottom" [ngStyle]="{ 'background-color': selectedApp.bg }" [ngClass]="{
                'img-app': selectedApp.logo && selectedApp.logo.thumbnail
              }">
              <img *ngIf="selectedApp.logo && selectedApp.logo.thumbnail" [src]="selectedApp.logo.thumbnail"
                alt="Logo" />
              <span *ngIf="!selectedApp?.logo?.thumbnail">{{selectedApp.firstLetter}}</span>
            </div>
            <div class="current-app-name text-dark text-truncate" ngbTooltip="Current App" placement="bottom">
              {{ selectedApp._id }}
            </div>
            <div class="text-primary"></div>
            <div *ngIf="isAppAdmin" class="d-flex align-items-center justify-content-center ml-1">
              <span class="fa fa-star text-warning" ngbTooltip="You are admin of this App" placement="bottom"></span>
            </div>
            <div *ngIf="commonService.appList.length > 1" class="ml-auto mr-2">
              <span class="fas fa-angle-down text-accent"></span>
            </div>
          </div>
          <div
            class="profile-icon position-relative d-flex align-items-center justify-content-center rounded-circle bg-light border border-border hover"
            (click)="showProfileOptions = !showProfileOptions">
            <span class="far fa-user fa-lg text-secondary"></span>
          </div>
          <div [@userProfile] class="profile position-absolute bg-white border border-border" *ngIf="showProfileOptions"
            odpClickOutside [ignore]="['.profile-icon', '.fa-user']" (outside)="showProfileOptions = false">
            <div class="profile-container position-relative d-flex align-items-center h-100 w-100">
              <div
                class="profile-thumbnail d-flex align-items-center justify-content-center rounded-circle bg-light border border-border mx-4">
                <span class="far fa-user fa-2x text-secondary"></span>
              </div>
              <div class="profile-data d-flex flex-column">
                <h4 class="profile-data-name text-truncate font-weight-bold">
                  {{ name }}
                </h4>
                <div class="profile-data-more d-flex align-items-center">
                  <div class="text-secondary profile-data-more-item pr-3 username-holder text-truncate"
                    [ngbTooltip]="username">
                    {{ username }}
                  </div>
                  <div class="profile-data-more-item px-1" *ngIf="authType && authType === 'local'">
                    <button type="button" class="btn btn-link btn-sm" (click)="
                        showProfileOptions = false; toggleChangePassword = true
                      ">
                      Change Password
                    </button>
                  </div>
                  <div class="profile-data-more-item px-1">
                    <button type="button" class="btn btn-link btn-sm" (click)="logout()" id="logout">
                      Logout
                    </button>
                  </div>
                </div>
              </div>
              <small class="position-absolute text-border app-version">v{{ version }}</small>
              <small class="last-login text-muted">Last Login:
                {{
                lastLogin | dateFormat: 'YYYY MMM DD, HH:mm:ss, z':'Etc/Zulu'
                }}</small>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex flex-column body w-100">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>

<odp-app-switcher *ngIf="showAppOptions" [activeApp]="selectedApp" (activeAppChange)="onAppChange($event)"
  (cancel)="showAppOptions = false"></odp-app-switcher>

<odp-change-password *ngIf="toggleChangePassword" [(toggleModal)]="toggleChangePassword"></odp-change-password>