@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";
$color: #65ff78;


.text-blue {
  color: #3498db;
}
.overflow-y {
  overflow-y: auto;
  max-height: calc(100vh - 209px);
}

.wizard {
  max-width: 240px;
  min-width: 240px;
  min-height: calc(100vh - 120px);
  .circle {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    font-size: 10px;
  }
  .active {
    color: #3498db !important;
    .text {
      color: #3498db !important;
      font-weight: bold;
    }
    .circle {
      border: 4px solid #3498db !important;
    }
  }
}

.drop-box {
    border: 2px dashed lighten($secondary, 20);
    // transition: 0.25s ease-in-out;
    &.drop-box-logo {
      min-width: 700px;
      max-width: 700px;
      min-height: 240px;
      max-height: 240px;
      overflow: hidden;
    }
    &:hover {
      border-color: #666;
      cursor: pointer;
    }

    
    
  }

  .upload-icon{
    min-width: 64px;
    max-width: 64px;
    min-height: 80px;
    max-height: 80px;
}
.ic-upload-m{
  min-width: 64px;
  max-width: 64px;
  min-height: 80px;
  max-height: 80px;
}
  .small-icon{
    min-width: 16px;
    max-width: 16px;
    min-height: 13px;
    max-height: 13px;
  }

.dropzone {
    min-height: 400px;
    min-width: 400px;
    display: table;
    width: 100%;
    background-color: #eee;
    border: dotted 1px #aaa;
  }
  .il-filetype-csv{
    min-width: 32px;
    max-width: 32px;
    min-height: 40px;
    max-height: 40px;
  }
  .small-drop-box{
    border: 2px dashed lighten($secondary, 20);
    transition: 0.25s ease-in-out;
    margin-top: 55px
  }
  

  .value-width {
    min-width: 250px;
    max-width: 250px;
    // margin-left: 80px;
    .label_type {
      display: inline-block;
      padding-left: 40px;
      padding-top: 3px;
    }
  }
  .label-width {
    min-width: 120px;
  }
  .sub-level-width {
    min-width: 105px;
  }
  .line{
    min-width: 100px;
    max-width: 100px; 
  }
  .tags{
    width: 145px;
    height: 32px;
    border-radius: 25px;
  }
  .status {
    min-width: 14px;
    max-width: 14px;
    min-height: 14px;
    max-height: 14px;
    border-radius: 50%;
    vertical-align: middle;
    &.active {
      background-color: $green;
    }
    &.pending {
      background-color: #FBA200;
    }
    &.stopped {
      background-color: $red;
    }
  }
  .finishBox{
    min-width: 120px;
    max-width: 120px;
    min-height: 120px;
    max-height: 120px;
    .finish{
      min-width: 80px;
      max-width: 80px;
      min-height: 80px;
      max-height: 80px;
      border-radius: 50%;
    }
    
  }
  .user-list{
    min-height: 300px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .confict-div{
    min-width: 704px;
    max-width: 704px;
    min-height: 44px;
    max-height: 44px;
  }
.duplicates{
  min-height: 132px;
  max-height: 132px;
  overflow-y: auto;
}
.ml-40{
  margin-left: 100px;
}
.ml-20{
  margin-left: 75px;
}
.ml-50{
  margin-left: 53px;
}
.small-icon-div{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.selected-record{
  border: 1px solid #0082C9 !important;
  box-shadow: 0px 3px 9px rgba(#0082C9, 0.32);
}
.bg-danger1{
  background-color: #F8DCDC !important
}
.border-blue{
  border: 4px solid #3498db !important;
}

.bg-yellow{
  background-color: #FBF2D2 !important
}

.usrTable{
  height: calc(100vh - 379px);
}
.messsage{
  min-width: 700px;
  max-width: 700px;
}
.short{
  min-width: 125px;
  max-width: 125px;
}
.big-Icon{
  font-size: 25px
}
.mapping{
  min-width: 522px;
  max-width: 522px;
}
.mapper-warning {
  max-width: 25px;
  min-width: 25px;
  max-height: 25px;
  min-height: 25px;
}

.circle-ripple {
  background-color:#1CAD49;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  animation: ripple 1s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba($color, 0.3),
  }
  100% {
    box-shadow:
    0 0 0 15em rgba($color, 0.3);
  }
}
.ripple-div{
  min-width: 100px;
  max-width: 100px;
  min-height: 100px;
  max-height: 100px;
  border-radius: 50%;
  background-color: #fff;
}

.ic-upload-m{
  min-width: 50px;
  max-width: 50px;
  min-height: 32px;
  max-height: 32px;
}
.bg-light-green{
  background-color: #D1EFDA !important
}
.spinner{
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid $accent;
  width: 24px;
  height: 25px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.b-left{
  border-left: 4px solid $accent;
}
.b-bottom{
  border-bottom : 4px solid $accent;
}
.b-right{
  border-right: 4px solid $accent;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.spinner-tag{
  min-width: 250px;
  max-width: 250px;
  min-height: 40px;
  max-height: 40px;
  border-radius: 20px;
}
.table-height {
  // min-height: calc(100vh - 300px);
  // max-height: calc(100vh - 300px);
  min-height: calc(100vh - 379px);
  max-height: calc(100vh - 379px);
}
.card-container{
  width: calc(100vw - 446px);
}