.field-wrapper {
    overflow: hidden;
}

.key-holder {
    border: 0px;
    // border-left: 1px solid #ddd;
}

.type-holder {
    min-width: 100px;
    max-width: 100px;
    border: 0px;
    border-left: 1px solid #ddd;
}

.value-holder {
    min-width: 640px;
    max-width: 640px;
    border: 0px;
    border-left: 1px solid #ddd;
}

.action-holder {
    width: 64px;
    border-left: 1px solid #ddd;
    // border-right: 1px solid #ddd;

    .icon {
        width: 32px;
        height: 32px;
    }
}

.object-array {
    // margin-left: 30px;
    padding-left: 16px;
}

.negative-margin {
    margin-bottom: -1px;
}