<div class="">
    <div class="field-wrapper d-flex border rounded w-100 negative-margin">
        <input *ngIf="!parentArray" type="text" class="key-holder flex-fill p-2" [(ngModel)]="field.key"
            (ngModelChange)="onKeyChange($event)" (keyup.enter)="addField()" odpAutoFocus placeholder="Field Key">
        <input *ngIf="parentArray" type="text" class="key-holder flex-fill p-2" [ngModel]="'Index '+index"
            disabled="true">
        <select id="" class="type-holder p-2" [(ngModel)]="field.type" (ngModelChange)="onTypeChange($event)">
            <option value="string">String</option>
            <option value="number">Number</option>
            <option value="boolean">Boolean</option>
            <option value="object">Object</option>
            <option value="array">Array</option>
        </select>
        <!-- <input type="text" class="value-holder p-2" [(ngModel)]="field.value"
            [disabled]="field.type=='object' || field.type=='array'" (ngModelChange)="onValueChange($event)"
            (paste)="onPaste($event)"> -->
        <odp-data-creator class="value-holder" [disabled]="field.type=='object' || field.type=='array'"
            [(data)]="field.value" [nodeList]="nodeList" (dataChange)="onValueChange($event)"></odp-data-creator>
        <div class="d-flex align-items-center justify-content-end action-holder bg-white">
            <span class="d-flex align-items-center justify-content-center icon hover dsi dsi-minus-circle"
                (click)="removeField()"></span>
            <span class="d-flex align-items-center justify-content-center icon hover dsi dsi-plus-circle"
                (click)="addField()"></span>
        </div>
    </div>
    <div class="object-array">
        <odp-data-object *ngIf="field.type=='object'" [nodeList]="nodeList" [data]="data"
            (dataChange)="onDataChange($event)" [addChild]="triggerAddChild"></odp-data-object>
        <odp-data-array *ngIf="field.type=='array'" [nodeList]="nodeList" [data]="data"
            (dataChange)="onDataChange($event)" [addChild]="triggerAddChild"></odp-data-array>
    </div>
</div>