<div class="wrapper d-flex align-items-start">
  <div class="d-flex flex-column sub-menu p-3">
    <div class="d-flex flex-column text-muted font-weight-bold font-14">
      <div *ngIf="hasPermission('PVGCDS') || hasPermission('PMGCDS')" class="px-3 py-2 hover" (click)="activeSubTab=0"
        [ngClass]="{'text-dark': activeSubTab==0}">
        <span class="">Data Services</span>
      </div>
      <div *ngIf="hasPermission('PVGCI') || hasPermission('PMGCI')" class="px-3 py-2 hover" (click)="activeSubTab=1"
        [ngClass]="{'text-dark': activeSubTab==1}">
        <span class="">Interactions</span>
      </div>
      <div *ngIf="hasPermission('PVGCBM') || hasPermission('PMGCBM')" class="px-3 py-2 hover" (click)="activeSubTab=2"
        [ngClass]="{'text-dark': activeSubTab==2}">
        <span class="">Bookmarks</span>
      </div>
    </div>
  </div>
  <div class="px-3 w-100">
    <odp-user-group-appcenter-services *ngIf="activeSubTab==0" [(roles)]="roles" class="w-100">
    </odp-user-group-appcenter-services>
    <odp-user-group-appcenter-flows *ngIf="activeSubTab==1" [roles]="roles" class="w-100">
    </odp-user-group-appcenter-flows>
    <odp-user-group-appcenter-bokmark *ngIf="activeSubTab==2" [(roles)]="roles" class="w-100">
    </odp-user-group-appcenter-bokmark>
  </div>
</div>