.wrapper {
  min-height: calc(100vh - 224px);
  max-height: calc(100vh - 224px);
  overflow-y: auto;
}
.sub-menu {
  min-width: 128px;
  max-width: 128px;
  min-height: calc(100vh - 224px);
  overflow: auto;
}
