<div class="d-flex flex-column  mt-2">
    <div class="d-flex  mb-2 justify-content-between">
        <div class="d-flex align-items-center">
            <button *ngIf="showClearFilter" type="button" class="btn btn-link text-accent py-0" (click)="clearFilters()">
                <span class="fa fa-times mr-2"></span>
                <span class="text">Clear Filters</span>
            </button>
        </div>
        <div class="text-gray-medium mr-3">
            <label class="m-0">Showing {{loaded || 0}} of {{currentRecordsCount || 0}}</label>
        </div>
    </div>
    <div class="grid-container">
        <ag-grid-angular #agGrid class="ag-theme-balham border-0" [frameworkComponents]="frameworkComponents"
            [gridOptions]="gridOptions" rowHeight="48" [datasource]="dataSource">
        </ag-grid-angular>
    </div>

    <div class="req-container position-absolute " *ngIf="showDetail">
        <div class="d-flex align-items-center justify-content-between pt-4 ml-4">
            <span class="font-weight-bold mb-1">{{selectedLog?.txnId}}</span>
            <span class="fa fa-times text-muted hover mr-4" (click)="showDetail = false; activeTab = 0"></span>
        </div>
        <div class="tabs d-flex align-items-center border-bottom mt-3" id="sbTabs">
            <div class="text-dark px-3 py-2 hover" (click)="activateTab(0)" [ngClass]="{'active':activeTab==0}">
                <span>Request</span>
            </div>
            <div class="text-dark px-3 py-2 hover" (click)="activateTab(1)" [ngClass]="{'active':activeTab==1}">
                <span>Response</span>
            </div>
        </div>

        <div class="bg-light p-1 detail-container" #scrollMe>
            <div class="m-2 bg-white req-details">
                <div class="font-weight-bold  pl-3 pt-3">Request</div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Method & URL</div>
                    <div class="d-flex px-4 pt-2">
                        <div class="bg-dark method mr-2">
                            <div class="text-white ml-1">POST</div>
                        </div>
                        <pre class="url">{{selectedLog?.url}}</pre>
                    </div>
                </div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Time</div>
                    <div class="d-flex px-4 pt-2">
                        <div class="ml-1">
                            {{selectedLog?._metadata.createdAt | date:'dd-MMM-yyyy hh:mm:ss a'}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Source of request</div>
                    <div class="d-flex px-4 pt-2">
                        <odp-service-icon size="18"></odp-service-icon>
                        <span class="ml-1 ">
                            {{selectedLog?.service?.name}}
                        </span>
                    </div>
                    <div class="d-flex px-4 pt-2">
                        <span class=" ml-1 dot-link"></span>
                        <span class="mx-1 mt-1 far fa-bell"></span>
                        <div>{{selectedLog?.type}} <span
                                *ngIf="selectedLog.type =='WorkflowHook'">({{selectedLog?.trigger?.source}})</span>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Requested By</div>
                    <div class="d-flex px-4 pt-2">
                        <span class="far fa-user"></span>
                        <span class="ml-1 ">
                            {{selectedLog?.user}}
                        </span>
                    </div>

                </div>
            </div>
            <div class="m-2 bg-white req-details">
                <div class="font-weight-bold  pl-3 pt-3">Response</div>

                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Outcome</div>
                    <div class="d-flex px-4 pt-2">
                        <div class="status" [ngClass]="{
                            'bg-success':selectedLog?.statusCode < 400,
                            'bg-danger':selectedLog?.statusCode >=400}">
                            <span class="text-white d-flex justify-content-center">
                                {{selectedLog?.statusCode}}
                            </span>
                        </div>
                        <div class="ml-1">
                            {{selectedLog?.status}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Time</div>
                    <div class="d-flex px-4 pt-2">
                        <div class="ml-1">
                            {{selectedLog?._metadata.createdAt | date:'dd-MMM-yyyy hh:mm:ss a'}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Transaction ID</div>
                    <div class="d-flex px-4 pt-2">

                        <div class="ml-1 ">
                            {{selectedLog?.txnId}}
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column p-3 border-bottom">
                    <div class="text-muted">Change Log</div>
                    <div class="d-flex px-4 pt-2">

                        <button class="btn btn-link text-accent ml-1" (click)="showHookObject()">
                            view change log
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<ng-template #hookModal>
    <div class="modal-header  d-block">
        <h5 class="text-dark m-0 font-weight-bold">Logs:
            <span class="font-weight-bold">{{selectedLog?.txnId}}</span>
        </h5>

    </div>
    <div class="modal-body audit-object-log">
        <div *ngIf="activeModalTab == 0" class="d-flex flex-row">
            <div class="w-50">
                <div class="col text-secondary font-weight-bold">Old Data</div><br>
                <div class="col">
                    <pre class="text-dark min-height">{{selectedLog?.data?.old|json}}</pre>
                </div>
            </div>
            <div class="w-50">
                <div class="col text-secondary font-weight-bold">New Data</div><br>
                <div class="col">
                    <pre class="text-dark min-height">{{selectedLog?.data?.new|json}}</pre>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer p-3 ">
        <button (click)="hookModalRef.close(false)" class="btn btn-link mx-3 float-right" type="button">Close</button>
    </div>
</ng-template>