<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Processing...</span>
    </div>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="data-service-page d-flex flex-column bg-light-gray page-padding">
  <div class="options d-flex justify-content-between align-items-center w-100 pt-2 pb-4">
    <div class="fw-600 font-22 d-flex align-items-center">
      <span>Data Services</span>
      <span *ngIf="searchTerm" ngbTooltip="Filter Applied" class="dsi dsi-filter-alt text-secondary ml-2"></span>
    </div>
    <div class="d-flex align-items-center">
      <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"></odp-search-box>
      <button type="button" id="data-management" class="btn btn-white d-flex align-items-center border ml-3"
        [routerLink]="['settings']" *ngIf="isAppAdmin || isSuperAdmin">
        <span class="dsi dsi-settings text-secondary"></span>
      </button>
      <!-- <button *ngIf="isExperimental" type="button" class="btn btn-white d-flex align-items-center border ml-3"
        (click)="toggleImportWizard=true">
        <span class="dsi dsi-upload text-secondary"></span>
      </button> -->
      <button type="button" id="addNewDS" class="add-new btn btn-primary ml-3 d-flex align-items-center"
        (click)="newService()" *ngIf="hasCreatePermission('SM') && hasCreatePermission('CON')">
        <span class="dsi dsi-plus mr-2"></span>
        <span class="text">New</span>
      </button>
    </div>
  </div>
  <div class="d-flex flex-column w-100  position-relative">
    <div class="card-container">
      <div *ngIf="hasCreatePermission('SM') && (!records || records.length == 0) && !showLazyLoader"
        class="bg-white rounded-lg border p-4">
        <p class="m-0">No Records Found, <button type="button" class="btn btn-link px-1 py-0"
            (click)="newService()">Click Here</button> to create a new Data Service
          <span *ngIf="searchTerm">:&nbsp;<span class="fw-500">{{searchTerm}}</span></span>
        </p>
      </div>
      <div *ngIf="records.length > 0" class="list-group">
        <div
          class="list-group-item d-flex align-items-center justify-content-start header py-0 bg-light text-uppercase font-11 fw-500">
          <div (click)="applySort('name')" class="hover d-flex align-items-center item-name d-flex align-items-center">
            <!-- <odp-checkbox [edit]="{status:true}"></odp-checkbox> -->
            <span class="mr-2">Name</span>
            <span *ngIf="sortModel['name']==1" class="dsi dsi-drop-down"></span>
            <span *ngIf="sortModel['name']==-1" class="dsi dsi-drop-up"></span>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <div (click)="applySort('_records')" class="hover d-flex align-items-center item-record-count">
              <span class="mr-2">Records</span>
              <span *ngIf="sortModel['_records']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['_records']==-1" class="dsi dsi-drop-up"></span>
            </div>
            <div (click)="applySort('_attributes')" class="hover d-flex align-items-center item-attribute-count">
              <span class="mr-2">Attributes</span>
              <span *ngIf="sortModel['_attributes']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['_attributes']==-1" class="dsi dsi-drop-up"></span>
            </div>
            <div (click)="applySort('_references')" class="hover d-flex align-items-center item-reference-count">
              <span class="mr-2">References</span>
              <span *ngIf="sortModel['_references']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['_references']==-1" class="dsi dsi-drop-up"></span>
            </div>
            <div (click)="applySort('_webHooks')" class="hover d-flex align-items-center item-hook-count">
              <span class="mr-2">Hooks</span>
              <span *ngIf="sortModel['_webHooks']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['_webHooks']==-1" class="dsi dsi-drop-up"></span>
            </div>
            <div (click)="applySort('status')" class="hover d-flex align-items-center item-status">
              <span class="mr-2">Status</span>
              <span *ngIf="sortModel['status']==1" class="dsi dsi-drop-down"></span>
              <span *ngIf="sortModel['status']==-1" class="dsi dsi-drop-up"></span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end w-100">
            <div class="item-actions"></div>
          </div>
        </div>
        <ng-container *ngFor="let srvc of records;let i=index">
          <div class="list-group-item d-flex align-items-center justify-content-start" (dblclick)="viewService(i)">
            <div class="item-name fw-500 d-flex align-items-center">
              <!-- <odp-checkbox [edit]="{status:true}"></odp-checkbox> -->
              <span class="ml-2 pl-1 text-dark hover service-name" (click)="viewService(i)" [ngbTooltip]="srvc.name"
                placement="right">{{srvc.name}}</span>
              <span class="ml-2 version sub-heading font-11 text-uppercase">(v{{srvc.version}})</span>
              <span *ngIf="srvc.draftVersion" class="ml-2 draft sub-heading font-11 text-uppercase">(Draft)</span>
            </div>
            <div class="d-flex align-items-center justify-content-center">
              <div class="sub-heading item-record-count">{{srvc._records}}</div>
              <div class="sub-heading item-attribute-count">{{srvc._attributes}}</div>
              <div class="sub-heading item-reference-count">{{srvc._references}}</div>
              <div class="sub-heading item-hook-count">{{srvc._webHooks}}</div>
              <div class="item-status d-flex align-items-center">
                <span class="fa fa-circle mr-2" [ngClass]="getStatusClass(srvc)"></span>
                <span class="text font-12 fw-400">{{getStatusLabel(srvc)}}</span>
              </div>
            </div>
            <div class="d-flex align-items-center justify-content-end w-100">
              <div class="item-actions">
                <!-- <div class="actions d-flex justify-content-end hover align-items-center">
                  <ng-container *ngIf="srvc.status != 'Pending' && srvc.status != 'Maintenance' ">
                    <span *ngIf="isDeploy(i)" id='deploy_{{i}}' class="dsi dsi-skip-forward text-primary mr-2"
                      (click)="deployService(i)" [ngbTooltip]="'Deploy v'+(srvc.draftVersion || srvc.version)"
                      container="body"></span>
                    <span class="dsi dsi-play hover mr-2" *ngIf="srvc.status == 'Stopped' && isStartStopService(i)"
                      (click)="toggleServiceStatus(i)" [ngbTooltip]="'Start v'+srvc.version" container="body"></span>
                    <span class="dsi dsi-stop hover mr-2" *ngIf="srvc.status == 'Active' && isStartStopService(i)"
                      (click)="toggleServiceStatus(i)" [ngbTooltip]="'Stop v'+srvc.version" container="body"></span>
                    <span class="dsi dsi-ban hover mr-2" [ngbTooltip]="'Discard Draft'"
                      *ngIf="srvc.draftVersion && canEditService(srvc._id)" (click)="discardDraft(srvc._id)"
                      container="body"></span>
                    <span class="dsi dsi-edit hover mr-2" *ngIf="canEditService(srvc._id)" ngbTooltip="Edit"
                      (click)="editService(i)"></span>
                    <span class="dsi dsi-view hover mr-2" *ngIf="canEditService(srvc._id)" ngbTooltip="View"
                      (click)="viewService(i)"></span>
                  </ng-container>
                  <span class="dsi dsi-copy hover mr-2" *ngIf="canCloneService(srvc._id)" ngbTooltip="Clone"
                    (click)="cloneService(i)"></span>
                  <span class="dsi dsi-trash hover mr-2" *ngIf="canDeleteService(srvc._id)" ngbTooltip="Delete"
                    (click)="deleteService(i)"></span>
                  <span class="api-icon hover mr-2 font-11" (click)="openDocs(i)" ngbTooltip="Open Docs">API</span>
                  <ng-container *ngIf="canEditService(srvc._id) && easterEggEnabled">
                    <span class="text-muted mr-2">|</span>
                    <span id="getYamls" class="hover text-accent mr-2 font-11" (click)="getYamls(i)">YAMLs</span>
                    <span [ngbTooltip]="'Repair v'+srvc.version" id="repairDataService"
                      class="fa fa-toolbox text-accent mr-2 hover" (click)="repairService(i)"></span>
                  </ng-container>
                </div> -->
                <div class="actions d-flex justify-content-end hover align-items-center">
                  <ng-container *ngIf="srvc.status != 'Pending' && srvc.status != 'Maintenance'">
                    <span *ngIf="isDeploy(i)" id='deploy_{{i}}' class="fw-600 font-13 text-primary mr-3"
                      (click)="deployService(i)">Deploy</span>
                    <span class="fw-600 font-13 hover mr-3" *ngIf="srvc.status == 'Stopped' && isStartStopService(i)"
                      (click)="toggleServiceStatus(i)">Start</span>
                    <span class="fw-600 font-13 hover mr-3" *ngIf="srvc.status == 'Active' && isStartStopService(i)"
                      (click)="toggleServiceStatus(i)">Stop</span>
                    <span class="dsi dsi-more-vertical hover mr-3 ignore-outside"
                      (click)="showDropDown($event,srvc._id)"></span>
                  </ng-container>
                  <div *ngIf="showOptionsDropdown[srvc._id]"
                    class="more-options bg-white rounded list-group position-fixed border"
                    (mouseleave)="showOptionsDropdown[srvc._id]=false" [ngStyle]="dropDownStyle" odpClickOutside
                    (outside)="showOptionsDropdown[srvc._id]=false">
                    <button class="list-group-item list-group-item-action py-2 border-0"
                      *ngIf="canEditService(srvc._id)" (click)="viewService(i)">View</button>
                    <button class="list-group-item list-group-item-action py-2 border-0"
                      *ngIf="canEditService(srvc._id)" (click)="editService(i)">Edit</button>
                    <button class="list-group-item list-group-item-action py-2 border-0"
                      *ngIf="srvc.draftVersion && canEditService(srvc._id)" (click)="discardDraft(srvc._id)">Discard
                      Draft</button>
                    <button class="list-group-item list-group-item-action py-2 border-0"
                      *ngIf="canCloneService(srvc._id)" (click)="cloneService(i)">Clone</button>
                    <button class="list-group-item list-group-item-action py-2 border-0" (click)="openDocs(i)">API
                      Docs</button>
                    <button class="list-group-item list-group-item-action py-2 border-0 text-danger"
                      *ngIf="canDeleteService(srvc._id)" (click)="deleteService(i)">Delete</button>
                    <button class="list-group-item list-group-item-action py-2 text-accent"
                      (click)="getYamls(i)">YAMLs</button>
                    <button *ngIf="canEditService(srvc._id) && easterEggEnabled"
                      class="list-group-item list-group-item-action py-2 text-accent"
                      (click)="repairService(i)">Repair</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<ng-template #alertModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between w-100">
      <span class="font-20 fw-600">{{ alertModal.title }}</span>
      <span class="fa fa-times text-secondary hover" (click)="alertModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-secondary text-center my-5">{{ alertModal.message }}</p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-primary" (click)="alertModalTemplateRef.close(true)">
        Yes
      </button>
    </div>
  </div>
</ng-template>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>

<div [ngClass]="{'show':showNewServiceWindow}"
  class="new-service-window p-4 page-padding position-fixed bg-white d-flex flex-column" [formGroup]="form">
  <div class="d-flex align-items-center justify-content-between mb-5">
    <span class="font-20 fw-600">New Data Service</span>
    <span class="dsi dsi-close hover" (click)="showNewServiceWindow=false"></span>
  </div>
  <div class="d-flex flex-column w-100">
    <div *ngIf="showNewServiceWindow" class="form-group">
      <label for="name" class="font-13 text-secondary">
        <span class="text">Name</span>
        <sup class="text-danger font-normal high-zIndex sup-top" ngbTooltip="Mandatory field">*</sup>
      </label>
      <div class="name-wrapper position-relative">
        <input newServiceName autocomplete="off" type="text" class="form-control" id="name"
          placeholder="Untitled Service" formControlName="name" odpAutoFocus (keyup.enter)="triggerServiceCreate()"
          [ngClass]="{
            'is-invalid': form.get('name').invalid && form.get('name').dirty
          }" />
        <ng-container *ngIf="form.get('name').dirty">
          <span *ngIf="form.get('name').hasError('required')"
            class="text-danger position-absolute dsi dsi-danger-circle high-zIndex" container="body"
            ngbTooltip="Name is required"></span>
          <span *ngIf="form.get('name').hasError('maxlength')"
            class="text-danger position-absolute dsi dsi-danger-circle high-zIndex" container="body"
            ngbTooltip="Name should not be more than 40 characters."></span>
          <span *ngIf="form.get('name').hasError('pattern')"
            class="text-danger position-absolute dsi dsi-danger-circle high-zIndex" container="body"
            ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
        </ng-container>
      </div>
    </div>
    <div class="mb-3 mt-2 d-flex align-items-center">
      <div class="d-flex align-items-center hover mr-3" (click)="toggleSchemaType(false)">
        <odp-round-radio size="18" [edit]="true" [checked]="form.get('schemaFree').value==false"
          (checkedChange)="toggleSchemaType(false)">
        </odp-round-radio>
        <span class="text ml-2">Schema Based</span>
      </div>
      <div class="d-flex align-items-center hover" (click)="toggleSchemaType(true)">
        <odp-round-radio size="18" [edit]="true" [checked]="form.get('schemaFree').value==true"
          (checkedChange)="toggleSchemaType(true)">
        </odp-round-radio>
        <span class="text ml-2">Schema Free</span>
      </div>
    </div>
    <div class="form-group">
      <label class="font-13 text-secondary" for="category">Data Connector</label>
      <select id="data" class="form-control" (change)="selectConnector($event,'data')">
        <option [value]="connector._id" *ngFor="let connector of dataConnectors"
          [selected]="checkDefault(connector._id)">{{connector.name}}</option>
      </select>
    </div>
    <div class="form-group" *ngIf="!form.get('schemaFree').value">
      <label class="font-13 text-secondary" for="category">File Connector</label>
      <select id="file" class="form-control" (change)="selectConnector($event,'file')">
        <option [value]="connector._id" *ngFor="let connector of fileConnectors"
          [selected]="checkDefault(connector._id)">{{connector.name}}</option>
      </select>
    </div>
  </div>
  <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
    <button type="button" class="btn btn-primary w-100" id="newServiceModalYes" [disabled]="form.invalid"
      (click)="triggerServiceCreate()">
      Create
    </button>
  </div>
</div>

<div [ngClass]="{'show':showCloneServiceWindow}"
  class="new-service-window p-4 page-padding position-fixed bg-white d-flex flex-column" [formGroup]="cloneForm">
  <div class="d-flex flex-column w-100">
    <div class="d-flex align-items-center justify-content-between mb-5">
      <span class="font-20 fw-600">Clone Data Service</span>
      <span class="fa fa-times text-muted hover" (click)="showCloneServiceWindow=false"></span>
    </div>
    <p>
      <span class="text-muted">You are Cloning:&nbsp;</span>
      <span class="font-weight-bold">{{ cloneData?.name }}</span>
    </p>
    <div class="d-flex flex-column w-100">
      <div *ngIf="showCloneServiceWindow" class="form-group mb-4">
        <label for="name" class="font-13 text-secondary">
          <span class="text">Clone Name</span>
          <sup class="text-danger font-normal high-zIndex" ngbTooltip="Mandatory field">*</sup>
        </label>
        <div class="name-wrapper position-relative">
          <input cloneServiceName autocomplete="off" type="text" class="form-control" id="name"
            placeholder="Untitled Service" formControlName="name" odpAutoFocus [ngClass]="{
              'is-invalid': form.get('name').invalid && form.get('name').dirty
            }" />
          <ng-container *ngIf="form.get('name').dirty">
            <span *ngIf="form.get('name').hasError('required')"
              class="text-danger position-absolute dsi dsi-danger-circle high-zIndex" container="body"
              ngbTooltip="Name is required"></span>
            <span *ngIf="form.get('name').hasError('maxlength')"
              class="text-danger position-absolute dsi dsi-danger-circle high-zIndex" container="body"
              ngbTooltip="Name should be within 30 characters"></span>
            <span *ngIf="form.get('name').hasError('pattern')"
              class="text-danger position-absolute dsi dsi-danger-circle high-zIndex" container="body"
              ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
          </ng-container>
        </div>
      </div>
      <div *ngIf="showCloneServiceWindow" class="d-flex flex-column w-100">
        <div class="d-flex align-items-center justify-content-between mb-4">
          <span class="font-13">Design Tab</span>
          <odp-switch [checked]="true"></odp-switch>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="font-13">Integration Tab</div>
          <odp-switch [edit]="{status:canCloneTab('I', cloneData._id)}" [checked]="cloneForm.get('intTab').value"
            (checkedChange)="cloneForm.get('intTab').setValue($event)"></odp-switch>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="font-13">Experience Tab</div>
          <odp-switch [edit]="{status:canCloneTab('E', cloneData._id)}" [checked]="cloneForm.get('expTab').value"
            (checkedChange)="cloneForm.get('expTab').setValue($event)"></odp-switch>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="font-13">Roles Tab</div>
          <odp-switch [edit]="{status:canCloneTab('R', cloneData._id)}" [checked]="cloneForm.get('rolTab').value"
            (checkedChange)="cloneForm.get('rolTab').setValue($event)"></odp-switch>
        </div>
        <div class="d-flex align-items-center justify-content-between mb-4">
          <div class="font-13">Settings Tab</div>
          <odp-switch [edit]="{status:canCloneTab('S', cloneData._id)}" [checked]="cloneForm.get('setTab').value"
            (checkedChange)="cloneForm.get('setTab').setValue($event)"></odp-switch>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex align-self-end justify-content-end w-100 mt-auto">
    <button type="button" class="btn btn-primary w-100" id="cloneServiceModalYes" [disabled]="cloneForm.invalid"
      (click)="triggerClone()">
      Clone
    </button>
  </div>
</div>

<div [ngClass]="{'show':showYamlWindow}" class="yaml-window position-fixed p-4 border-left bg-white">
  <div class="d-flex align-items-center justify-content-between w-100 mb-5">
    <span class="font-20 fw-600">Yamls</span>
    <span class="dsi dsi-close hover" (click)="closeYamlWindow()"></span>
  </div>
  <button type="button" class="btn btn-link p-0 mb-4" (click)="downloadYamls()">Download Yamls</button>
  <ng-container *ngIf="showYamlWindow">
    <div class="form-group">
      <label for="service">Service</label>
      <div class="position-relative">
        <pre class="form-control">{{selectedService.serviceYaml}}</pre>
        <small class="form-text position-absolute">
          <span class="text-secondary hover" *ngIf="!copied['service']"
            (click)="copyText(selectedService.serviceYaml,'service')">Copy</span>
          <span class="text-accent" *ngIf="copied['service']">Copied!</span>
        </small>
      </div>
    </div>
    <div class="form-group">
      <label for="deployment">Deployment</label>
      <div class="position-relative">
        <pre class="form-control">{{selectedService.deploymentYaml}}</pre>
        <small class="form-text position-absolute">
          <span class="text-secondary hover" *ngIf="!copied['deployment']"
            (click)="copyText(selectedService.deploymentYaml,'deployment')">Copy</span>
          <span class="text-accent" *ngIf="copied['deployment']">Copied!</span>
        </small>
      </div>
    </div>
  </ng-container>
</div>

<div *ngIf="toggleImportWizard || showNewServiceWindow || showCloneServiceWindow || showYamlWindow" class="overlay">
</div>
<div *ngIf="toggleImportWizard" class="wizard-window bg-white rounded">
  <odp-service-import-wizard (close)="toggleImportWizard=false"></odp-service-import-wizard>
</div>