@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.data-service-page {
  height: calc(100vh - 60px);

  .card-container {
    height: calc(100vh - 180px);
    overflow-y: auto;
  }

  .list-group-item {
    height: 56px;
    overflow: hidden;

    &.header {
      min-height: 38px;
      max-height: 38px;
      color: #6C7584;
    }

    .item-name {
      min-width: 260px;
      max-width: 260px;
    }

    .item-record-count,
    .item-attribute-count,
    .item-reference-count,
    .item-hook-count {
      min-width: 80px;
      max-width: 80px;
    }

    .item-status {
      min-width: 120px;
      max-width: 120px;

      .text-warning {
        animation: blink 0.5s alternate infinite;
      }

      .fa-circle {
        font-size: 8px;
      }
    }

    &:hover {
      .item-actions {
        right: 0px;
      }
    }

    .item-actions {
      min-width: 240px;
      position: absolute;
      right: -500px;
      transition: 0.2s;

      .actions {
        .dsi {
          min-width: 24px;
          max-width: 24px;
          display: inline-block;

          &:not(:hover) {
            color: $sub-headings;
          }
        }

        .dsi,
        .api-icon {
          &:hover {
            color: $dark;
          }
        }
      }
    }
  }

  .scroll-pane {
    height: 100%;
    overflow: auto;
  }
}

.new-service-window,
.yaml-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: -360px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;

  &.show {
    right: 0px !important;
  }
}

.yaml-window {
  .form-text {
    top: 6px;
    right: 8px;
  }
}

.name-wrapper {
  .dsi-danger-circle {
    top: 8px;
    right: 5px;
  }
}

.sup-top {
  top: 0px;
}



.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: 0.6);
  top: 0;
  left: 0;
  z-index: 0;
}

.wizard-window {
  position: fixed;
  width: calc(100vw - 40%);
  height: calc(100vh - 40%);
  top: 20%;
  left: 20%;
  z-index: 1;
}