
@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.status {
    font-size: 32px;
    line-height: 0;
    vertical-align: middle;
    &.active {
      color: $green;
    }
    &.pending {
      color: $orange;
    }
    &.maintenance {
      color: $light;
    }
    &.stopped {
      color: $red;
    }
    &.draft {
      color: $accent;
    }
    .symbol {
      margin-top: 11px;
      display: inline-block;
      height: 20px;
      width: 20px;
    }
    .fa {
      font-size: 10px;
      margin: 0;
      display: inline-block;
      text-align: center;
      line-height: 20px;
    }
    .symbol {
        margin-top: 11px;
        display: inline-block;
        height: 20px;
        width: 20px;
      }
      .fa {
        font-size: 12px;
        margin: 0;
        display: inline-block;
        text-align: center;
        line-height: 20px;
      }
  }