<!-- <div>{{value}}</div> -->
<ng-container *ngIf="value">
    <div class="d-flex align-items-center" *ngIf="definition.field ==='statusCode'">
        <span class="status high-zIndex" [ngClass]="{
      'active':value === 200,
      'stopped':value === 400}" container="body" placement="top">
            <span class="symbol fa fa-circle"></span>
        </span>
        <span class="name d-inline-block font-weight-bold" id="">{{value}}</span>
    </div>
    <div class="d-flex align-items-center" *ngIf="definition?.field ==='_metadata.createdAt'">
        {{value | date:'dd-MMM-yyyy hh:mm:ss a'}}
    </div>
    <div class="text-accent" *ngIf="definition?.field ==='txnId'">
        {{value}}
    </div>
    <div class="text-accent" *ngIf="definition?.field ==='docId'">
        {{value}}
    </div>

    <div class="text-accent" *ngIf="definition?.field ==='retry'">
        {{value}}
    </div>
</ng-container>
<ng-container *ngIf="!value && value===0">
    <span >{{value}}</span>
</ng-container>
<ng-container *ngIf="!value && value!==0">
    <span class="text-muted">N.A</span>
</ng-container>