<div *ngIf="showFilter" class="mt-2">
    <input *ngIf="field == 'name' || field == 'url'" type="text"
        class="border rounded bg-white w-100" [(ngModel)]="value" odpOnChange (textChange)="onChange($event)">
    <input *ngIf="field==='lastInvokedAt'" type="date" class="border rounded bg-white w-100" [(ngModel)]="value"
        (ngModelChange)="onChange($event)">
    <select *ngIf="field==='status'" class="border rounded bg-white w-100" [(ngModel)]="value"
        (ngModelChange)="onChange($event)">
        <option value="">--All--</option>
        <option value="Draft">DRAFT</option>
        <option value="Pending">PENDING</option>
        <option value="Active">RUNNING</option>
        <option value="Undeployed">STOPPED</option>
    </select>
</div>