<div class="d-flex align-items-stretch">
    <div class="attributes added w-50 p-3">
        <ng-container *ngIf="selectedStepFields.length">
            <ng-container *ngFor="let field of selectedStepFields;let fieldIndex = index">
                <div class="attribute-item bg-light rounded px-3 mb-1 d-flex align-items-center justify-content-between"
                    *ngIf="!field.get('_id')" id="uxAttributes">
                    <div class="d-flex align-items-center">
                        <div class="attribute-action d-flex align-items-center justify-content-center mr-3">
                            <span class="dsi dsi-minus-circle mr-2 hover" (click)="removeFromStep(fieldIndex)"
                                *ngIf="edit.status" id="addAtribute"></span>
                        </div>
                        <div class="attribute-name position-relative text-truncate">
                            <span class="text-dark font-14 fw-400" [ngbTooltip]="field.value.properties.name">{{field.value.properties.name}}</span>
                        </div>
                        <div class="attribute-type position-relative">
                            <odp-field-type [field]="field.value" label="true"></odp-field-type>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!selectedStepFields.length">
            <div class="d-flex justify-content-center mt-5 text-muted">
                No attributes added to this step
            </div>
        </ng-container>
    </div>
    <div class="attributes available w-50 p-3 border-left">
        <ng-container *ngIf="remainingFields.length">
            <ng-container *ngFor="let field of remainingFields;let fieldIndex = index">
                <div class="attribute-item bg-light rounded px-3 mb-1 d-flex align-items-center justify-content-between"
                    *ngIf="!field.get('_id') && checkStateModel(field)" id="uxAttributes">
                    <div class="d-flex align-items-center">
                        <div class="attribute-action d-flex align-items-center justify-content-center mr-3">
                            <span class="dsi dsi-plus-circle mr-2 hover" (click)="addToStep(field,fieldIndex)"
                                *ngIf="steps.length>0 && edit.status" id="addAtribute"></span>
                        </div>
                        <div class="attribute-name position-relative text-truncate">
                            <span class="text-dark font-14 fw-400" [ngbTooltip]="field.value.properties.name">{{field.value.properties.name}}</span>
                        </div>
                        <div class="attribute-type position-relative">
                            <odp-field-type [field]="field.value" label="true"></odp-field-type>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!remainingFields.length">
            <div class="d-flex justify-content-center mt-5 text-muted">
                All attributes are moved to steps
            </div>
        </ng-container>
    </div>
</div>