@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";


.header-item {
    overflow: hidden;
    min-height: 36px;
}

.icon {
    width: 32px;
    height: 32px;
}

.min-width {
    min-width: 60px;
}

.condition-window {
    width: 559px;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    right: 0;
    z-index: 1;
}