@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

svg {
  position: static;
  left: 0;
  top: 0;
}
.one,
.two {
  stroke-linejoin: round;
}
.active {
  .stroke {
    fill: $black !important;
    stroke: none;
  }
  .one {
    fill: lighten($accent, 10) !important;
  }
  .two {
    fill: lighten($border, 10) !important;
  }
}
