<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <span class="fa fa-spinner fa-pulse fa-3x"></span>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="d-flex flex-column w-100 h-100 position-relative bg-light">
  <div class="wrapper">
    <div class="w-100 position-relative px-4 py-5">
      <odp-basic-info hideLogo="true" [(name)]="group.name" [(description)]="group.description" [hideLogo]="true"
        [edit]="{status:editBasicDetails}">
        <div class="d-flex align-items-end align-self-start">
          <button *ngIf="hasPermission('PMGBD')" type="button" class="btn btn-outline-danger mr-3"
            (click)="deleteGroup()">
            <span class="fa fa-trash"></span>
          </button>
          <button class="btn btn-outline-primary btn-min-width mr-3" routerLink="../../gr">
            <span>Cancel</span>
          </button>
          <button *ngIf="hasPermissionStartsWith('PMG')" class="btn btn-primary btn-min-width" (click)="saveGroup()">
            <span>Save</span>
          </button>
        </div>
      </odp-basic-info>
    </div>
    <div class="d-flex flex-column px-4 pb-4">
      <div class="d-flex flex-column w-100 h-100 bg-white rounded border">
        <div
          class="tabs-wrapper d-flex justify-content-between border-bottom text-uppercase text-muted font-weight-bolder font-13">
          <div class="tabs d-flex align-items-center p-3">
            <div *ngIf="showAuthorTab" class="px-3 hover" (click)="activeTab=0"
              [ngClass]="{'text-accent':activeTab==0}">
              <span>Author Roles </span>
            </div>
            <div *ngIf="showAppcenterTab" class="px-3 hover" (click)="activeTab=1"
              [ngClass]="{'text-accent':activeTab==1}">
              <span>App Center Roles </span>
            </div>
            <div *ngIf="showMembersTab" class="px-3 hover" (click)="activeTab=2"
              [ngClass]="{'text-accent':activeTab==2}">
              <span>Members </span>
            </div>
            <div *ngIf="showBotsTab" class="px-3 hover" (click)="activeTab=3" [ngClass]="{'text-accent':activeTab==3}">
              <span>Bots </span>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <span *ngIf="changesMadeinAuthorTab && !changesMadeinAppcenterTab && !changesMadeinUsersTab"
              class="text-secondary mr-3">Changes made in Author Tab</span>
            <span *ngIf="changesMadeinAppcenterTab && !changesMadeinAuthorTab && !changesMadeinUsersTab"
              class="text-secondary mr-3">Changes made in App Center Tab</span>
            <span *ngIf="changesMadeinUsersTab && !changesMadeinAuthorTab && !changesMadeinAppcenterTab"
              class="text-secondary mr-3">Changes made in Members Tab</span>
            <span *ngIf="changesMadeinAuthorTab && changesMadeinAppcenterTab && !changesMadeinUsersTab"
              class="text-secondary mr-3">
              Changes made in multiple tabs: Author, App Center
            </span>
            <span *ngIf="changesMadeinAppcenterTab && changesMadeinUsersTab && !changesMadeinAuthorTab"
              class="text-secondary mr-3">
              Changes made in multiple tabs: App Center, Members
            </span>
            <span *ngIf="changesMadeinAuthorTab && changesMadeinUsersTab && !changesMadeinAppcenterTab"
              class="text-secondary mr-3">
              Changes made in multiple tabs: Author, Members
            </span>
            <span *ngIf="changesMadeinAuthorTab && changesMadeinUsersTab && changesMadeinAppcenterTab"
              class="text-secondary mr-3">
              Changes made in multiple tabs: Author, App Center, Members
            </span>
          </div>
        </div>
        <div *ngIf="showAuthorTab || showAppcenterTab || showMembersTab || showBotsTab">
          <odp-user-group-author *ngIf="activeTab===0 && showAuthorTab" [(roles)]="group.roles"></odp-user-group-author>
          <odp-user-group-appcenter *ngIf="activeTab===1 && showAppcenterTab" [roles]="group.roles">
          </odp-user-group-appcenter>
          <odp-user-group-members *ngIf="activeTab===2 && showMembersTab" [users]="allUsers"></odp-user-group-members>
          <odp-user-group-bots *ngIf="activeTab===3 && showBotsTab" [users]="allUsers"></odp-user-group-bots>
        </div>
      </div>
    </div>
  </div>

  <odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)">
    <!-- <odp-group-icon [size]="18" color="DD5151" class="mt-1"></odp-group-icon> -->
  </odp-delete-modal>

  <ng-template #pageChangeModalTemplate>
    <div class="modal-body p-4">
      <div class="circle bg-dark">
        <span class="fa fa-exclamation-triangle text-white"></span>
      </div>
      <p class="text-dark font-weight-bold text-center">Unsaved change</p>
      <p class="text-secondary text-center">You have unsaved changes, are you sure you want to leave?</p>
    </div>
    <div class="modal-footer p-3 bg-light">
      <button type="button" class="btn btn-min-width btn-link w-50 mx-3"
        (click)="pageChangeModalTemplateRef.close(false)">No</button>
      <button type="button" class="btn btn-min-width btn-primary w-50 mx-3"
        (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
    </div>
  </ng-template>