// .multi-level-dropdown .dropdown-submenu {
//     position: relative;
// }

// .multi-level-dropdown .dropdown-submenu>.dropdown-menu {
//     top: 0;
//     left: 100%;
//     margin-top: -6px;
//     margin-left: -1px;
//     min-width: 200px;
// }

// .multi-level-dropdown .dropdown-submenu:hover>.dropdown-menu {
//     display: block;
// }

.dropdown {
    position: absolute;
}


.dropdown-menu {
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

    .dropdown-menu-right {
        position: absolute;
        top: 0px;
        left: 150px;
    }
}

.sub-menu {
    margin-left: 10px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #212529;
    text-decoration: none;
    background-color: #f8f9fa;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #007bff;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-menu.show {
    display: block;
}