.wrapper{
    min-height: calc(100vh - 224px);
}
.overlay{
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 5;
}
.bots-title {
    width: 87px;
}
.browse-users,
.user-options{
    left: 0;
    z-index: 6;
    transition: 0.25s;
}
.browse-users{
    min-height: 400px;
    max-height: 400px;
    bottom: -400px;
    &.show{
        bottom: 0;
    }
}
.user-options{
    min-height: 70px;
    max-height: 70px;
    box-shadow: 0px 0px 5px rgba($color: #000000, $alpha: 0.4);
    bottom: -70px;
    &.show{
        bottom: 0;
    }
}
.user-list{
    min-height: calc(100vh - 268px);
    max-height: calc(100vh - 268px);
    overflow-y: auto;
    table{
        .user-list-thead{
            background-color: #747E8D;
            color: #fff;
        }
    }
}
.modal-user-list{
    min-height: 300px;
    max-height: 400px;
    overflow-y: auto;
}
.admin-icon-holder{
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
}
.name-wrapper{
    min-width: 150px;
    max-width: 150px;
}
