<ng-container *ngFor="let button of buttons">
    <span *ngIf="button === 'End Session'" class="dsi dsi-ban ml-3 text-secondary cursor-pointer hover"
        (click)="handleButtonClick(button, $event)">
    </span>
    <span *ngIf="button === 'Deactivate'" class="dsi dsi-minus-circle ml-3  text-secondary cursor-pointer hover"
        (click)="handleButtonClick(button, $event)">
    </span>
    <span *ngIf="button === 'Activate'" class="dsi dsi-plus-circle ml-3 text-secondary cursor-pointer hover"
        (click)="handleButtonClick(button, $event)">
    </span>
    <span *ngIf="button === 'Edit'" class="dsi dsi-edit ml-3 text-secondary cursor-pointer hover"
        (click)="handleButtonClick(button, $event)">
    </span>
    <span *ngIf="button === 'Delete'" class="dsi dsi-trash ml-3 text-secondary cursor-pointer hover"
        (click)="handleButtonClick(button, $event)">
    </span>
</ng-container>