<input type="text" class="form-control" *ngIf="type === 'text'" [(ngModel)]="otherItemInput" (keyup)="debounceInput($event.target.value)" />
<input type="number" class="form-control" *ngIf="type === 'number'" [(ngModel)]="otherItemInput" (keyup)="debounceInput($event.target.value)" />
<input type="date" class="form-control" *ngIf="type === 'date'" [(ngModel)]="otherItemInput" (change)="onChange($event.target.value)" />
<div *ngIf="type === 'list_of_values'" ngbDropdown #listDropdown="ngbDropdown" container="body">
  <button
    class="toggle-btn btn btn-sm bg-white rounded w-100 d-flex justify-content-between align-items-center"
    ngbDropdownToggle
    [disabled]="showLoading"
  >
    <div class="font-sm text-accent" *ngIf="!showLoading && (!!checkedCount || otherItemChecked)">
        <ng-container *ngIf="otherItemChecked">
            {{ (checkedCount + 1) + ((checkedCount + 1) === 1 ? ' item ' : ' items ') + 'selected' }}
        </ng-container>
        <ng-container *ngIf="!otherItemChecked">
            {{ checkedCount + (checkedCount === 1 ? ' item ' : ' items ') + 'selected' }}
        </ng-container>
    </div>
    <em class="font-sm text-muted" *ngIf="!showLoading && !checkedCount && !otherItemChecked">
        0 items selected
    </em>
    <em class="font-sm text-muted" *ngIf="showLoading">
        Loading...
    </em>
  </button>
  <div class="dropdown-container" ngbDropdownMenu>
    <div class="dropdown-list">
      <div class="dropdown-itm py-1" *ngFor="let item of listItems">
        <odp-round-check class="mx-2" [edit]="{ status: true }" [checked]="item.checked" (checkedChange)="item.checked = !item.checked">
        </odp-round-check>
        <div class="m-0" (click)="item.checked = !item.checked">
          {{ !!item.label ? item.label : item.value }}
        </div>
      </div>
      <div class="dropdown-itm py-1 pr-1" *ngIf="showOtherBox">
          <odp-round-check class="mx-2" [edit]="{ status: true }" [checked]="otherItemChecked" (checkedChange)="otherItemChecked = !otherItemChecked">
          </odp-round-check>
          <input type="text" class="form-control m-0" placeholder="Other" [(ngModel)]="otherItemInput">
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="dropdown-buttons">
      <button class="btn btn-sm btn-link font-sm" (click)="toggleChecks(checkedCount === listItems.length)">
        {{ checkedCount === listItems.length ? 'Clear' : 'Select All' }}
      </button>
      <button class="btn btn-sm btn-dark font-sm" (click)="listDropdown.close(); onChange()">
        Apply
      </button>
    </div>
  </div>
</div>
