:host {
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: stretch;
    max-height: 22px;
    overflow: hidden;
}

.form-control {
    height: 22px;
    padding: 0;
    margin: 0;
}

.lov-toggle-btn {
    min-height: 22px !important;
    min-height: 22px !important;
    height: 22px;
    border: 1px solid #ccc;
}

.lov-dropdown-container {
    display: grid;
    height: fit-content;
    max-height: 200px;
    min-width: 170px;
    grid-template-rows: 1fr auto;

    .dropdown-list {
        overflow: auto;

        .dropdown-itm {
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            padding: 0;
            cursor: pointer;
            user-select: none;
        }
    }

    .dropdown-buttons {
        display: grid;
        padding: 0 10px;
        grid-template-columns: 1fr auto;
    }
}

.date-dropdown-container {
    padding: 10px;
    min-width: 240px;
    max-width: 240px;

    .dropdown-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
    }
}

.date-toggle-btn {
    display: flex !important;
    justify-content: space-between;
    min-height: 22px !important;
    height: 22px;
    ;
    max-height: 22px !important;
    color: #495057;
}