<ng-container>

    <div class="border rounded p-2 bg-light mb-3">
        <div class="form-group">
            <label class="font-14 fw-400 text-dark mb-0" for="inputDataStructure">Schema</label>
            <small class="form-text text-muted mb-3">Set the schema that this node will accept</small>
            <odp-data-structure-selector id="inputDataStructure" class="d-flex" [edit]="edit"
                [format]="dataStructure?.incoming" (formatChange)="onFormatChange($event,'incoming')"
                [hideGeneric]="false">
            </odp-data-structure-selector>
        </div>
        <button type="button" class="btn btn-dark ignore-outside" (click)="toggle['permissions']=!toggle['permissions']"
            *ngIf="dataStructure?.incoming">
            Schema Permissions
        </button>
    </div>

    <!-- <div class="border rounded p-2 bg-light mb-3">
        <div class="form-group">
            <label class="font-14 fw-400 text-dark mb-0" for="outputDataStructure">Output Data Structure</label>
            <small class="form-text text-muted mb-3">Set the data structure that this node will return</small>
            <odp-data-structure-selector id="outputDataStructure" class="d-flex" [edit]="edit"
                [format]="dataStructure?.outgoing" (formatChange)="onFormatChange($event,'outgoing')"
                [hideGeneric]="false">
            </odp-data-structure-selector>
        </div>
        <button *ngIf="showDataMapping" type="button" class="btn btn-dark w-100 ignore-outside"
            (click)="toggle['mapping']=!toggle['mapping']">
            Data Mapping
        </button>
    </div> -->


    <div class="form-group position-relative">
        <label class="font-14 fw-400 text-dark" for="requestTimeout">Inactivity timeout (sec)</label>
        <odp-change-on-edit id="requestTimeout" [isTimeout]="true" [(ngModel)]="options['timeout']"
            (ngModelChange)="changesDone.emit()"></odp-change-on-edit>
    </div>

    <div *ngIf="toggle['permissions']">
        <odp-schema-permission [schema]="dataStructure.incoming" class="d-flex"
            (close)="toggle['permissions'] = false"></odp-schema-permission>
    </div>
</ng-container>