<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <span class="fa fa-spinner fa-pulse fa-3x"></span>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="d-flex flex-column w-100 h-100">
  <odp-breadcrumb></odp-breadcrumb>
  <div class="options d-flex justify-content-between align-items-center w-100 border-bottom px-3 mb-3">
    <div class="font-weight-bold font-lg">List of Nano Service</div>
    <odp-search-box (enteredText)="search($event)" (reset)="clearSearch()"></odp-search-box>
    <!-- <button type="button" class="add-new btn-min-width btn btn-primary show" id="createDataFormat"
      *ngIf="hasWritePermission('NS')" [routerLink]="['/app',app,'nsm']"> -->
    <button type="button" class="add-new btn-min-width btn btn-primary show" id="createDataFormat"
      *ngIf="hasWritePermission('NS')" (click)="newNanoService()">
      <span class="fa fa-plus mr-2"></span>
      <span class="text">New Nano Service</span>
    </button>
  </div>
  <div class="d-flex flex-column w-100 px-3">
    <div class="card-container" (scroll)="loadMore($event)">
      <!-- <div class="d-flex flex-wrap"> -->
      <ng-container *ngFor="let nanoService of nanoServiceList;let i=index;let first=first">
        <div
          class="d-flex align-items-center justify-content-between px-3 border-bottom border-left position-relative border-right nanoservice-list-item"
          [ngClass]="{'border-top':first}" *ngIf="hasPermissionForNanoService(nanoService._id)">
          <div class="d-flex align-items-center">
            <div class="info d-flex flex-column w-100">
              <div class="font-weight-bold mb-1">{{nanoService.name}}</div>
              <a [attr.href]="nanoService.url" target="_blank" class="font-sm text-accent text-truncate url-holder"
                container="body" [ngbTooltip]="nanoService.url">{{nanoService.url}}</a>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-end">
            <div class="in-out-format d-flex align-items-center mr-3">
              <div class="in-format d-flex flex-column">
                <odp-format-type-badge
                  [data]="{formatType:nanoService?.in?.formatType,excelType:nanoService?.in?.excelType}">
                </odp-format-type-badge>
              </div>
              <div class="mapper d-flex flex-column mx-4">
                <span class="far fa-arrow-alt-circle-right text-secondary"></span>
              </div>
              <div class="out-format d-flex flex-column">
                <odp-format-type-badge
                  [data]="{formatType:nanoService?.out?.formatType,excelType:nanoService?.out?.excelType}">
                </odp-format-type-badge>
              </div>
            </div>
            <div class="microflows d-flex flex-column mr-3">
              <small for="microflows" class="text-secondary mb-1">Integration Flows</small>
              <div class="text-dark" [innerHTML]="getFlowInfo(nanoService.flows)"></div>
            </div>
            <div class="options d-flex align-items-center">
              <button type="button" class="btn btn-link text-secondary" odpClickOutside
                (outside)="showMoreOptions[i]=false" (click)="showMoreOptions[i]=!showMoreOptions[i]">
                <span class="fa fa-ellipsis-h"></span>
              </button>
              <div class="options-menu d-flex align-items-center position-absolute ignore-outside"
                [ngClass]="{'show':showMoreOptions[i]}">
                <button type="button" class="btn btn-link mr-3" (click)="viewNanoService(i)"
                  [attr.id]="'viewNanoservice-'+i">View</button>
                <button type="button" class="btn btn-link mr-3" (click)="editNanoService(i)"
                  [attr.id]="'editNanoservice-'+i" *ngIf="canManageNanoService(nanoService._id)">Edit</button>
                <button type="button" class="btn btn-link" (click)="deleteNanoService(i)"
                  [attr.id]="'deleteNanoservice-'+i" *ngIf="canDeleteNanoService(nanoService._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- <div class="card m-2 add-card hover" [routerLink]="['/app',app,'nsm']" *ngIf="(!nanoServiceList || nanoServiceList.length==0) && !showLazyLoader && hasWritePermission('NS')" >
          <div class="card-body bg-light d-flex align-items-center justify-content-center">
            <div class="d-flex flex-column align-items-center justify-content-center">
              <div class="d-flex align-items-center justify-content-center bg-primary rounded-circle circle">
                <span class="fa fa-plus fa-lg text-white"></span>
              </div>
              <div class="align-self-center text-dark mt-4 font-weight-bold">New Nano Service</div>
            </div>
          </div>
        </div> -->
      <!-- <ng-container *ngFor="let nanoService of nanoServiceList;let i=index">
        <div class="card m-2">
          <div class="card-body p-0 d-flex flex-column align-items-center position-relative">
            <div class="d-flex align-items-center justify-content-center thumbnail-wrapper my-3">
              <div class="d-flex align-items-center justify-content-center thumbnail">
                <odp-partner-icon *ngIf="!nanoService.logo" color="666" size="36"></odp-partner-icon>
                <img *ngIf="nanoService.logo" [attr.src]="nanoService.logo" alt="DA Logo">
              </div>
            </div>
            <div class="data-format-name font-lg">{{nanoService.name}}</div>
            <div class="d-flex align-items-center my-2">
              <div class="d-flex align-items-center details-item text-muted">
                <span class="fa fa-exchange-alt mr-2"></span>
                <span class="count font-weight-bold">{{nanoService?.microflows?.length}}</span>
              </div>
              <div class="d-flex align-items-center text-muted">
                <span class="far fa-dot-circle mr-2"></span>
                <span class="count font-weight-bold">{{nanoService?.secrets?.length}}</span>
              </div>
            </div>
            <div *ngIf="!canManageNanoService(nanoService._id)"
              class="options card-options d-flex flex-column position-absolute"
              [ngClass]="{'active':showMoreOptions[i]}" odpClickOutside (outside)="showMoreOptions[i]=false">
              <div class="position-relative d-flex flex-column">
                <div class="d-flex align-items-center">
                  <button type="button" class="card-button font-sm text-secondary" (click)="viewNanoService(i)"
                    [attr.id]="'viewPartner-'+i">
                    <span class="fa fa-eye mr-2"></span>
                    <span class="text">View</span>
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="canManageNanoService(nanoService._id)"
              class="options card-options d-flex flex-column position-absolute" odpClickOutside
              (outside)="showMoreOptions[i]=false" [ngClass]="{'active':showMoreOptions[i]}">
              <div class="position-relative d-flex flex-column">
                <div class="toggler" (click)="showMoreOptions[i]=!showMoreOptions[i]">
                  <span class="fa fa-angle-up"></span>
                </div>
                <div class="d-flex align-items-center">
                  <button type="button" class="card-button font-sm text-secondary" (click)="viewNanoService(i)"
                    [attr.id]="'viewPartner-'+i">
                    <span class="fa fa-eye mr-2"></span>
                    <span class="text">View</span>
                  </button>
                  <button type="button" class="card-button font-sm text-secondary" (click)="editNanoService(i)"
                    [attr.id]="'editPartner-'+i">
                    <span class="fa fa-pencil-alt mr-2"></span>
                    <span class="text">Edit</span>
                  </button>
                </div>
                <div class="d-flex align-items-center">
                  <button type="button" class="card-button font-sm text-secondary" (click)="deleteNanoService(i)"
                    [attr.id]="'deletePartner-'+i">
                    <span class="fa fa-trash mr-2"></span>
                    <span class="text">Delete</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container> -->
      <!-- </div> -->
      <div class="d-flex flex-column w-100 justify-content-center align-items-center p-3"
        *ngIf="!nanoServiceList.length">
        <h5 class="my-4 text-secondary">zero. zip. zilch. nada.</h5>
      </div>
    </div>
  </div>
</div>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)">
  <odp-nano-service-icon [size]="18" color="DD5151" class="mt-1"></odp-nano-service-icon>
</odp-delete-modal>


<ng-template #newNanoServiceModal>
  <div class="new-nano-service-modal modal-body p-4 d-flex flex-column align-items-center" [formGroup]="form">
    <div class="d-flex flex-column w-100">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center">
          <span class="icon-wrapper rounded-circle d-flex align-items-center justify-content-center mr-2">
            <odp-nano-service-icon size="16" color="1CAD49" class="mt-1"></odp-nano-service-icon>
          </span>
          <span class="font-weight-bold mb-1">New Nano Service</span>
        </div>
        <span class="fa fa-times text-muted hover" (click)="newNanoServiceModalRef.close(false)"></span>
      </div>
      <div class="d-flex flex-column w-100">
        <label for="name" class="font-sm text-secondary">
          <span class="text">Name</span>
          <sup class="text-danger font-normal" ngbTooltip="Mandatory field">*</sup>
        </label>
        <div class="name-wrapper position-relative">
          <input newNanoServiceName type="text" class="form-control" id="name" placeholder="Untitled Nano Service"
            formControlName="name" (keyup.enter)="newNanoServiceTextarea.focus()" odpAutoFocus
            [ngClass]="{'is-invalid':form.get('name').invalid && form.get('name').dirty}">
          <ng-container *ngIf="form.get('name').dirty">
            <span *ngIf="form.get('name').hasError('required')"
              class="text-danger position-absolute fa fa-exclamation-circle" container="body"
              ngbTooltip="Name is required"></span>
            <span *ngIf="form.get('name').hasError('maxlength')"
              class="text-danger position-absolute fa fa-exclamation-circle" container="body"
              ngbTooltip="Name should be within 30 characters"></span>
            <span *ngIf="form.get('name').hasError('pattern')"
              class="text-danger position-absolute fa fa-exclamation-circle" container="body"
              ngbTooltip="Name can be only alphanumeric and can only contain spaces"></span>
          </ng-container>
        </div>
        <label for="description" class="font-sm text-secondary mt-3">Description</label>
        <div class="name-wrapper position-relative">
          <textarea #newNanoServiceTextarea class="form-control" id="description" rows="5" placeholder="No description"
            formControlName="description" (keydown.enter)="$event.preventDefault()" (keyup.enter)="newNanoServiceModalRef.close(true)"></textarea>
          <ng-container *ngIf="form.get('description').dirty">
            <span *ngIf="form.get('description').hasError('maxlength')"
              class="text-danger position-absolute fa fa-exclamation-circle" container="body"
              ngbTooltip="Description should be within 240 characters"></span>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="d-flex align-self-end justify-content-end w-100 mt-3">
      <button type="button" class="btn btn-min-width btn-create" id="newNanoServiceModalYes" [disabled]="form.invalid"
        (click)="newNanoServiceModalRef.close(true)">Create</button>
    </div>
  </div>
</ng-template>
