<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>

<div class="data-format-page d-flex flex-column w-100 page-padding bg-light-gray">
    <div class="options d-flex justify-content-between align-items-center w-100 pt-2 mb-4">
        <div class="fw-600 font-22">Agents</div>
        <span class="d-flex align-items-center">
            <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"></odp-search-box>
            <button *ngIf="hasManagePermission('AGENT')" type="button"
                class="btn btn-primary ml-3 d-flex align-items-center" (click)="newAgent()">
                <span class="dsi dsi-plus mr-2"></span>
                <span class="text">New Agent</span>
            </button>
        </span>
    </div>
    <div class="grid-container position-relative">
        <div class="list-group">
            <div class="list-group-item header py-0 bg-light text-uppercase font-11 fw-500">
                <div class="d-flex align-items-center justify-content-start h-100">
                    <div (click)="applySort('name')" class="item-name">
                        <span class="mr-2">Name</span>
                        <span *ngIf="sortModel['name']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['name']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('password')" class="item-password">
                        <span class="mr-2">Password</span>
                        <span *ngIf="sortModel['password']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['password']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('ipAddress')" class="item-ip-address">
                        <span class="mr-2">IP Address</span>
                        <span *ngIf="sortModel['ipAddress']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['ipAddress']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('macAddress')" class="item-mac-address">
                        <span class="mr-2">MAC Address</span>
                        <span *ngIf="sortModel['macAddress']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['macAddress']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('streak')" class="item-streak">
                        <span class="mr-2">Streak</span>
                        <span *ngIf="sortModel['streak']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['streak']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('status')" class="item-status">
                        <span class="mr-2">Status</span>
                        <span *ngIf="sortModel['status']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['status']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('lastInvokedAt')" class="item-last-invoked-at">
                        <span class="mr-2">Last Invoked</span>
                        <span *ngIf="sortModel['lastInvokedAt']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['lastInvokedAt']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('release')" class="item-release">
                        <span class="mr-2">Release</span>
                        <span *ngIf="sortModel['release']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['release']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div (click)="applySort('pendingFiles')" class="item-pending-files">
                        <span class="mr-2">Pending Files</span>
                        <span *ngIf="sortModel['pendingFiles']==1" class="dsi dsi-drop-down"></span>
                        <span *ngIf="sortModel['pendingFiles']==-1" class="dsi dsi-drop-up"></span>
                    </div>
                    <div class="item-actions">&nbsp;</div>
                </div>
            </div>
            <div *ngIf="!records || records.length==0" class="list-group-item">No Records Found</div>
            <ng-container *ngFor="let agent of records;let i=index">
                <div *ngIf="hasPermissionForAgent(agent._id)" class="list-group-item">
                    <div class="d-flex align-items-center justify-content-start h-100" [attr.title]="agent.name">
                        <div class="item-name text-truncate fw-500">{{agent.name}}</div>
                        <div class="item-password text-truncate">{{agent.password}}</div>
                        <div class="item-ip-address">{{agent.ipAddress}}</div>
                        <div class="item-mac-address">{{agent.macAddress}}</div>
                        <div class="item-streak">{{agent.streak}}</div>
                        <div class="item-status">{{agent.status}}</div>
                        <div class="item-last-invoked-at">{{agent.lastInvokedAt}}</div>
                        <div class="item-release">{{agent.release}}</div>
                        <div class="item-pending-files">{{agent.pendingFiles}}</div>
                        <div class="item-actions d-flex align-items-center justify-content-end">
                            <span id="agent-view" class="fw-600 font-13 hover mr-3"
                                [routerLink]="['/app/',app,'dfm',agent._id]">View</span>
                            <span id="agent-more" class="dsi dsi-more-vertical hover mr-3 ignore-outside"
                                (click)="showDropDown($event,i)"></span>
                            <div *ngIf="showOptionsDropdown[i]"
                                class="more-options bg-white rounded list-group position-fixed"
                                (mouseleave)="showOptionsDropdown[i]=false" [ngStyle]="dropDownStyle" odpClickOutside
                                (outside)="showOptionsDropdown[i]=false">
                                <div id="agent-dowload" class="list-group-item list-group-item-action py-2"
                                    (click)="openDownloadAgentWindow(agent);">
                                    Download
                                </div>
                                <div id="agent-edit" class="list-group-item list-group-item-action py-2"
                                    *ngIf="canEditAgent(agent._id)" (click)="editAgent(i)">
                                    Edit
                                </div>
                                <div id="agent-change-passowrd" class="list-group-item list-group-item-action py-2"
                                    (click)="changePassword(i);">
                                    Change Password
                                </div>
                                <div id="agent-clone" class="list-group-item list-group-item-action py-2"
                                    *ngIf="canEditAgent(agent._id) && hasManagePermission('AGENT')"
                                    (click)="cloneAgent(i)">
                                    Clone
                                </div>
                                <div id="agent-delete" class="list-group-item list-group-item-action py-2"
                                    *ngIf="canEditAgent(agent._id)" (click)="deleteAgent(i);">
                                    Delete
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>

<!-- <odp-agents-options *ngIf="sendOption" [activateOption]="sendOption" (output)="updateStatus($event)">
</odp-agents-options> -->

<div *ngIf="showNewAgentWindow" class="overlay position-fixed"></div>
<div [ngClass]="{'show':showNewAgentWindow}"
    class="new-data-format-window position-fixed p-4 d-flex flex-column align-items-center bg-white border-left">
    <div class="d-flex align-items-center justify-content-between w-100">
        <span class="font-20 fw-600">{{agentData.isEdit?'Edit':'Create new'}} App Agent</span>
        <button type="button" class="btn btn-link text-dark" (click)="showNewAgentWindow=false">
            <span class="dsi dsi-close"></span>
        </button>
    </div>
    <div class="form-group mt-4 w-100">
        <label class="font-14 text-dark">Enter Agent name</label>
        <div *ngIf="showNewAgentWindow" class="position-relative agent-name-wrapper">
            <input #agentName="ngModel" type="text" class="form-control" [(ngModel)]="agentData.name"
                [ngClass]="{'is-invalid':agentName.invalid && (agentName.dirty || agentName.touched)}" maxlength="24"
                required [pattern]="'[a-z0-9A-Z\\s_-]+'" odpAutoFocus (keyup.enter)="triggerAgentCreate()"
                [disabled]="agentData.isEdit">
            <ng-container *ngIf="agentName.invalid && (agentName.dirty || agentName.touched)">
                <span *ngIf="agentName?.errors?.required" class="dsi dsi-danger-circle text-danger position-absolute"
                    ngbTooltip="Name is required" container="body"></span>
                <span *ngIf="agentName?.errors?.maxlength" class="dsi dsi-danger-circle text-danger position-absolute"
                    ngbTooltip="Name should be within 24 characters" container="body"></span>
                <span *ngIf="agentName?.errors?.pattern" class="dsi dsi-danger-circle text-danger position-absolute"
                    ngbTooltip="Name should be alphanumeric characters with spaces, dashes and underscores"
                    container="body"></span>
            </ng-container>
        </div>
    </div>
    <div class="form-group position-relative agent-config-wrapper w-100">
        <div class="d-flex align-items-center justify-content-between mt-2">
            <label class="font-14 text-dark mr-2">Encrypt file</label>
            <odp-switch [(checked)]="agentData.encryptFile" [edit]="{status:true}"></odp-switch>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-2">
            <label class="font-14 text-dark mr-2">Retain file on success</label>
            <odp-switch [(checked)]="agentData.retainFileOnSuccess" [edit]="{status:true}"></odp-switch>
        </div>
        <div class="d-flex align-items-center justify-content-between mt-2">
            <label class="font-14 text-dark mr-2">Retain file on error</label>
            <odp-switch [(checked)]="agentData.retainFileOnError" [edit]="{status:true}"></odp-switch>
        </div>
    </div>
    <div class="d-flex w-100 mt-auto">
        <button *ngIf="showNewAgentWindow" type="button" class="btn btn-primary w-100" id="newAgentModalCreate"
            [disabled]="!agentData.name" (click)="triggerAgentCreate()">{{agentData.isEdit ? 'Save' :
            'Create'}}</button>
    </div>
</div>


<ng-template #downloadAgentModal>
    <div class="modal-body">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <div class="d-flex flex-column">
                <span class="font-20 fw-600">Download Agent Shipping</span>
                <span class="font-14 fw-400 text-secondary">Please choose the operating platform for the Agent</span>
            </div>
            <span class="hover dsi dsi-close" (click)="downloadAgentModalRef.close(false)"></span>
        </div>
        <div class="mt-5 d-flex flex-wrap mx-4">
            <button type="button"
                class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                (click)="downloadAgentModalRef.close('windows-amd64')">
                <span class="fab fa-windows mr-2"></span>
                <span class="text-dark fw-600 font-14">Windows - 64 Bit</span>
            </button>
            <button type="button"
                class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                (click)="downloadAgentModalRef.close('linux-amd64')">
                <span class="fab fa-linux mr-2"></span>
                <span class="text-dark fw-600 font-14">Linux - 64 Bit</span>
            </button>
            <button type="button"
                class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                (click)="downloadAgentModalRef.close('darwin-amd64')">
                <span class="fab fa-apple mr-2"></span>
                <span class="text-dark fw-600 font-14">Mac OS - 64 Bit</span>
            </button>
            <button type="button"
                class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                (click)="downloadAgentModalRef.close('windows-386')">
                <span class="fab fa-windows mr-2"></span>
                <span class="text-dark fw-600 font-14">Windows - 32 Bit</span>
            </button>
            <button type="button"
                class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                (click)="downloadAgentModalRef.close('linux-386')">
                <span class="fab fa-linux mr-2"></span>
                <span class="text-dark fw-600 font-14">Linux - 32 Bit</span>
            </button>
        </div>
    </div>
</ng-template>