@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.options {
  min-height: 50px;
  max-height: 50px;
}

.grid-container {
  height: calc(100vh - 214px);

  .ag-grid-options {
    height: 32px;
  }

  .ag-grid-container {
    height: calc(100vh - 246px);
  }
}

.agent-name-wrapper {
  .dsi-danger-circle {
    top: 9px;
    right: 6px;
  }
}

.list-group-item {
  overflow: hidden;

  &.header {
    min-height: 38px;
    max-height: 38px;
    color: #6C7584;
  }

  .item-name {
    min-width: 120px;
    max-width: 120px;
  }

  .item-password {
    min-width: 120px;
    max-width: 120px;
  }

  .item-ip-address {
    min-width: 120px;
    max-width: 120px;
  }

  .item-mac-address {
    min-width: 120px;
    max-width: 120px;
  }

  .item-streak {
    min-width: 120px;
    max-width: 120px;
  }

  .item-status {
    min-width: 120px;
    max-width: 120px;
  }

  .item-last-invoked-at {
    min-width: 120px;
    max-width: 120px;
  }

  .item-release {
    min-width: 120px;
    max-width: 120px;
  }

  .item-pending-files {
    min-width: 120px;
    max-width: 120px;
  }

  .item-actions {
    min-width: 200px;
    max-width: 200px;
    position: absolute;
    right: -500px;
    top: 12px;
    transition: 0.2s;

    .actions {

      .dsi {
        min-width: 24px;
        max-width: 24px;
        display: inline-block;
        color: $sub-headings;
      }

      .dsi,
      .api-icon {
        &:hover {
          color: $dark;
        }
      }
    }
  }

  &:hover {
    .item-actions {
      right: 0px;
    }
  }

  .scroll-pane {
    height: 100%;
    overflow: auto;
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.6);
}

.new-data-format-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: -360px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;

  &.show {
    right: 0px !important;
  }
}

.list-group-item {
  &.header {
    font-weight: 400;
    height: 40px;
  }
}

.more-options {
  z-index: 2;
  top: 10px;
  right: 10px;
  min-width: 140px;

  .list-group-item {
    height: 36px;
  }
}

.download-option {
  width: 180px;
  height: 48px;
}

.modal-body{
  
}