<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <span class="fa fa-spinner fa-pulse fa-3x"></span>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="d-flex flex-column justify-content-center row" *ngIf="serviceList.length > 0">
  <div class='data-services-section d-flex pt-3' *ngIf="!showLazyLoader">
    <div class="select-ds d-flex flex-column text-muted">
      <div class='ds-name py-2 px-3 hover' *ngFor="let srvc of serviceList; let srvcIndex = index"
        (click)="selectDataService(srvc)" [ngClass]="{'text-dark': selectedDS == srvc}">
        <span>
          {{ srvc.name }}
        </span>
      </div>
    </div>
    <div class="ds-details py-2 px-3 w-100">
      <div class="admin-option d-flex align-items-center justify-content-between text-dark">
        <span class="font-weight-bold">Admin Privileges</span>
        <div class="p-1">
          <odp-switch [edit]="{status:true}" [(checked)]="adminRole" (checkedChange)="toggleAdmin($event)">
          </odp-switch>
        </div>
      </div>
      <div class="d-flex justify-content-between my-3 p-3 border-top border-bottom">
        <div class="font-weight-bold">Roles ({{selectedDS.roles.length}})</div>
        <div *ngIf="!adminRole" class="text">{{totalActiveRoles}} roles enabled</div>
      </div>
      <div class="role-list-item-body bg-white font-normal mt-3">
        <ng-container *ngFor="let role of selectedDS.roles; let roleIndex = index">
          <div class="role-list-sub-item d-flex justify-content-between align-items-center px-4">
            <div class="name">
              <!-- <span *ngIf="hasManage(role)" class="odp-manager text-primary mr-2"></span>
              <span *ngIf="!hasManage(role)" class="odp-view text-success mr-2"></span> -->
              <span class="text">{{ role.name }}</span>
            </div>
            <div class="permissions d-flex align-items-center text-muted ">
              <div
                class="permissions-badge rounded border d-flex align-items-center justify-content-center mr-2 border-dark text-dark">
                <span class="fa fa-eye fa-xs"></span>
              </div>
              <div class="permissions-badge rounded border d-flex align-items-center justify-content-center mr-2"
                [ngClass]="{'border-dark text-dark':hasMethod(role,'POST')}">
                <span class="fa fa-plus fa-xs"></span>
              </div>
              <div class="permissions-badge rounded border d-flex align-items-center justify-content-center mr-2"
                [ngClass]="{'border-dark text-dark':hasMethod(role,'PUT')}">
                <span class="fa fa-pen fa-xs"></span>
              </div>
              <div class="permissions-badge rounded border d-flex align-items-center justify-content-center mr-2"
                [ngClass]="{'border-dark text-dark':hasMethod(role,'DELETE')}">
                <span class="fa fa-trash fa-xs"></span>
              </div>
              <div class="permissions-badge rounded border d-flex align-items-center justify-content-center mr-2"
                [ngClass]="{'border-dark text-dark':hasMethod(role,'RULE')}">
                <span class="fa fa-filter fa-xs"></span>
              </div>
              <!-- <ng-container *ngIf="hasManage(role)">
                <span class="d-flex align-items-center justify-content-center icon odp-manager text-primary"></span>
                <span class="d-flex align-items-center justify-content-center fa fa-angle-right text-muted"></span>
                <span class="d-flex align-items-center justify-content-center icon fa fa-plus-circle text-accent"
                  *ngIf="hasMethod(role,'POST')"></span>
                <span class="d-flex align-items-center justify-content-center icon odp-edit text-primary"
                  *ngIf="hasMethod(role,'PUT')"></span>
                <span class="d-flex align-items-center justify-content-center icon odp-delete text-danger"
                  *ngIf="hasMethod(role,'DELETE')"></span>
                <span class="d-flex align-items-center justify-content-center icon odp-approver text-info"
                  *ngIf="hasMethod(role,'REVIEW')"></span>
                <span class="d-flex align-items-center justify-content-center icon fa fa-forward text-success"
                  *ngIf="hasMethod(role,'SKIP_REVIEW')"></span>
              </ng-container>
              <ng-container *ngIf="!hasManage(role)">
                <span class="d-flex align-items-center justify-content-center icon odp-view mr-1 text-accent"></span>
                <span class="text text-accent">View Attributes</span>
              </ng-container> -->
            </div>
            <odp-switch [edit]="{status:hasPermission('PMGCDS')}" [checked]="roleActive(role)"
              [disabled]="adminRole? true : false" (checkedChange)="toggleRole($event,role,selectedDS)"></odp-switch>
            <!-- <span class="toggle font-13">
              <label class="switch accent mb-0 mr-3 mt-1" [attr.for]="role.id" *ngIf="hasPermission('PMGCDS')">
                <input type="checkbox" value="true" [attr.id]="role.id" (change)="toggleRole($event,role,selectedDS)"
                  [ngModel]="roleActive(role)" [attr.disabled]="adminRole? true : null">
                <span class="slider"></span>
                <span class="toggler border-border"></span>
              </label>
              <span class="text ml-2 font-normal">
                <span *ngIf="roleActive(role)" [ngClass]="{'text-muted': adminRole}">Yes</span>
                <span *ngIf="!roleActive(role)" [ngClass]="{'text-muted': adminRole}">No</span>
              </span>
            </span> -->
          </div>
        </ng-container>
      </div>
      <ng-container *ngIf="!adminRole && makerCheckerData">
        <div class='d-flex justify-content-between mt-4 p-3 border-top border-bottom'>
          <div class="font-weight-bold ">
            Workflows
          </div>
        </div>
        <div class="role-list-item-body bg-white font-normal b rounded mt-4">
          <div class='steps-header b-bottom d-flex justify-content-between align-items-center text-muted px-4'>
            <div>{{makerCheckerData.steps.length}} STEPS</div>
            <div>{{totalApprovals}} APPROVALS</div>
            <div></div>
          </div>
          <ng-container *ngFor="let step of makerCheckerData.steps; let roleIndex = index">
            <div class="role-list-sub-item d-flex justify-content-between align-items-center px-4 b-bottom">
              <div class="name">
                <span class="text">{{ step.name }}</span>
              </div>
              <div class="permissions d-flex align-items-center">
                {{step.approvals}}
              </div>
              <odp-switch [edit]="{status:hasPermission('PMGCDS')}" [checked]="roleActive(step)"
                [disabled]="adminRole? true : false" (checkedChange)="toggleRole($event,step,selectedDS)"></odp-switch>
              <!-- <span class="toggle font-13">
                <label class="switch accent mb-0 mr-3 mt-1" [attr.for]="step.id" *ngIf="hasPermission('PMGCDS')">
                  <input type="checkbox" value="true" [attr.id]="step.id" (change)="toggleRole($event,step,selectedDS)"
                    [ngModel]="roleActive(step)">
                  <span class="slider"></span>
                  <span class="toggler border-border"></span>
                </label>
                <span class="text ml-2 font-normal">
                  <ng-container *ngIf="roleActive(step)">Yes</ng-container>
                  <ng-container *ngIf="!roleActive(step)">No</ng-container>
                </span>
              </span> -->
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="d-flex flex-row w-100 no-ds" *ngIf="serviceList.length == 0 && !showLazyLoader">
  <div class="d-flex flex-column w-50 h-auto justify-content-center m-auto">
    <span class="text-muted"> There is no Data Service available. Please create a Data Service to configure the roles.
    </span>
  </div>
</div>