@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.wrapper {
  min-height: calc(100vh - 266px);
}


.role-list {
  min-width: 750px;
  max-width: 750px;

  .toggle {
    min-width: 74px;
    max-width: 74px;
  }
}


.admin-option {
  min-width: 300px;
}

.permissions-badge {
  min-width: 32px;
  min-height: 32px;
}



.data-services-section {
  min-height: calc(100vh - 274px);

  .select-ds {
    width: 320px;
  }

  .role-list-item {
    transition: 0.25s;

    &.selected {
      transform: scale(1.1);
      margin: 15px;
    }
  }

  .role-list-item-head {
    min-height: 40px;
    max-height: 40px;
  }

  .role-list-item-body {
    .steps-header {
      height: 32px;
      background: #f9f9f9;
    }

    .role-list-sub-item {
      min-height: 56px;
      max-height: 56px;
    }
  }

  .name {
    min-width: 200px;
    max-width: 200px;
  }

  .permissions {
    min-width: 160px;
    max-width: 160px;

    .icon {
      min-width: 24px;
      max-width: 24px;
      min-height: 24px;
      max-height: 24px;
    }
  }
}

.no-ds {
  height: 60vh;
}