.headers-key-wrapper {
  .fa-exclamation-circle {
    top: 7px;
    right: 5px;
  }
}
.ip-error-icon {
  top: 8px;
  right: 6px;
}
.property-list {
  max-height: calc(100vh - 274px);
  overflow: auto;
}
