<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
  <div class="align-self-center text-center">
    <div class="spinner-border text-dark" role="status">
      <span class="sr-only">Processing...</span>
    </div>
    <div class="text-secondary mt-2">Processing...</div>
  </div>
</div>
<div class="d-flex flex-column w-100 h-100 page-padding bg-light-gray">
  <div class="pt-2 pb-4">
    <odp-basic-info hideLogo="true" [(name)]="name" [(description)]="description"
      [edit]="{status:edit.status && canEditService}">
      <div class="d-flex justify-content-end align-items-center">
        <button (click)="cancel()" type="button" class="edit-button btn btn-min-width btn-white border mr-3"
          id="sbButtonCancel">
          <span class="fa fa-close mr-2"></span>
          <span class="text">Cancel</span>
        </button>
        <button *ngIf="edit.id && !edit.status && hasWritePermission && serviceObj.type!='internal' "
          (click)="enableEdit(true)" type="button" class="edit-button btn btn-min-width btn-primary" id="sbButtonEdit">
          <span class="text">Edit</span>
        </button>
        <button
          *ngIf="edit.id && !edit.status && hasWritePermission && serviceObj.status!=='Undeployed' && serviceObj.type==='internal'"
          (click)="enableEdit(true)" type="button" class="edit-button btn btn-min-width btn-primary" id="sbButtonEdit">
          <span class="text">Edit</span>
        </button>
        <button *ngIf="edit.status && hasWritePermission" (click)="checkAndSave();edit.status=false" type="button"
          class="edit-button btn btn-min-width btn-outline-primary mr-3" id="sbButtonSave">
          <span class="text">Save</span>
        </button>
        <button *ngIf="edit.status && canSaveAndDeploy" [disabled]="!isValidSchema"
          (click)="checkSaveAndDeploy();edit.status=false" type="button"
          class="edit-button btn btn-min-width btn-primary" id="sbButtonSaveAndDeploy">
          <span class="text">Save &amp; Deploy</span>
        </button>
      </div>
    </odp-basic-info>
  </div>
  <form [formGroup]="form" class="d-flex flex-column w-100 h-100 mt-4">
    <div class="d-flex flex-column w-100 h-100 border-top border-left border-right rounded bg-white">
      <div class="tabs d-flex align-items-center border-bottom text-uppercase fw-500 font-13 text-muted" (click)="showHiddenMenu()" id="sbTabs">
        <div class="pl-4 pr-2 hover" *ngIf="hasPermissionForTab('D')" (click)="activeTab=0"
          [ngClass]="{'active':activeTab==0}">
          <span>Design</span>
          <span class="fa fa-circle fa-xs ml-2"
            [ngClass]="{'show':changesDoneInDesign,'text-danger':errorInDesign}"></span>
        </div>
        <div class="px-2  hover" *ngIf="hasPermissionForTab('I')" (click)="activeTab=1"
          [ngClass]="{'active':activeTab==1}">
          <span>Integration</span>
          <span class="fa fa-circle fa-xs ml-2"
            [ngClass]="{'show':changesDoneInIntegration,'text-danger':errorInIntegration}"></span>
        </div>
        <div class="px-2 hover" *ngIf="hasPermissionForTab('E') && !isSchemaFree" (click)="activeTab=2"
          [ngClass]="{'active':activeTab==2}">
          <span>Experience</span>
          <span class="fa fa-circle fa-xs ml-2"
            [ngClass]="{'show':changesDoneInExperience,'text-danger':errorInExperience}"></span>
        </div>
        <div class="px-2 hover" *ngIf="hasPermissionForTab('R')" (click)="activeTab=3"
          [ngClass]="{'active':activeTab==3}">
          <span>Roles</span>
          <span class="fa fa-circle fa-xs ml-2"
            [ngClass]="{'show':changesDoneInRoles,'text-danger':errorInRoles}"></span>
        </div>
        <div class="px-2 hover" *ngIf="hasPermissionForTab('S')" (click)="activeTab=4"
          [ngClass]="{'active':activeTab==4}">
          <span>Settings</span>
          <span class="fa fa-circle fa-xs ml-2"
            [ngClass]="{'show':changesDoneInConfiguration,'text-danger':errorInConfiguration}"></span>
        </div>
        <div class="px-2 hover" *ngIf="edit.status && hasPermissionForTab('S')" (click)="activeTab=5"
          [ngClass]="{'active':activeTab==5}">
          <span>Reset</span>
          <span class="fa fa-circle fa-xs ml-2"
            [ngClass]="{'show':changesDoneInConfiguration,'text-danger':errorInConfiguration}"></span>
        </div>
        <div class="px-2 hover" (click)="activeTab=6" [ngClass]="{'active':activeTab==6}"
          *ngIf="!edit.status && hasPermissionStartsWith('PVDSA','SM')">
          Audit
        </div>
        <div class="px-2 hover" (click)="generateData();activeTab=10" [ngClass]="{'active':activeTab==10}"
          *ngIf="clickCount>9">JSON</div>
        <div class="px-2 hover" (click)="generateData();activeTab=11" [ngClass]="{'active':activeTab==11}"
          *ngIf="clickCount>9">Schema</div>
      </div>
      <div class="builder-body d-flex flex-column w-100" *ngIf="hasAnyTabPermission">
        <ng-container>
          <div class="p-4 d-flex align-items-center" *ngIf="activeTab == 0">
            <div class="d-flex align-items-center hover mr-3" (click)="toggleSchemaType(false)">
              <odp-round-radio size="18" [edit]="edit" [checked]="isSchemaFree==false" (checkedChange)="toggleSchemaType(false)">
              </odp-round-radio>
              <span class="text ml-2">Schema Based</span>
            </div>
            <div class="d-flex align-items-center hover" (click)="toggleSchemaType(true)">
              <odp-round-radio size="18" [edit]="edit" [checked]="isSchemaFree==true" (checkedChange)="toggleSchemaType(true)">
              </odp-round-radio>
              <span class="text ml-2">Schema Free</span>
            </div>
            <!-- <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle
                [disabled]="!edit.status">{{isSchemaFree ? "Schema Free Design": "Schema Designer"}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem type="button" (click)='toggleSchemaType(true)' *ngIf="!isSchemaFree">Schema Free
                  Design</button>
                <button ngbDropdownItem type="button" (click)='toggleSchemaType(false)' *ngIf="isSchemaFree">Schema
                  Designer</button>
              </div>
            </div> -->
          </div>
          <div *ngIf="isSchemaFree && activeTab == 0"
            class='schema-free d-flex align-items-center justify-content-center'>
            <div class='text-center w-25'>
              <img src="./assets/img/Book.png" alt="Schema Free">
              <div class='font-weight-bold mt-3'>Schema Free</div>
              <div class='text-secondary mt-2'>
                Schema-free data service allows you to store documents without defining any schema.
                Data validations can only be enforced using the validation hooks.
              </div>
            </div>
          </div>
          <div class="w-100 builder px-4" [ngClass]="{'d-none':activeTab != 0,'d-flex':activeTab == 0}"
            *ngIf="!isSchemaFree">
            <div class="d-flex flex-column w-100">
              <div class="options d-flex justify-content-between align-items-center ">
                <span class="text-dark font-weight-bold">Attributes</span>
                <div class="d-flex justify-content-end align-items-center"
                  *ngIf="edit.status && serviceObj?.type!=='internal'">
                  <button type="button" class="btn btn-link pr-0" (click)="addGroup('after')" id="sbInsertAttribute">
                    Insert
                  </button>
                  <div ngbDropdown class="d-inline-block mr-3">
                    <button type="button" class="btn btn-link px-1 pt-2" id="insertDropDown" ngbDropdownToggle></button>
                    <div ngbDropdownMenu>
                      <button type="button" class="dropdown-item" (click)="addGroup('before')"
                        [disabled]="idFieldId===selectedFieldId">Insert Before</button>
                      <button type="button" class="dropdown-item" (click)="addGroup('after')">Insert After</button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-link" (click)="resetBuilder()" id="sbClearAll">
                    Delete All
                  </button>
                </div>
              </div>
              <div class="schema-creator scroll position-relative" id="schema-creator" [scrollTop]="schemaFieldheight">
                <ng-container formArrayName="definition">
                  <div [sortablejs]="definitions"
                    [sortablejsOptions]="{sort: editable, filter: '.disabled', onMove: sortableOnMove }">
                    <ng-container *ngFor="let def of definitions;let fieldIndex = index; let first = first;">
                      <div [class.disabled]="def.value.hasOwnProperty('_id')">
                        <odp-structure-field [formGroupName]="fieldIndex" [all]="form.get('definition')"
                          [index]="fieldIndex" [first]="first" [edit]="edit" [type]="serviceObj?.type"
                          [stateModelAttr]="stateModelIfEnabled" (deleteStateModel)="deleteStateModel($event)"
                          (viewStateModel)='viewStateModel($event)'>
                        </odp-structure-field>
                      </div>
                    </ng-container>
                  </div>
                  <div class="add-attribute d-flex align-items-center text-muted mt-4"
                    *ngIf="edit.status && serviceObj?.type!=='internal'">
                    <span class="d-flex align-items-center justify-content-center hover alert alert-primary w-100" (click)="addGroup()" id="schemaFieldObjectAddField">
                      <span class="dsi dsi-plus fa-xs mr-2"></span>
                      <span class="text">Add Attribute</span>
                    </span>
                  </div>
                </ng-container>
              </div>
            </div>
            <div>
              <odp-structure-field-properties [edit]="edit" [type]="serviceObj?.type" [(mainForm)]='form'>
              </odp-structure-field-properties>
            </div>
          </div>
        </ng-container>
        <ng-container>
          <odp-integration #integrationComponent [form]="form" [edit]="edit" [ngClass]="{'d-none':activeTab !== 1}">
          </odp-integration>
        </ng-container>
        <ng-container *ngIf="activeTab == 2">
          <div class="w-100 builder d-flex">
            <div class='d-flex flex-column p-4 fw-500 text-muted font-14' id='experience-side-nav'>
              <div class='mb-3 p-2'>
                <span class='side-nav-tab'
                  [ngClass]="{'text-dark' : experienceSideNavActiveTab == 0 , 'fw-600' : experienceSideNavActiveTab == 0}"
                  (click)='experienceSideNavActiveTab = 0'>
                  State Model
                </span>
              </div>
              <div class='mb-3 p-2'>
                <span class='side-nav-tab'
                  [ngClass]="{'text-dark' : experienceSideNavActiveTab == 2 , 'fw-600' : experienceSideNavActiveTab == 2}"
                  (click)='experienceSideNavActiveTab = 2'>
                  Personalize
                </span>
              </div>
              <div class='mb-3 p-2'>
                <span class='side-nav-tab'
                  [ngClass]="{'text-dark' : experienceSideNavActiveTab == 3 , 'fw-600' : experienceSideNavActiveTab == 3}"
                  (click)='experienceSideNavActiveTab = 3'>
                  Workflows
                </span>
              </div>
            </div>
            <div class='d-flex flex-column w-100'>
              <div *ngIf="experienceSideNavActiveTab == 2" class="schema-creator scroll position-relative w-100"
                id="schema-creator" [scrollTop]="schemaFieldheight">
                <div class="builder-body border-left">
                  <odp-wizards [form]="form" [edit]="edit"></odp-wizards>
                </div>
              </div>
              <div *ngIf="experienceSideNavActiveTab == 0"
                class="schema-creator scrollStateModel position-relative w-100">
                <odp-state-model [(form)]='form' [edit]='edit'></odp-state-model>
              </div>
              <div *ngIf="experienceSideNavActiveTab == 3" class="scrollStateModel">
                <odp-maker-checker [(form)]='form' [edit]='edit'></odp-maker-checker>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 3">
          <div class="d-flex flex-column w-100">
            <odp-manage-permissions #permissionsComponent [name]="name" [(role)]="role" [schemaFree]="isSchemaFree"
              [(firstInit)]="manageRolesFirstInit" [(blockInvalidRole)]="blockInvalidRole" [definitions]="definitions"
              [edit]="edit" (oldRoleReset)="onOldRoleReset($event)" [ngClass]="{'d-none':activeTab != 3}">
            </odp-manage-permissions>
          </div>
        </ng-container>
        <ng-container>
          <odp-configuration [form]="form" [edit]="edit" [versionConfig]="versionConfig"
            [ngClass]="{'d-none':activeTab != 4}"></odp-configuration>
        </ng-container>
        <ng-container>
          <odp-reset-service [form]="form" [edit]="edit"
            [ngClass]="{'d-none':activeTab != 5}"></odp-reset-service>
        </ng-container>
        <ng-container *ngIf="activeTab == 6">
          <odp-logs [serviceObj]="serviceObj"></odp-logs>
        </ng-container>
        <ng-container *ngIf="activeTab == 10">
          <div class="d-flex flex-column w-100">
            <div class="builder-body scroll p-3 position-relative hover" (click)="copyJSON(exampleJSON)">
              <div class="d-flex align-items-center position-absolute copy-symbol">
                <span class="text-muted mr-2">Click to Copy</span>
                <span class="fa fa-copy text-primary"></span>
              </div>
              <pre>{{exampleJSON|json}}</pre>
              <!-- <div [innerHTML]="toPrettyJSON(exampleJSON)"></div> -->
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="activeTab == 11">
          <div class="d-flex flex-column w-100">
            <div class="builder-body scroll p-3 position-relative hover" (click)="copyJSON(exampleSchema)">
              <div class="d-flex align-items-center position-absolute copy-symbol">
                <span class="text-muted mr-2">Click to Copy</span>
                <span class="fa fa-copy text-primary"></span>
              </div>
              <pre>{{exampleSchema|json}}</pre>
              <!-- <div [innerHTML]="toPrettyJSON(exampleSchema)"></div> -->
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </form>
</div>

<ng-template #deleteModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between w-100">
      <span class="font-20 fw-600">{{deleteModal.title}}</span>
      <span class="fa fa-times text-secondary hover" (click)="deleteModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-secondary text-center my-5">{{deleteModal.message}}</p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-danger" (click)="deleteModalTemplateRef.close(true)"
        id="sbDeleteModalYes">Yes</button>
    </div>
  </div>
</ng-template>

<ng-template #pageChangeModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between w-100">
      <span class="font-20 fw-600">Unsaved change</span>
      <span class="fa fa-times text-secondary hover " (click)="pageChangeModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-secondary text-center my-5">You have unsaved changes, are you sure you want to leave?</p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-primary"
        (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
    </div>
  </div>
</ng-template>


<ng-template #schemaToggleTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between w-100">
      <span class="font-20 fw-600">{{toggleSchemaModal.title}}</span>
      <span class="fa fa-times text-secondary hover " (click)="schemaToggleTemplateRef.close(false)"></span>
    </div>
    <p class="text-secondary my-5">{{toggleSchemaModal.message}}</p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-outline-dark mr-3"
        (click)="schemaToggleTemplateRef.close(false)" id="sbDeleteModalYes">Cancel</button>
      <button type="button" class="btn btn-min-width btn-primary" (click)="schemaToggleTemplateRef.close(true)"
        id="sbDeleteModalYes">Enable</button>
    </div>
  </div>
</ng-template>