@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

rect {
    fill: #fff;
    stroke: #666;
    stroke-width: 1;
}

path {
    fill: none;
    stroke: #666;
    stroke-width: 1;

    &:hover {
        cursor: pointer;
        stroke-width: 3;
    }

    &.selected {
        stroke: $accent;
        stroke-width: 3;
    }
}

text {
    stroke-width: 0;
    fill: $dark;
    font-size: 10px;
}

text.node-name {
    stroke-width: 0;
    fill: $secondary;
    font-size: 11px;
}

.active {
    rect {
        fill: rgba($accent, 0.3);
    }

    text:not(.node-name) {
        stroke-width: 0.75 !important;
        stroke: #333;
    }
}

.node-anchor {
    fill: #fff;

    &:hover {
        fill: $secondary;
    }

    &.active {
        fill: $accent;
    }
}

.delete-icon {
    fill: #cfcfcf;
    stroke: #cccc;
    stroke-width: 1;

}