@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

rect {
    fill: #fff;
    stroke: #666;
    stroke-width: 1;
}

path {
    fill: none;
    stroke: #666;
    stroke-width: 2;

    &:hover {
        cursor: pointer;
        stroke-width: 3;
    }

    &.selected {
        stroke: $accent;
        stroke-width: 3;
    }
}

.svg-path-transparent {
    fill: none;
    stroke: #666;
    stroke-opacity: 0%;
    stroke-width: 20;

    &:hover {
        cursor: pointer;
        stroke-width: 20; //increase the value to increase the hover area
    }
}

.svg-path-transparent:hover~path {
    cursor: pointer;
    stroke-width: 3;
}

text {
    stroke-width: 0;
    fill: $dark;
    font-size: 12px;
}

text.path-text {
    &.selected {
        stroke-width: 0.75;
        stroke: #000;
    }
}

// text.node-name {
//     stroke-width: 0;
//     fill: $secondary;
//     font-size: 11px;
// }

.active {
    .rect {
        fill: rgba($accent, 0.3);
    }
    .ellipse {
        fill: rgba($accent, 0.3);
    }

    // text:not(.node-name):not(.id-holder) {
    //     stroke-width: 0.75 !important;
    //     stroke: #333;
    // }
}


.node-anchor {
    fill: #fff;

    &:hover {
        fill: $secondary;
    }

    &.active {
        fill: $accent;
    }
}

.delete-icon {
    fill: #cfcfcf;
    stroke: #cccc;
    stroke-width: 1;

}


rect.id-holder {
    fill: #e0e0e0;
    stroke: #e0e0e0;
    stroke-width: 1;
}

text.id-holder {
    stroke-width: 0;
    fill: #666;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    ;
}

rect.API.START {
    fill: #6C7584;
}

rect.API {
    fill: #00CCCB;
}

rect.TIMER {
    fill: #2FC48F;
}

rect.DATASERVICE {
    fill: #A94CFF;
}

rect.FUNCTION {
    fill: #FFBB1A;
}

text.FUNCTION {
    fill: $dark;
}

rect.CODEBLOCK {
    fill: $secondary;
}

rect.CONNECTOR,
rect.FILE {
    fill: #009BFF;
}

rect.LOGS {
    fill: #FF7D4C;
}

rect.MAPPING,
rect.TRANSFORM,
rect.PAYLOAD {
    fill: #FF4C82;
}

rect.UNWIND {
    fill: #FF4C82;
}

rect.RESPONSE {
    fill: #2FC48F;
}

.no-outline {
    outline: none;
}