.node-block-wrapper {
    min-width: 218px;

    .node-block {
        min-width: 180px;
        max-width: 180px;
        min-height: 58px;
        max-height: 58px;
        overflow: hidden;

        .delete-icon {
            right: -100px;
            z-index: 1;
            transition: 0.2;
        }

        &:hover {
            .delete-icon {
                right: 10px;
            }
        }
    }

    .path-sm {
        width: 64px;
    }

    .path-t {
        margin-top: 20px;
    }

    .path {
        width: 180px;
    }

    .path-v {
        height: 20px;
    }

    .add-button {
        min-height: 54px;
        max-height: 54px;

        &.align-items-start {
            .border-left {
                margin-left: 8px;
            }
        }

        &.side {
            min-height: 46px;
            max-height: 46px;
        }

        .dsi {
            font-size: 18px;
        }

        .border-bottom {
            width: 18px;
        }

        .border-left {
            height: 18px;

            &.negetive {
                height: 23px;
                margin-top: -23px;
            }
        }
    }
}

.node-options-dropdown {
    width: 180px;
    overflow-y: auto;

    .node-options-item {
        height: 32px;

        &:hover {
            background: lighten($color: #000000, $amount: 20);
        }

    }
}