<div class="node-block-wrapper">
    <div *ngIf="prevNode" class="add-button d-flex flex-column align-items-start" [ngStyle]="getAddStyle(0)">
        <div *ngIf="branchIndex>0" class="border-left negetive border-grey"></div>
        <div class="border-left border-grey"></div>
        <span class="dsi dsi-plus-circle ignore-outside hover"
            (click)="addTo='prev';showBranchDropdown($event)"></span>
        <div class="border-left border-grey"></div>
    </div>
    <div class="d-flex align-items-center">
        <div class="node-block px-3 py-2 border rounded bg-white d-flex align-items-center justify-content-start hover"
            (click)="selectNode()">
            <span *ngIf="node.type=='FILE'" class="node-icon dsi dsi-file"></span>
            <span *ngIf="!prevNode && node.type=='API'" class="node-icon dsi dsi-api-reciever"></span>
            <span *ngIf="prevNode && node.type=='API'" class="node-icon dsi dsi-invoke-api"></span>
            <span *ngIf="node.type=='CONNECTOR'" class="node-icon dsi dsi-connector"></span>
            <span *ngIf="node.type=='DATASERVICE'" class="node-icon dsi dsi-data-service"></span>
            <span *ngIf="node.type=='FUNCTION'" class="node-icon dsi dsi-function"></span>
            <span *ngIf="node.type=='MAPPING'" class="node-icon dsi dsi-mapping"></span>
            <span *ngIf="node.type=='RESPONSE'" class="node-icon dsi dsi-response"></span>
            <span class="ml-3">{{node.type}}</span>
        </div>
        <ng-container *ngFor="let item of node.onSuccess;let f=first">
            <ng-container *ngIf="!f">
                <div class="path-sm border-bottom border-grey"></div>
                <div class="path border-bottom border-grey flex-fill"></div>
            </ng-container>
        </ng-container>
        <div *ngIf="node.onSuccess && node.onSuccess.length>0" class="add-button side d-flex align-items-center">
            <div class="border-bottom border-grey"></div>
            <span
                class="dsi dsi-plus-circle ignore-outside bg-primary border border-primary text-white rounded-circle hover"
                (click)="addTo='curr';showBranchDropdown($event)"></span>
        </div>
    </div>
    <div *ngIf="!node.onSuccess || node.onSuccess.length==0" class="d-flex align-items-start">
        <div class="add-button d-flex flex-column align-items-center" [ngStyle]="getAddStyle(0)">
            <div class="border-left border-grey"></div>
            <span
                class="dsi dsi-plus-circle ignore-outside bg-primary border border-primary text-white rounded-circle hover"
                (click)="addTo='curr';showBranchDropdown($event)"></span>
        </div>
    </div>
    <div *ngIf="node.onSuccess && node.onSuccess.length>0" class="d-flex align-items-start">
        <ng-container *ngFor="let item of node.onSuccess;let i=index;let f=first;">
            <div *ngIf="getCurrentNode(item)" [ngClass]="{'ml-4':!f}" odp-flow-node [prevNode]="currNode"
                [currNode]="getCurrentNode(item)" [(nodeList)]="nodeList" (nodeListChange)="onNodeChange($event)" [branchIndex]="i"></div>
        </ng-container>
    </div>
    <div *ngIf="showNewNodeDropdown" class="node-options-dropdown bg-dark rounded text-white border position-absolute"
        odpClickOutside (outside)="showNewNodeDropdown=false" [ngStyle]="dropDownStyle">
        <div class="node-options-item px-3 py-2 d-flex align-items-center hover" (click)="addNode('FILE')">
            <span class="font-12 fw-400 dsi dsi-file mr-2"></span>
            <span class="font-12 fw-400">FILE</span>
        </div>
        <div class="node-options-item px-3 py-2 d-flex align-items-center hover" (click)="addNode('API')">
            <span class="font-11 fw-400 dsi dsi-invoke-api mr-2"></span>
            <span class="font-12 fw-400">Invoke API</span>
        </div>
        <div class="node-options-item px-3 py-2 d-flex align-items-center hover" (click)="addNode('DATASERVICE')">
            <span class="font-12 fw-400 dsi dsi-data-service mr-2"></span>
            <span class="font-12 fw-400">Data Service</span>
        </div>
        <div class="node-options-item px-3 py-2 d-flex align-items-center hover" (click)="addNode('FUNCTION')">
            <span class="font-12 fw-400 dsi dsi-function mr-2"></span>
            <span class="font-12 fw-400">Function</span>
        </div>
        <div class="node-options-item px-3 py-2 d-flex align-items-center hover" (click)="addNode('MAPPING')">
            <span class="font-12 fw-400 dsi dsi-mapping mr-2"></span>
            <span class="font-12 fw-400">Mapping</span>
        </div>
        <div class="node-options-item px-3 py-2 d-flex align-items-center hover" (click)="addNode('RESPONSE')">
            <span class="font-12 fw-400 dsi dsi-response mr-2"></span>
            <span class="font-12 fw-400">Response</span>
        </div>
    </div>
</div>