<svg viewBox="-12 -11 24 131" height="131px" width="24px">
    <g>
        <!-- <line x1="0" y1="0" x2="0" y2="32"></line>
        <line x1="0" y1="36" x2="0" y2="40"></line>
        <line x1="0" y1="44" x2="0" y2="48"></line>
        <line x1="0" y1="52" x2="0" y2="56"></line> -->
        <g class="circle">
            <circle cx="0" cy="78" r="12"></circle>
        </g>
        <!-- <line x1="0" y1="100" x2="0" y2="104"></line>
        <line x1="0" y1="108" x2="0" y2="112"></line>
        <line x1="0" y1="116" x2="0" y2="120"></line> -->
    </g>
</svg>