.label-width {
  min-width: 120px;
}
.sub-level-width {
  min-width: 105px;
}
.value-width {
  min-width: 250px;
  max-width: 250px;
  // overflow: hidden;
  .label_type {
    display: inline-block;
    padding-left: 40px;
    padding-top: 3px;
  }
}
.list-add-button{
  top: 5px;
  right: 10px;
}
.enum-list-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    column-gap: 10px;
    min-height: 38px;

    .enum-mid-section {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      column-gap: 10px;
    }

    .enum-icons-section {
      display: grid;
      grid-template-columns: auto auto;
      column-gap: 5px;
      align-items: center;
    }
}

.invalid-enum{
  background-color: rgba(150, 0, 0, 0.1);
  border-color: #DD5151;
  &:focus {
    background-color: rgba(150, 0, 0, 0.1);
  }
}