<div [formGroup]="form.get('properties')">

  <!-- DEFAULT VALUE -->
  <div class="d-flex w-100  flex-column mb-4" *ngIf="form.get('properties.default') && !form.get('properties.longText')?.value &&
    !form.get('properties.richText')?.value && !isLibrary && !isDataFormat">
    <div>
      <div class="font-14 fw-300 text-dark mb-2">Default Value</div>
      <div class=" position-relative">
        <ng-container *ngIf="canEdit">
          <input *ngIf="isPlainString(form.get('properties'))" class="form-control" type="text"
            formControlName="default" [ngClass]="{'is-invalid':form.get('properties.default').errors}" id="_default"
            placeholder="Default Value text"
            (blur)="validateTextDefaultValue(form.get('properties.default').value,form.get('properties')) ">
          <input *ngIf="form.get('properties.email').value" class="form-control" type="email"
            [ngClass]="{'is-invalid':form.get('properties.default').hasError('DefaultEmail')}" formControlName="default"
            id="_default" placeholder="Default Value email"
            (blur)="validateEmail('DefaultEmail',form.get('properties.default').value,form.get('properties'))">
          <div *ngIf="form.get('properties.enum')?.length > 0">
            <select class="form-control" formControlName="default" (change)="changeDefault($event)"
              [attr.disabled]="checkStateModel() ? '' : null">
              <option [value]=null selected>Select Value</option>
              <option *ngFor="let attr of form.get('properties.enum').value" [value]="attr">{{attr}}
              </option>
            </select>
          </div>
        </ng-container>
        <ng-container *ngIf="!canEdit">
          <span>{{form.get('properties.default').value}}</span>
        </ng-container>
      </div>
    </div>

    <div>
      <div></div>
      <div class="ml-2">
        <div class="text-danger mt-1" *ngIf="form.get('properties.default').hasError('minlength')">
          <span class="dsi dsi-danger-circle mr-2"></span>
          <span>{{form.get('properties.name').value}} should have min. length
            {{form.get('properties.minlength').value}}</span>
        </div>
        <div class="text-danger mt-1" *ngIf="form.get('properties.default').hasError('maxlength')">
          <span class="dsi dsi-danger-circle mr-2"></span>
          <span>{{form.get('properties.name').value}} should have max. length
            {{form.get('properties.maxlength').value}}</span>
        </div>
        <div class="text-danger mt-1" *ngIf="form.get('properties.default').hasError('pattern')">
          <span class="dsi dsi-danger-circle mr-2"></span>
          <span>Invalid regex pattern</span>
        </div>
        <div class="text-danger mt-1" *ngIf="form.get('properties.default').hasError('DefaultEmail')">
          <span class="dsi dsi-danger-circle mr-2"></span>
          <span>{{form.get('properties.name').value}} should be a valid email</span>
        </div>
      </div>
    </div>
  </div>

  <!-- PATTERN -->
  <div class="d-flex flex-column w-100 mt-4" *ngIf="form.get('properties.pattern') && (form.get('properties._detailedType').value ==='' ||
          form.get('properties._detailedType').value === 'password')">
    <div class="position-relative ">
      <div class="font-14 fw-300 text-dark mb-2">Pattern</div>
      <div>
        <input *ngIf="canEdit" class="form-control" type="text" formControlName="pattern" id="_pattern"
          placeholder="Regular Expression"
          [ngClass]="{'is-invalid':form.get('properties.pattern').hasError('patternValidator')}"
          (blur)="reCalibrateTextDefaultValue('pattern', form.get('properties.pattern').value, form.get('properties')) ;generateSampleRegex(form.get('properties.pattern').value) ">
        <span *ngIf="!canEdit">
          <ng-container *ngIf="form.get('properties.pattern').value">{{form.get('properties.pattern').value}}
          </ng-container>
          <span *ngIf="!form.get('properties.pattern').value" class="text-muted">-</span>
        </span>
      </div>
    </div>

    <!-- <div class="d-flex w-100 my-2"
      *ngIf="sampleRegexValue.length || form.get('properties.pattern').hasError('patternValidator') ">
      <div ></div>
      <div class=" bg-light py-2 pattern font-13 mr-3 text-center">
        <ng-container *ngIf="!form.get('properties.pattern').hasError('patternValidator') && sampleRegexValue.length">
          <span class="text-secondary">Sample :</span>
          <span class="text-accent">{{sampleRegexValue}}</span>
        </ng-container>
        <span class="text-danger" *ngIf="form.get('properties.pattern').hasError('patternValidator')">
          <span class="dsi dsi-close mr-1"></span>
          <span class="text">Invalid regex pattern</span>
        </span>
      </div>
    </div> -->
  </div>

  <!-- VALUES -->
  <div class="w-100 mb-4 mt-4"
    *ngIf="form.get('properties.enum') && form.get('properties._detailedType').value === 'enum'">
    <div class="font-14 fw-300 text-dark mb-2">Values</div>
    <div class=" position-relative">
      <ng-container *ngIf="edit.status">
        <input class="form-control pr-4"
          [ngClass]="{'invalid-enum' : form.get('properties.enum').hasError('emptyEnum') }"
          (paste)="pasteOnList($event,'enum','string')" (keyup.enter)="listEnterKey($event,'enum')" type="text"
          formControlName="_listInput">
        <button type="button" class="list-add-button btn btn-link hover position-absolute p-0 mt-n1"
          [disabled]="form.get('properties._listInput').value===''" (click)="addToList('enum')">
          <span class="text-primary">+ Add</span>
        </button>
      </ng-container>
      <div *ngIf="form.get('properties.enum').hasError('emptyEnum')">
        <span class="text-danger">
          Values cannot be empty
        </span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column w-100 mb-4 overflow-auto" style="max-height: 30vh;"
    *ngIf="form.get('properties.enum') && form.get('properties._detailedType').value === 'enum'">
    <div class="" formArrayName="enum" [sortablejs]="enumList"
      [sortablejsOptions]="{sort: !!edit && !!edit.status, filter: '.disabled', onMove: sortableOnMove, onUpdate: sortableOnUpdate }">
      <ng-container *ngFor="let en of enumList; let i=index;">
        <div class="d-flex p-2" [class.disabled]="!edit || !edit.status">
          <span class="icon" *ngIf="!!edit && !!edit.status">
            <span class="fa fa-bars text-muted hover"></span>
          </span>
          <div class="ml-3">
            <span *ngIf="editStateListOfValues !== i" (click)="editStateListOfValues = i" class="text-truncate"
              placement="top" [ngbTooltip]="en.value">{{en.value}}</span>
            <input *ngIf="editStateListOfValues === i" type="text" [formControl]="en" class="field form-control"
              [id]="en.value" (keyup.enter)="editStateListOfValues = null" odpAutoFocus>
          </div>
          <span *ngIf="edit.status" class="enum-icons-section ml-auto">
            <span class="dsi dsi-trash" (click)="removeFromList('enum',i)" placement="top"
              [ngbTooltip]="'Remove'"></span>
          </span>
        </div>

      </ng-container>
    </div>
    <button type="button" class="btn btn-white my-1 w-100" *ngIf="enumList.length>2 && edit.status"
      (click)="clearList('enum')">
      Clear All
    </button>
  </div>

  <div class="w-100 mb-4 mt-4" *ngIf="form.get('properties.hasTokens') && (form.get('properties.longText').value
                  || form.get('properties.richText').value)">
    <div class="font-14 text-dark mb-2">Tokens</div>
    <div class=" position-relative" *ngIf="canEdit; else show_list">
      <input class="form-control" *ngIf="form.get('properties._type').value == 'String'"
        (paste)="pasteOnList($event,'hasTokens','string')" type="text" formControlName="_listInput"
        (keyup.enter)="listEnterKey($event,'hasTokens')">
      <button type="button" class="list-add-button btn btn-link hover position-absolute p-0"
        [disabled]="form.get('properties._listInput').value==''" (click)="addToList('hasTokens')">
        <span class="dsi dsi-plus text-accent"></span>
      </button>
    </div>
    <ng-template #show_list>
      <ol>
        <li *ngFor="let en of hasTokensList; let i=index;">{{en.value}}</li>
      </ol>
    </ng-template>
  </div>
  <div class="d-flex flex-column w-100 mb-4" *ngIf="form.get('properties.hasTokens') && (form.get('properties.longText').value
                   || form.get('properties.richText').value) && canEdit">
    <div class="enum-list-item p-2 d-flex justify-content-between align-items-center"
      *ngFor="let en of hasTokensList; let i=index;">
      <span>{{en.value}}</span>
      <span class="hover float-right text-danger" (click)="removeFromList('hasTokens',i)">
        <span class="dsi dsi-trash"></span>
      </span>
    </div>
    <button type="button" class="btn btn-min-width btn-primary my-1 w-100" *ngIf="hasTokensList.length>2 && canEdit"
      (click)="clearList('hasTokens')">Clear
      All
    </button>
  </div>

  <!-- MIN and MAX LENGTH -->
  <ng-container *ngIf="formatType!='FLATFILE'">
    <div class="d-flex flex-column w-100 mt-4">
      <div class="row no-gutters">
        <div class="col-6">
          <ng-container *ngIf="form.get('properties.minlength')">
            <div class="font-14 fw-300 text-dark mb-2">Min Length</div>
            <input *ngIf="canEdit" class=" form-control short" placeholder="Minimum length"
              [ngClass]="{'is-invalid':form.get('properties.minlength').dirty && form.hasError('minMaxLength')}"
              type="text" min="0" #minlengthEle formControlName="minlength" id="_minLength"
              (blur)="reCalibrateTextDefaultValue('minlength', form.get('properties.minlength').value, form.get('properties'))">
            <span
              *ngIf="!canEdit && form.get('properties.minlength') && form.get('properties.minlength').value">{{form.get('properties.minlength').value}}</span>
            <span class="text-muted" *ngIf="!canEdit && !form.get('properties.minlength').value">-</span>
          </ng-container>
        </div>
        <div class="col-6">
          <ng-container *ngIf="form.get('properties.maxlength')">
            <div class="font-14 fw-300 text-dark mb-2">Max Length</div>
            <input *ngIf="canEdit" class=" form-control short mb-2" placeholder="Maximum length"
              [ngClass]="{'is-invalid':form.get('properties.maxlength').dirty && form.hasError('minMaxLength')}"
              type="text" min="0" #maxlengthEle formControlName="maxlength" id="_maxLength"
              (blur)="reCalibrateTextDefaultValue('maxlength', form.get('properties.maxlength').value, form.get('properties'))">
            <span
              *ngIf="!canEdit && form.get('properties.maxlength') && form.get('properties.maxlength').value">{{form.get('properties.maxlength').value}}</span>
            <span class="text-muted" *ngIf="!canEdit && !form.get('properties.maxlength').value">-</span>
          </ng-container>

        </div>
        <div class="col-12">
          <div class="font-12 text-secondary mb-2"
            *ngIf="form.get('properties.minlength') && form.get('properties.maxlength') && form.get('properties._detailedType').value==''">
            Min and max length of the attribute</div>
          <div class="font-12 text-danger mt-1 d-flex align-items-center"
            *ngIf="form.get('properties.minlength').dirty && form.get('properties').hasError('minMaxLength')">
            <span class="dsi dsi-danger-circle mr-2"></span>
            <span>Min Length value cannot be greater then Max Length value</span>
          </div>
        </div>
        <div class="font-12 text-danger mt-1 d-flex align-items-center"
          *ngIf="form.get('properties.maxlength').dirty && form.get('properties').hasError('minMaxLength')">
          <span class="dsi dsi-danger-circle mr-2"></span>
          <span>Max Length value cannot be lesser then Min Length value</span>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #deleteModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between">
      <span class="font-20 fw-600">{{deleteModal.title}}</span>
      <span class="dsi dsi-close text-secondary hover ml-auto" (click)="deleteModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-center my-5" [ngClass]="{'text-truncate': deleteModal.message.length > 65}">
      {{deleteModal.message}}
    </p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-delete" (click)="deleteModalTemplateRef.close(true)"
        id="sbDeleteModalYes">
        Yes
      </button>
    </div>
  </div>
</ng-template>