<div [formGroup]="form.get('properties')">

  <div class="d-flex w-100  flex-column mb-4" *ngIf="form.get('properties.default') && !form.get('properties.longText')?.value &&
    !form.get('properties.richText')?.value && !isLibrary && !isDataFormat">
    <div>
      <div class=" text-secondary">Default Value
      </div>
      <div class=" position-relative">
        <ng-container *ngIf="canEdit">
          <input *ngIf="isPlainString(form.get('properties'))" class="form-control" type="text"
            formControlName="default" [ngClass]="{'is-invalid':form.get('properties.default').errors}" id="_default"
            placeholder="Default Value text"
            (blur)="validateTextDefaultValue(form.get('properties.default').value,form.get('properties')) ">
          <input *ngIf="form.get('properties.email').value" class="form-control" type="email"
            [ngClass]="{'is-invalid':form.get('properties.default').hasError('DefaultEmail')}" formControlName="default"
            id="_default" placeholder="Default Value email"
            (blur)="validateEmail('DefaultEmail',form.get('properties.default').value,form.get('properties'))">
          <div *ngIf=" form.get('properties._detailedType').value === 'enum'">
            <select class="form-control" formControlName="default" (change)="changeDefault($event)"
              [attr.disabled]="checkStateModel() ? '' : null">
              <option [value]=null selected>Select Value</option>
              <option *ngFor="let attr of form.get('properties.enum').value" [value]="attr">{{attr}}
              </option>
            </select>
          </div>
        </ng-container>
        <ng-container *ngIf="!canEdit">
          <span>{{form.get('properties.default').value}}</span>
        </ng-container>
      </div>
    </div>

    <div>
      <div></div>
      <div class="ml-2">
        <span class="text-danger" *ngIf="form.get('properties.default').hasError('minlength')"><span
            class="fa fa-times mr-1"></span>{{form.get('properties.name').value}}
          should have min. length {{form.get('properties.minlength').value}}
        </span>
        <span class="text-danger" *ngIf="form.get('properties.default').hasError('maxlength')"><span
            class="fa fa-times mr-1"></span>
          {{form.get('properties.name').value}} should have max. length {{form.get('properties.maxlength').value}}
        </span>
        <span class="text-danger" *ngIf="form.get('properties.default').hasError('pattern')"><span
            class="fa fa-times mr-1"></span>
          Invalid regex pattern</span>
        <span class="text-danger" *ngIf="form.get('properties.default').hasError('DefaultEmail')"><span
            class="fa fa-times mr-1"></span>
          {{form.get('properties.name').value}} should be a valid email</span>
      </div>
    </div>
  </div>
  <div *ngIf=" showSecureText()" class="w-100 mt-4" [ngClass]="{'mb-4': collectionSecureText()}">
    <div class=" text-secondary">Secure</div>
    <!-- <div >
      <select [attr.disabled]="!canEdit ? '' : null" class="form-control" formControlName="password">
        <option [ngValue]="true">True</option>
        <option [ngValue]="false">False</option>
      </select> -->
    <div class=" position-relative">
      <ng-container *ngIf="canEdit">
        <label *ngIf="canEdit" class="switch accent">
          <input type="checkbox" formControlName="password">
          <span class="slider"></span>
          <span class="toggler"></span>
          <span class="ml-3">{{form.get('properties.password')?.value ? 'Yes' : 'No'}}</span>
        </label>
      </ng-container>
      <ng-container *ngIf="!canEdit">
        <span class="text d-flex" *ngIf=" form.get('properties.password').value === true">
          <span class="d-flex align-items-center justify-content-center rounded-circle bg-accent check-circle mr-1">
            <span class="fa fa-check text-white"></span>
          </span>
          <span class="text">Yes</span>
        </span>
        <span class="text d-flex" *ngIf="form.get('properties.password').value === false">
          <span class="d-flex align-items-center justify-content-center rounded-circle bg-secondary check-circle mr-1">
          </span>
          <span class="text">No</span>
        </span>
      </ng-container>
    </div>

    <!-- </div> -->
  </div>
  <div class="d-flex flex-column w-100 mt-4" *ngIf="form.get('properties.pattern') && (form.get('properties._detailedType').value ==='' ||
          form.get('properties._detailedType').value === 'password')">
    <div class="position-relative ">
      <div class=" text-secondary">Pattern</div>
      <div>
        <input *ngIf="canEdit" class="form-control" type="text" formControlName="pattern" id="_pattern"
          placeholder="Regular Expression"
          [ngClass]="{'is-invalid':form.get('properties.pattern').hasError('patternValidator')}"
          (blur)="reCalibrateTextDefaultValue('pattern', form.get('properties.pattern').value, form.get('properties')) ;generateSampleRegex(form.get('properties.pattern').value) ">
        <span *ngIf="!canEdit">
          <ng-container *ngIf="form.get('properties.pattern').value">{{form.get('properties.pattern').value}}
          </ng-container>
          <span *ngIf="!form.get('properties.pattern').value" class="text-muted">-</span>
        </span>
      </div>
    </div>

    <!-- <div class="d-flex w-100 my-2"
      *ngIf="sampleRegexValue.length || form.get('properties.pattern').hasError('patternValidator') ">
      <div ></div>
      <div class=" bg-light py-2 pattern font-13 mr-3 text-center">
        <ng-container *ngIf="!form.get('properties.pattern').hasError('patternValidator') && sampleRegexValue.length">
          <span class="text-secondary">Sample :</span>
          <span class="text-accent">{{sampleRegexValue}}</span>
        </ng-container>
        <span class="text-danger" *ngIf="form.get('properties.pattern').hasError('patternValidator')">
          <span class="fa fa-times mr-1"></span>
          <span class="text">Invalid regex pattern</span>
        </span>
      </div>
    </div> -->
  </div>
  <div class="d-flex w-100 mb-4"
    *ngIf="form.get('properties.enum') && form.get('properties._detailedType').value === 'enum'">
    <div class=" text-secondary">Values</div>
    <div class=" position-relative">
      <ng-container *ngIf="edit.status">
        <input class="form-control pr-4"
          [ngClass]="{'invalid-enum' : form.get('properties.enum').hasError('emptyEnum') }"
          (paste)="pasteOnList($event,'enum','string')" (keyup.enter)="listEnterKey($event,'enum')" type="text"
          formControlName="_listInput">
        <button type="button" class="list-add-button btn btn-link hover position-absolute p-0"
          [disabled]="form.get('properties._listInput').value===''" (click)="addToList('enum')">
          <span class="dsi dsi-plus text-primary"></span>
        </button>
      </ng-container>
      <div *ngIf="form.get('properties.enum').hasError('emptyEnum')">
        <span class="text-danger">
          Values cannot be empty
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column w-100 mb-4"
    *ngIf="form.get('properties.enum') && form.get('properties._detailedType').value === 'enum'">
    <div class="border-left" formArrayName="enum" [sortablejs]="enumList"
      [sortablejsOptions]="{sort: !!edit && !!edit.status, filter: '.disabled', onMove: sortableOnMove, onUpdate: sortableOnUpdate }">
      <ng-container *ngFor="let en of enumList; let i=index;">
        <div class="enum-list-item mx-2 px-2 py-1" [class.disabled]="!edit || !edit.status">
          <span class="icon" *ngIf="!!edit && !!edit.status">
            <span class="fa fa-bars text-muted hover"></span>
          </span>
          <div class="enum-mid-section">
            <span *ngIf="editStateListOfValues !== i" (click)="editStateListOfValues = i" class="text-truncate"
              placement="top" [ngbTooltip]="en.value">{{en.value}}</span>
            <input *ngIf="editStateListOfValues === i" type="text" [formControl]="en" class="field form-control"
              [id]="en.value" (keyup.enter)="editStateListOfValues = null" odpAutoFocus>
          </div>
          <span *ngIf="edit.status" class="enum-icons-section text-primary">
            <span class="fa fa-times" (click)="removeFromList('enum',i)" placement="top" [ngbTooltip]="'Remove'"></span>
          </span>
        </div>

      </ng-container>
    </div>
    <button type="button" class="btn btn-primary my-1 w-100" *ngIf="enumList.length>2 && edit.status"
      (click)="clearList('enum')">Clear
      All
    </button>
  </div>

  <div class="d-flex w-100 mb-4" *ngIf="form.get('properties.hasTokens') && (form.get('properties.longText').value
                  || form.get('properties.richText').value)">
    <div class=" text-secondary">Tokens</div>
    <div class=" position-relative" *ngIf="canEdit; else show_list">
      <input class="form-control" *ngIf="form.get('properties._type').value == 'String'"
        (paste)="pasteOnList($event,'hasTokens','string')" type="text" formControlName="_listInput"
        (keyup.enter)="listEnterKey($event,'hasTokens')">
      <button type="button" class="list-add-button btn btn-link hover position-absolute p-0"
        [disabled]="form.get('properties._listInput').value==''" (click)="addToList('hasTokens')">
        <span class="dsi dsi-plus text-primary"></span>
      </button>
    </div>
    <ng-template #show_list>
      <ol>
        <li *ngFor="let en of hasTokensList; let i=index;">{{en.value}}</li>
      </ol>
    </ng-template>
  </div>
  <div class="d-flex flex-column w-100 mb-4" *ngIf="form.get('properties.hasTokens') && (form.get('properties.longText').value
                   || form.get('properties.richText').value) && canEdit">
    <div class="list-group-item" *ngFor="let en of hasTokensList; let i=index;">
      <span>{{en.value}}</span>
      <span class="hover float-right text-primary" (click)="removeFromList('hasTokens',i)">
        <span class="fa fa-times"></span>
      </span>
    </div>
    <button type="button" class="btn btn-min-width btn-primary my-1 w-100" *ngIf="hasTokensList.length>2 && canEdit"
      (click)="clearList('hasTokens')">Clear
      All
    </button>
  </div>
  <ng-container *ngIf="formatType!='FLATFILE'">
    <div class="d-flex flex-column w-100 mb-4 mt-4"
      *ngIf="form.get('properties.minlength') && form.get('properties._detailedType').value==''">
      <div class="d-flex flex-row mb-4">
        <div class=" text-secondary">Length</div>
        <div class=" text-accent">Min and max lengths of the value</div>
      </div>
      <div class="border-left d-flex flex-column">
        <div class="ml-2 pl-2 mb-3 mt-2 d-flex flex-column position-relative">
          <div class="d-flex">
            <div class="sub-level-width text-secondary">Min.</div>
            <input *ngIf="canEdit" class=" form-control short" placeholder="Minimum length"
              [ngClass]="{'is-invalid':form.get('properties.minlength').dirty && form.hasError('minMaxLength')}"
              type="text" min="0" #minlengthEle formControlName="minlength" id="_minLength"
              (blur)="reCalibrateTextDefaultValue('minlength', form.get('properties.minlength').value, form.get('properties'))">
            <span
              *ngIf="!canEdit && form.get('properties.minlength') && form.get('properties.minlength').value">{{form.get('properties.minlength').value}}</span>
            <span class="text-muted" *ngIf="!canEdit && !form.get('properties.minlength').value">-</span>
          </div>
          <div class="d-flex ml-2">
            <div class="sub-level-width"></div>
            <span class=" text-danger"
              *ngIf="form.get('properties.minlength').dirty && form.get('properties').hasError('minMaxLength')"><span
                class="fa fa-times mr-1"></span>Min
              Length value cannot be greater then Max Length value</span>
          </div>
        </div>
        <div class="d-flex w-10 ml-2 pl-2 d-flex flex-column position-relative"
          *ngIf="form.get('properties.maxlength') && form.get('properties._detailedType').value==''">
          <div class="d-flex">
            <div class="sub-level-width text-secondary">Max.</div>
            <input *ngIf="canEdit" class=" form-control short mb-2" placeholder="Maximum length"
              [ngClass]="{'is-invalid':form.get('properties.maxlength').dirty && form.hasError('minMaxLength')}"
              type="text" min="0" #maxlengthEle formControlName="maxlength" id="_maxLength"
              (blur)="reCalibrateTextDefaultValue('maxlength', form.get('properties.maxlength').value, form.get('properties'))">
            <span
              *ngIf="!canEdit && form.get('properties.maxlength') && form.get('properties.maxlength').value">{{form.get('properties.maxlength').value}}</span>
            <span class="text-muted" *ngIf="!canEdit && !form.get('properties.maxlength').value">-</span>
          </div>
          <div class="d-flex ml-2">
            <div class="sub-level-width"></div>
            <span class=" text-danger"
              *ngIf="form.get('properties.maxlength').dirty && form.get('properties').hasError('minMaxLength')"><span
                class="fa fa-times mr-1"></span>Max
              Length value cannot be lesser then Min Length value</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #deleteModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between">
      <span class="font-20 fw-500">{{deleteModal.title}}</span>
      <span class="fa fa-times text-secondary hover ml-auto" (click)="deleteModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-center my-5" [ngClass]="{'text-truncate': deleteModal.message.length > 65}">
      {{deleteModal.message}}
    </p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-delete" (click)="deleteModalTemplateRef.close(true)"
        id="sbDeleteModalYes">
        Yes
      </button>
    </div>
  </div>
</ng-template>