<div class="wrapper d-flex flex-column w-100 p-4 ">
  <div class="d-flex justify-content-between mt-4" *ngIf="canView('S')">
    <div class="d-flex flex-column">
      <div class="font-14 fw-700 my-2">File storage type</div>
      <!-- <div class="sub-heading font-14 fw-400">
            Keep a history of data when data is changed?
        </div> -->
    </div>
    <div class="d-flex flex-column">
      <ng-container>
        <select class="form-control my-2" [(ngModel)]="type" [ngModelOptions]="{ standalone: true }"
          [disabled]="!edit.status || !canEdit('S')" (change)="changeType()">
          <option *ngFor="let type of fileStorageTypes" [value]="type.label">{{type.label}}</option>

        </select>
      </ng-container>
      <!-- <div class="btn-group btn-group-toggle" ngbRadioGroup (change)="changeType()" [(ngModel)]="type">
        <label ngbButtonLabel class="btn btn-outline-dark">
          <input ngbButton type="radio" value="gridfs" [disabled]="!edit.status || !canEdit('S')"
            [checked]="type === 'gridfs'" />
          Gridfs
        </label>
        <label ngbButtonLabel class="btn btn-outline-dark">
          <input ngbButton type="radio" value="AZBLOB" [disabled]="!edit.status || !canEdit('S')"
            [checked]="type === 'AZBLOB'" />
          Azure blob
        </label>
      </div> -->
    </div>
  </div>
  <div class="d-flex justify-content-between mt-4" *ngIf="canView('S') && showConnectors">
    <div class="d-flex flex-column">
      <div class="font-14 fw-700 my-2">Connectors</div>
      <!-- <div class="sub-heading font-14 fw-400">
            Keep a history of data when data is changed?
        </div> -->
    </div>
    <div class="d-flex flex-column">
      <ng-container>
        <select class="form-control my-2" [(ngModel)]="connectorId" [ngModelOptions]="{ standalone: true }"
          [disabled]="!edit.status || !canEdit('S')" (change)="selectConnector()">
          <option *ngFor="let connector of typeBasedConnectors" [value]="connector._id">{{connector.name}}</option>

        </select>
      </ng-container>
    </div>
  </div>
</div>