<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" [ngStyle]="dimention">
  <g [ngClass]="{'active':active}">
    <rect [ngStyle]="style" class="cls-1" y="3" width="3" height="2" />
    <rect [ngStyle]="style" class="cls-2" y="7" width="3" height="2" />
    <rect [ngStyle]="style" class="cls-2" y="11" width="3" height="2" />
    <rect [ngStyle]="style" x="5" y="3" width="10" height="2" />
    <rect [ngStyle]="style" x="5" y="7" width="5" height="2" />
    <rect [ngStyle]="style" x="5" y="11" width="8" height="2" />
  </g>
</svg>