<div class="d-flex flex-column groups-content w-100 p-4">
  <div class="top-bar d-flex align-items-center justify-content-between">
    <div class="w-100">
      <h5 class="font-weight-bold font-20">Groups</h5>
    </div>
    <!-- <select name="permissions" id="permissions" class="all-permissions-selector custom-select"
      [ngModel]="globalPermission" (ngModelChange)="changeAllPermissions($event)">
      <option value="custom">Custom</option>
      <option value="blocked">None</option>
      <option value="view">View</option>
      <option value="manage">Manage</option>
    </select> -->
  </div>
  <div class="d-flex flex-column w-100">
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Access Level</div>
          <span class="text-muted font-13">
            Permission to manage basic details of a group.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupDataServicesBlocked" name="groupDataServices" size="20"
            [checked]="basicPermission=='blocked'" (checkedChange)="basicPermission='PNGB'">
          </odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupDataServicesView" name="groupDataServices" size="20"
            [checked]="basicPermission=='view'" (checkedChange)="basicPermission='PVGB'">
          </odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupDataServicesView" name="groupDataServices" size="20"
            [checked]="basicPermission=='manage'" (checkedChange)="basicPermission=['PMGBC', 'PMGBU', 'PMGBD']">
          </odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Users Tab</div>
          <span class="text-muted font-13">
            Permission to manage users in group.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupUsersBlocked" name="groupUsers" size="20" [checked]="membersPermission=='blocked'"
            (checkedChange)="membersPermission='PNGMU'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupUsersView" name="groupUsers" size="20" [checked]="membersPermission=='view'"
            (checkedChange)="membersPermission='PVGMU'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupUsersManage" name="groupUsers" size="20" [checked]="membersPermission=='manage'"
            (checkedChange)="membersPermission=['PMGMUC','PMGMUD']"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Bots Tab</div>
          <span class="text-muted font-13">
            Permission to manage bots in group.
          </span>
        </div>
      </div>
      <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupBotsBlocked" name="groupBots" size="20" [checked]="botsPermission=='blocked'"
            (checkedChange)="botsPermission='PNGMB'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupBotsView" name="groupBots" size="20" [checked]="botsPermission=='view'"
            (checkedChange)="botsPermission='PVGMB'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupBotsManage" name="groupBots" size="20" [checked]="botsPermission=='manage'"
            (checkedChange)="botsPermission=['PMGMBC','PMGMBD']"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div>
    </div>


    <div class="d-flex flex-column justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Author Tab</div>
          <span class="text-muted font-13">
            Permission to manage author roles in group.
          </span>
        </div>
      </div>
      <!-- <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupAuthorBlocked" name="groupAuthor" size="20" [checked]="botsPermission=='blocked'"
            (checkedChange)="botsPermission='PNGMB'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupAuthorView" name="groupAuthor" size="20" [checked]="botsPermission=='view'"
            (checkedChange)="botsPermission='PVGMB'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupAuthorManage" name="groupAuthor" size="20" [checked]="botsPermission=='manage'"
            (checkedChange)="botsPermission=['PMGMBC','PMGMBD']"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div> -->
      <div class="offset-2">
        <ng-container *ngFor="let item of authorModulesList">
          <div class="d-flex justify-content-between mt-4">
            <div>
              <div class="p-3 text-dark">
                <div class="font-weight-bold">{{item.label}}</div>
                <span class="text-muted font-13">
                  Permission to view, assign or unassign roles in Author tab
                </span>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="permission-btn-block d-flex align-items-center justify-content-end">
                <odp-round-radio id="groupAuthorBlocked" name="groupAuthor" size="20"
                  [checked]="getModulePermissionLevel(item.segment,item.entity)=='blocked'"
                  (checkedChange)="changeModulePermissionLevel('N',item.segment,item.entity)"></odp-round-radio>
                <span class="text-dark ml-2">Blocked</span>
              </div>
              <div class="permission-btn-block d-flex align-items-center justify-content-end">
                <odp-round-radio id="groupAuthorView" name="groupAuthor" size="20"
                  [checked]="getModulePermissionLevel(item.segment,item.entity)=='view'"
                  (checkedChange)="changeModulePermissionLevel('V',item.segment,item.entity)"></odp-round-radio>
                <span class="text-dark ml-2">View</span>
              </div>
              <div class="permission-btn-block d-flex align-items-center justify-content-end">
                <odp-round-radio id="groupAuthorManage" name="groupAuthor" size="20"
                  [checked]="getModulePermissionLevel(item.segment,item.entity)=='manage'"
                  (checkedChange)="changeModulePermissionLevel('M',item.segment,item.entity)"></odp-round-radio>
                <span class="text-dark ml-2">Manage</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>





    <div class="d-flex flex-column justify-content-between border-bottom py-3">
      <div>
        <div class="p-3 text-dark">
          <div class="font-weight-bold">Appcenter Tab</div>
          <span class="text-muted font-13">
            Permission to manage appcenter roles in group.
          </span>
        </div>
      </div>
      <!-- <div class="d-flex align-items-center">
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupAppcenterBlocked" name="groupAppcenter" size="20"
            [checked]="botsPermission=='blocked'" (checkedChange)="botsPermission='PNGMB'"></odp-round-radio>
          <span class="text-dark ml-2">Blocked</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupAppcenterView" name="groupAppcenter" size="20" [checked]="botsPermission=='view'"
            (checkedChange)="botsPermission='PVGMB'"></odp-round-radio>
          <span class="text-dark ml-2">View</span>
        </div>
        <div class="permission-btn-block d-flex align-items-center justify-content-end">
          <odp-round-radio id="groupAppcenterManage" name="groupAppcenter" size="20"
            [checked]="botsPermission=='manage'" (checkedChange)="botsPermission=['PMGMBC','PMGMBD']"></odp-round-radio>
          <span class="text-dark ml-2">Manage</span>
        </div>
      </div> -->
      <div class="offset-2">
        <ng-container *ngFor="let item of appcenterModulesList">
          <div class="d-flex justify-content-between mt-4">
            <div>
              <div class="p-3 text-dark">
                <div class="font-weight-bold">{{item.label}}</div>
                <span class="text-muted font-13">
                  Permission to view, assign or unassign roles in Author tab
                </span>
              </div>
            </div>
            <div class="d-flex align-items-center">
              <div class="permission-btn-block d-flex align-items-center justify-content-end">
                <odp-round-radio id="groupAuthorBlocked" name="groupAuthor" size="20"
                  [checked]="getModulePermissionLevel(item.segment,item.entity)=='blocked'"
                  (checkedChange)="changeModulePermissionLevel('N',item.segment,item.entity)"></odp-round-radio>
                <span class="text-dark ml-2">Blocked</span>
              </div>
              <div class="permission-btn-block d-flex align-items-center justify-content-end">
                <odp-round-radio id="groupAuthorView" name="groupAuthor" size="20"
                  [checked]="getModulePermissionLevel(item.segment,item.entity)=='view'"
                  (checkedChange)="changeModulePermissionLevel('V',item.segment,item.entity)"></odp-round-radio>
                <span class="text-dark ml-2">View</span>
              </div>
              <div class="permission-btn-block d-flex align-items-center justify-content-end">
                <odp-round-radio id="groupAuthorManage" name="groupAuthor" size="20"
                  [checked]="getModulePermissionLevel(item.segment,item.entity)=='manage'"
                  (checkedChange)="changeModulePermissionLevel('M',item.segment,item.entity)"></odp-round-radio>
                <span class="text-dark ml-2">Manage</span>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>