<div class="d-flex flex-column">
    <div class="sub-heading text-dark font-weight-bold mb-3 d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
            <span class="fa fa-shield-alt text-accent mr-2"></span>
            <span class="text">Profiles</span>
        </div>
        <odp-search-box (enteredText)="searchTerm=$event" (reset)="searchTerm=null"></odp-search-box>
        <!-- <button type="button" class="btn btn-link" (click)="addSecret()">
            <span class="dsi dsi-plus-circle mr-2"></span>
            <span class="text">New Profile</span>
        </button> -->
        <div>
            &nbsp;
            <button type="button" class="btn btn-sm btn-link" (click)="addSecret()" *ngIf="edit.status && edit.id && canCreateSecret()">
                <span class="dsi dsi-plus-circle mr-2"></span>
                <span class="text">New Profile</span>
            </button>

        </div>
    </div>
    <div class="d-flex flex-wrap mt-3 secrets-list">
        <div *ngIf="!secretList || secretList.length==0 && !edit.status" class="text-center w-100">No Profiles found</div>
        <div class="card secret-card mr-3 mb-3" (click)="addSecret()"
            *ngIf="!secretList || secretList.length==0 && edit.status && edit.id && canCreateSecret()">
            <div class="card-body d-flex flex-column p-0 align-items-center">
                <div class="secret-card-tag border border-border my-3"></div>
                <div class="secret-card-type text-primary align-self-start ml-4 mt-2">New Profile</div>
                <div
                    class="add-circle rounded-circle bg-primary text-white mt-auto align-self-end m-3 d-flex align-items-center justify-content-center">
                    <span class="dsi dsi-plus"></span>
                </div>
            </div>
        </div>
        <div class="card secret-card mr-3 mb-3" *ngFor="let item of secretList|filterTeam:searchTerm;">
            <div class="card-body d-flex flex-column p-0 align-items-center">
                <div class="secret-card-tag border border-border my-3"></div>
                <div class="secret-card-type text-border d-flex align-self-start ml-4">
                    <ng-container *ngIf="item.type=='credentials'">User Identity</ng-container>
                    <ng-container *ngIf="item.type=='apiKey'">API Key</ng-container>
                    <ng-container *ngIf="item.type=='certificate'">Digital Certificate</ng-container>
                </div>
                <div class="ml-4 mt-3 align-self-start font-13 profile-name">Name</div>
                <div class="ml-4 mt-1 align-self-start text-dark text-truncate">{{item.name}}</div>
                <ng-container *ngIf="item.type=='credentials'">
                    <div class="ml-4 mt-2 align-self-start font-13 profile-name">Username</div>
                    <div class="ml-4 mt-1 align-self-start text-dark text-truncate">{{item.meta.username}}</div>
                </ng-container>
                <ng-container *ngIf="item.type=='apiKey'">
                    <div class="ml-4 mt-2 align-self-start text-dark">**********</div>
                </ng-container>
                <ng-container *ngIf="item.type=='certificate'">
                    <div class="ml-4 mt-2 align-self-start font-13 profile-name">File</div>
                    <div class="ml-4 mt-1 align-self-start text-dark text-truncate">{{item.meta.filename}}</div>
                </ng-container>
                <div class="foot-btn d-flex mt-auto align-items-center justify-content-center border-top w-100">
                    <button type="button" class="btn btn-link text-danger ml-2" (click)="removeSecret(item)"
                        *ngIf="edit.status && edit.id && canDeleteSecret()">Delete</button>
                    <!-- <button type="button" class="btn btn-link mr-2" (click)="editSecret(item)"
                        *ngIf="edit.status && edit.id">Modify</button> -->
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #addSecretModal>
    <div class="modal-body d-flex flex-column p-0" [formGroup]="form">
        <div class="add-secret-wrapper bg-white d-flex flex-column w-10 p-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="d-flex align-items-center">
                    <span class="icon-wrapper rounded-circle d-flex align-items-center justify-content-center mr-2">
                        <span class="fa fa-shield-alt text-create mr-2"></span>
                    </span>
                    <span class="font-weight-bold mb-1">Create New Profile</span>
                </div>
                <span class="fa fa-times text-muted hover" (click)="addSecretModalRef.close(false)"></span>
            </div>
            <div class="d-flex flex-column align-items-start mb-3 px-3">
                <label for="name" class="text-secondary font-13">Name<sup class="text-danger">*</sup></label>
                <div class="name-wrapper position-relative w-100">
                    <input type="text" id="name" class="form-control" placeholder="Untitled Secret"
                        formControlName="name"
                        [ngClass]="{'is-invalid':form.get('name').touched && form.get('name').invalid}">
                    <span *ngIf="form.get('name').touched && form.get('name').hasError('duplicate')"
                        class="fa fa-exclamation-circle text-danger position-absolute"
                        ngbTooltip="Duplicate name"></span>
                    <span *ngIf="form.get('name').touched && form.get('name').hasError('required')"
                        class="fa fa-exclamation-circle text-danger position-absolute"
                        ngbTooltip="Name is required"></span>
                </div>
            </div>
            <div class="text-center">Choose your profile type</div>
            <div class="d-flex justify-content-between mt-4">
                <label for="credentials"
                    class="type-option d-flex align-items-center justify-content-between rounded px-2"
                    [ngClass]="{'active':credentialsControl.checked}">
                    <span class="text font-13">User Identity</span>
                    <input #credentialsControl type="radio" id="credentials" class="d-none" name="type"
                        value="credentials" formControlName="type"
                        (change)="addRemoveValidators('userIdentity',credentialsControl.checked)">
                    <span class="check-circle rounded-circle border d-flex align-items-center justify-content-center"
                        [ngClass]="{'bg-accent':credentialsControl.checked}">
                        <span class="inner-check-circle rounded-circle bg-white"></span>
                    </span>
                </label>
                <label for="apiKey" class="type-option d-flex align-items-center justify-content-between rounded px-2"
                    [ngClass]="{'active':apiKeyControl.checked}">
                    <span class="text font-13">API Key</span>
                    <input #apiKeyControl type="radio" id="apiKey" class="d-none" name="type" value="apiKey"
                        formControlName="type" (change)="addRemoveValidators('apiKey',apiKeyControl.checked)">
                    <span class="check-circle rounded-circle border d-flex align-items-center justify-content-center"
                        [ngClass]="{'bg-accent':apiKeyControl.checked}">
                        <span class="inner-check-circle rounded-circle bg-white"></span>
                    </span>
                </label>
                <label for="certificate"
                    class="type-option d-flex align-items-center justify-content-between rounded px-2"
                    [ngClass]="{'active':certificateControl.checked}">
                    <span class="text font-13">Certificate</span>
                    <input #certificateControl type="radio" id="certificate" class="d-none" name="type"
                        value="certificate" formControlName="type"
                        (change)="addRemoveValidators('certificate',certificateControl.checked)">
                    <span class="check-circle rounded-circle border d-flex align-items-center justify-content-center"
                        [ngClass]="{'bg-accent':certificateControl.checked}">
                        <span class="inner-check-circle rounded-circle bg-white"></span>
                    </span>
                </label>
            </div>
        </div>
        <div class="add-secret-wrapper d-flex flex-column py-3 px-4 bg-light border-top"
            *ngIf="credentialsControl.checked || apiKeyControl.checked || certificateControl.checked">
            <ng-container formGroupName="value" *ngIf="credentialsControl.checked">
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="username" class="text-secondary font-13">Username<sup
                            class="text-danger">*</sup></label>
                    <input type="text" id="username" class="form-control" placeholder="Username"
                        formControlName="username">
                </div>
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="password" class="text-secondary font-13">Password<sup
                            class="text-danger">*</sup></label>
                    <input type="password" id="password" class="form-control" placeholder="Password"
                        formControlName="password">
                </div>
            </ng-container>
            <ng-container formGroupName="value" *ngIf="apiKeyControl.checked">
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="apiKey" class="text-secondary font-13">API Key<sup class="text-danger">*</sup></label>
                    <textarea name="apiKey" id="apiKey" rows="4" class="form-control" formControlName="apiKey"
                        placeholder="API Key"></textarea>
                    <!-- <input type="text" id="apiKey" class="form-control" placeholder="API Key" formControlName="apiKey"> -->
                </div>
            </ng-container>
            <ng-container formGroupName="value" *ngIf="certificateControl.checked">
                <div class="d-flex flex-column align-items-start mb-3">
                    <label for="certificate" class="text-secondary font-13">Certificate<sup
                            class="text-danger">*</sup></label>
                    <input type="file" id="certificate" class="form-control" (change)="readCert($event)"
                        placeholder="Upload Certificate">
                </div>
            </ng-container>
            <!-- <div class="d-flex flex-column align-items-start mb-3">
                <label for="description" class="text-secondary font-13">Description</label>
                <textarea type="text" id="description" class="form-control" rows="4" placeholder="Optional"
                    formControlName="description"></textarea>
            </div> -->
            <div class="d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-create btn-min-width" [disabled]="form.invalid"
                    (click)="addSecretModalRef.close(true)">Create</button>
            </div>
        </div>
    </div>
</ng-template>

<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>