<div class="rule-block-select d-flex flex-column align-items-start position-relative">
    <div class="d-flex align-items-center mb-2 w-100">
        <div class="text-right left-side">
            <span class="font-weight-bold">TRAVERSE</span>
        </div>
        <div class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white">
            <div class="data-key-path d-flex align-items-center px-2">
                <div *ngIf="dataService && dataService.name"
                    class="selected-data-service d-flex align-items-center ignore-outside"
                    [ngbTooltip]="edit.status ? 'Change' : ''" [ngClass]="{'hover':edit.status}"
                    (click)="showDataServiceList=edit.status">
                    <odp-service-icon size="16" color="0082C9"></odp-service-icon>
                    <span class="selector-name ml-2">{{dataService.name}}</span>
                </div>
                <ng-container *ngIf="!dataService || !dataService.name">
                    <div class="d-flex align-items-center ignore-outside" [ngClass]="{'hover':edit.status}"
                        (click)="showDataServiceList=edit.status">
                        <div class="bg-light px-2 rounded">
                            <span class="fa fa-plus fa-xs text-accent"></span>
                        </div>
                        <span class="ml-2">Add</span>
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- <button *ngIf="index!=0 && edit.status" type="button" class="btn btn-sm btn-link text-secondary"
            (click)="removeThis()">Remove</button> -->

        <button *ngIf="edit.status && index>0" type="button" class="btn btn-sm btn-link text-secondary ignore-outside ml-auto"
            (click)="rowDropDown['global']=!rowDropDown['global']">
            <span class="fa fa-ellipsis-v"></span>
        </button>
        <div *ngIf="rowDropDown['global']"
            class="row-options-dropdown options-dropdown position-absolute bg-white rounded" odpClickOutside
            (outside)="rowDropDown['global']=false">
            <div class="d-flex align-items-center hover p-2" (click)="removeThis()">
                <span class="mx-2 text-secondary">Delete</span>
            </div>
        </div>

        <div *ngIf="showDataServiceList"
            class="selector-dropdown d-flex flex-column border rounded bg-white position-absolute" odpClickOutside
            (outside)="showDataServiceList=false;searchList=[]">
            <div class="p-2">
                <input type="text" class="form-control" odpAutoFocus (odpSearchTerm)="searchService($event)"
                    placeholder="Search Data Service">
            </div>
            <div class="selector-list">
                <div class="selector-list-item d-flex align-items-center p-2 hover" *ngFor="let item of searchList"
                    (click)="selectService(item)">
                    <odp-service-icon size="16" color="0082C9"></odp-service-icon>
                    <span class="selector-name ml-2">{{item.name}}</span>
                </div>
            </div>
        </div>
    </div>
    <ng-container>
        <div class="d-flex align-items-center mb-2 position-relative">
            <div class="text-right left-side">
                <span class="text-success">from</span>
            </div>
            <div *ngIf="loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white">
                <odp-loading-placeholder height="26" width="80"></odp-loading-placeholder>
            </div>
            <div *ngIf="!loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white"
                [ngClass]="{'invalid':pathInvalid['key']}">
                <div class="data-key-path d-flex align-items-center px-2">
                    <odp-service-icon size="16" color="0082C9"></odp-service-icon>
                    <span class="selector-name ml-2">{{dataService.name}}</span>
                </div>
                <div class="angle-block fill">
                    <div class="angle-box"></div>
                </div>
                <odp-path-creator [edit]="edit" [definition]="serviceDefinition" [(path)]="rule.fromField"
                    (isInvalid)="pathInvalid['key'] = $event">
                </odp-path-creator>
            </div>
            <div class="text-right mx-2">
                <span class="text-success">to</span>
            </div>
            <div *ngIf="loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white">
                <odp-loading-placeholder height="26" width="80"></odp-loading-placeholder>
            </div>
            <div *ngIf="!loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white"
                [ngClass]="{'invalid':pathInvalid['value']}">
                <div class="data-key-path d-flex align-items-center px-2 bg-white">
                    <odp-service-icon size="16" color="0082C9"></odp-service-icon>
                    <span class="selector-name ml-2">{{dataService.name}}</span>
                </div>
                <div class="angle-block">
                    <div class="angle-box bg-white"></div>
                </div>
                <odp-path-creator [edit]="edit" [definition]="serviceDefinition" [(path)]="rule.toField"
                    (isInvalid)="pathInvalid['value'] = $event">
                </odp-path-creator>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2 position-relative">
            <div class="text-right left-side">
                <span class="text-success">till</span>
            </div>
            <div *ngIf="loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white">
                <odp-loading-placeholder height="26" width="80"></odp-loading-placeholder>
            </div>
            <div *ngIf="!loading" class="data-key-selector mx-2 d-flex align-items-center bg-white">
                <div class="data-key-path d-flex align-items-center">
                    <input type="number" class="form-control" [(ngModel)]="rule.level" [attr.disabled]="!edit.status ? true : null" >
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center mb-2 position-relative">
            <div class="text-right left-side">
                <span class="text-success">starts with</span>
            </div>
            <div *ngIf="loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white">
                <odp-loading-placeholder height="26" width="80"></odp-loading-placeholder>
            </div>
            <div *ngIf="!loading" class="data-key-selector border rounded mx-2 d-flex align-items-center bg-white"
                [ngClass]="{'invalid':pathInvalid['ans']}">
                <div class="data-key-path d-flex align-items-center px-2 ignore-outside bg-white"
                    [ngClass]="{'hover':index>0}" (click)="rowValueTypeDropDown=edit.status && index>0">
                    <ng-container *ngIf="!valueType || valueType === 'user'">
                        <span class="far fa-user text-accent"></span>
                        <span class="selector-name ml-2">Logged In User</span>
                    </ng-container>
                    <ng-container *ngIf="valueType == 'ans'">
                        <span class="far fa-bookmark text-accent"></span>
                        <span class="selector-name ml-2">ANS</span>
                    </ng-container>
                </div>
                <div class="angle-block">
                    <div class="angle-box bg-white"></div>
                </div>
                <odp-path-creator [edit]="edit" [definition]="valueDefinition" [(path)]="rule.startsWith"
                    (isInvalid)="pathInvalid['ans'] = $event">
                </odp-path-creator>
            </div>
            <div *ngIf="rowValueTypeDropDown"
                class="value-options-dropdown options-dropdown position-absolute bg-white rounded" odpClickOutside
                (outside)="rowValueTypeDropDown=false">
                <div class="d-flex align-items-center hover p-2" (click)="valueType='user';rowValueTypeDropDown=false;">
                    <span class="mx-2 text-secondary">Logged In User</span>
                </div>
                <div class="d-flex align-items-center hover p-2" (click)="valueType='ans';rowValueTypeDropDown=false;">
                    <span class="mx-2 text-secondary">ANS</span>
                </div>
            </div>
        </div>
    </ng-container>
</div>