@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.left-side {
  width: 120px;
}
.data-key-selector {
  &.invalid {
    background: #fff;
    color: $danger;
  }
  .data-key-path {
    min-height: 26px;
    max-height: 26px;
    .selected-data-service {
      transition: 0.25s;
      &.hover:hover {
        color: $accent;
      }
    }
  }
  .data-key-path:not(:only-child) {
    &:first-child {
      color: #000;
      background: $light;
    }
  }
}

.selector-name {
  white-space: nowrap;
}

.selector-dropdown {
  left: 88px;
}

.condition-type {
  &:hover {
    text-decoration: line-through;
  }
}

odp-service-icon {
  margin-top: -4px;
}
