<div class="wrapper d-flex align-items-start justify-content-between">
  <div class="left-side w-100 d-flex">
    <div class="title-container">
      <div class="d-flex align-items-center">
        <input *ngIf="edit.status" type="text" class="form-control input-width" [ngModel]="name"
          (ngModelChange)="onNameChange($event)">
        <h4 *ngIf="!edit.status">{{name}}</h4>
      </div>
    </div>
  </div>
  <div class="right-side d-flex align-items-start justify-content-end">
    <ng-content></ng-content>
  </div>
</div>