.maker-checker-builder {

  .schema-free-message {
    min-height: 55vh;
  }

  #maker-checker-section {

    #configure-maker-checker {
      min-height: 52vh;

      .edit-maker-checker {
        .steps-subtitle {
          height: 30px;
        }

        .mcname-error {
          left: 90%;
        }

        .delete-steps {
          width: 18px;
          height: 18px;
          line-height: 18px;
        }

        .steps-header {
          height: 32px;
          background-color: #fbfbfb;
        }

        .steps-section {
          .step {
            .stepname-error {
              left: 93%;
            }

            .approval-error {
              left: 40%;
            }
          }
        }
      }
    }
  }

}