<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>
<div class="d-flex flex-column w-100 h-100 position-relative bg-light-gray">
    <div class="wrapper">
        <div class="w-100 position-relative px-4 pt-5 d-flex" *ngIf="agentDetails">
            <span class="dsi dsi-arrow-left text-secondary mr-3 hover" style="font-size:24px"
                [routerLink]="['../../agent']"></span>
            <odp-basic-info hideLogo=" true" [(name)]="agentDetails.name" [hideLogo]="true" [edit]="{status:false}">
                <div class="d-flex align-items-end align-self-start">
                    <!-- <button *ngIf="hasPermission('PMCONBD') && edit.status" type="button"
                        class="btn btn-white border mr-3" (click)="deleteConnector()">
                        <span class="dsi dsi-trash"></span>
                    </button>
                    <button class="btn btn-white border btn-min-width mr-3" routerLink="../">
                        <span>Cancel</span>
                    </button>
                    <ng-container *ngIf="hasPermissionStartsWith('PMCON')">
                        <button *ngIf="!edit.status" class="btn btn-primary btn-min-width" (click)="edit.status=true">
                            <span>Edit</span>
                        </button>
                        <button *ngIf="edit.status" class="btn btn-primary btn-min-width" (click)="saveConnector()">
                            <span>Save</span>
                        </button>
                    </ng-container> -->
                </div>
            </odp-basic-info>
            <div class="d-flex ml-auto" odpClickOutside (outside)="showSettingsDropdown=false">
                <button class="btn d-flex settings-btn align-items-center border bg-white"
                    (click)="showSettingsDropdown = !showSettingsDropdown">
                    <span class="dsi dsi-settings mr-2"></span>
                    <span>Settings</span>
                    <span class="dsi dsi-drop-down ml-auto"></span>
                </button>
                <div class="item-actions d-flex align-items-center justify-content-end position-fixed">
                    <div *ngIf="showSettingsDropdown" class="more-options bg-white rounded list-group border">
                        <div id="agent-details" class="list-group-item list-group-item-action py-2 border-0 hover"
                            (click)="openAgentDetailsWindow(agentDetails);">
                            Agent Details
                        </div>
                        <div id="agent-dowload" class="list-group-item list-group-item-action py-2 border-0 hover"
                            (click)="openDownloadAgentWindow(agentDetails);">
                            Download
                        </div>
                        <div id="agent-change-password" class="list-group-item list-group-item-action py-2 border-0 hover"
                            (click)="test()">
                            Change Password
                        </div>
                        <div id="agent-edit" class="list-group-item list-group-item-action py-2 border-0 hover"
                            *ngIf="canEditAgent()" (click)="showEditAgentWindow = true">
                            Edit
                        </div>
                        <div id="agent-clone" class="list-group-item list-group-item-action py-2 border-0 hover">
                            Clone
                        </div>
                        <div id="agent-delete" class="list-group-item list-group-item-action py-2 border-0 text-danger hover"
                            *ngIf="canEditAgent()" (click)="deleteAgent();">
                            Delete
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column px-4 pb-3" *ngIf="agentDetails">
            <div class="d-flex flex-column w-100 h-100 bg-white rounded border p-4">
                <div class="d-flex">
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Type</label>
                        <span class="fw-500 text-dark">{{agentDetails.type}}</span>
                    </div>
                    <!-- <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Streak</label>
                        <span class="fw-500 text-dark">{{agentDetails.type}}</span>
                    </div> -->
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Status</label>
                        <span class="fw-500 status font-11" [ngClass]="{
                            'text-success': agentDetails.status === 'RUNNING',
                            'text-warning': agentDetails.status === 'PENDING',
                            'text-danger': agentDetails.status === 'STOPPED'
                          }">{{agentDetails.status}}</span>
                    </div>
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Last Invoked</label>
                        <span class="fw-500 text-dark">{{convertDate(agentDetails._metadata.lastUpdated )}}</span>
                    </div>
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Pending Files</label>
                        <span class="fw-500 text-dark">{{agentDetails.type}}</span>
                    </div>
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Version</label>
                        <span class="fw-500 text-dark">{{agentDetails.__v}} </span>
                    </div>
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">IP Address</label>
                        <span class="fw-500 text-dark">{{agentDetails?.ipAddress}}</span>
                    </div>
                    <div class="d-flex flex-column mr-5">
                        <label class="font-12 text-secondary">Mac Address</label>
                        <span class="fw-500 text-dark">{{agentDetails?.macAddress}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column px-4 pb-4 bg-light">
            <div class="tab-list d-flex align-items-stretch justify-content-start px-3 bg-white rounded border">
                <div class="tab-list-item py-3 text-center" [ngClass]="{'active fw-500':selectedTab==0}"
                    (click)="selectedTab=0">Logs</div>
                <div class="tab-list-item py-3 text-center" [ngClass]="{'active fw-500':selectedTab==1}"
                    (click)="selectedTab=1">Sessions</div>
                <div class="tab-list-item py-3 text-center" [ngClass]="{'active fw-500':selectedTab==2}"
                    (click)="selectedTab=2">Permissions</div>
            </div>
            <div class="tab-container">
                <odp-agent-logs *ngIf="selectedTab==0" [agentDetails]="agentDetails"></odp-agent-logs>
                <odp-agent-sessions *ngIf="selectedTab==1" [agentDetails]="agentDetails"></odp-agent-sessions>
                <odp-agent-permissions *ngIf="selectedTab==2" [agentDetails]="agentDetails"></odp-agent-permissions>
            </div>
        </div>
    </div>

    <!-- <odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal> -->

    <ng-template #pageChangeModalTemplate>
        <div class="modal-body p-4">
            <div class="circle bg-dark">
                <span class="fa fa-exclamation-triangle text-white"></span>
            </div>
            <p class="text-dark font-weight-bold text-center">Unsaved changes</p>
            <p class="text-secondary text-center">You have unsaved changes, are you sure you want to leave?</p>
            <!-- <div class="d-flex align-items-center justify-content-end">
                <button type="button" class="btn btn-min-width btn-outline-primary mx-3"
                    (click)="pageChangeModalTemplateRef.close(false)">No</button>
                <button type="button" class="btn btn-min-width btn-primary mx-3"
                    (click)="pageChangeModalTemplateRef.close(true)">Yes</button>
            </div> -->
        </div>
    </ng-template>


    <div *ngIf="showPasswordSide" class="overlay position-fixed"></div>
    <div [ngClass]="{'show':showPasswordSide}"
        class="new-data-format-window position-fixed p-4 d-flex flex-column bg-white border-left">
        <div class="d-flex flex-column h-100" *ngIf="showPasswordSide">
            <div class="d-flex align-items-center justify-content-between mb-4">
                <div class="d-flex align-items-center">
                    <h5 class="fw-600 font-20">Reset Password</h5>
                </div>
                <span class="dsi dsi-close hover closeicon" id="closeicon"
                    (click)="showEditAgentWindow = false; showPasswordSide = false"></span>
            </div>
            <form class="d-flex flex-column h-100" [formGroup]="resetPasswordForm" odpFocusNext>
                <div class="form-group position-relative">
                    <label for="password">
                        New Password
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-wrapper position-relative">
                        <input class="form-control password" [type]="showPassword['new'] ? 'text' : 'password'"
                            placeholder="Password" formControlName="password"
                            [ngClass]="{ 'is-invalid': pwdError, 'pr-4': pwdError }" autocomplete="new-password"
                            odpAutoFocus />
                        <span id="showPass" class="dsi eye-icon position-absolute hover" [ngClass]="{
                  'dsi-view': !showPassword['new'],
                  'dsi-hide': showPassword['new']
                }" (click)="showPassword['new'] = !showPassword['new']"></span>
                        <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute" *ngIf="
                resetPasswordForm.get('password').dirty &&
                resetPasswordForm.get('password')?.hasError('required')
              " ngbTooltip="This is a required field"></span>
                        <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute" *ngIf="
                resetPasswordForm.get('password').dirty &&
                resetPasswordForm.get('password')?.hasError('minlength')
              " ngbTooltip="Password should be minimum 8 chars long"></span>
                    </div>
                </div>
                <div class="form-group position-relative">
                    <label for="cPassword">
                        Re-enter New Password
                        <sup class="text-danger">*</sup>
                    </label>
                    <div class="input-wrapper position-relative d-flex">
                        <input id="cPassword" class="form-control password"
                            [type]="showPassword['confirm'] ? 'text' : 'password'" placeholder="Confirm Password"
                            formControlName="cpassword" [ngClass]="{ 'is-invalid': cPwdError, 'pr-4': cPwdError  }" />
                        <span class="dsi eye-icon position-absolute hover" [ngClass]="{
                  'dsi-view': !showPassword['confirm'],
                  'dsi-hide': showPassword['confirm']
                }" (click)="showPassword['confirm'] = !showPassword['confirm']" id="showPassword"></span>
                        <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute" *ngIf="
                resetPasswordForm.get('cpassword').dirty &&
                resetPasswordForm.get('cpassword')?.hasError('required')
              " ngbTooltip="This is a required field"></span>
                        <span class="dsi dsi-danger-circle text-danger error-icon-password position-absolute"
                            *ngIf="resetPasswordForm.get('cpassword').dirty && matchPwd"
                            [ngbTooltip]="'Passwords don\'t match'"></span>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-auto">
                    <button type="button" class="btn btn-primary add-button" id="resetpassowrd"
                        (click)="resetPassword()">
                        Confirm
                    </button>
                </div>
            </form>
        </div>
    </div>



    <ng-template #downloadAgentModal>
        <div class="modal-body">
            <div class="d-flex align-items-center justify-content-between mb-5">
                <div class="d-flex flex-column">
                    <span class="font-20 fw-600">Download Agent Shipping</span>
                    <span class="font-14 fw-400 text-secondary">Please choose the operating platform for the
                        Agent</span>
                </div>
                <span class="hover dsi dsi-close" (click)="downloadAgentModalRef.close(false)"></span>
            </div>
            <div class="mt-5 d-flex flex-wrap mx-4">
                <button type="button"
                    class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                    (click)="downloadAgentModalRef.close('windows-amd64')">
                    <span class="fab fa-windows mr-2"></span>
                    <span class="text-dark fw-600 font-14">Windows - 64 Bit</span>
                </button>
                <button type="button"
                    class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                    (click)="downloadAgentModalRef.close('linux-amd64')">
                    <span class="fab fa-linux mr-2"></span>
                    <span class="text-dark fw-600 font-14">Linux - 64 Bit</span>
                </button>
                <button type="button"
                    class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                    (click)="downloadAgentModalRef.close('darwin-amd64')">
                    <span class="fab fa-apple mr-2"></span>
                    <span class="text-dark fw-600 font-14">Mac OS - 64 Bit</span>
                </button>
                <button type="button"
                    class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                    (click)="downloadAgentModalRef.close('windows-386')">
                    <span class="fab fa-windows mr-2"></span>
                    <span class="text-dark fw-600 font-14">Windows - 32 Bit</span>
                </button>
                <button type="button"
                    class="download-option btn btn-white border d-flex align-items-center px-3 mx-1 mb-3 hover"
                    (click)="downloadAgentModalRef.close('linux-386')">
                    <span class="fab fa-linux mr-2"></span>
                    <span class="text-dark fw-600 font-14">Linux - 32 Bit</span>
                </button>
            </div>
        </div>
    </ng-template>

    <div *ngIf="showEditAgentWindow" class="overlay position-fixed"></div>
    <div [ngClass]="{'show':showEditAgentWindow}"
        class="new-data-format-window position-fixed p-4 d-flex flex-column align-items-center bg-white border-left">
        <div class="d-flex align-items-center justify-content-between w-100">
            <span class="font-20 fw-600">Edit App Agent</span>
            <button type="button" class="btn btn-link text-dark"
                (click)="showEditAgentWindow = false; showPasswordSide = false">
                <span class="dsi dsi-close"></span>
            </button>
        </div>
        <div class="form-group mt-4 w-100">
            <label class="font-14 text-dark">Agent name</label>
            <div *ngIf="showEditAgentWindow" class="position-relative agent-name-wrapper">
                <input #agentName="ngModel" type="text" class="form-control" [(ngModel)]="agentDetails.name"
                    [ngClass]="{'is-invalid':agentName.invalid && (agentName.dirty || agentName.touched)}"
                    maxlength="24" required [pattern]="'[a-z0-9A-Z\\s_-]+'" odpAutoFocus
                    (keyup.enter)="triggerAgentEdit()" [disabled]="agentDetails.isEdit">
                <ng-container *ngIf="agentName.invalid && (agentName.dirty || agentName.touched)">
                    <span *ngIf="agentName?.errors?.required"
                        class="dsi dsi-danger-circle text-danger position-absolute" ngbTooltip="Name is required"
                        container="body"></span>
                    <span *ngIf="agentName?.errors?.maxlength"
                        class="dsi dsi-danger-circle text-danger position-absolute"
                        ngbTooltip="Name should be within 24 characters" container="body"></span>
                    <span *ngIf="agentName?.errors?.pattern" class="dsi dsi-danger-circle text-danger position-absolute"
                        ngbTooltip="Name should be alphanumeric characters with spaces, dashes and underscores"
                        container="body"></span>
                </ng-container>
            </div>
        </div>
        <div class="form-group position-relative agent-config-wrapper w-100">
            <div class="d-flex align-items-center justify-content-between mt-2">
                <label class="font-14 text-dark mr-2">Encrypt file</label>
                <odp-switch [checked]="agentDetails?.encryptFile" [edit]="{status:true}"></odp-switch>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
                <label class="font-14 text-dark mr-2">Retain file on success</label>
                <odp-switch [checked]="agentDetails?.retainFileOnSuccess" [edit]="{status:true}"></odp-switch>
            </div>
            <div class="d-flex align-items-center justify-content-between mt-2">
                <label class="font-14 text-dark mr-2">Retain file on error</label>
                <odp-switch [checked]="agentDetails?.retainFileOnError" [edit]="{status:true}"></odp-switch>
            </div>
        </div>
        <div class="d-flex w-100 mt-auto">
            <button *ngIf="showEditAgentWindow" type="button" class="btn btn-primary w-100" id="newAgentModalCreate"
                [disabled]="!agentDetails.name" (click)="triggerAgentEdit()">Savehi</button>
        </div>
    </div>

    <ng-template #agentDetailsModal>
        <div class="modal-body">
            <div class="d-flex align-items-center justify-content-between mb-4 mx-4 mt-2">
                <div class="d-flex flex-column">
                    <span class="font-20 fw-600">Agent Details</span>
                </div>
                <span class="hover dsi dsi-close" (click)="agentDetailsModalRef.close(false)"></span>
            </div>
            <div class="d-flex mx-4 flex-column">
                <div class="d-flex flex-column mb-3">
                    <label class="fw-500 text-dark ">Agent Name</label>
                    <span class="fw-400 text-secondary">{{agentDetails.name}}</span>
                </div>
                <div class="d-flex flex-column mb-3">
                    <label class="fw-500 text-dark">Agent ID</label>
                    <span class="fw-400 text-secondary">{{agentDetails._id}}</span>
                </div>
                <div class="d-flex flex-column mb-3">
                    <label class="fw-500 text-dark">Agent Password</label>
                    <div class="d-flex">
                        <span class="fw-400 text-secondary" *ngIf="agentDetails.thePassword">{{agentDetails.thePassword
                            ||
                            ''}}</span>
                        <span class="hover dsi dsi-copy text-secondary ml-2"
                            *ngIf="agentDetails.thePassword && agentDetails.thePassword !=='********'"
                            (click)="copyPassword(agentDetails.thePassword)"></span>
                    </div>
                    <span class="fw-400 text-secondary" *ngIf="!agentDetails.thePassword">
                        <span class="spinner-border text-secondary"></span>
                    </span>
                </div>

            </div>
        </div>
    </ng-template>

    <odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)"></odp-delete-modal>