<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>



<div class="d-flex mb-4">
    <div>
        <odp-search-box (enteredText)="enterToSelect($event)" (reset)="enterToSelect('reset')" [selectOnEnter]="true">
        </odp-search-box>
    </div>
    <div class="d-flex ml-auto mr-2">
        <div class="add-attribute hover" (click)="add()">
            <i class="dsi dsi-plus-circle font-20 icon-primary mr-2"></i>
            <label class="fw-500 font-normal heading">Add Property</label>

        </div>
    </div>
</div>


<div class="grid-container">
    <ag-grid-angular #agGrid class="ag-theme-balham table" [gridOptions]="gridOptions" (gridReady)="onGridReady($event)"
        [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</div>



<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)">
    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
</odp-delete-modal>