<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLazyLoader">
    <div class="align-self-center text-center">
        <span class="fa fa-spinner fa-pulse fa-3x"></span>
        <div class="text-secondary mt-2">Processing...</div>
    </div>
</div>

<div class="grid-container">
    <ag-grid-angular #agGrid class="ag-theme-balham" style="height: 300px; overflow-x: hidden"
        [gridOptions]="gridOptions" (gridReady)="onGridReady($event)" [frameworkComponents]="frameworkComponents">
    </ag-grid-angular>
</div>



<odp-delete-modal [open]="openDeleteModal" (close)="closeDeleteModal($event)">
    <odp-user-icon [size]="18" color="202A36" class="mt-1"></odp-user-icon>
</odp-delete-modal>