/* You can add global styles to this file, and also import other style files */

@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";
@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham/sass/ag-theme-balham-mixin";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();


@import "./assets/data-stack-icons/style.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$odp-ui-author-primary: mat-palette($mat-indigo);
$odp-ui-author-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$odp-ui-author-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$odp-ui-author-theme: mat-light-theme((color: (primary: $odp-ui-author-primary,
        accent: $odp-ui-author-accent,
        warn: $odp-ui-author-warn,
      ),
    ));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($odp-ui-author-theme);

.add-blur {
  -webkit-filter: blur(6px);
  -moz-filter: blur(6px);
  -ms-filter: blur(6px);
  filter: blur(6px);
  transition: 0.25s;
}

/* in-flight clone */

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  pointer-events: none;
}

/* high-performance display:none; helper */

.gu-hide {
  left: -9999px !important;
}

/* added to mirrorContainer (default = body) while dragging */

.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

/* added to the source element while its mirror is dragged */

.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.green {
  color: $success;
  fill: $success;
}

// is-invalid is a bootstrap class for red borders for invalid input,
// adding a lighter shade of red background also to it.
.is-invalid {
  background-color: rgba(150, 0, 0, 0.1);

  &:focus {
    background-color: rgba(150, 0, 0, 0.1);
  }
}

.font-22 {
  font-size: 22px;
}

.font-20 {
  font-size: 20px;
}

.font-18 {
  font-size: 18px;
}

.font-16 {
  font-size: 16px;
}

.font-14 {
  font-size: 14px;
}

.font-13 {
  font-size: 13px;
}

.font-12 {
  font-size: 12px;
}

.font-11 {
  font-size: 11px;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.k8s-icon {
  background: url("/assets/img/k8s_black.png");
}

.pick-hour {
  background: url("/assets/img/pick-hour.svg") center no-repeat;
  width: 64px;
  height: 64px;
}

.pick-minute {
  background: url("/assets/img/pick-minute.svg") center no-repeat;
  width: 64px;
  height: 64px;
}

.pick-week {
  background: url("/assets/img/pick-week.svg") center no-repeat;
  width: 64px;
  height: 64px;
}

.pick-month {
  background: url("/assets/img/pick-month.svg") center no-repeat;
  width: 64px;
  height: 64px;
}

.pick-date {
  background: url("/assets/img/pick-date.svg") center no-repeat;
  width: 64px;
  height: 64px;
}

.icon-wrapper {
  min-width: 32px;
  max-width: 32px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 50%;

  &.create {
    background: rgba($create, 0.2);
  }

  &.delete {
    background: rgba($delete, 0.2);
  }

  &.modify {
    background: rgba($dark, 0.2);
  }

  &.modify-red {
    background: rgba(248, 220, 220, 1);
    color: $red;
  }
}

.popup {
  &-overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    background: rgba($color: #000000, $alpha: 0.6);
  }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 500px;
    height: 28rem;
    border-radius: 5px;
    z-index: 25;
    background-color: $white;
    box-shadow: 0 2rem 4rem rgba($black, 0.2);

    label {
      width: 150px;
    }

    input.form-control {
      width: 60% !important;
    }
  }
}

.add-secret-modal {

  .modal-content,
  .modal-dialog {
    min-width: 360px !important;
    max-width: 360px !important;
  }

  .modal-content {
    min-height: 190px !important;
  }
}

// .new-partner-modal,
// .new-service-modal,
// .delete-partner-modal {
//   .modal-content,
//   .modal-dialog {
//     min-width: 320px !important;
//     max-width: 320px !important;
//   }
//   .modal-content {
//     min-height: 320px !important;
//     max-height: 320px !important;
//   }
// }

.new-user-modal {

  .modal-content,
  .modal-dialog {
    min-width: 560px;
    max-width: 560px;
  }
}

.flow-modal-class {

  .modal-content,
  .modal-dialog {
    min-height: calc(100vh - 60px);
    max-height: calc(100vh - 60px);
    min-width: 90%;
    max-width: 90%;
    justify-content: center;
  }
}

.service-exception-modal {

  .modal-content,
  .modal-dialog {
    min-width: 680px;
    max-width: 680px;
    min-height: 540px;
    max-height: 540px;
  }
}

.data-structure-modal {
  // .modal-content,
  // .modal-dialog {
  //     min-width: 448px;
  //     min-height: 480px;
  //     max-height: 480px;
  // }
  // .modal-content{
  //     width: auto !important;
  // }
  // .modal-dialog {
  //     width: 448px;
  //     max-width: 1040px;
  // }

  .modal-content,
  .modal-dialog {
    min-width: 448px !important;
    max-width: 448px !important;
  }

  .modal-content {
    min-height: 178px !important;
  }
}

.download-agent-modal {

  .modal-content,
  .modal-dialog {
    min-width: 600px !important;
    max-width: 600px !important;
  }

  .modal-content {
    min-height: 300px !important;
  }
}

.custom-format-modal {

  .modal-content,
  .modal-dialog {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 90vh;
    max-height: 90vh;
  }
}

.conflict-modal {

  .modal-content,
  .modal-dialog {
    min-width: 824px;
    max-width: 824px;
    min-height: 444px;
    max-height: 444px;
  }

  .circle {
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    font-size: 10px;
    margin: 0px;
  }
}

.search-user-modal {

  .modal-content,
  .modal-dialog {
    min-width: 560px;
    max-width: 560px;
  }
}

// .btn:not(.btn-link) {
//   min-height: 32px;
//   max-height: 32px;

//   &.btn-sm {
//     min-height: 24px;
//     max-height: 24px;
//   }
// }

.audit-object-log {
  .min-height {
    min-height: 300px;
  }
}

.error-icon {
  top: 11px;
  left: 92%;
}

.agent-arch-select {
  min-width: 120px;
  max-width: 120px;
}

.app-version {
  bottom: 6px;
  right: 8px;
  font-size: 10px;
}

.page-padding {
  padding: 32px !important;
}

// // Custom scrollbar
// ::-webkit-scrollbar {
//   width: 10px;
// }

// /* Track */

// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// /* Handle */

// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// /* Handle on hover */

// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }

/*------ PERMISSION PAGE DROPDOWN START------*/

.round-checkbox {
  min-width: 88px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 16px;
  border: 1px solid $data-grid-border;
  color: $heading-highlight;
  background: $white;

  &:not(.disabled) {
    cursor: pointer;
  }

  &.disabled {
    background: $light;

    .round-check {
      background: $light;
      color: $light;
    }

    &.checked {
      .round-check {
        background: #cccccc;
      }
    }
  }

  &:not(.disabled).checked {
    border: 1px solid $accent;
    color: $accent;

    .round-check {
      border: 1px solid $accent;
      background: $accent;
    }
  }

  .text {
    margin-left: 12px;
  }

  .round-check {
    margin-left: 8px;
    margin-right: 8px;
    min-width: 16px;
    max-width: 16px;
    min-height: 16px;
    max-height: 16px;
    border-radius: 8px;
    border: 1px solid $data-grid-border;
    color: $white;

    .fa-check {
      font-size: 8px;
    }
  }
}

.normal-heading {
  color: $heading-highlight;
  font-size: 13px;
}

.rounded-dropdown-toggle {
  min-width: 104px;
  max-width: 104px;
  min-height: 32px;
  max-height: 32px;
  border-radius: 20px;
  border: 2px solid transparent;
  color: $white;
  overflow: hidden;

  .icon {
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
  }

  .text {
    font-size: 13px;
    min-width: 54px;
    font-weight: bold;
  }

  &.locked {
    cursor: default !important;
  }

  &.manage {
    border-color: $primary;
    background: $primary;

    &:hover {
      background: darken($primary, 10);
    }
  }

  &.view {
    border-color: $success;
    background: $success;

    &:hover {
      background: darken($success, 10);
    }
  }

  &.custom {
    border-color: $accent;
    background: $accent;

    &:hover {
      background: darken($accent, 10);
    }
  }

  &.blocked {
    border-color: $delete;
    background: $delete;

    &:hover {
      background: darken($delete, 10);
    }
  }
}

.rounded-dropdown {
  min-width: 104px;
  max-width: 104px;
  max-height: 96px;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.24);
  position: absolute;
  overflow: hidden;
  background: $white;
  z-index: 3;

  .rounded-dropdown-item {
    min-height: 32px;
    max-height: 32px;

    &:hover {
      background: $light;
      cursor: pointer;
    }

    .icon {
      min-width: 32px;
      max-width: 32px;
      min-height: 32px;
      max-height: 32px;

      &.manage {
        color: $primary;
      }

      &.view {
        color: $success;
      }

      &.blocked {
        color: $delete;
      }
    }

    .text {
      font-size: 13px;
    }
  }
}

/*------ PERMISSION PAGE DROPDOWN END------*/

.selector-dropdown {
  min-width: 230px;
  max-width: 230px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  top: 30px;
  left: 0px;
  margin-bottom: 30px;
  z-index: 10;

  .selector-list {
    max-height: 144px;
    overflow-y: auto;

    .selector-list-item {
      min-height: 36px;
      max-height: 36px;

      &:hover {
        background: $light;
      }
    }
  }
}

.angle-img,
.angle-ld-img {
  width: 10px;
  height: 26px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.angle-block {
  width: 15px;
  height: 26px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &.fill {
    .angle-box {
      background: $light;
    }
  }

  &.error {
    .angle-box {
      border: 1px solid $danger;
    }

    &.fill {
      .angle-box {
        background: rgba($danger, $alpha: 0.6);
      }
    }
  }

  .angle-box {
    border: 1px solid $border-color;
    min-width: 20px;
    min-height: 20px;
    margin-left: -15px;
    transform: rotate(45deg);
  }
}

.row-options-dropdown {
  right: 18px;
}

.common-options-dropdown {
  left: 50px;
}

.value-options-dropdown {
  left: 0px;
}

.options-dropdown {
  z-index: 10;
  top: 26px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
}


.label-color {
  color: $heading-highlight;
}

.focus-accent:focus {
  border-color: $accent  !important;
  box-shadow: 0 0 0 0.2rem rgba($accent, 0.25) !important;
}

.node-properties-block {
  margin: 8px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  .title {
    min-height: 36px;
    max-height: 36px;
    font-size: 14px;
  }

  font-size: 13px;

  .form-control:not(.is-invalid):focus,
  .custom-select:not(.is-invalid):focus {
    border-color: $accent  !important;
    box-shadow: 0 0 0 0.2rem rgba($accent, 0.25) !important;
  }

  .form-group {
    label {
      color: $heading-highlight;
    }

    .form-text {
      font-size: 10px;
      color: $border;
    }

    .input-group {
      .input-group-append {
        .btn-sm {
          min-height: 28px;
          border-end-end-radius: 4px;
        }
      }
    }

    .floating-btn-group {
      .btn-link {
        top: 5px;
        right: 1px;
        background: #fff;
      }
    }
  }
}

.round-radio-wrapper {
  border-radius: 50%;
  border: 1px solid $border;
  min-width: 16px;
  max-width: 16px;
  min-height: 16px;
  max-height: 16px;

  .round-radio-inner {
    border-radius: 50%;
    min-width: 8px;
    max-width: 8px;
    min-height: 8px;
    max-height: 8px;
  }

  &.checked {
    border: 1px solid $accent;
    background: $accent;
  }
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/*---- AG-GRID START ----*/
.ag-theme-balham {
  @include ag-theme-balham((balham-active-color: $primary));
  font-family: "Inter";
  font-size: 14px;


  .ag-root {
    border: 0;
  }

  .ag-root-wrapper {
    border: 1px solid #ECECEC;
    border-radius: 8px;
  }


  .ag-header {
    background: #fff;
    font-size: 11px;
    color: $lightgrey;

    .ag-header-container {
      background-color: #FBFBFB;
    }


    .ag-header-row:last-child {
      .ag-header-cell {
        border-top: 0;
      }
    }
  }

  .ag-row {
    padding: 10px;
  }

  .ag-layout-normal {
    overflow-x: hidden
  }

  .ag-cell.ag-cell-last-left-pinned:not(.ag-cell-range-right) {
    border-style: dashed !important;
  }

  .ag-floating-filter-button {
    display: none;
  }

  .ag-checkbox {
    padding-bottom: 15px !important;
  }

  .ag-row-selected {
    background-color: #fff;
  }

  .ag-ltr .ag-header-select-all {
    padding-top: 15px;
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    color: white !important;
    background: $headings  !important;
    border-radius: 4px;
  }
}

.custom-style {
  .ag-header {
    background: $data-grid-header  !important;
  }
}


.blink {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.4;
  }
}


.input-text {
  width: 320px;
}

.hover {
  cursor: pointer;
}

.heading {
  color: $headings
}

.sub-heading {
  color: $sub-headings
}

.fa-search {
  color: $lightgrey;
}

.slide-overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba($color: #000000, $alpha: 0.6);
}

.slide-window {
  height: 100vh;
  width: 360px;
  top: 0;
  right: 0px;
  z-index: 2;
  transition: 0.2s;
  overflow: auto;
  padding-top: 40px !important;

  &.show {
    right: 0px !important;
  }
}

.selected {
  background: rgba($orange, 0.04);
}

.selectedTab {
  border-radius: 0px 8px 8px 0px;
  width: 3px;
}

.icon-primary {
  color: $orange
}

.center-h {
  margin: auto 0;
}