<div class="wrapper d-flex align-items-start">
  <div class="d-flex flex-column sub-menu p-3">
    <div class="d-flex flex-column text-muted font-14">
      <div *ngIf="hasPermission('PVGCDS') || hasPermission('PMGCDS')" class="px-3 py-2 hover" (click)="activeSubTab=0"
        [ngClass]="{'text-dark font-weight-bold': activeSubTab==0}">
        <span class="">Users</span>
      </div>
      <div *ngIf="hasPermission('PVGCI') || hasPermission('PMGCI')" class="px-3 py-2 hover" (click)="activeSubTab=1"
        [ngClass]="{'text-dark font-weight-bold': activeSubTab==1}">
        <span class="">Bots</span>
      </div>
    </div>
  </div>
  <div class="w-100">
    <odp-user-group-users *ngIf="activeSubTab===0" [users]="users"></odp-user-group-users>
    <odp-user-group-bots *ngIf="activeSubTab===1" [users]="users"></odp-user-group-bots>
  </div>
</div>