<div class="picker-overlay" [ngClass]="{'floating': options.floating,'d-none':!showPicker}" [ngStyle]="style">
  <ng-container *ngIf="options.quickSelect">
    <div class="quick-select p-2">
      <span class="btn btn-sm btn-link font-weight-bold p-0 mr-2">Today</span>
      <span class="btn btn-sm btn-link font-weight-bold p-0 mr-2">Yesterday</span>
      <span class="btn btn-sm btn-link font-weight-bold p-0 mr-2">This week</span>
      <span class="btn btn-sm btn-link font-weight-bold p-0">Past 30 days</span>
    </div>
    <hr class="m-0">
  </ng-container>
  <ng-container *ngIf="options.range">
    <div class="range mt-3 mx-3">
      <div class="btn-group w-100">
        <button class="btn btn-icon w-50" [ngClass]="{'active':selectedRange==0}" (click)="changeRange(0)">From</button>
        <button class="btn btn-icon w-50" [ngClass]="{'active':selectedRange==1}" (click)="changeRange(1)">To</button>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="options.type=='date-time' || options.type=='date'">
    <div class="calender">
      <div class="page">
        <div class="options clearfix px-3 pt-3">
          <span class="float-left text-secondary">
            <small class="font-weight-bold">Date</small>
          </span>
          <span class="float-right">
            <select #month class="text-primary time-select" (change)="selectMonth({key:month.value})">
              <option [value]="mon.key" *ngFor="let mon of months">{{mon.label}}</option>
            </select>
            <select #year class="text-primary time-select" (change)="selectYear({key:year.value})">
              <option [value]="year.key" *ngFor="let year of years">{{year.key}}</option>
            </select>
          </span>
        </div>
        <div class="clearfix pl-3">
          <span class="day float-left" [ngClass]="{'text-danger':f,'text-secondary':!f}" *ngFor="let day of week;let f=first;let l=last">
            <small class="font-weight-bold">{{day}}</small>
          </span>
        </div>
        <div class="clearfix pl-2">
          <span class="date float-left" *ngFor="let day of dateList;let f=first;let l=last;let i=index" [ngClass]="{'active text-white bg-primary':day.today && day.show,'text-secondary':!day.today,'disabled':!day.show}"
            (click)="selectDate(day)">
            <small class="font-weight-bold">{{day.label}}</small>
          </span>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="options.type=='date-time' || options.type=='time'">
    <hr class="m-0">
    <div class="time clearfix px-3 py-2">
      <span class="float-left text-secondary">
        <small class="font-weight-bold">Time</small>
      </span>
      <span class="float-right">
        <select #hour class="text-primary time-select" (change)="changeHour(hour.value)">
          <option [value]="hr" *ngFor="let hr of hours">{{hr}}</option>
        </select>
        <span class="text-secondary">
          <small class="font-weight-bold">h</small>
        </span>
        <span class="text-secondary px-2">
          <small>:</small>
        </span>
        <select #minute class="text-primary time-select" (change)="changeMinute(minute.value)">
          <option [value]="min" *ngFor="let min of minutes">{{min}}</option>
        </select>
        <span class="text-secondary">
          <small class="font-weight-bold">m</small>
        </span>
        <span class="text-secondary px-2">
          <small>:</small>
        </span>
        <select #second class="text-primary time-select" (change)="changeSecond(second.value)">
          <option [value]="min" *ngFor="let min of minutes">{{min}}</option>
        </select>
        <span class="text-secondary">
          <small class="font-weight-bold">s</small>
        </span>
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="options.buttons">
    <hr class="m-0">
    <div class="footer text-right p-3">
      <button class="btn btn-link mx-4" (click)="cancel()">Cancel</button>
      <button class="btn btn-outline-primary px-4 btn-min-width" (click)="done()">Done</button>
    </div>
  </ng-container>
</div>