.dynamic-variable-button {
    top: 39px;
    left: 9px;
}

.node-data-selector-wrapper {
    width: 359px;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    right: 0;
    z-index: 1;
}

.header-key {
    min-width: 120px;
    max-width: 120px;
}

.header-value {
    width: 100px;
}

.node-data-selector {
    top: -30px;
}