.header-item {
    overflow: hidden;
    height: 36px;
}

.icon {
    width: 32px;
    height: 32px;
}

.headers-window {
    width: 559px;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    right: 0;
    z-index: 1;
}

.header-key {}

.header-value {
    min-width: 220px;
    max-width: 220px;
}

.header-action {
    width: 64px;

    .icon {
        width: 32px;
        height: 32px;
    }
}