<div class="d-flex permission-wrapper">
  <div class="d-flex flex-column roles-list p-4">
    <div class="role-list">
      <div class="d-flex flex-column">
        <button class="btn btn-link d-flex align-items-center hover mb-3 px-0" (click)="addPermission()" id="addNewRole"
          *ngIf="edit.status">
          <span class="dsi dsi-plus mr-2"></span>
          <span class="fw-500 font-14">Add New</span>
        </button>
        <div class="d-flex flex-column roles-list-item fw-500 font-14 text-muted hover mb-2"
          (click)="onSelectRole(role, i)" *ngFor="let role of roles | filterRole: searchRole; let i = index"
          [ngClass]="{ 'active': i == selectedRoleIndex }">
          <div class="d-flex h-100">
            <div class="d-flex flex-column">
              <div class="p-2 m-0 w-100 text-truncate role-name-width">
                <span class="text-muted roles-list-heading" *ngIf="!role.name">Untitled role</span>
                <span class="text roles-list-heading" *ngIf="role.name" [ngbTooltip]="role.name" container="body"
                  placement="top">{{ role.name }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="permission-container d-flex flex-column w-100 p-4">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center justify-content-between mb-4">
        <span class="fw-600 font-20 mb-3">{{selectedRole.name}}</span>
        <button type="button" class="btn btn-white border d-flex align-items-center" id="roleDeleteBtn"
          *ngIf="edit.status && !selectedRole.skipReviewRole" (click)="deletePermission()">
          <span class="dsi dsi-trash mr-2"></span>
          <span class="fw-500">Delete role</span>
        </button>
      </div>

      <div class="d-flex flex-column align-items-start w-100">
        <div class="d-flex mb-4">
          <div class="d-flex flex-column role-control input-group">
            <div class="d-flex position-relative flex-column mb-4 ">
              <span class="mb-2" [ngClass]="{'text-muted' : !edit.status}">Name</span>
              <div class="position-relative">
                <input *ngIf="edit.status" type="text" class="form-control"
                  (ngModelChange)="markAsTouched(selectedRole)" maxlength="40" [(ngModel)]="selectedRole.name"
                  placeholder="Untitled role" id="roleName" [disabled]="selectedRole.skipReviewRole"
                  (keyup)="checkPermissionChange()" />
                <span *ngIf="!edit.status" class="form-control-plaintext">{{
                  selectedRole.name
                  }}</span>
                <span #infoTooltip="ngbTooltip" *ngIf="edit.status"
                  class="info dsi dsi-info-circle text-muted position-absolute" ngbTooltip="Maximum 40 chars allowed"
                  container="body" placement="right">&nbsp;</span>
              </div>
            </div>
            <div class="d-flex w-100 mb-3 position-relative flex-column">
              <span class="mb-2" [ngClass]="{'text-muted' : !edit.status}">Description</span>
              <div class="position-relative">
                <textarea *ngIf="edit.status" class="form-control description" [(ngModel)]="selectedRole.description"
                  placeholder="Description" rows="4" [disabled]="selectedRole.skipReviewRole"
                  (keyup)="checkPermissionChange()" maxlength="250"></textarea>
                <span *ngIf="!edit.status" class="form-control-plaintext text-break text-justify">{{
                  selectedRole.description }}</span>
                <span #infoTooltip="ngbTooltip" *ngIf="edit.status"
                  class="info dsi dsi-info-circle text-muted position-absolute" ngbTooltip="Maximum 250 chars allowed"
                  container="body" placement="right">&nbsp;</span>
              </div>
            </div>
          </div>

        </div>
        <div *ngIf="!selectedRole.skipReviewRole" class="border rounded w-100">
          <div class="tab-list d-flex align-items-center border-bottom w-100 p-3 bg-light-gray text-uppercase">
            <div class="tab px-3 font-13 hover"
              [ngClass]="{ 'text-dark fw-500': activeTab === 1,'text-muted fw-400': activeTab !== 1 }"
              (click)="activeTab = 1">
              Permission
            </div>
            <div class="tab px-3 font-13 hover"
              [ngClass]="{ 'text-dark fw-500': activeTab === 2,'text-muted fw-400': activeTab !== 2 }"
              (click)="activeTab = 2" *ngIf="!schemaFree">
              Dynamic Filters
            </div>
          </div>
          <div class="tab-container d-flex align-items-start w-100 p-4">
            <div id="tab-1" class="w-100" *ngIf="activeTab === 1">
              <div class="d-flex flex-column w-100 mb-3">
                <div class="d-flex align-items-center">
                  <div class="d-flex align-items-center mr-3 my-3 hover" (click)="changePermission('manage')">
                    <odp-round-radio id="permissions" [edit]="{status:edit.status&&hasPermission('PMDSR')}"
                      [checked]="selectRoleType == 'manage'" (checkedChange)="changePermission('manage')">
                    </odp-round-radio>
                    <span class="ml-2">Manage</span>
                  </div>
                  <div class="d-flex align-items-center mr-3 my-3 hover" (click)="changePermission('view')">
                    <odp-round-radio id="permissions" [edit]="{status:edit.status&&hasPermission('PMDSR')}"
                      [checked]="selectRoleType == 'view'" (checkedChange)="changePermission('view')"></odp-round-radio>
                    <span class="ml-2">View</span>
                  </div>
                </div>
                <div *ngIf="selectRoleType === 'manage'" class="mt-5">
                  <div class="d-flex align-items-center mr-3 mb-3"
                    (click)="edit && edit.status ? canCreate = !canCreate:''">
                    <odp-checkbox id="createCheckbox" [edit]="edit" [checked]="canCreate"
                      (checkedChange)="canCreate = !canCreate" [disabled]="!hasPermission('PMDSR')"></odp-checkbox>
                    <span class="ml-2">Create</span>
                  </div>
                  <div class="d-flex align-items-center mr-3 mb-3"
                    (click)="edit && edit.status ? canEdit = !canEdit:''">
                    <odp-checkbox id="editCheckbox" [edit]="edit" [checked]="canEdit"
                      (checkedChange)="canEdit = !canEdit" [disabled]="!hasPermission('PMDSR')"></odp-checkbox>
                    <span class="ml-2">Edit</span>
                  </div>
                  <div class="d-flex align-items-center mr-3 mb-3"
                    (click)="edit && edit.status ? canDelete = !canDelete:''">
                    <odp-checkbox id="deleteCheckbox" [edit]="edit" [checked]="canDelete"
                      (checkedChange)="canDelete = !canDelete" [disabled]="!hasPermission('PMDSR')"></odp-checkbox>
                    <span class="ml-2">Delete</span>
                  </div>
                </div>
              </div>
              <div class="d-flex w-100 mb-3" *ngIf="selectRoleType == 'view' && !schemaFree">
                <span class="text-secondary font-weight-bold"></span>
                <div class="d-flex flex-column w-100">
                  <div class="d-flex flex-column pt-3 position-relative">
                    <div class="d-flex pb-2 border-bottom">
                      <div class="d-flex flex-row">
                        <span class="text-muted">
                          Attributes
                        </span>
                      </div>
                      <span class="text-muted ml-auto">Permission</span>
                    </div>
                    <div class="d-flex flex-column" [ngClass]="{ edit: edit.status }">
                      <ng-container *ngFor="let srcDef of sourceDefinition; let i = index">
                        <ng-container *ngTemplateOutlet="
                            fieldStructure;
                            context: { def: srcDef, level: 0 }
                          ">
                        </ng-container>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="tab-2" class="w-100" *ngIf="activeTab === 2">
              <div class="d-flex w-100 mb-3">
                <span class="text-dark font-weight-bold first-column">Enable Filters</span>
                <div class="d-flex flex-column">
                  <odp-switch [(checked)]="hasConditions" [edit]="edit"></odp-switch>
                  <small class="text-muted role-control-right mb-3 mt-2">
                    Data Will be fine grained based on the condition you provide
                    here.
                  </small>
                </div>
              </div>
              <ng-container *ngIf="hasConditions">
                <div *ngIf="selectedMode == 'Basic'" class="rule-wrapper border rounded p-3 bg-white">
                  <ng-container *ngFor="let item of rule; let i = index; let l = last">
                    <div class="rule-block d-flex align-items-stretch" odpClickOutside [ignore]="[
                        '.selector-list-item',
                        '.common-options-item',
                        '.selected-data-service'
                      ]">
                      <div class="rule-block-query d-flex flex-column align-items-start">
                        <odp-dynamic-condition [edit]="edit" [(rules)]="rule" [definition]="definition"
                          (isInvalid)="onInvalidRole($event, i)" [index]="i">
                        </odp-dynamic-condition>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <ng-container *ngIf="selectedMode == 'Advance'">
                  <p class="font-13 fw-500 sub-heading">Write your filter in JSON</p>
                  <div class="rule-wrapper border rounded py-4 bg-white position-relative" [ngClass]="{'border-danger':isInvalidJSON}">
                    <small class="text-danger editor-error-message position-absolute" [ngClass]="{'show':isInvalidJSON}">JSON is Invalid</small>
                    <odp-monotype-editor class="editor-wrapper" [edit]="edit" [(code)]="dynamicFilter">
                    </odp-monotype-editor>
                  </div>
                </ng-container>
                <div *ngIf="selectedMode == 'Expert'" class="rule-wrapper border rounded py-3 bg-white">
                  <!-- <p>Write your Code</p> -->
                  <odp-monotype-editor class="editor-wrapper" [edit]="edit"></odp-monotype-editor>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #fieldStructure let-def="def" let-level="level">
  <div class="field-wrapper d-flex align-items-center justify-content-between w-100 px-3 my-1">
    <div class="d-flex align-items-center">
      <span class="spacer border-right border-secondary" [ngStyle]="getSpacing(level)"></span>
      <span class="icon odp-pin text-muted mr-2 fa-xs mt-1" *ngIf="idField(def)"></span>
      <span class="icon d-flex align-items-center mr-2" *ngIf="!idField(def)">
        <span class="fa text-secondary fa-lg hover" (click)="
            collapse[def.properties.dataKey] = !collapse[def.properties.dataKey]
          " *ngIf="def.type == 'Object'" [ngClass]="{
            'fa-caret-right': collapse[def.properties.dataKey],
            'fa-caret-down': !collapse[def.properties.dataKey]
          }"></span>
        <span class="fa fa-asterisk text-danger" *ngIf="def.properties.required"></span>
      </span>
      <div class="input-control position-relative mr-3">
        <span class="field form-control-plaintext">{{
          def.properties.name
          }}</span>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
      <div class="field-type-container">
        <odp-field-type [field]="def" label="true"></odp-field-type>
      </div>
      <odp-switch class="ml-3" [attr.id]="def.properties.dataKey" [checked]="isChecked(def.properties.dataKey)"
        (checkedChange)="changeValue(def.properties.dataKey, $event)" [edit]="edit"></odp-switch>
    </div>
  </div>
  <ng-container *ngIf="def.type == 'Object' && !collapse[def.properties.dataKey]">
    <ng-container *ngFor="let srcDef of def.definition; let i = index; let l = last">
      <ng-container *ngTemplateOutlet="
          fieldStructure;
          context: { def: srcDef, level: level + 1 }
        "></ng-container>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #deleteModal>
  <div class="modal-body p-4">
    <p class="font-20 fw-600">{{ delete.title }}</p>
    <p class="text-secondary text-center my-5">
      Are you sure you want to delete
      <strong *ngIf="delete.label">{{ delete.label }}</strong>
      <strong *ngIf="!delete.label" class="text-muted">Untitled role</strong>
    </p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-outline-dark mr-3" (click)="deleteModalRef.close(false)"
        id="sbDeleteModalNo">No</button>
      <button type="button" class="btn btn-min-width btn-danger" (click)="deleteModalRef.close(true)"
        id="sbDeleteModalYes">Yes</button>
    </div>
  </div>
</ng-template>