<div class="d-flex permission-container">
    <div class="d-flex flex-column border-right-1 roles-list border-right">
        <div class="d-flex justify-content-between align-items-center py-2 border-bottom">
            <span class="roles-list-heading font-weight-bold ml-3">Roles</span>
            <span class="btn btn-link" (click)="addPermission()" id="addNewRole" *ngIf="edit.status">
                <i class="fa fa-plus mr-2"></i>
                <span class="text">Add New</span>
            </span>
        </div>
        <!-- <div class="d-flex flex-row search">
          <span class="fa fa-search m-t-75 m-r-10 ml-2 position-absolute"></span>
          <input type="text" class="form-control ml-1 inpunt-indent rounded-0 border-0" placeholder="Search" [(ngModel)]="searchRole">
        </div> -->
        <div class="role-list">
            <div class="d-flex flex-column">
                <div class="d-flex flex-column roles-list-item border-bottom hover" (click)="onSelectRole(role,i)"
                    *ngFor="let role of roles | filterRole: searchRole;let i=index"
                    [ngClass]="{'active bg-white':i==selectedRoleIndex}">
                    <div class="d-flex h-100">
                        <div class="d-flex align-items-center justify-content-center text-secondary symbol-holder"
                            id="viewRole">
                            <span class="fa fa-eye mr-2" *ngIf="!canManage(i)"></span>
                            <span class="odp-manager mr-2" *ngIf="canManage(i)"></span>
                        </div>
                        <div class="d-flex flex-column">
                            <div class="p-2 m-0 w-100 text-truncate role-name-width">
                                <span class="text-muted roles-list-heading" *ngIf="!role.name">Untitled role</span>
                                <span class="text roles-list-heading" *ngIf="role.name" [ngbTooltip]="role.name"
                                    container="body" placement="top">{{role.name}}</span>
                            </div>
                            <span class="text-secondary px-2 mt-2 pb-2 roles-list-name" *ngIf="canManage(i)">
                                <div class="d-flex align-items-center">
                                    <span class="odp-add-circle mr-2"
                                        [ngClass]="{'color-create':permissionEnabled(i,'POST')}"></span>
                                    <span class="odp-edit mr-2"
                                        [ngClass]="{'color-edit':permissionEnabled(i,'PUT')}"></span>
                                    <span class="odp-delete mr-2"
                                        [ngClass]="{'color-delete':permissionEnabled(i,'DELETE')}"></span>
                                    <span class="odp-approver mr-2"
                                        [ngClass]="{'color-approve':permissionEnabled(i,'REVIEW') && !permissionEnabled(i,'SKIP_REVIEW')}"></span>
                                    <span *ngIf="permissionEnabled(i,'SKIP_REVIEW')"
                                        class="fa fa-forward text-success mr-2"></span>
                                </div>
                            </span>
                            <span class="text-secondary px-2 mt-2 pb-2 roles-list-name" *ngIf="!canManage(i)">
                                <span class="text">{{getViewAttributes(role.id)}} Attributes</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column w-100">
        <div class="d-flex flex-column role-container">
            <div class="d-flex flex-column align-items-start p-3">
                <div class="basic-info d-flex align-items-start justify-content-between w-100">
                    <div class="d-flex flex-column role-control">
                        <div class="d-flex w-100 mb-3 position-relative">
                            <span class="text-dark font-weight-bold first-column">Name</span>
                            <input *ngIf="edit.status" type="text" class="form-control"
                                (ngModelChange)="markAsTouched(selectedRole)" maxlength="40"
                                [(ngModel)]="selectedRole.name" placeholder="Untitled role" id="roleName"
                                [disabled]="selectedRole.skipReviewRole" (keyup)="checkPermissionChange()">
                            <span *ngIf="!edit.status" class="form-control-plaintext">{{selectedRole.name}}</span>
                            <span #infoTooltip="ngbTooltip" *ngIf="edit.status"
                                class="info fa fa-info-circle text-muted position-absolute"
                                ngbTooltip="Maximum 40 chars allowed" container="body" placement="right">&nbsp;</span>
                        </div>
                        <div class="d-flex w-100 mb-3 position-relative">
                            <span class="text-dark font-weight-bold first-column">Description</span>
                            <textarea *ngIf="edit.status" class="form-control description" [(ngModel)]="selectedRole.description"
                                placeholder="Description" rows="3" [disabled]="selectedRole.skipReviewRole"
                                (keyup)="checkPermissionChange()" maxlength="250"></textarea>
                            <span *ngIf="!edit.status"
                                class="form-control-plaintext text-break text-justify">{{selectedRole.description}}</span>
                                <span #infoTooltip="ngbTooltip" *ngIf="edit.status"
                                class="info fa fa-info-circle text-muted position-absolute"
                                ngbTooltip="Maximum 250 chars allowed" container="body" placement="right">&nbsp;</span>
                        </div>
                    </div>
                    <button class="btn btn-link text-danger font-weight-bold" id="roleDeleteBtn" type="button"
                        *ngIf="edit.status && !selectedRole.skipReviewRole" (click)="deletePermission()">
                        <span class="text">Delete role</span>
                    </button>
                </div>
                <ng-container *ngIf="!selectedRole.skipReviewRole">
                    <div class="enable-review d-flex w-100 mb-3">
                        <span class="text-dark font-weight-bold first-column">Enable Review System</span>
                        <div class="d-flex flex-column">
                            <odp-switch [(checked)]="canApprove" [edit]="edit"></odp-switch>
                            <small class="text-muted role-control-right mb-3 mt-2">
                                This role is entitled to enable review system for this Data Service and Grants
                                permission to a user to Review the documents created in this Data Service.
                            </small>
                        </div>
                    </div>
                    <div class="tab-list d-flex align-items-center border-bottom w-100">
                        <div class="tab px-3" [ngClass]="{'text-accent border-accent':activeTab === 1}"
                            (click)="activeTab=1">
                            Permission
                        </div>
                        <div class="tab px-3" [ngClass]="{'text-accent border-accent':activeTab === 2}"
                            (click)="activeTab=2">
                            Condition
                        </div>
                    </div>
                    <div class="tab-container d-flex align-items-start border-bottom w-100">
                        <div id="tab-1" *ngIf="activeTab === 1">
                            <div class="d-flex w-100 my-3">
                                <span class="text-dark font-weight-bold first-column">Permission</span>
                                <div class="d-flex flex-column">
                                    <div class="level-one position-relative mb-3">
                                        <div (click)="toggleDropdown['GLOBAL']=hasPermission('PMDSR') && edit.status?(!toggleDropdown['GLOBAL']):false"
                                            [ngClass]="{'view':selectRoleType === 'view','manage':selectRoleType === 'manage','hover':hasPermission('PMDSR')}"
                                            class="rounded-dropdown-toggle d-flex align-items-center ignore-outside">
                                            <div class="icon d-flex align-items-center justify-content-center">
                                                <span *ngIf="selectRoleType === 'view'" class="fa fa-eye"></span>
                                                <span *ngIf="selectRoleType === 'manage'" class="fa fa-pen"></span>
                                            </div>
                                            <div *ngIf="selectRoleType === 'view'" class="text">View</div>
                                            <div *ngIf="selectRoleType === 'manage'" class="text">Manage</div>
                                            <span *ngIf="hasPermission('PMDSR') && edit.status"
                                                class="fa fa-angle-down fa-sm"></span>
                                        </div>
                                        <div (outside)="toggleDropdown['GLOBAL']=false" *ngIf="toggleDropdown['GLOBAL']"
                                            class="rounded-dropdown" odpClickOutside>
                                            <div (click)="toggleDropdown['GLOBAL']=false;selectRoleType='view'"
                                                class="rounded-dropdown-item d-flex align-items-center">
                                                <div class="icon d-flex align-items-center justify-content-center view">
                                                    <span class="fa fa-eye"></span>
                                                </div>
                                                <div class="text">View</div>
                                            </div>
                                            <div (click)="toggleDropdown['GLOBAL']=false;selectRoleType='manage'"
                                                class="rounded-dropdown-item d-flex align-items-center">
                                                <div
                                                    class="icon d-flex align-items-center justify-content-center manage">
                                                    <span class="fa fa-pen"></span>
                                                </div>
                                                <div class="text">Manage</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="selectRoleType==='manage'"
                                        class="level-two position-relative d-flex align-items-center mb-3">
                                        <div (click)="canCreate=!canCreate"
                                            [ngClass]="{'checked':canCreate,'disabled':!hasPermission('PMDSR') || !edit.status}"
                                            class="round-checkbox d-flex align-items-center justify-content-between mr-3">
                                            <div class="text  font-weight-bold">Create</div>
                                            <div class="round-check d-flex align-items-center justify-content-center">
                                                <span class="fa fa-check"></span>
                                            </div>
                                        </div>
                                        <div (click)="canEdit=!canEdit"
                                            [ngClass]="{'checked':canEdit,'disabled':!hasPermission('PMDSR') || !edit.status}"
                                            class="round-checkbox d-flex align-items-center justify-content-between mr-3">
                                            <div class="text  font-weight-bold">Edit</div>
                                            <div class="round-check d-flex align-items-center justify-content-center">
                                                <span class="fa fa-check"></span>
                                            </div>
                                        </div>
                                        <div (click)="canDelete=!canDelete"
                                            [ngClass]="{'checked':canDelete,'disabled':!hasPermission('PMDSR') || !edit.status}"
                                            class="round-checkbox d-flex align-items-center justify-content-between mr-3">
                                            <div class="text  font-weight-bold">Delete</div>
                                            <div class="round-check d-flex align-items-center justify-content-center">
                                                <span class="fa fa-check"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex w-100 mb-3" *ngIf="selectRoleType == 'view'">
                                <span class="text-secondary font-weight-bold first-column"></span>
                                <div class="d-flex flex-column">
                                    <div class="d-flex flex-column pt-3 position-relative fields-container">
                                        <div
                                            class="d-flex justify-content-between align-items-center pb-2 border-bottom">
                                            <div class="d-flex flex-row">
                                                <span class="font-weight-bold text-accent">
                                                    Attributes ({{countFields()}})
                                                </span>
                                            </div>
                                            <span class="font-weight-bold text-accent">Permission</span>
                                        </div>
                                        <div class="d-flex flex-column" [ngClass]="{'edit':edit.status}">
                                            <ng-container *ngFor="let srcDef of sourceDefinition;let i=index;">
                                                <ng-container
                                                    *ngTemplateOutlet="fieldStructure;context:{def:srcDef,level:0}">
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" *ngIf="activeTab === 2">
                            <div class="d-flex w-100 my-3">
                                <span class="text-dark font-weight-bold first-column">Enable Conditions</span>
                                <div class="d-flex flex-column">
                                    <odp-switch [(checked)]="hasConditions" [edit]="edit"></odp-switch>
                                    <small class="text-muted role-control-right mb-3 mt-2">
                                        Data Will be fine grained based on the condition you provide here.
                                    </small>
                                </div>
                            </div>
                            <div *ngIf="rule.length>0" class="rule-wrapper border rounded p-3 bg-white">
                                <ng-container *ngFor="let item of rule;let i=index;let l=last">
                                    <div tabindex="1" class="rule-block d-flex align-items-stretch px-3 rounded"
                                        [ngClass]="{'focus':blockFocus[i] && (edit.status) }" odpClickOutside
                                        [ignore]="['.selector-list-item','.common-options-item','.selected-data-service']"
                                        (inside)="blockFocus[i]=true" (outside)="blockFocus[i]=false">
                                        <div class="rule-block-gutter d-flex flex-column align-items-center">
                                            <div class="border-border gutter-16" [ngClass]="{'border-right':i>0}"></div>
                                            <div class="badge p-2"
                                                [ngClass]="{'badge-danger':blockInvalidRole[i],'badge-light':!blockInvalidRole[i]}">
                                                ANS=</div>
                                            <div class="border-border border-right h-100"></div>
                                        </div>
                                        <div class="rule-block-query d-flex flex-column align-items-start ml-2 py-3">
                                            <odp-select-block *ngIf="item.type==='Condition'" [edit]="edit"
                                                [(rules)]="rule" (isInvalid)="onInvalidRole($event, i)" [index]="i">
                                            </odp-select-block>
                                            <odp-traverse-block *ngIf="item.type==='Traverse'" [edit]="edit"
                                                [(rules)]="rule" (isInvalid)="onInvalidRole($event, i)" [index]="i">
                                            </odp-traverse-block>
                                        </div>
                                    </div>
                                </ng-container>
                                <div class="rule-block d-flex align-items-stretch px-3">
                                    <div class="rule-block-gutter d-flex flex-column align-items-center">
                                        <div class="border-border border-right gutter-16"></div>
                                        <div *ngIf="edit.status"
                                            class="d-flex flex-column align-items-start position-relative">
                                            <button type="button" class="btn btn-sm btn-light ignore-outside"
                                                (click)="toggleDropdown['BLOCK']=!toggleDropdown['BLOCK']">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                            <div *ngIf="toggleDropdown['BLOCK']"
                                                class="value-options-dropdown options-dropdown position-absolute bg-white rounded"
                                                odpClickOutside (outside)="toggleDropdown['BLOCK']=false">
                                                <div class="d-flex align-items-center p-2">
                                                    <span class="mx-2 text-accent">Add step:</span>
                                                </div>
                                                <div class="d-flex align-items-center hover p-2"
                                                    (click)="addRule('Condition')">
                                                    <span class="mx-2 text-dark">SELECT</span>
                                                </div>
                                                <div class="d-flex align-items-center hover p-2"
                                                    (click)="addRule('Traverse')">
                                                    <span class="mx-2 text-dark">TRAVERSE</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-border border-right gutter-16"></div>
                                        <div class="badge p-2"
                                            [ngClass]="{'badge-success':ruleBlocksValid,'badge-danger':!ruleBlocksValid}">
                                            <span class="odp-exit-right"></span>
                                        </div>
                                    </div>
                                    <div class="rule-block-query d-flex flex-column align-self-end ml-2 pb-1">
                                        <span class="font-weight-bold">ANS</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<ng-template #fieldStructure let-def="def" let-level="level">
    <div class="field-wrapper d-flex align-items-center justify-content-between w-100 px-3 border-bottom">
        <div class="d-flex align-items-center">
            <span class="spacer border-right border-secondary" [ngStyle]="getSpacing(level)"></span>
            <!-- <span class="icon mr-2" (dragenter)="dragEnterEvent($event)">
                    <span class="fa fa-bars text-muted hover" draggable="true" (dragstart)="dragStartEvent($event)" *ngIf="!idField && edit.status"></span>
                </span> -->
            <span class="icon odp-pin text-muted mr-2 fa-xs mt-1" *ngIf="idField(def)"></span>
            <span class="icon d-flex align-items-center mr-2" *ngIf="!idField(def)">
                <span class="fa text-secondary fa-lg hover"
                    (click)="collapse[def.properties.dataKey]=!collapse[def.properties.dataKey]"
                    *ngIf="def.type=='Object'"
                    [ngClass]="{'fa-caret-right':collapse[def.properties.dataKey],'fa-caret-down':!collapse[def.properties.dataKey]}"></span>
                <span class="fa fa-asterisk text-danger" *ngIf="def.properties.required"></span>
            </span>
            <div class="input-control position-relative mr-3">
                <span class="field form-control-plaintext">{{def.properties.name}}</span>
            </div>
            <odp-field-type [field]="def" label="true"></odp-field-type>
        </div>
        <odp-switch [attr.id]="def.properties.dataKey" [checked]="isChecked(def.properties.dataKey)"
            (checkedChange)="changeValue(def.properties.dataKey,$event)" [edit]="edit"></odp-switch>
    </div>
    <ng-container *ngIf="def.type == 'Object' && !collapse[def.properties.dataKey]">
        <ng-container *ngFor="let srcDef of def.definition;let i=index;let l=last">
            <ng-container *ngTemplateOutlet="fieldStructure;context:{def:srcDef,level:level+1}"></ng-container>
        </ng-container>
    </ng-container>
</ng-template>

<ng-template #deleteModal>
    <div class="modal-body p-4">
        <div class="circle bg-dark">
            <span class="fa fa-trash text-white"></span>
        </div>
        <p class="text-dark font-weight-bold text-center">{{delete.title}}</p>
        <p class="text-secondary text-center">Are you sure you want to delete
            <strong *ngIf="delete.label">{{delete.label}}</strong>
            <strong *ngIf="!delete.label" class="text-muted">Untitled role</strong>
        </p>
    </div>
    <div class="modal-footer p-3 bg-light">
        <button type="button" class="btn btn-min-width btn-default w-50 mx-3" (click)="deleteModalRef.close(false)"
            id="sbDeleteModalNo">No</button>
        <button type="button" class="btn btn-min-width btn-dark w-50 mx-3" (click)="deleteModalRef.close(true)"
            id="sbDeleteModalYes">Yes</button>
    </div>
</ng-template>