<div class="default-loader d-flex justify-content-center w-100 h-100" *ngIf="showLoader">
    <div class="align-self-center text-center">
        <div class="spinner-border text-dark" role="status">
            <span class="sr-only">Processing...</span>
        </div>
        <div class="text-secondary mt-2">Processing</div>
    </div>
</div>
<div class="data-format-selector-wrapper">
    <div>
        <odp-search-box open="true" (enteredText)="searchFormat($event)" (reset)="clearSearch()"></odp-search-box>
    </div>
    <div class="mt-2">
        <span class="font-12 text-muted">Last 10 Created/Updated formats are listed, Search for more.</span>
    </div>
    <div class="list-group my-3">
        <div class="list-group-item list-group-item-action d-flex align-items-center justify-content-between hover"
            *ngFor="let item of dataFormatList" (click)="toggleItem(!item._selected,item)">
            <div class="list-item-format-name d-flex align-items-center flex-fill">
                <odp-round-radio [edit]="edit" [checked]="item._selected">
                </odp-round-radio>
                <span class="ml-3">{{item.name}}</span>
            </div>
            <span class="list-item-attribute-count text-right">{{item.attributeCount}}</span>
            <span class="list-item-format-type text-right">{{item.formatType}}</span>
        </div>
        <div *ngIf="!dataFormatList || dataFormatList.length == 0"
            class="list-group-item d-flex align-items-center justify-content-between text-secondary">
            No Data Format found for the term: <span class="fw-500 text-dark">{{searchTerm}}</span>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-end">
        <button type="button" class="btn btn-primary w-100" [disabled]="!isFormatSelected"
            (click)="selectFormat()">Select Format</button>
    </div>
</div>