.magnifier_icon {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-image: url('../../img/magnifier.svg');
    background-position: center;
    margin-top: 10px;
}
