.formula_builder{
    // height: calc(100% - 101px);
    padding: 0;
    .row{
        height: 100%;
    }
    .formula_editor_ct{
        padding: 15px;
        .formula_editor{
            height: 100%;
            padding: 15px;
            box-shadow: 0 0 5px 1px rgba(0,0,0,0.2);
            .function{
                .function-name{
                    color:#185e9d;
                    font-weight: bold;
                    margin:5px;
                    &:hover{
                        box-shadow: 0 0px 1px 1px  #185e9d;
                        transition: 0.4s all;
                    }
                }
                .param,.param-seperator{
                    color:#777;
                }
                .attribute{
                    margin:0px;
                }
            }
            .attribute{
                margin:5px;
                color:#333;
                font-weight: bold;
                &[data-type='string']{
                    color:#795548;
                }
                &[data-type='number']{
                    color: #FF9800;
                }
            }
        }
    }
    .functions_ct{
        border-left: 1px solid #ccc;
        padding-left: 0;
        padding-right: 0;
    }
    .attributes_ct{
        border-right: 1px solid #ccc;
        padding-left: 0;
        padding-right: 0;
    }
    .panel_header{
        height: 40px;
        border: 1px solid #ccc;
        background: #f2f3f6;
        border-top: none;
        line-height: 30px;
        font-weight: bold;
        padding: 5px 10px;
    }
    .attr_list{
        list-style: none;
        margin:1em auto;
        padding: 0;
        li{
            border:1px solid #ccc;
            margin: 10px 20px;
            padding: 5px 15px;
            border-radius: 20px;
            position: relative;
            cursor: pointer;
        }
    }
    .fn_content{
        margin:15px 0;
        height: calc(100vh - 233px);
        overflow-y: auto;
        ul{
            list-style: none;
            li{
                padding-top: 8px;
                padding-top: 8px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .fn_item{
            position: relative;
            &:hover{
                color:#185e9d;
                text-shadow: 0 0px 4px rgba(0,0,0,0.4);
            }
        }
    }
}