.microflow_mapper{
    .active{
        background: #fff;
    }
    .modal-dialog{
        max-width: 90%;
        height: calc(100% - 60px);
        .modal-content{
            height: 100%;
            .modal-header{
                background: #F2F3F6;
                height: 40px;
                .modal-title{
                    line-height: 10px;
                    color: #797a7b;
                }
                .close{
                    padding: 8px 20px;
                }
            }
        }
    }
    .flow_details{
        padding: 7px;
        height: 40px;
        border-bottom: 1px solid #ccc;
        .f_label{
            font-weight: bold;
        }
        .f_value{
            font-weight: bold;
            color:#185e9d;
        }
    }
    .mapper_ct{
        height: calc(100vh - 259px);
        overflow-y: auto;
        .svg_ct{
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            height: calc(100vh + 259px);
        }
        ul{
            list-style: none;
            margin:1em auto;
            padding: 0;
            li{
                border:1px solid #ccc;
                margin: 5px;
                padding: 6px 15px;
                border-radius: 20px;
                position: relative;
                cursor: pointer;
                &.source_attr{
                    &:after{
                        content:'';
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        background-color: #ccc;
                        right: 8px;
                        top: 11px;
                        border-radius: 50%;
                    }
                }
                &.target_attr{
                    padding-left: 2em;
                    transition:1s all;
                    &:before{
                        content:'';
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        background-color: #ccc;
                        border-radius: 50%;
                        left: 10px;
                        top: 11px;
                    }
                    &:hover{
                        &:before{
                            background-color: #185e9d;
                        }
                    }
                    .formula_icon{
                        position: absolute;
                        right: 40px;
                        top: 8px;
                        color: #185e9d;
                        height: 20px;
                        width: 20px;
                        background-position: center;
                        background-size: cover;
                        background-image: url('../../img/fx-sign.svg');
                    }
                    .unlink_flow{
                        position: absolute;
                        right: 15px;
                        top: 12px;
                        color: #185e9d;
                    }
                }
                &.attr_selected{
                    background: rgba(1, 110, 203, 0.2);
                    &:after{
                        background-color: #185e9d;
                    }
                }
            }
        }
    }
}


path {
	fill: none;
    stroke: #ddd;
    transition:0.2s all;
    z-index: 2;
    &.path_highlighted{
       stroke: #185e9d;
       z-index: 10;
    }
}

svg{
    position: absolute;
    top: 0;
    left: -48px;
    right: 0;
    bottom: 0;
}
