.card_container.partner_card {
    width: 100%;
    padding: 10px 10px 0px 10px;
    overflow-y: auto;
    margin-bottom: 80px;
    .row {
        margin: 0px;
    }
    .partner_card {
        height: 240px;
        width: 250px;
        margin: 8px;
        border-radius: 10px;
        background: #fff;
        overflow: hidden;
        padding: 0px;
        margin-bottom: 25px;
        transition: all 0.2s;
        box-shadow: 0px 2px 2px 0px #aaa;
        border: black solid 2px;
        .partner_card_header {
            width: 100%;
            height: 40px;
            background: #fff;
            padding: 0px 15px;
            border-bottom: 1px solid #bdbdbd;
            .card_version {
                font-size: 12px;
                opacity: .75;
                height: 40px;
                float: left;
                text-align: center;
                padding-top: 10px;
            }
            .partner_card_title {
                width: 70%;
                float: left;
                font-size: 15px;
                line-height: 40px;
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                .running_status {
                    width: 10px;
                    height: 10px;
                    float: left;
                    border-radius: 50%;
                    margin: 15px 10px 0px 0px;
                }
            } // service_card_title
            .other_action {
                width: 20% !important;
                float: right;
                height: 40px;
                .d-inline-block {
                    float: right;
                }
                .partner_action {
                    width: 20px;
                    height: 20px;
                    float: left;
                    background-repeat: no-repeat;
                    background-size: 12px auto;
                    background-position: center;
                    margin-top: 8px;
                    cursor: pointer;
                }
                .more_btn {
                    width: 12px;
                    height: 30px;
                    float: left;
                    background-image: url('../../img/more.svg');
                    background-repeat: no-repeat;
                    background-size: 4px auto;
                    background-position: center;
                    margin: 4px 0px 0px 8px;
                    opacity: 0.3;
                    cursor: pointer;
                    transition: all 0.2s;
                    &:hover {
                        opacity: 1;
                    }
                }
                .partner_menu {
                    right: -11px;
                    left: -128px !important;
                    box-shadow: 0px 2px 6px 0 #aaa;
                }
            }
        } // service_card_header
        .partner_card_content {
            width: 100%;
            padding: 15px 0px;
            .card_content_row {
                margin-bottom: 15px;
                &:last-child {
                    margin-bottom: 0px;
                }
                .card_content_icon {
                    width: 28px;
                    height: 28px;
                    float: left;
                    background-size: 15px auto;
                    background-repeat: no-repeat;
                    background-position: center;
                    font-size: 32px;
                }
                .card_content_text {
                    font-size: 14px;
                    float: left;
                    line-height: 30px;
                    margin-left: 15px;
                }
                .card_content_counter {
                    min-width: 23px;
                    height: 23px;
                    border-radius: 8px;
                    background: #c5cae9;
                    color: #303f9f;
                    text-align: center;
                    line-height: 23px;
                    font-size: 12px;
                    font-weight: 600;
                    margin-top: 4px;
                    float: right;
                    padding: 0 7px;
                }
            } // card_content_row
        } // service_card_content
        &:hover {
            box-shadow: 0px 6px 6px 0px #aaa;
        }
    } // service_card
    .card_green {
        border: 2px solid $green;
    }
    .card_red {
        border: 2px solid #FF6600;
    }
}
