<div [formGroup]="form.get('properties')">
  <div class="d-flex w-100  flex-column mb-4" *ngIf="!isDataFormat && !isLibrary ">
    <div>
      <div class=" text-secondary">Default Value
      </div>
      <div class=" position-relative">
        <ng-container *ngIf="edit.status">
          <input class="form-control" *ngIf="isNumber(form.get('properties'))" type="number"
            [ngClass]="{'is-invalid':form.get('properties.default').errors}"
            (blur)="validateNumbDefaultValue(form.get('properties.default').value,form.get('properties'))"
            formControlName="default" id="_default" placeholder="Default Value">
          <!-- <p>{{test(form.get('properties.default').value)}}</p> -->
          <div class="" *ngIf=" form.get('properties._detailedType').value === 'enum'">
            <select class="form-control" formControlName="default" id="_currency"
              (change)="setEnumValue(form.get('properties'))" [attr.disabled]="checkStateModel() ? '' : null">
              <option [value]=null selected>Select Value</option>
              <option id="_relationAttr" *ngFor="let attr of form.get('properties.enum').value" [value]="attr">{{attr}}
              </option>
            </select>
          </div>
          <input class="form-control" *ngIf=" form.get('properties._detailedType').value === 'currency'" type="number"
            formControlName="default" id="_default" placeholder="Default Value"
            [ngClass]="{'is-invalid':form.get('properties.default').errors}"
            (blur)="validateNumbDefaultValue(form.get('properties.default').value,form.get('properties'))">
        </ng-container>
        <ng-container *ngIf="!edit.status">
          <span>{{form.get('properties.default').value}}</span>
        </ng-container>
      </div>
    </div>
    <div>
      <div></div>
      <span class="text-danger" *ngIf="form.get('properties.default').hasError('min')"><span
          class="fa fa-times mr-1"></span>
        {{form.get('properties.name').value}} should have min {{form.get('properties.min').value}}
      </span>
      <span class="text-danger" *ngIf="form.get('properties.default').hasError('max')"><span
          class="fa fa-times mr-1"></span>
        {{form.get('properties.name').value}} should have max {{form.get('properties.max').value}}
      </span>
      <span class="text-danger" *ngIf="form.get('properties.default').hasError('precision')"><span
          class="fa fa-times mr-1"></span>
        {{form.get('properties.name').value}} should have max {{form.get('properties.precision').value}} precision
      </span>
    </div>
  </div>
  <div class="d-flex w-100 mb-4"
    *ngIf="form.get('properties.currency') && form.get('properties._detailedType').value === 'currency'">
    <div class=" text-secondary">Currency</div>
    <div class="">
      <select *ngIf="edit.status" class="form-control" formControlName="currency" id="_currency">
        <option value="EUR">EUR</option>
        <option value="INR">INR</option>
        <option value="USD">USD</option>
      </select>
    </div>
  </div>
  <div class="d-flex w-100 mb-4"
    *ngIf="form.get('properties.enum') && form.get('properties._detailedType').value === 'enum'">
    <div class=" text-secondary">Values</div>
    <div class=" position-relative">
      <ng-container *ngIf="edit.status">
        <input class="form-control pr-4" (paste)="pasteOnList($event,'enum','number')"
          [ngClass]="{'invalid-enum' : form.get('properties.enum').hasError('emptyEnum') }"
          (keyup.enter)="listEnterKey($event,'enum')" type="number" formControlName="_listInput" id="_numberLovInput">
        <button type="button" class="list-add-button btn btn-link hover position-absolute p-0"
          [disabled]="form.get('properties._listInput').value===''" (click)="addToList('enum')">
          <span class="fa fa-plus text-primary"></span>
        </button>
      </ng-container>
      <div *ngIf="form.get('properties.enum').hasError('emptyEnum')">
        <span class="text-danger">
          Values cannot be empty
        </span>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column w-100 mb-4"
    *ngIf="form.get('properties.enum') && form.get('properties._detailedType').value === 'enum'">
    <div class="border-left" formArrayName="enum" [sortablejs]="enumList"
      [sortablejsOptions]="{sort: !!edit && !!edit.status, filter: '.disabled', onMove: sortableOnMove, onUpdate: sortableOnUpdate }">
      <ng-container *ngFor="let en of enumList; let i=index;">
        <div class="enum-list-item mx-2 px-2 py-1" [class.disabled]="!edit || !edit.status">
          <span class="icon" *ngIf="!!edit && !!edit.status">
            <span class="fa fa-bars text-muted hover"></span>
          </span>
          <div class="enum-mid-section">
            <span *ngIf="editStateListOfValues !== i" (click)="editStateListOfValues = i" class="text-truncate"
              placement="top" [ngbTooltip]="en.value">{{en.value}}</span>
            <input *ngIf="editStateListOfValues === i" type="number" [formControl]="en" class="field form-control"
              [id]="en.value" (keyup.enter)="editStateListOfValues = null" odpAutoFocus>
          </div>
          <span *ngIf="edit.status" class="enum-icons-section text-primary">
            <span class="fa fa-times" (click)="removeFromList('enum',i,form)" placement="top"
              [ngbTooltip]="'Remove'"></span>
          </span>
        </div>
      </ng-container>
    </div>
    <button type="button" class="btn btn-primary my-1 w-100" *ngIf="enumList.length>2 && edit.status"
      (click)="clearList('enum')">Clear All
    </button>
  </div>
  <div class="w-100 mb-4"
    *ngIf="form.get('properties.precision') && (form.get('properties._detailedType').value === '' || form.get('properties._detailedType').value === 'currency')">
    <div class="mb-2">
      <div class=" text-secondary">Precision</div>
      <div class=" d-flex align-items-center">
        <div class="d-flex align-items-center p-2 rounded" [ngClass]="{'border slidecontainer':edit.status}">
          <span class="font-weight-bold mr-2"
            [ngClass]="{'text-accent':edit.status}">{{form.get('properties.precision').value}}</span>
          <input *ngIf="edit.status" class="slider" type="range" min="0" max="5" formControlName="precision"
            (change)="reCalibrateDefaultValue('precision',form.get('properties.precision').value,form.get('properties'));checkMinMax(form.get('properties'))">
        </div>
        <div class="example ml-2 text-secondary">
          (Eg.&nbsp;{{getPrecisionExample(form.get('properties.precision').value)}})
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex flex-column w-100 mb-4" *ngIf="(form.get('properties.min') || form.get('properties.max'))
                   && (form.get('properties._detailedType').value === '' ||form.get('properties._detailedType').value === 'natural' ||
                   form.get('properties._detailedType').value === 'currency') && formatType!='FLATFILE' ">
    <div class="d-flex flex-row mb-2">
      <div class=" text-secondary">Limit</div>
      <div class=" text-accent">Min and max limit of the value number</div>
    </div>
    <div class="border-left d-flex flex-column">
      <div class="ml-2 pl-2 mb-3 mt-2 d-flex flex-column position-relative">
        <div class="d-flex">
          <div class="sub-level-width text-secondary">Min.</div>
          <input *ngIf="edit.status" class=" form-control short" placeholder="Min"
            [ngClass]="{'is-invalid': minMaxErr('min')}" type="number" #minEle min="0" formControlName="min"
            id="_minNumber"
            (blur)="setValue('min'); reCalibrateDefaultValue('min',form.get('properties.min').value,form.get('properties'))">
          <span *ngIf="!edit.status && form.get('properties.min')">
            {{form.get('properties.min').value}}</span>
          <span *ngIf="!edit.status && !form.get('properties.min')" class="text-muted">Not defined</span>
        </div>
        <div class="d-flex ml-2" *ngIf="form.get('properties.min').dirty && form.get('properties').hasError('minMax')">
          <div class="sub-level-width "></div>
          <span class=" text-danger"><span class="fa fa-times mr-1"></span>Min value
            cannot be greater than or equal to the
            Max value</span>
        </div>
      </div>
      <div class="d-flex w-10 ml-2 pl-2 d-flex flex-column position-relative"
        *ngIf="(form.get('properties.min') || form.get('properties.max')) && (form.get('properties._detailedType').value=='' ||
                            form.get('properties._detailedType').value=='natural'||form.get('properties._detailedType').value=='currency')">
        <div class="d-flex">
          <div class="sub-level-width text-secondary">Max.</div>
          <div class="d-flex flex-row">
            <input *ngIf="edit.status" class=" form-control short " placeholder="Max" type="number" min="0"
              (blur)="setValue('max');reCalibrateDefaultValue('max',form.get('properties.max').value,form.get('properties')) "
              [ngClass]="{'is-invalid': minMaxErr('max')}" #maxEle formControlName="max" id="_maxNumber">
            <span *ngIf="!edit.status && form.get('properties.max')">{{form.get('properties.max').value}}</span>
            <span *ngIf="!edit.status && !form.get('properties.max')" class="text-muted">Not
              defined</span>
          </div>
        </div>
        <div class="d-flex ml-2" *ngIf="form.get('properties.max').dirty && form.get('properties').hasError('minMax')">
          <div class="sub-level-width "></div>
          <span class=" text-danger"><span class="fa fa-times mr-1"></span>Max value
            cannot be lesser than or equal to
            Min value</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center">
      <span class="icon-wrapper delete rounded-circle d-flex align-items-center justify-content-center mr-2">
        <odp-service-icon *ngIf="!isDataFormat && !isLibrary" [size]="18" color="DD5151" class="mt-1">
        </odp-service-icon>

        <odp-data-format-icon *ngIf="isDataFormat" [size]="18" color="DD5151" class="mt-1">
        </odp-data-format-icon>
        <odp-library-icon *ngIf="isLibrary" [size]="18" color="DD5151" class="mt-1"></odp-library-icon>
      </span>
      <span class="font-weight-bold mb-1">{{deleteModal.title}}</span>
      <span class="fa fa-times text-secondary hover ml-auto" (click)="deleteModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-center my-5" [ngClass]="{'text-truncate': deleteModal.message.length > 65}">
      {{deleteModal.message}}
    </p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-delete" (click)="deleteModalTemplateRef.close(true)"
        id="sbDeleteModalYes">
        Yes
      </button>
    </div>
  </div>
</ng-template>