@import "src/assets/scss/bootstrap/_functions.scss";
@import "src/assets/scss/bootstrap/_variables.scss";

.grid {
    .grid-row {
        &.head {
            font-weight: 500px;
            color: $secondary;
        }

        .grid-cell {
            min-height: 32px;
            max-height: 32px;
            padding: 5px;
        }

        .grid-cell:not(.flex-fill) {
            min-width: 120px;
            max-width: 120px;

            &.name {
                min-width: 200px;
                max-width: 200px;
            }

            &.mount-type {
                min-width: 100px;
                max-width: 100px;
            }
        }
    }

    .grid-body {
        overflow-y: auto;
        max-height: 300px;
    }

}