<div [formGroup]="form.get('properties')">
  <div class="d-flex flex-column w-100 my-2" *ngIf="form.get('properties.defaultTimezone')">
    <div class="position-relative">
      <div class="text-secondary">Default Timezone</div>
      <div>
        <odp-timezone-picker [edit]="edit" formControlName="defaultTimezone"></odp-timezone-picker>
        <!-- <select *ngIf="canEdit" class="form-control" formControlName="defaultTimezone">
          <option *ngFor="let tz of timezones" [value]="tz">{{tz}}</option>
        </select> -->
        <span *ngIf="!canEdit">
          <ng-container *ngIf="form.get('properties.defaultTimezone').value">
            {{form.get('properties.defaultTimezone').value}}
          </ng-container>
          <span *ngIf="!form.get('properties.defaultTimezone').value" class="text-muted">-</span>
        </span>
      </div>
    </div>
  </div>
  <div class="w-100 mb-4" *ngIf="form.get('properties.supportedTimezones')">
    <div class=" text-secondary">Supported Timezones</div>
    <div class=" position-relative">
      <ng-container *ngIf="edit.status">
        <!-- <select *ngIf="canEdit" class="form-control pr-5" (ngModelChange)="addToList('supportedTimezones')" type="text"
          formControlName="_listInput">
          <option [value]="null">---select---</option>
          <option *ngFor="let tz of timezones" [value]="tz">{{tz}}</option>
        </select> -->
        <odp-timezone-picker [edit]="edit" formControlName="_listInput"
          (ngModelChange)="addToList('supportedTimezones')"></odp-timezone-picker>
        <!-- <button type="button" class="list-add-button btn btn-link hover position-absolute p-0"
          [disabled]="form.get('properties._listInput').value===''" (click)="addToList('supportedTimezones')">
          <span class="dsi dsi-plus text-primary"></span>
        </button> -->
      </ng-container>
    </div>
  </div>
  <div class="d-flex flex-column w-100 mb-4" *ngIf="form.get('properties.supportedTimezones')">
    <div class="border-left" formArrayName="supportedTimezones" [sortablejs]="supportedTimezonesList"
      [sortablejsOptions]="{sort: !!edit && !!edit.status, filter: '.disabled', onMove: sortableOnMove, onUpdate: sortableOnUpdate }">
      <ng-container *ngFor="let en of supportedTimezonesList; let i=index;">
        <div class="supportedTimezones-list-item d-flex align-items-center justify-content-between mx-2 px-2 py-1"
          [class.disabled]="!edit || !edit.status">
          <div class="d-flex align-items-center">
            <span class="icon mr-2" *ngIf="!!edit && !!edit.status">
              <span class="fa fa-bars text-muted hover"></span>
            </span>
            <div class="supportedTimezones-mid-section">
              <span class="text-truncate" placement="top" [ngbTooltip]="en.value">{{en.value}}</span>
            </div>
          </div>
          <span *ngIf="edit.status" class="supportedTimezones-icons-section text-primary">
            <span class="fa fa-times" (click)="removeFromList('supportedTimezones',i)" placement="top"
              [ngbTooltip]="'Remove'"></span>
          </span>
        </div>
      </ng-container>
    </div>
    <button type="button" class="btn btn-primary my-1 w-100" *ngIf="supportedTimezonesList.length>2 && edit.status"
      (click)="clearList('supportedTimezones')">
      Clear All
    </button>
  </div>
</div>

<ng-template #deleteModalTemplate>
  <div class="modal-body p-4">
    <div class="d-flex align-items-center justify-content-between">
      <span class="font-20 fw-500">{{deleteModal.title}}</span>
      <span class="fa fa-times text-secondary hover ml-auto" (click)="deleteModalTemplateRef.close(false)"></span>
    </div>
    <p class="text-center my-5" [ngClass]="{'text-truncate': deleteModal.message.length > 65}">
      {{deleteModal.message}}
    </p>
    <div class="d-flex align-items-center justify-content-end">
      <button type="button" class="btn btn-min-width btn-delete" (click)="deleteModalTemplateRef.close(true)"
        id="sbDeleteModalYes">
        Yes
      </button>
    </div>
  </div>
</ng-template>