<div class="source-selector">
    <!-- <div>
        <div class="mb-2 fw-500 text-secondary font-12 d-flex align-items-center justify-content-between">
            <span class="text">Incoming</span>
            <span class="dsi hover dsi-drop-down" (click)="toggle['incoming']=!toggle['incoming'];reCreatePaths()"
                [class.fa-rotate-90]="!toggle['incoming']"></span>
        </div>
        <div *ngIf="(!inputSourceList || inputSourceList.length==0) && toggle['incoming']"
            class="mb-2 fw-400 text-muted font-12">
            Configure Input Structure
        </div>
        <ng-container *ngIf="inputSourceList && inputSourceList.length>0 && toggle['incoming']">
            <ng-container *ngFor="let item of inputSourceList">
                <odp-source-fields [node]="node" [definition]="item"></odp-source-fields>
            </ng-container>
        </ng-container>
    </div> -->

    <div>
        <div class="mb-2 fw-500 text-secondary font-12 d-flex align-items-center justify-content-between">
            <!-- <span class="text">Outgoing</span> -->
            <span class="dsi hover dsi-drop-down" (click)="toggle['outgoing']=!toggle['outgoing'];reCreatePaths()"
                [class.fa-rotate-90]="!toggle['outgoing']" [attr.data-id]="node._id"></span>
        </div>
        <div *ngIf="(!outputSourceList || outputSourceList.length==0) && toggle['outgoing']"
            class="mb-2 fw-400 text-muted font-12">
            Configure Output Structure
        </div>
        <ng-container *ngIf="outputSourceList && outputSourceList.length>0 && toggle['outgoing']">
            <ng-container *ngFor="let item of outputSourceList">
                <odp-source-fields [node]="node" [definition]="item"></odp-source-fields>
            </ng-container>
        </ng-container>
    </div>
</div>